<!--Corporates-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>企業金融</h2>
        <h3 class='cod-subtitle'>帳戶申請</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/account-opening-form-entity.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Account Opening Form (Entity)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/facsimile-indemnity.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Facsimile And Email Indemnity</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/signature-card.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Signature Card</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/FATCA-and-CRS-Notice.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>FATCA and CRS Notice</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/standard-terms-conditions-governing-accounts.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Standard Terms & Conditions Governing Accounts</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/List of Service Charges (with effect on and from 01 May 2025).pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>List of Service Charges (with effect on and from 01 May 2025)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/List of Service Charges (with effect on and from 01 May 2024 to and including 30 April 2025).pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>List of Service Charges (with effect on and from 01 May 2024 to and including 30 April 2025)</span>
                    </a>
                </li>
            </ul>
        </div>
        <h3 class='cod-subtitle'>全球企網銀</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/B2B T&Cs.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Terms & Conditions Governing Global MyB2B Service</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/Global MyB2B Account Integration Agreement (GMB-002-SG JUN.2024).pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Global MyB2B Account Integration Agreement</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/Global MyB2B Application Form (GMB-001-SG JUN.2024).pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Global MyB2B Service Application</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/corporates/B2B PW sheet.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Global MyB2B Service Password Sheet And Device Receipt</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--Trade finance-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>貿易融資</h2>
        <!--<h2 class='cod-title'>Trade Finance</h2>-->
        <h3 class='cod-subtitle'>進口貿易</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex2-letter-of-indemnity.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Letter of Indemnity</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im1-application-for-issuance-of-lc.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Issuance of LC</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im3documentary-credit-amendment.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Documentary Credit Amendment</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im7-application-for-financing-of-import-collection.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Financing of Import Collection</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im8-import-lc-commitment-letter.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Import LC Commitment Letter</span>
                    </a>
                </li>
            </ul>
        </div>

        <h3 class='cod-subtitle'>出口貿易</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex1-application-for-export-negotiation-collection-under-lc.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Export Negotiation & Collection under LC</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex3-application-for-collection-of-bills.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Collection of Bills</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex5-application-for-export-financing.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Export Financing</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex8-draft-for-customer-use.xls")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Draft (For Customer Use)</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex9-application-for-assignment-of-proceeds.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Assignment of Proceeds</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex11-assignment-of-proceeds.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Assignment of Proceeds</span>
                    </a>
                </li>
            </ul>
        </div>

        <h3 class='cod-subtitle'>轉讓業務</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-ex4-application-for-tranfer-lc.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Transfer LC</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im12-application-for-amendment-to-transferred-letter-of-credit.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Amendment to Transferred Letter of Credit</span>
                    </a>
                </li>
            </ul>
        </div>

        <h3 class='cod-subtitle'>保證業務</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im4-application-for-issuance-of-standby-lc-letter-of-guarantee.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Issuance of Standby LC & Letter of Guarantee</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im6-application-for-shipping-guaranteeblawb-endorsement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application for Shipping Guarantee&BL&AWB Endorsement</span>
                    </a>
                </li>
            </ul>
        </div>

        <h3 class='cod-subtitle'>其他</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im2-letter-of-credit-agreement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Letter of Credit Agreement</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-im9-applicant-commitment-for-offsetting-refunding-margin-cancelling-the-undrawn-lc-balance.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Applicant Commitment for Offsetting Refunding Margin & Cancelling the undrawn LC Balance</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/trade-finance/singapore-branch-letter-of-undertaking.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Letter of Undertaking</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Internet banking-->
<!--<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>網路銀行</h2>-->
<!--<h2 class='cod-title'>Internet Banking</h2>-->
<!--<div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/global-myb2b-account-integration-agreement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Global MyB2B Account Integration Agreement</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/global-myb2b-service-tc-governing-20190621.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Terms & Conditions</span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/global-myb2b-service-application-form082020.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Global MyB2B Service Application</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<!--Financial Products-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>金融商品</h2>
        <!--<h2 class='cod-title'>Internet Banking</h2>-->
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/Best_Execution_Disclosure.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Best Execution Disclosure</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/Risk_Disclosure_Statement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Risk Disclosure Statement</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/Terms and Conditions for Electronic Trading_Approved 6050011300966 (wo signing bloc).pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Terms and Conditions for Electronic Trading
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/internet-banking/T&Cs Governing Foreign Exchange Spot Facility_wo signing bloc 20250407.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Terms and Conditions Governing Foreign Exchange Spot Facility
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--General agreement-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>常規協議</h2>
        <h3 class='cod-subtitle'>授信額度</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/general-agreement/6-general-agreement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>General Agreement For Banking Transactions</span>
                    </a>
                </li>
            </ul>
        </div>
        <h3 class='cod-subtitle'>存匯服務</h3>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/general-agreement/Remittance.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Remittance/Internal Transfer Application Form</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/general-agreement/TD Placement Form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Time Deposit Instruction Form</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Private Banking-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>私人銀行</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/private-banking/cubsg-pb-fee-schedule.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Fee Schedule And Disclosure of other Remuneratio</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/private-banking/Amendments_T_C.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Amendment to CUB SG Branch’s General T&Cs</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Privacy Policy-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>隱私權保護政策</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/sg/privacy-policy/PRIVACY_POLICY.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>隱私權保護政策</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


