

    <div section='depository-remittance' class='component-oversea-downloads component-small'>
        <div class="cod-inner">
            <h2 class='cod-title'>@ViewBag.nav_download_list</h2>
            <div class="cod-list-wrap">
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/time-deposit-application-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Time Deposit Application Form</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/time-deposit-withdrawal-revision-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Time Deposit Withdrawal / Revision Form</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-for-transfer-remittance-of-fund.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application for Transfer / Remittance of Fund</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/change-of-customer-personal-information-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Change of Customer Personal Information Form</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/change-of-customer-corporate-information-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Change of Customer Corporate Information Form</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/remittance-refund-amendment-tracer-application-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Remittance Refund / Amendment / Tracer Application Form</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-form-of-close-account.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application Form of Close Account</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-for-cheque-stop-payment-cheque-withdrawal-current-account-closure.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application for Cheque Stop Payment / Cheque Withdrawal / Current Account Closure</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/cheque-book-application-form-receipt.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Cheque Book Application Form / Receipt </span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/certificate-of-account-balance-credit-certificate-monthly-statement-application.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Certificate of Account Balance / Credit Certificate / Monthly Statement Application</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-for-cashier-order-or-demand-draft.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application for Cashier Order or Demand Draft</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-for-cashier-order-withdrawal.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application for Cashier Order Withdrawal</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/application-for-apply-or-cancel-paper-statement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application/Cancellation of paper statement</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/Service_Application _Amendment_Form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>e-Advice Service Application / Amendment Form (Corporate Account)</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/depository-remittance/Service_Password_Reset_Application_Form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>eAdvice Service Password Reset Application Form</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div section='online-banking' class='component-oversea-downloads component-bg--white'>
        <div class="cod-inner">
            <h2 class='cod-title'>Internet Banking</h2>
            @*<h2 class='cod-title'>@ViewBag.nav_services_online_banking</h2>
        <div class="cod-list-wrap">
            <h3 class="cod-list-title">@ViewBag.download_e_bank</h3>
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/e-banking-service-application-form.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application Form for HKEB</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/pdf_15.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Application Form for Designated Beneficiary of HKEB</span>
                    </a>
                </li>
            </ul>
        </div>*@

            <div class="cod-list-wrap">
                <h3 class="cod-list-title">@ViewBag.download_ge_bank</h3>
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/application-form-for-global-myb2b-service.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application Form for Global MyB2B Service</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/application-form-for-global-myb2b-account-integration.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application Form for Global MyB2B Account Integration</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/HK GMB 變更電郵地址及手機號碼申請書 202410.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application for E-mail/Mobile Phone Modification of Global MyB2B Service</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/重啓Global MyB2B服務申請書.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Application Form for Reactivating the Service of Global MyB2B</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="cod-list-wrap">
                <h3 class="cod-list-title">Private Banking</h3>
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/Private Bank (PBEB)-Service Application Form-standalone.pdf")" target="_blank" rel="noopener" class='cod-item-btn'>
                            <span class='cod-item-btn-text'>Application Form for Private Banking</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <div section='fatca' class='component-oversea-downloads component-small'>
        <div class="cod-inner">
            <h2 class='cod-title'>FATCA IRS Forms</h2>
            <div class="cod-list-wrap">
                <h3 class="cod-list-title">Individual</h3>
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="https://www.irs.gov/forms-pubs/about-form-w-8-ben" target="_blank" rel="noopener" rel="noreferrer" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>W-8BEN</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="https://www.irs.gov/forms-pubs/about-form-w-9" target="_blank" rel="noopener" rel="noreferrer"  class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>W-9</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cod-list-wrap">
                <h3 class="cod-list-title">Entity</h3>
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="https://www.irs.gov/forms-pubs/about-form-w-8-ben-e" target="_blank" rel="noopener"  rel="noreferrer"  class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>W-8BEN-E</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="https://www.irs.gov/forms-pubs/about-form-w-8-imy" target="_blank" rel="noopener"  rel="noreferrer"  class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>W-8IMY</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div section='crs' class='component-oversea-downloads component-bg--white'>
        <div class="cod-inner">
            <h2 class='cod-title'>CRS Self-Certification Form</h2>
            <div class="cod-list-wrap">
                <ul class='cod-list'>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/csr/individual.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Individual</span>
                        </a>
                    </li>
                    <li class='cod-item cod-item--break'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/csr/entity.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Entity</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/csr/controlling-person.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>Controlling Person</span>
                        </a>
                    </li>
                    <li class='cod-item'>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/csr/meaning-of-terms-and-expressions_en.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                            <span class='cod-item-btn-text'>
                                Meaning of terms & expressions
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>