@if(ViewBag.lang == "zh-hant"){
    @*<div class='component-oversea-dps component-bg--white'>
        <div class="cod-inner">
            <figure class='cod-figure'>
                <picture>
                    <img class='cok-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/dps/logo.svg")' width='100%' alt='存款保障計畫'>
                </picture>
                <figcaption hidden>存款保障計畫</figcaption>
            </figure>
            <div class="cod-content">
                <div class="cod-item">「香港存款保障委員會」存款保障計劃之簡介可參考<a href="https://www.dps.org.hk" class='cod-link' target="_blank" rel="noopener">www.dps.org.hk</a></div>
                <div class="cod-item">雙語言<a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/dps/dps_cht_en.pdf")" target="_blank" rel="noopener" class='cod-link'>PDF檔</a>下載</div>
                <div class="cod-item">多語言<a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/dps/dps_multilanguage.pdf")" target="_blank" rel="noopener"  class='cod-link'>PDF檔</a>下載</div>
                <div class="cod-item cod-item--contact">有任何問題請洽存款部<br />+852 2877 5488 分機 22</div>
            </div>
        </div>
    </div>*@
}
else{
    @*<div class='component-oversea-dps component-bg--white'>
        <div class="cod-inner">
            <figure class='cod-figure'>
                <picture>
                    <img class='cok-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/dps/logo.svg")' width='100%' alt='存款保障計畫'>
                </picture>
                <figcaption hidden>存款保障計畫</figcaption>
            </figure>
            <div class="cod-content">
                <div class="cod-item">For information of the Deposit Protection Scheme (DPS) by the Hong Kong Deposit Protection Board,<br />please refer to <a href="https://www.dps.org.hk/index_EN.html" class='cod-link' target="_blank" rel='noopener nofollow'>www.dps.org.hk</a></div>
                <div class="cod-item"><a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/dps/dps_cht_en.pdf")" target="_blank" rel="noopener" class='cod-link'>Download Bilingual PDF</a></div>
                <div class="cod-item"><a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/dps/dps_multilanguage.pdf")" target="_blank" rel="noopener"  class='cod-link'>Download Multilingual PDF</a></div>
                <div class="cod-item cod-item--contact">Please directly contact the deposit department at<br/>+852 2877 5488 extension 22 for any further question.</div>
            </div>
        </div>
    </div>*@
}