
    <!--Account Opening-->
    <div id='account-opening' section='account-opening' class='component-oversea-faq  component-bg--white component--slim-bottom'>
        <div class="cof-inner">
            <h3 class='cof-subtitle'>Account Opening</h3>
            <div class='cof-tab'>
                <div class="cof-tab-inner">
                    <ul class='cof-tab-list'>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='all' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>All</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='cof-tab-content' category='all'>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What types of accounts are there in Hong Kong Branch?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-p">The Branch has savings accounts, current accounts, and investment accounts. Savings account can be used for deposits, remittances, and money transfer while the investment account is targeted at investments and financing.</p>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What foreign currency accounts does Hong Kong Branch offer?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-p"><b>For savings accounts,</b><br />Hong Kong Branch provides USD, HKD, CNY, JPY, EUR, AUD, CAD, NZD, GBP, CHF, SGD, and ZAR accounts.</p>
                                <p class="cof-item-p"><b>As for current accounts,</b><br />the Branch has USD, HKD, and CNY accounts.</p>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What documents are required to open an account?</h4>
                            <div class='cof-item-answer'>To open an account, the customer needs to provide the company′s registration documents, including Certificate of Incumbency or Company search document that is valid within 6－months. At the same time, the customer needs to provide the identification document of the directors, shareholders and signatory. Please call the account manager for details.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>
                                When will the account be activated, after the customer received an account notification letter from the Bank?
                            </h4>
                            <div class='cof-item-answer'>The account have been activated.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Deposits and Remittance -->
    <div id='depository-remittance' section='depository-remittance' class='component-oversea-faq component-bg--white component--slim'>
        <div class="cof-inner">
            <h3 class='cof-subtitle'>Deposits and Remittance</h3>
            <div class='cof-tab'>
                <div class="cof-tab-inner">
                    <ul class='cof-tab-list'>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='all' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>All</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='cof-tab-content' category='all'>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Is there any account maintenance fee?</h4>
                            <div class='cof-item-answer'>There is no account maintenance fee at the present moment.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Are there any regulations about dormant accounts?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-p">(a) What is dormant account?</p>
                                <p class="cof-item-p">When no transaction has taken place in relation to all of your accounts maintained with our Bank(other than transactions due to our Bank’s services for  interest payment, fees and charges) for a specified period (i.e. 12 consecutive months), your accounts will be treated by our Bank as dormant accounts.</p>
                                <p class="cof-item-p">(b) Service restrictions and risks of dormant accounts</p>
                                <p class="cof-item-p">
                                    It is wise to avoid your accounts being dormant accounts as our Bank may cease to provide certain services or impose restrictions on dormant accounts to protect the interest of account holders.<br />
                                    Though dormant accounts do not have any account activities, our Bank would still continue sending you bank statements/transaction information if there is transaction due to our Bank’s services for interest payment, fees and charges in relation to the accounts concerned. If your contact information filed with our Bank is outdated and you have not notified our Bank, we would keep sending such bank statements and/or transaction information to your outdated address or contact number.  Others may have the chance to gain access to these correspondences.  In addition, you may also miss our bank’s important notices and messages. If you are not able to check your bank statements regularly, you may not be able to detect and notify our Bank when there is any unauthorized transactions. Always notify us promptly when there are changes to your personal information.
                                </p>
                                <p class="cof-item-p">
                                    (c) How to prevent account status from turning into dormant account?
                                    <ul class='cof-item-ul'>
                                        <li class='cof-item-li'>Please ensure that you keep at least one of your accounts in active status. To do so, you can conduct withdrawal or deposit transactions regularly. Please note that transactions such as interest payment, fees and charges initiated by our Bank are NOT considered as a transaction that would keep the account active.</li>
                                        <li class='cof-item-li'>
                                            Take action upon receiving bank notification<br />
                                            Our Bank will notify customers in writing 30 days prior to classifying customer dormancy status. Please read notifications and take necessary action to avoid the accounts concerned becoming dormant.
                                        </li>
                                    </ul>
                                </p>
                                <p class="cof-item-p">(d) How can I reactivate my dormant account? </p>
                                <p class="cof-item-p"> Please contact us at (852) 2877 5488 or your Relationship Manager.</p>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is the minimum amount for time deposits?</h4>
                            <div class='cof-item-answer'>The minimum amount for an individual time deposit is HKD10,000 or USD5000 (or equivalent).</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Will I be charged a service fee if I terminate my time deposit earlier?</h4>
                            <div class='cof-item-answer'>When a customer conducts early termination of time deposits, a service fee of termination will be charged and the customer should authorize the Bank to directly deduct the amount from his/her account, please refer to <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+@ViewBag.lang_url+"fee/")" target="_blank" rel="noopener" class="cof-item-li-link">the fee table of the Deposit & Remittance Services</a> on the Bank's official website. </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How much is the service fee for inward/outward remittance?</h4>
                            <div class='cof-item-answer'>Please refer to <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+@ViewBag.lang_url+"fee/")" class="cof-item-li-link" target="_blank" rel="noopener">the fee table of the Deposit & Remittance Services</a> on the Bank's official website.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What are the open hours and transaction methods of the Hong Kong Branch?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-p">The Hong Kong Branch's open hours are from 9:00 to 17:00 from Monday to Friday.</p>
                                <p class="cof-item-p">The Branch accepts transactions via fax. Customers only need to fill out necessary documents for the transactions and fax them to the Bank within the specified time (9:00 to 15:30). </p>
                                <p class="cof-item-p">After the Bank receives the faxed documents from the customer, our staff will contact the customer or the designated transaction contact person via the phone number provided by the customer to confirm the transaction. Otherwise, customers may conduct transactions on the Branch's internet banking (transactions are accepted all day long and the transaction time is 9:00 to 15:00 from Monday to Friday).</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Corporate Financing -->
    <div id='corporate-finance' section='corporate-finance' class='component-oversea-faq  component-bg--white component--slim'>
        <div class="cof-inner">
            <h3 class='cof-subtitle'>Corporate Finance</h3>
            <div class='cof-tab'>
                <div class="cof-tab-inner">
                    <ul class='cof-tab-list'>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='all' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>All</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='cof-tab-content' category='all'>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Who is the target of the Hong Kong Branch's corporate banking services?</h4>
                            <div class='cof-item-answer'>
                                <p class='cof-item-p'>
                                    The registered legal persons of operating companies incorporated and registered in Hong Kong, Taiwan or other overseas jurisdictions.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Internet Banking -->
    <div id="online-banking" section='online-banking' class='component-oversea-faq'>
        <div class="cof-inner">
            <h3 class='cof-subtitle'>Internet Banking</h3>
            <div class='cof-tab'>
                <div class="cof-tab-inner">
                    <ul class='cof-tab-list'>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='application' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>Application</span>
                            </a>
                        </li>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='operation' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>Operation</span>
                            </a>
                        </li>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='global-myb2b' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>Digital Certificate of Global MyB2B</span>
                            </a>
                        </li>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='security' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>Information Security</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Application -->
            <div class='cof-tab-content' category='application'>
                <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                    <p class='cot-p'>The following abbreviations are used for  easy reference in  Q&A:</p>
                    <div class="coft-short-form">
                        <div class='cot-tr cot-tr--head'>
                            <div class='cot-td'>Official name</div>
                            <div class='cot-td'>Abbreviation</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Hong Kong Branch</div>
                            <div class='cot-td'>The Branch</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Global MyB2B</div>
                            <div class='cot-td'>GMB</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Application Form for the service of Global MyB2B</div>
                            <div class='cot-td'>Application Form for GMB</div>
                        </div>
                    </div>
                </div>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>The customers are not clients of the Branch currently. Can they apply for internet banking service?</h4>
                            <div class='cof-item-answer'>
                                Unfortunately, the clients need to open deposit accounts (“Savings Account” or “Current Account”) first, then apply for the internet banking service.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How do clients apply for internet banking service?</h4>
                            <div class='cof-item-answer'>Clients can download and fill in the application form for GMB. Then mail the Application Form to the "Deposits Team, Cathay United Bank Hong Kong Branch, 10th Floor, Lee Garden Three, 1 Sunning Road, Causeway Bay, Hong Kong". </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients apply for internet banking service at the time of account opening?</h4>
                            <div class='cof-item-answer'>Yes. The clients need to fill in the Application Form for GMB and Application Form for Designated Beneficiary at the time of account opening.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How do the existing clients apply for internet banking service?</h4>
                            <div class='cof-item-answer'>The clients can download the Application Form and fill in the information, then mail the completed Application Form to “Deposits Team, Cathay United Bank, Hong Kong Branch, 10F, Lee Garden Three, 1 Sunning Rd, Causeway Bay, Hong Kong” or visit the Branch to apply. </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients apply for internet banking service via fax?</h4>
                            <div class='cof-item-answer'>Unfortunately, we won't accept the application form via Fax. If the clients can’t visit the Branch, please apply by mail.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'> Do the clients need to apply for designated beneficiary accounts for the transfer and remittance transactions on internet banking?  </h4>
                            <div class='cof-item-answer'>Clients who have “Digital Certificate” of GMB can do non-designated account funds transfer and remittance.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>When can the clients use the internet banking service after sending the application form?</h4>
                            <div class='cof-item-answer'>
                                After receiving the Application Form from clients, the Branch will complete the process within 3 business days. Then, the Branch will send the Password Letter of Internet Banking to the clients' correspondence address via registered mail.<br/><br/>
                                For GMB applicants, please review the website below for <a href="https://www.globalmyb2b.com/GEBANK/html/userguide_01_taiwan_en-us.html"  class="cof-item-answer-link"  rel='noopener nofollow' target="_blank" rel="noopener">user manual to beginners</a>.<br/><br/>
                                If the clients also apply for “Digital Certificate”, it can be used only after confirming that the branch supervisor has opened the smart seal card, and completing the online application by the client. You may refer to the <a  class="cof-item-answer-link" href="https://www.globalmyb2b.com/GEBANK/html/userguide_03_taiwan_en-us.html" target="_blank" rel='noopener nofollow'>website</a> for details.  <br/><br/>When you complete the password change, for the sake of security, please destroy the password letter.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Why can't clients change the “User password” and the “User Name” after received the password letter?</h4>
                            <div class='cof-item-answer'>Clients need to change “User password” and “User Name” within one month. after the password letter is printed. Otherwise, the password will be expired. The expiration date of the password will be shown on the password letter. Please change the password before the expiration date.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is the application process?</h4>
                            <div class='cof-item-answer'> 
                                <ol class='cof-item-answer-progress'>
                                    <li class='cof-item-answer-progress-li'>
                                        <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step1.svg")"></div>
                                        <div>
                                            The application process is as below:<br/>
                                            Fill in the Application Form for
                                            「<a target="_blank" rel="noopener" href='@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/application-form-for-global-myb2b-service.pdf")' class='cof-item-answer-link'>GMB</a> 」<br /><br />
                                            @*For those applied for HKEB and would like to do transactions on internet banking, please fill in the <a href='@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/pdf_15.pdf")' target="_blank" rel="noopener" class='cof-item-answer-link'>Application Form</a> for Designated Beneficiary of HKEB as well.*@
                                        </div>
                                    </li>
                                    <li class='cof-item-answer-progress-li'>
                                        <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step2.svg")"></div>
                                        <div>
                                            Mail the original copy of the above-mentioned documents to “Deposits Team, Cathay United Bank Hong Kong Branch, 10F, Lee Garden Three, 1 Sunning Rd, Causeway Bay, Hong Kong”.
                                        </div>
                                    </li>
                                    <li class='cof-item-answer-progress-li'>
                                        <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step3.svg")"></div>
                                        <div>
                                            The Bank will call clients for the verification and set up as soon as possible.
                                        </div>
                                    </li>
                                    <li class='cof-item-answer-progress-li'>
                                        <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step4.svg")"></div>
                                        <div>
                                            The password letter will be delivered to clients via registered mail. Upon receiving the password letter, clients shall change the “User Password” and “User Name” immediately. Once the change is made, the internet banking services will be activated.
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Operation -->
            <div class='cof-tab-content' category='operation'>
                <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                    <p class='cot-p'>The following abbreviations are used for  easy reference in  Q&A:</p>
                    <div class="coft-short-form">
                        <div class='cot-tr cot-tr--head'>
                            <div class='cot-td'>Official name</div>
                            <div class='cot-td'>Abbreviation</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Hong Kong Branch</div>
                            <div class='cot-td'>The Branch</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Global MyB2B</div>
                            <div class='cot-td'>GMB</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Application Form for the service of  Global MyB2B</div>
                            <div class='cot-td'>Application Form for GMB</div>
                        </div>
                    </div>
                </div>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What's the difference between fund transfer and remittance?</h4>
                            <div class='cof-item-answer'>Transfer means the debit and credit accounts are openedin the branch. If the beneficiary's account is in other banks or in other branches of Cathay United Bank, the transaction will be classified as remittance. There's no service fee for funds transfer. For the remittance charges, please refer to “Fee Schedule for Deposits and Remittances of Hong Kong Branch” for details . </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Do the clients need to apply for the account(s) for outward transfer on Internet Banking in advance ?</h4>
                            <div class='cof-item-answer'>Yes, the clients need to fill in the account(s) for outward transfer on the Application Form for transfer and remittance transactions on Internet Banking.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Is there any service charge for outward remittance to CUB Branch in Taiwan?</h4>
                            <div class='cof-item-answer'>Yes, the transactions will be charged as outward remittance.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>
                                What are the business hours of internet banking? Can clients do transactions during non-business hours?
                            </h4>
                            <div class='cof-item-answer'>
                                Please refer to the <a href="https://www.globalmyb2b.com/GEBANK/html/qa_04_taiwan_zh-TW.html" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>website</a> for the business hours of GMB. <br />
                                The clients will not be able to use GMB whenever the systems under maintenance. Please refer to internet banking website for the notification.

                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients set the transaction limit for internet banking service?</h4>
                            <div class='cof-item-answer'>
                                Yes. Clients can set the daily transaction limit on the Application Form for GMB.<br/>The daily limit of GMB should not exceed USD 20 million (including transfer limit of USD 10 million and remittance limit of USD 10 million).<br/>
                                Please refer to the <a href="@Url.Content("~/hongkong/en/services/internet-banking/#daily-limit-transactions")" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>website</a> for the daily limit of Global MyB2B. <br/>
                               
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What should the clients do if they input the incorrect password or user name too many times up to the limit that they can’t log in anymore?</h4>
                            <div class='cof-item-answer'>
                                Please apply to reset the password or user name.<br/>
                                
                                 <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>GMB: Please refer to the <a href="https://www.globalmyb2b.com/GEBANK/html/qa_03.html" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>website</a> for GMB.</li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What should clients do if they forget the password? </h4>
                            <div class='cof-item-answer'>Please fill in the application form to apply for the password again.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients choose the Correspondent banks for outward remittance? </h4>
                            <div class='cof-item-answer'>Unfortunately, the clients cannot choose because the correspondent banks have already been set up in the system.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients do transactions to non-designated beneficiary accounts in addition to the transfer and remittance to designated beneficiary accounts?</h4>
                            <div class='cof-item-answer'>Clients need to apply for the “Digital Certificate”or Mobile OTP to do transactions for non-designated beneficiary accounts on GMB.</div>
                        </div>
                    </li>

                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>If there are suspicious transactions found, what should clients do?</h4>
                            <div class='cof-item-answer'>Please call +852 2877 5488 to contact our staff immediately.</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Digital Certificate of Global MyB2B -->
            <div class='cof-tab-content' category='global-myb2b'>
                <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                    <p class='cot-p'>The following abbreviations are used for  easy reference in  Q&A:</p>
                    <div class="coft-short-form">
                        <div class='cot-tr cot-tr--head'>
                            <div class='cot-td'>Official name</div>
                            <div class='cot-td'>Abbreviation</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Hong Kong Branch</div>
                            <div class='cot-td'>The Branch</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Global MyB2B</div>
                            <div class='cot-td'>GMB</div>
                        </div>
                        <div class='cot-tr'>
                            <div class='cot-td'>Cathay United Bank, Application Form for the service of  Global MyB2B</div>
                            <div class='cot-td'>Application Form for GMB</div>
                        </div>
                    </div>
                </div>

                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>When the clients should apply for “Digital Certificate”?</h4>
                            <div class='cof-item-answer'>The clients must use “Digital Certificate” when executing transactions on GMB.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Is there any fee for “Digital Certificate”?</h4>
                            <div class='cof-item-answer'>The annual fee of “Digital Certificate” is HKD400 in the first year and HKD250 from the second year onwards. Please refer to the <a href="@Url.Content("~/hongkong/en/fee/")" class='cof-item-answer-link' target="_blank" rel="noopener">Charging Standard</a> for details.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is the validity period of the “Digital Certificate”?</h4>
                            <div class='cof-item-answer'>
                                The validity period of ”Digital Certificate” is one year. Clients should renew the certificate online before expiration. Please be informed that transactions cannot be executed if the ”Digital Certificate” is invalid. Please log in to the <a target="_blank" rel="noopener" class='cof-item-answer-link' href="https://www.globalmyb2b.com/GCMS/Default.aspx">website</a> for more details.
                            </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can clients apply for the “Digital Certificate” via fax?</h4>
                            <div class='cof-item-answer'>Unfortunately, we won’t accept the application via Fax, If the clients can't visit the Branch, please apply by mail.</div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How to activate the “Digital Certificate”?</h4>
                            <div class='cof-item-answer'>
                                Please refer to the <a class='cof-item-answer-link' target="_blank" rel="noopener" href="https://www.globalmyb2b.com/GEBANK/html/qa_02.html">website</a> for the GEB Tool “Digital Certificate installation”. 
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <!-- Cyber Security -->
            <div class='cof-tab-content' category='security'>

                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How do customers prevent unauthorized person from using their accounts online?</h4>
                            <div class='cof-item-answer'>
                                <p class='cof-item-p'>To prevent any unauthorized person from using accounts, customers should avoid accessing E-Banking services via any internet services provided in public areas, such as conducting transaction or inquiring account balance on the E-Banking. Customer should also keep the password confidential as suggested below: </p>
                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>DO NOT disclose your password to anyone. The staff of Cathay United Bank will never ask you to provide the password. Customer should know the person with whom they share the use of computer, and should not allow any unauthorized persons to use the computer.</li>
                                    <li class='cof-item-li'>DO NOT allow anyone to use your password. </li>
                                    <li class='cof-item-li'>DO NOT write down or record the password without keeping it confidential. </li>
                                    <li class='cof-item-li'>DO NOT use personal ID number, phone number or similar numbers as password.</li>
                                    <li class='cof-item-li'>Change the password periodically.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is spyware?</h4>
                            <div class='cof-item-answer'>
                                Spyware is software installed without permission from computer user that aims to gather information about a person and use it in a deceptive manner. Information collected will be sent to an unauthorized entity for profit. Spyware results in security issues such as security vulnerabilities of keylogger, leakage of personal confidential information and breach of computer security.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>How to prevent spyware from infecting my computer?</h4>
                            <div class='cof-item-answer'>
                                To prevent spyware from installing onto the computer, DO NOT download and/or install any free software on the computer which is used for E-Banking. Before downloading any applications or opening an email, make sure to execute anti-virus and/or anti-spyware software for scanning the application/email. The anti-virus software should be updated to the latest version and the latest patch(es) for internet browser should be installed timely. Also, change the password for E-Banking account regularly to protect the personal information.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is the “User Name”?</h4>
                            <div class='cof-item-answer'>
                                <p class='cof-item-p'> The User Name is used for identifying the customer's identity when accessing the services of E-Banking. When applying E-Banking services, the customer is required to set up his/her own User Name. Each User Name should be unique, and should not consist of any combination that is easy to guess, such as the customer's name. The customer is suggested setting the User Name with the combination of English characters and numbers. </p>
                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>Disable the "AutoComplete" function of internet browser, so that the computer does not automatically fills in the information when entering the User Name.</li>
                                    <li class='cof-item-li'>The “AutoComplete” function of the Internet Browser will keep the input data in the fields of website address, form and password. When entering the information in such fields, the “AutoComplete" function would suggest the corresponding data matched from the information  being stored for the fields of website address, search engine, stock quotation, name of folder or application, or the information filled in other websites previously. </li>
                                    <li class='cof-item-li'>When using the services of E-Banking, this function will automatically show the User Name which was used in the system. Therefore, to ensure the information of the customer account is secured, please disable the “AutoComplete” function of the internet browser so that the computer does not automatically fills in the information when entering the User Name.</li>
                                    <li class='cof-item-li'>Please refer to your browser's own "Help" function on how to disable the function. </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can the customer change “User Name” and the “User Password”</h4>
                            <div class='cof-item-answer'>
                                The customer can change his/her “User Name” and “User Password” anytime. The new password should be a combination of 6-12 English characters and/or numbers (without space or symbols); and it should be completely different from the User Name and the old password. The “User Name” and the “User Password” must be entered with the uppercase or lowercase characters correctly.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Can the customer close the internet browser to end access to E-Banking services?</h4>
                            <div class='cof-item-answer'>
                                The customer should click the “Logout” button on the right side of the screen to make sure E-Banking services are ended properly.
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Are there any other tips regrading online security?</h4>
                            <div class='cof-item-answer'>
                                Here are the tips for securing customers online activities:
                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>Install virus detection software to detect common viruses such as Trojan Horses. This kind of software requires to be updated regularly for obtaining up-to-date protection on your data.</li>
                                    <li class='cof-item-li'>Install firewall to detect and prevent any unauthorized access,and Update the firewall regularly for obtaining the up-to-date protection. Customer may inquire the supplier of their computer or software about choosing the most suitable firewall.</li>
                                    <li class='cof-item-li'>Download and update security updates/patches for the computer regularly to protect the computer against known security issues.</li>
                                    <li class='cof-item-li'>To prevent virus attack or other unexpected issues, do not open any attachments in emails from unknown or unreliable sources.</li>
                                    <li class='cof-item-li'>Do not install any pirate software or software from unknown or unreliable sources.</li>
                                    <li class='cof-item-li'>Customer should know the persons with whom they share the computer and do not allow any unauthorized persons to use the computer.</li>
                                    <li class='cof-item-li'>After using the computer, disconnect it from the internet. Do not keep the computer connected to the internet when they are not in use.</li>
                                    <li class='cof-item-li'>Do not use any computers in public space (e.g., internet cafe or cybercafe) to access E-Banking services as these computers may be installed with hacker program(s) which provide a way for others to access the customer's personal account data fraudulently.</li>
                                    <li class='cof-item-li'>Close the windows of other internet browsers before login the E-Banking. To prevent any unauthorized access to the E-Banking services and accessing personal account information through other webpages, DO NOT open any windows of another browser or browse other websites when using the E-Banking services.</li>
                                    <li class='cof-item-li'>To make sure visiting the authentic website of E-Banking, please enter the address <a href="/hongkong/en" class="cof-item-answer-link" target="_blank" rel="noopener">https://www.cathaybk.com.tw/hongkong</a> in the URL of internet browser, bookmark this address as frequently-used website, so that you can visit E-Banking through the bookmarked address.</li>
                                    <li class='cof-item-li'>Please verify the website whether it is the official website of Cathay United Bank Hong Kong Branch, and check the security certificate for more information about the authentication and security measures of the certificate.(Please refer to your browser's own "Help" function on how to check the certificate.)</li>
                                    <li class='cof-item-li'>After using the services on E-Banking, make sure to log out and close the window of the internet browser.</li>
                                    <li class='cof-item-li'>Review account information regularly, and keep personal and financial information safe and properly.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is the encryption technique used by E-Banking?</h4>
                            <div class='cof-item-answer'>
                                E-Banking adopts the Transport Layer Security (TLS) encryption technology to ensure that the data submitted by the customer for financial transactions online are encrypted and converted into an encoded form before it is transmitted from the customer's computer so that the data are protected against unauthorized persons from reading your data. The 256-byte TLS encryption technology adopted by E-Banking, which is a standard technology recognized by the information technology industry.
                            </div>
                        </div>
                    </li>
                    
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>Any recommendations on Internet security?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-answer-title">Internet Security Alert</p>
                                <p class="cof-p"><b>E-Banking Security Recommendations</b></p>
                                <ul class="cof-item-ul">
                                    <li class='cof-item-li'>The Bank will not ask customers to log in E-Banking and to enter account or personal information, including user name and password.</li>
                                    <li class='cof-item-li'>If you receive a text message purported to be from the Bank or from an unknown source, you should not respond to them or click on any links.</li>
                                    <li class='cof-item-li'>Protect your personal digital keys and beware of fraudulent links. </li>
                                    <li class='cof-item-li'>Visit the HKMA website to learn more about Personal Digital Keys and security tips<br /><a class='coi-link' href='https://www.hkma.gov.hk/eng/smart-consumers/beware-of-fraudsters/' target="_blank" rel='noopener nofollow'>https://www.hkma.gov.hk/eng/smart-consumers/beware-of-fraudsters/</a>  </li>
                                    <li class='cof-item-li'>Please do not leave your computer after logging into the E-Banking.</li>
                                    <li class='cof-item-li'>Please check if there is any anomaly on the login page and when you are logging into the website.</li>
                                    <li class='cof-item-li'>After using the E-Banking services, please remember to logout the website and close the internet browser.</li>
                                    <li class='cof-item-li'>If you are connected to the E-Banking via a tag or search engine, please check whether the website is authentic.</li>


                                    <li class='cof-item-li'>When you apply for the E-Banking, please change the password shown in the E-Banking  password sheet issued by the bank immediately, and after you complete the password change by using the paper password slip, be sure to destroy the paper password slip.</li>

                                    <li class="cof-item-li">Change your password at regular intervals, such as at least every three months (especially if you suspect that your password is leaking, you should immediately change your E-Banking password).</li>

                                    <li class='cof-item-li'>Do not disclose your user name and password to anyone. (No one from Cathay United Bank  will ask you for your password.) </li>

                                    <li class='cof-item-li'>Please do not keep any written record regarding your password in: (1) any device that can be accessed to the E-banking, (2) the object you often carry with you, and (3) somewhere near the device computer.</li>

                                    <li class='cof-item-li'>Do not write down or record your password without obscuring it.</li>

                                    <li class='cof-item-li'>Set password that is hard to guess. Do not use your date of birth, name, ID number, telephone number or similar numbers as your password.</li>


                                    <li class='cof-item-li'>Please make sure not to be peeped around when you input your user name, password, or any confidential personal information.</li>

                                    <li class='cof-item-li'>Use different user names and passwords to log into different websites. DO NOT use the password you registered on other websites.</li>

                                    <li class='cof-item-li'>Please do not access the E-Banking services via a public computer (e.g., computer of an internet cafe or cybercafe) or do not use Internet services provided in public places to log in E-Banking and perform any transactions or check the account balances as these computers may have hacking programs installed (others may use it to obtain your personal or account information).</li>
                                    <li class='cof-item-li'>When using the E-Banking services, do not open other internet browsers and browse other websites at the same time.</li>
                                    <li class='cof-item-li'>When you have finished using the E-Banking services, please click “Log out” to exit, and make sure you have successfully logged out the system. </li>
                                    <li class='cof-item-li'>Please log out the E-Banking before browsing other websites. </li>
                                    <li class='cof-item-li'>When using the E-Banking services, do not leave the webpage idle for a long time.</li>
                                    <li class='cof-item-li'>In order to prevent your personal information from being used by others, please do not write down your personal E-Banking account information in a format familiar to others. If you use electronic tools to store personal information, please ensure that the information is kept confidential to prevent it from being stolen and used by others.</li>
                                    <li class='cof-item-li'>If you forget your password, please contact the Bank to re-apply.</li>
                                    <li class='cof-item-li'>As some data (such as password) could be stored in the cache (storage space reserved for temporary data which are used by internet browser), make sure to clean the cache and close the browser. </li>
                                    <li class='cof-item-li'>Cathay United Bank will not request customers to provide passwords and related personal information via email or phone calls.</li>
                                    <li class='cof-item-li'>The Bank does not send any email with hyperlink,barcode or QR code to customers. </li>
                                    <li class='cof-item-li'>DO NOT open e-mail messages with unknown origins and attachments. Remove the spam email whenever it is received. Never access E-Banking via the link in e-mail, unknown applications or internet search engines. Avoid installing or executing software or programs of unknown origin and sending personal information or passwords via email.</li>
                                    <li class='cof-item-li'>Please regularly update the version of anti-virus software and perform the virus scan on your computer. Install genuine and licensed edition of security defense software (e.g. firewall or anti-virus software) on your computer, and update the virus definition and scan engine at any time to reduce  the risk of intrusion by Trojans (backdoor programs), viruses, worms and other malicious codes on your computer and stealing your personal data.</li>
                                    <li class='cof-item-li'>Please use the genuine and licensed edition of operating system and software. Install the latest security fixes/patches of operating system and internet browser, and set the password on the computer which is used for accessing E-Banking.</li>
                                    <li class='cof-item-li'>If you access E-Banking with a laptop, please turn off unnecessary wireless connection functions (e.g., bluetooth and NFC). </li>
                                    <li class='cof-item-li'>To ensure you are granted more sufficient protection when making online transactions, if you wish to transfer to a third party's account, you are required to register the related accounts in advance, or make transfer to the said account through 2-step verification. No charges are required for account registration and 2-step verification. </li>
                                    <li class='cof-item-li'>If you access the E-Banking services as an entity / company, we suggest you adopting a dual control maker/checker (or above) security mechanism. </li>
                                    <li class='cof-item-li'>Please check your monthly statement regularly to make sure your online transactions are made correctly, and notify the branch if you fine any anomaly. </li>
                                    <li class='cof-item-li'>Please check and verify your transaction records timely. </li>
                                    <li class='cof-item-li'>Customers are responsible for installing the required software, hardware and other security related equipment. The fees and risks of installment shall be borne by the customers. </li>
                                    <li class='cof-item-li'>If you have any concerns about online security or account activities, please call +852 2877 5488 during working hours to contact our service staff and change your password as soon as possible.</li>
                                </ul>
                                <br />
                                <p class="cof-p"><b>Mobile Device Safety Recommendations</b></p>
                                <ul class="cof-item-ul">
                                    <li class='cof-item-li'>Mobile devices (such as smartphones and tablets) have become an important tool in our daily lives. When using the E-Banking services through mobile devices, you should pay attention to various information security measures to prevent unscrupulous people from invading your mobile device through security loopholes. </li>
                                    <li class='cof-item-li'>Cathay United Bank Hong Kong Branch does not provide any official mobile applications (mobile apps) on AppStore and GooglePlay™. Do not download any mobile apps that appear to be the counterfeit mobile apps . If in doubt, Please contact Cathay United Bank Hong Kong Branch.</li>
                                    <li class='cof-item-li'>Install reputable anti-virus software on the mobile device and keep the virus definitions updated at all time to ensure the latest security protection.</li>
                                    <li class='cof-item-li'>
                                        <p class="cof-p">If you use the web browser on your mobile device to log in the E-Banking, please pay attention to the following matters: </p>
                                        <ul class="cof-item-ul">
                                            <li class='cof-item-li'>Please keep updating the operating system (OS) and applications of your mobile device. </li>
                                            <li class='cof-item-li'>Please use Automatic Lock and/or Enable Password Lock functions to prevent others from using your mobile device without permission.</li>
                                            <li class='cof-item-li'>Do not log in to personal E-Banking accounts on the device which is not yours.</li>
                                            <li class='cof-item-li'>Please avoid storing any account numbers and passwords on mobile devices and web pages. </li>
                                            <li class='cof-item-li'>Please avoid using mobile devices that have been cracked or illegally hacked (such as jailbreaking or rooting the mobile device). </li>
                                        </ul>
                                    </li>
                                </ul>

                                <br />
                                <p class="cof-p"><b>Relevant URL</b></p>
                                <ul class="cof-item-ul">
                                    <li class='cof-item-li'><a href="https://www.hkma.gov.hk/eng/" rel='noopener nofollow' class="cof-item-answer-link" target="_blank" rel="noopener">Hong Kong Monetary Authority</a></li>
                                    <li class='cof-item-li'><a href="http://www.hkab.org.hk/index.jsp?lang=en" rel='noopener nofollow' class="cof-item-answer-link" target="_blank" rel="noopener">Hong Kong Association of Banks</a></li>
                                    <li class='cof-item-li'><a href="https://www.sfc.hk/" rel='noopener nofollow' class="cof-item-answer-link" target="_blank" rel="noopener">Hong Kong Securities and Futures Commission</a></li>
                                </ul>

                                <p class="cof-p">
                                    Notice: If you commit fraud or any losses incurred due to gross negligence or failure to comply with the above security measures, you shall bear all losses. The Bank always adopts strict security standards and procedures to prevent unauthorized persons from obtaining information about you. Cathay United Bank will never contact you and ask you to confirm your personal information, such as E-Banking user ID, user password or user code, outside of the normal E-Banking login process. If you receive such a request, please call +852 2877 5488 to notify us immediately.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- General Knowledge on Derivatives -->
    <div id='derivatives' section='derivatives' class='component-oversea-faq component-bg--white'>
        <div class="cof-inner">
            <h3 class='cof-subtitle'>General Knowledge on Derivatives</h3>
            <div class='cof-tab'>
                <div class="cof-tab-inner">
                    <ul class='cof-tab-list'>
                        <li class='cof-tab-item'>
                            <a href="javascript:;" category='all' class='cof-tab-item-link'>
                                <span class='cof-tab-item-title'>All</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='cof-tab-content' category='all'>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is Derivatives?</h4>
                            <div class='cof-item-answer'>
                                <p class="cof-item-p">In view of the potential risk involved in derivatives investment, investors without the general knowledge on derivatives can watch and clearly understand the content of all these four sections below which are extracted from the DVD provided by the Hong Kong Association of Bank ("HKAB") before any purchase of derivative products is made:</p>

                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>
                                        <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/introduction-to-derivatives-en.mp4")" class='cof-item-li-link' target="_blank" rel="noopener">Introduction to Derivatives</a>
                                    </li>
                                    <li class='cof-item-li'>
                                        <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/common-types-of-derivatives-en.mp4")" class='cof-item-li-link' target="_blank" rel="noopener">Common Types of Derivatives </a>
                                    </li>
                                    <li class='cof-item-li'>
                                        <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/applications-of-derivatives-en.mp4")" class='cof-item-li-link' target="_blank" rel="noopener">Applications of Derivatives</a>
                                    </li>
                                    <li class='cof-item-li'>
                                        <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/key-risks-associated-with-derivatives-en.mp4")" class='cof-item-li-link' target="_blank" rel="noopener">Key Risks Associated with Derivatives</a>
                                    </li>
                                </ul>


                                <p class="cof-item-p">
                                    <b>Important Note</b><br />
                                    This video has been produced by the Hong Kong Association of Banks (“HKAB”). All intellectual property rights in any part of this video that originates from the materials provided by HKAB belong to HKAB.
                                </p>


                                <p class="cof-item-p">
                                    <b>Disclaimer</b><br />
                                    This video has been created solely for general information purposes, without taking into account any person's objectives or needs. No representation or recommendation is made and no liability is accepted with regard to the suitability or appropriateness of any of the products or investments referred to in this video for any particular person's circumstances. The information contained in this video is not professional advice and should not be relied upon by any person. This video does not constitute, nor is it intended to be, nor should it be construed as any advice, offer or solicitation to deal in any of the products or investments mentioned in this video.
                                </p>
                                <p class="cof-item-p">
                                    This video does not, and is not designed to, satisfy any particular regulatory requirements in any jurisdiction in relation to investor education or otherwise. This video has not been reviewed by any regulatory authorities in any jurisdiction.
                                </p>
                                <p class="cof-item-p">
                                    While Cathay United Bank Company, Limited, Hong Kong Branch ("the Bank") has endeavoured to ensure the accuracy and reliability of the information contained in this video, neither the Bank nor HKAB guarantees its accuracy, completeness, reliability or fitness for any purpose. Investors should not rely on the contents of this video, but should make and rely on their own assessment and evaluation and undertake their own investigations and inquiries and seek all necessary independent advice.
                                    To the maximum extent permitted by applicable law, HKAB and the Bank and their respective employees, agents and representatives expressly disclaim all or any liability (whether in tort or contract or otherwise) for any loss, damage, costs or expenses of any nature arising from or in connection with this video, in particular:

                                </p>
                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>the contents of or omissions from this video, including any express or implied representations, statements or conclusions;</li>
                                    <li class='cof-item-li'>the provision to, or use by, any person of this video or any part of it;</li>
                                    <li class='cof-item-li'>the preparation of the information contained in this video;</li>
                                    <li class='cof-item-li'>any person relying on, disclosing or using any information or statement contained in or connected with this video. </li>
                                </ul>

                                <p class="cof-item-p">
                                    If the liability of HKAB or the Bank or their respective employees, agents or representatives in relation to any matter relating to or arising in connection with this video is capable of limitation (but not indemnification or exclusion), it is hereby limited to the maximum extent that is permitted by law.
                                </p>
                                <p class="cof-item-p">
                                    Investment involves risks. Investors should note that value of investments can go down as well as up and past performance is not necessarily indicative of future performance. This video does not and is not intended to identify all of the risks that may be involved in the products or investments referred to in this video. Investors must make investment decisions in light of their own investment objectives, financial position and particular needs and where necessary consult their own professional advisers before making any investment. Investors should read and fully understand all the offering documents relating to such products or investments and all the risk disclosure statements and risk warnings therein before making any investment decisions.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                

            </div>
        </div>
    </div>









<!-- Common Reporting Standard (CRS) -->
<div id='crs' section='crs' class='component-oversea-faq'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>Common Reporting Standard (CRS)</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>All</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
                <ul class='cof-list'>
                    <li class='cof-item'>
                        <div class='cof-item-link'>
                            <h4 class='cof-item-question'>What is Common Reporting Standard (CRS)?</h4>
                            <div class='cof-item-answer'>
                                
                                <p class="cof-item-p">
                                    AEOI (Automatic Exchange of Financial Account Information) is a new international standard, designed to enhance tax transparency and combat cross-border tax evasion, that over 100 jurisdictions have committed to its implementation based on the Common Reporting Standard (“CRS”) released by the Organization of Economic Co-operation and Development (“OECD”) in July 2014. As an international financial center, Hong Kong has committed to implement AEOI and commence the first information exchanges by the end of 2018
                                </p>


                                <p class="cof-item-p">
                                    Under the Inland Revenue (Amendment) (No. 3) Ordinance 2016 (“the Amendment Ordinance”), Cathay United Bank Company, Limited, Hong Kong Branch (“CUBHK”) is required to identify the tax residence of our account holders. For this purpose, CUBHK will base on information we have already asked or we may ask customers to complete Self-Certification Form to determine customers' tax residence
                                </p>
                                <p class="cof-item-p">
                                    If a customer is a tax resident in jurisdiction(s)outside of Hong Kong, CUBHK may be required to inform and share information of certain account(s) with HK IRD, and if the IRD has signed an AEOI agreement with that jurisdiction(s).
                                </p>
                                <p class="cof-item-p">
                                    If you have any specific questions regarding your tax residency, please contact your professional tax adviser. As a financial institution, we are unable to provide any tax advice. The Organization for Economic Cooperation and Development(OECD) has provided information on the tax residency rules applicable in jurisdictions that are committed to automatically exchanging information. You may access the information via the following link: <a class='cof-item-answer-link' href='http://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-residency/#d.en.347760' target="_blank" rel="noopener">http://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-residency/#d.en.347760</a>. You may also find useful guidance and further details published by the <a href="https://www.ird.gov.hk/eng/tax/dta_aeoi.htm" class='cof-item-answer-link' rel='noopener nofollow' target="_blank" rel="noopener">Inland Revenue Department</a> regarding the AEOI.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>



        </div>
    </div>
</div>





