@{
    Layout = null;
}

<!doctype html>
<html>

<head>
   <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>国泰世华银行 私人银行</title>


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css")" rel="stylesheet">
@*<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css.map")" rel="stylesheet">*@


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/core.css")" rel="stylesheet">
<link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/coreD.css")" />




<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/animate.css")" rel="stylesheet">


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/fontawesome/css/all.css")" rel="stylesheet">

<link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">


    

    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/contact.css")" rel="stylesheet">
    <link media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/contactD.css")" rel="stylesheet">

    @*
    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/contact_form.css")" rel="stylesheet">
    <link media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/contactD_form.css")" rel="stylesheet">*@
</head>

<body>



    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="navHeader">
                    <a href="@Url.Content("~/sg/zh-cn/private-bank")">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo img-fluid">
                    </a>
                    <div class="myclose" data-dismiss="modal" aria-label="Close">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/myClose.png")" class="myClose">
                    </div>
                </div>
                <div class="navBody">
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/about/")">
                        <div class="oneNav">
                            关于我们
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/custom/")">
                        <div class="oneNav">
                            方案订制
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    @*<a href="javascript:;" onclick="alert('敬请期待');">
                        <div class="oneNav">
                            专属礼遇
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>*@
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/award/")">
                        <div class="oneNav">
                            奖项荣誉
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/contact/")">
                        <div class="oneNav">
                            联络我们
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">
                        <div class="oneNav">
                            网银登入
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/sg/zh-cn/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/trigger.png")" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/sg/zh-cn/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">

                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/sg/zh-cn/")">新加坡分行</a></li>
                            <li><a href="@Url.Content("~/sg/zh-cn/private-bank/")" class="active">私人银行</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" target="_self" class="goldFrame">繁中</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" target="_self" class="goldFrame">En</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/about/")">关于我们</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/custom/")">方案订制</a>
                            </li>
                            @*<li class="nav3">
                                <a href="javascript:;" onclick="alert('敬请期待');">专属礼遇</a>
                            </li*@>
                            <li class="nav100">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/award/")">奖项荣誉</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/contact/")">联络我们</a>
                            </li>
                            <li class="nav5">
                                <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">网银登入</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">联络我们</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/sg/zh-cn/private-bank/")">首页</a> / 联络我们</p>
            </div>
        </div>
    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->
    <div class="section1">
        <div class="container">
            <div class="row">


                <div class="col-lg-5 offset-lg-7 d-none d-lg-block">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/contact/section1IlluD.jpg")" class="img-fluid section1DIllu">
                </div>

                <div class="col-12 col-lg-10">
                    <div class="paper" data-aos="fade-up">


                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/contact/section1Illu.jpg")" class="img-fluid mb15 d-lg-none aos-init aos-animate" data-aos="fade-up">

                        <h3 class="gold2 aos-init aos-animate" data-aos="fade-up">
                            联络我们
                        </h3>

                        <div class="titleLine gold2 aos-init aos-animate" data-aos="fade-up"></div>
                        <div class="clearfix mb30"></div>

                         <p>如欲了解更多，欢迎电邮询问，我们将由专人与您联系<br>
                            Email：<a href="mailto:sg.privatebanking@cathaybk.com.tw">sg.privatebanking@cathaybk.com.tw</a>
                        </p>



                    </div>
                    <!-- .paper -->

                </div>
            </div>
        </div>
    </div>

    @*

        <div class="section1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="paper" data-aos="fade-up">


                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/contact/section1Illu.jpg")" class="img-fluid mb15 d-lg-none" data-aos="fade-up">



                            <h3 class="gold2" data-aos="fade-up">請留下您的訊息<br>
                                我們將由專人與您聯繫</h3>
                            <div class="titleLine gold2" data-aos="fade-up"></div>
                            <div class="clearfix mb30"></div>

                            <div class="form-check mb15">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    為保護您的權益，請詳細閱讀相關「<a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">個人資料運用告知聲明</a>」。當您開始填寫資料時，視同您已充分了解並同意本行將開始蒐集與處理您的個人資料。
                                </label>
                            </div>


                            <p class="gold2">標示「*」者為必填欄位</p>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    <div class="goldMark">*</div>姓名
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="請填寫姓名">
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-3 pt-0"></legend>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="sex1" value="option1" checked>
                                            <label class="form-check-label" for="sex1">
                                                男
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="sex2" value="option2">
                                            <label class="form-check-label" for="sex2">
                                                女
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    身分證字號
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="請填寫身分證字號">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    <div class="goldMark">*</div>聯絡電話
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="請輸入電話">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    <div class="goldMark">*</div>電子郵件
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="請輸入電子郵件">
                                </div>
                            </div>



                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-3 pt-0">您是否為本行往來之客戶: </legend>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios2" id="oldCustomer1" value="option1" checked>
                                            <label class="form-check-label" for="oldCustomer1">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios2" id="oldCustomer2" value="option2">
                                            <label class="form-check-label" for="oldCustomer2">
                                                否
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>



                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-3 pt-0">您是否為其它私人銀行之客戶：</legend>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios3" id="othersCustomer1" value="option1" checked>
                                            <label class="form-check-label" for="othersCustomer1">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exampleRadios3" id="othersCustomer2" value="option2">
                                            <label class="form-check-label" for="othersCustomer2">
                                                否
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    <div class="goldMark">*</div>留言
                                </label>
                                <div class="col-sm-9">
                                     <textarea class="form-control" rows="6" placeholder="(敬請以1000個中文字內留言)"></textarea>
                                     <small class="form-text text-muted">『若您於國外，請您提供所在國家或國碼、及(台灣時間)方便聯絡時段，以避免造成您的困擾，謝謝配合』</small>


                                </div>
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-3 col-form-label">

                                </label>
                                <div class="col-sm-9">
                                      <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/contact/recaptcha.png")" class="img-fluid">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">

                                </label>
                                <div class="col-sm-9">
                                      <div class="myBtn">確認送出</div>
                                </div>
                            </div>



                        </div>
                        <!-- .paper -->

                    </div>
                </div>
            </div>
        </div>





           <!--<div class="d-none d-lg-block">-->
        <a href="@Url.Content("~/sg/zh-cn/private-bank/contact/")">
            <div class="followMe">
                聯絡<br/>我們
            </div>
        </a>
        <!--</div>-->

    *@



    <!-- footer -->
    <!-- footer -->
    <!-- footer -->



    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>手机请拨：02-2383-1000</li>
                            <li>服务专线：0800-818-001</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隐私权保护政策</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顾客资料保密措施</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行销</a></li>
                            <li>©国泰世华商业银行股份有限公司</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">国泰世华私人银行 I 台湾</a></li>
                            <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">国泰世华私人银行 I 香港</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">国泰世华私人银行 I 台湾</a></li>
                                <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">国泰世华私人银行 I 香港</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/news/announcement/info/browsersetting/?l=f" target="_blank" rel="noopener">浏览器建议</a> </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隐私权保护政策</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顾客资料保密措施</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行销</a></li>
                                <li>©国泰世华商业银行股份有限公司</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/jquery.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")"></script>


    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });




        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }





        // ↓↓↓↓↓↓↓↓ 選單收合 ↓↓↓↓↓↓↓↓
        window.onscroll = function () {
            scrollFunction()

        };


        function scrollFunction() {


            //document.documentElement || document.documentElement.scrollTop || document.body.scrollTop

            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                $('.headerD .container .area1').hide();
                $('.headerD .container .goldLineArea').hide();
            } else {
                $('.headerD .container .area1').show();
                $('.headerD .container .goldLineArea').show();
            }




        }

    </script>





    <script>
        $(".nav5").addClass("current");

    </script>





</body>


</html>
