@model IndexViewModel

@{
    ViewBag.PageTitle = "Contact Us";
    ViewBag.PageDescription = "Phone Numnber:+65 6593 9280 (General Line), Address:8 Marina Boulevard #13-01/03, Marina Bay Financial Centre, Singapore 018981";
}

@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/sg/kv-short/contact-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/kv-short/contact.jpg")' alt='@ViewBag.nav_contact'>
        </picture>
        <figcaption hidden>@ViewBag.nav_contact</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_contact</h1>
        </div>
    </div>
</div>

<div class='component-oversea-info'>
    <div class='coi-inner'>
        <h2 class='coi-title'>Service Address</h2>
        <div class='coi-content'>
            <ul class="coi-list">
                <li class="coi-item">
                    <span class='coi-item-label'>Phone Number:</span>
                    <span class="coi-item-content">+65 6593 9280 (General Line)</span>
                </li>
                <li class="coi-item">
                    <span class='coi-item-label'>Address:</span>
                    <span class="coi-item-content">8 Marina Boulevard #13-01/03, Marina Bay Financial Centre, Singapore 018981</span>
                </li>
                <li class="coi-item">
                    <span class='coi-item-label'>Email Address:</span>
                    <span class="coi-item-content">Corporate banking – sg.corporatebanking@sg.cathaybk.com</span>
                    <span class="coi-item-content">Private banking – sg.privatebanking@sg.cathaybk.com</span>
                    <span class="coi-item-content">General enquiries – sg.enquiries@sg.cathaybk.com</span>
                </li>
            </ul>
        </div>
    </div>
</div>