@model IndexViewModel


@{
    ViewBag.PageTitle = "Quản lý tiền tệ";
    ViewBag.PageDescription = "Chúng tôi cung cấp cho Quý khách hàng các sản phẩm hoàn chỉnh và tiện lợi cho việc quản lý tiền tệ, tạo nên một dịch vụ quản lý dòng tiền toàn diện để Quý khách hàng quản lý hiệu quả các khoản phải trả và các khoản phải thu, nhằm nâng cao hiệu quả sử dụng vốn.";
}

@section Scripts {
    <script>
        var serviceCard = serviceCard || {};
        serviceCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services-card');
                $('.cosc-item-content', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cosc-item', scope).each(function () {
                        let h = $('.cosc-item-content', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cosc-item-content', scope).height(max_h);
                } else {
                    $('.cosc-item-content', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myServiceCard = serviceCard.prototype;
            myServiceCard.init();
        })
    </script>
}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/cash-management-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/cash-management.jpg")' alt='@ViewBag.nav_services_cash_management'>
        </picture>
        <figcaption hidden>@ViewBag.nav_services_cash_management</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_services_cash_management</h1>
        </div>
    </div>
</div>

<div class='component-oversea-services-card'>
    <div class="cosc-inner">
        <h2 class='cosc-title'>@ViewBag.services_title</h2>

        <ul class='cosc-list'>
            <li class='cosc-item'>
                <figure class='cosc-item-figure'>
                    <picture>
                        <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/cash-management/current-account.jpg")' alt='Tiền gửi thanh toán'>
                    </picture>
                    <figcaption hidden>Tiền gửi thanh toán</figcaption>
                </figure>
                <div class='cosc-item-content'>
                    <h3 class='cosc-item-title'>Tiền gửi thanh toán</h3>
                    <p class='cosc-item-description'>Chúng tôi cung cấp dịch vụ tiền gửi bằng VND và USD cho các tổ chức trong nước, cá nhân Việt Nam và người nước ngoài. Được thiết kế với giao diện trực tuyến đa chức năng và trực quan, Quý khách hàng có thể tận hưởng các dịch vụ quản lý dòng tiền linh hoạt và dễ tiếp cận nhất.</p>
                </div>
            </li>

            <li class='cosc-item'>
                <figure class='cosc-item-figure'>
                    <picture>
                        <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/time-deposit.jpg")' alt='Tiền gửi có kỳ hạn'>
                    </picture>
                    <figcaption hidden>Tiền gửi có kỳ hạn</figcaption>
                </figure>
                <div class='cosc-item-content'>
                    <h3 class='cosc-item-title'>Tiền gửi có kỳ hạn</h3>
                    <p class='cosc-item-description'>Chúng tôi cung cấp dịch vụ tiền gửi có kỳ hạn bằng VND và USD được rút vào ngày đáo hạn với kỳ hạn đa dạng.</p>
                </div>
            </li>


        </ul>
    </div>
</div>