@model IndexViewModel

@{
    ViewBag.PageTitle = "Các biện pháp phòng chống gian lận/ lừa đảo/ giả mạo khi giao dịch trực tuyến (GMB) ";
    ViewBag.PageDescription = "";
}

@section Scripts {}

<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/news-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/news.jpg")' alt='@ViewBag.nav_news'>
        </picture>
        <figcaption hidden>@ViewBag.nav_news</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_news</h1>
        </div>
    </div>
</div>

<!-- newsview -->
<article class="component-newsview">
    <div class="component-newsview-inner">
        <header class="component-newsview-header">
            <div class="component-newsview-date"></div>
            <h1 class="component-newsview-title">Các biện pháp phòng chống gian lận/ lừa đảo/ giả mạo khi giao dịch trực tuyến (GMB)  </h1>
        </header>

        <div class="component-newsview-body">
            <p>1. Ngân hàng Cathay United - Chi nhánh Thành phố Hồ Chí Minh ("Chúng tôi") sẽ không bao giờ liên hệ với Quý khách qua email hoặc điện thoại để yêu cầu cung cấp thông tin cá nhân, hay đề nghị Quý khách đăng nhập vào GMB nhằm xác thực thông tin tài khoản. Trong trường hợp Quý khách vừa nhập thông tin đăng nhập (tên người dùng và mật khẩu) vào một trang web đáng ngờ, Quý khách cần thay đổi mật khẩu ngay lập tức để đảm bảo an toàn. Xin lưu ý rằng Ngân hàng chỉ liên hệ điện thoại với Quý khách để xác nhận các chỉ thị giao dịch do chính Quý khách thực hiện. Ngay khi nhận thấy có dấu hiệu lừa đảo hoặc rủi ro lộ thông tin bảo mật, hãy liên hệ với chúng tôi ngay lập tức theo hotline +84 28 38258768.<br>
            <p>2. Các nguyên tắc để đảm bảo an toàn khi giao dịch online<br>
            <p>Việc bảo vệ an toàn trên không gian mạng bắt đầu từ chính nhận thức và hành vi của Quý khách đối với các mối đe dọa tiềm ẩn.<br>
            <p>Hình thức lừa đảo qua mạng thường dùng các thủ đoạn tinh vi để đánh cắp thông tin đăng nhập của các tài khoản quan trọng như email, hệ thống mạng nội bộ doanh nghiệp và nhiều loại tài khoản nhạy cảm khác.<br>
            <p>Ngay cả với những người dùng thận trọng, việc nhận biết các hình thức lừa đảo qua mạng đôi khi vẫn gặp khó khăn. Các thủ đoạn lừa đảo ngày càng trở nên tinh vi hơn theo thời gian, và các đối tượng liên tục tìm cách điều chỉnh phương thức lừa đảo cùng với những thông điệp hết sức thuyết phục, khiến người dùng dễ dàng bị đánh lừa. Dưới đây là một số biện pháp cơ bản Quý khách cần lưu ý khi sử dụng email và các phương thức liên lạc khác:<br>
            <p>(1). Quý khách cần thận trọng và suy xét kỹ lưỡng trước khi cung cấp bất kỳ thông tin nhạy cảm nào. Khi nhận được thông báo từ ngân hàng hoặc các tổ chức lớn khác, Quý khách tuyệt đối không nhấp vào đường dẫn trong thư. Thay vào đó, Quý khách nên tự mở trình duyệt và trực tiếp nhập địa chỉ trang web vào thanh URL để đảm bảo tính xác thực của trang web.<br>
            <p>(2). Xin lưu ý rằng Quý khách cần hết sức cảnh giác với các thông điệp khẩn cấp hoặc mang tính đe dọa. Các tổ chức uy tín, bao gồm ngân hàng, công ty bảo hiểm và các đối tác kinh doanh của Quý khách, sẽ không bao giờ sử dụng email để yêu cầu Quý khách cung cấp thông tin cá nhân hay chi tiết tài khoản. Trong trường hợp Quý khách nhận được email có yêu cầu cung cấp bất kỳ thông tin tài khoản nào, Quý khách vui lòng xóa ngay lập tức và chủ động liên hệ với tổ chức liên quan để kiểm tra tình trạng tài khoản của mình.<br>
            <p>(3). Quý khách tuyệt đối không mở các tập tin đính kèm đáng ngờ hoặc từ nguồn lạ - đặc biệt là các tập tin dạng Word, Excel, PowerPoint hoặc PDF.<br>
            <p>(4). Để đảm bảo an toàn thông tin, Quý khách vui lòng không nhấp vào bất kỳ đường dẫn nào được đính kèm trong email, bởi những đường dẫn này có thể chứa mã độc gây hại. Khi tiếp nhận thông tin từ nhà cung cấp hoặc bên thứ ba, Quý khách cần đặc biệt thận trọng và tránh truy cập vào các đường dẫn URL có trong thư. Thay vào đó, Quý khách nên chủ động truy cập trang web chính thức bằng cách tự nhập địa chỉ URL vào trình duyệt. Đồng thời, Quý khách cần xem xét các chính sách liên hệ và quy trình yêu cầu thông tin của nhà cung cấp. Trước khi đăng nhập GlobalMyB2B, vui lòng kiểm tra tại www.globalmyb2b.com.<br>
            <p>(5). Quý khách vui lòng cập nhật phần mềm và hệ điều hành thường xuyên để đảm bảo an toàn; Không cài đặt các phần mềm lạ, phần mềm không có bản quyền, phần mềm không rõ nguồn gốc.<br>
            <p>(6). Quý khách cần bảo vệ bí mật mã khóa bí mật, mã PIN, OTP và không chia sẻ các thiết bị lưu trữ các thông tin này.<br>
            <p>(7).  Quý khách vui lòng thông báo ngay cho chúng tôi trong các trường hợp: mất, thất lạc, hư hỏng thiết bị tạo OTP, số điện thoại nhận tin nhắn SMS, thiết bị lưu trữ khóa bảo mật tạo chữ ký điện tử; bị lừa đảo hoặc nghi ngờ bị lừa đảo; bị tin tặc hoặc nghi ngờ bị tin tặc tấn công.<br>
        </div>

        <footer class="component-newsview-footer">
            <div class="component-btn-row">
                <a class="component-btn-main btn-green" href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"/news/")">Trở lại</a>
            </div>
        </footer>
    </div>
</article><!--/.component-newsview-->