@{
	ViewData["PageTitle"] = "Business Savings Account";
	ViewData["PageDescription"] = "As our focus is on the needs of businesses, Cathay United Bank knows that the deposit accounts products you use need to fit your style of business, cash flow model, and current goals. Cathay United Bank provides the account choices, product features, and supporting services to suit your business needs at every stage of its growth.";
}


<!-- Page START -->
<main class="mastbody">

	<!--
	Business Savings Account
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-deposit.jpg" />
						<img srcset="/assets/img/topkv/personal-deposit-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Business Saving Account</h2>
			</div>
		</div>
	</div>
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Business Savings Account</li>
			</ol>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]business/current-account/">
				<span class="tabmenu-btn-txt">Current Account</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]business/business-savings-account/">
				<span class="tabmenu-btn-txt">Business Savings Account</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">Business Savings Account</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]business/current-account/">Current Account</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]business/business-savings-account/">Business Savings Account</a>
		</div>
	</div>

	<section class="fluid overflow-hidden">
		<div class="py-page"></div>

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			@*<blockquote class="h4 h4-mb">As our focus is on the needs of businesses, Cathay United Bank knows that the deposit accounts products you use need to fit your style of business, cash flow model, and current goals. Cathay United Bank provides the account choices, product features, and supporting services to suit your business needs at every stage of its growth.</blockquote>
			<div class="py-section"></div>*@

			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">Business Saving Account</h1>
			<p>
				We know that the saving product you use need to streamline the financial management of your business easily, especially to check your business cash flow. That's why we give your company with attractive benefits by providing high interest rate on Business Savings Account. You can earn interest on even small sums as interest on our savings account is calculated on a daily basis and is added to your balance semiannually.
			</p>
		</header>

		<!-- Tabular data -->
		<div class="tabular">

			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col>
						<col width="35%">
						<col width="35%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" class="h4 h4-mb">Currency</th>
							<th scope="col" class="h4 h4-mb">
								<img class="flag-sm mr-sm-2" src="/assets/img/ui/flag-kh.png"><br class="d-block d-sm-none">KHR
							</th>
							<th scope="col" class="h4 h4-mb">
								<img class="flag-sm mr-sm-2" src="/assets/img/ui/flag-us.png"><br class="d-block d-sm-none">USD
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Minimum Initial Deposit</th>
							<td>KHR 4,000,000.00</td>
							<td>USD 1,000.00</td>
						</tr>
						<tr>
							<th scope="row">Maintain Balance</th>
							<td>KHR 400,000.00</td>
							<td>USD 100.00</td>
						</tr>
						<tr>
							<th scope="row">Interest Rate</th>
							<td>1% p.a.</td>
							<td>0.25% p.a.</td>
						</tr>
						<tr>
							<th scope="row">Replacement of Lost Passbook</th>
							<td>KHR 20,000.00<br><small class="d-inline-block lh-md text-gray-700">*per passbook</small></td>
							<td>USD 5.00<br><small class="d-inline-block lh-md text-gray-700">*per passbook</small></td>
						</tr>
						<tr>
							<th scope="row">Early A/c closure within 6 months</th>
							<td>KHR 80,000.00</td>
							<td>USD 20.00</td>
						</tr>
						<tr>
							<th scope="row">A/c Inactive for 12 months</th>
							<td>KHR 40,000.00</td>
							<td>USD 10.00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/.tabular-->

		<div class="py-section"></div>


		<!-- Section heading -->
		<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">Miscellaneous</h3>

		<!-- Tabular data -->
		<div class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col>
						<col width="35%">
						<col width="35%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" class="h4 h4-mb">Currency</th>
							<th scope="col" class="h4 h4-mb">
								<img class="flag-sm mr-sm-2" src="/assets/img/ui/flag-kh.png"><br class="d-block d-sm-none">KHR
							</th>
							<th scope="col" class="h4 h4-mb">
								<img class="flag-sm mr-sm-2" src="/assets/img/ui/flag-us.png"><br class="d-block d-sm-none">USD
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row" rowspan="2">Past Statement Request</th>
							<td>KHR 4,000.00<br><small class="d-inline-block lh-md text-gray-700">*per month</small></td>
							<td>USD 1.00<br><small class="d-inline-block lh-md text-gray-700">*per month</small></td>
						</tr>
						<tr>

							<td>KHR 40,000.00<br><small class="d-inline-block lh-md text-gray-700">*per year</small></td>
							<td>USD 10.00<br><small class="d-inline-block lh-md text-gray-700">*per year</small></td>
						</tr>
						<tr>
							<th scope="row">Balance Confirmation</th>
							<td>KHR 20,000.00<br><small class="d-inline-block lh-md text-gray-700">*per request</small></td>
							<td>USD 5.00<br><small class="d-inline-block lh-md text-gray-700">*per request</small></td>
						</tr>
						<tr>
							<th scope="row">Audit Confirmation</th>
							<td>KHR 80,000.00<br><small class="d-inline-block lh-md text-gray-700">*per request+postage (if applicable)</small></td>
							<td>USD 20.00<br><small class="d-inline-block lh-md text-gray-700">*per request+postage (if applicable)</small></td>
						</tr>
						<tr>
							<th scope="row">Letter of Reference</th>
							<td>KHR 40,000.00<br><small class="d-inline-block lh-md text-gray-700">*per request</small></td>
							<td>USD 10.00<br><small class="d-inline-block lh-md text-gray-700">*per request</small></td>
						</tr>
						<tr>
							<th scope="row">Standing Order</th>
							<td>KHR 20,000.00<br><small class="d-inline-block lh-md text-gray-700">*per payee</small></td>
							<td>USD 5.00<br><small class="d-inline-block lh-md text-gray-700">*per payee</small></td>
						</tr>
						<tr>
							<th scope="row">Salary Payment Instructions</th>
							<td>FREE</td>
							<td>FREE</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/.tabular-->

		<ul class="list-disc  mt-4  h6 h6-mb">
			<li>All rates and fee charges are subject to change without notice at the Bank's sole discretion.</li>
			<li>Third party and other charges which may be applicable will be charged accordingly.</li>
			<li>Acceptance of Foreign Currency checks and other bank's checks is at the sole discretion of the bank.</li>
			<li>Other Terms and Conditions apply.</li>
		</ul>
		<div class="py-page"></div>
	</section>



</main>
<!-- Page END -->