@{
    Layout = null;
}

<!doctype html>
<html>

<head>
   <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cathay United Bank Private Banking Singapore</title>

<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css")" rel="stylesheet">
@*<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css.map")" rel="stylesheet">*@


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/core.css")" rel="stylesheet">
<link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/coreD.css")" />




<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/animate.css")" rel="stylesheet">


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/fontawesome/css/all.css")" rel="stylesheet">

<link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">



    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/exclusive.css")" rel="stylesheet">
    <link media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/exclusiveD.css")" rel="stylesheet">

</head>

<body>


    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog" role="document">

            <div class="modal-content">



                <div class="navHeader">
                    <a href="@Url.Content("~/sg/en/private-bank/")">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logo.png")" class="logo img-fluid">
                    </a>

                    <div class="myclose" data-dismiss="modal" aria-label="Close">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/myClose.png")" class="myClose">
                    </div>
                </div>

                <div class="navBody">
                    <a href="@Url.Content("~/sg/en/private-bank/about/")">
                        <div class="oneNav">
                            About Us
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/en/private-bank/custom/")">
                        <div class="oneNav">
                            Customized Planning
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                    @*<a href="javascript:;" onclick="alert('coming soon');">
                        <div class="oneNav">
                            Dedicated Services
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>*@
                    <a href="@Url.Content("~/sg/en/private-bank/award/")">
                        <div class="oneNav">
                            Awards and Honors
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="@Url.Content("~/sg/en/private-bank/contact/")">
                        <div class="oneNav">
                            Contact Us
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">
                        <div class="oneNav">
                            Internet Banking
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>






                </div>




            </div>
        </div>

    </div>
    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/sg/en/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/enlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/trigger.png")" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/sg/en/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">
                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/sg/en/")">Cathay United Bank, Singapore</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" class="active">Private Banking</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" target="_self" class="goldFrame">Traditional Chinese</a></li>
                            <li><a href="@Url.Content("~/sg/zh-cn/private-bank/")" target="_self" class="goldFrame">Simplified Chinese</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/sg/en/private-bank/about/")">About Us</a>
                            </li>
                            <!--
                            <li class="nav2">
                                <a href="news.html">最新消息</a>
                            </li>
    -->

                            <li class="nav4">
                                <a href="@Url.Content("~/sg/en/private-bank/custom/")">Customized Planning</a>
                            </li>
                            @*<li class="nav3">
                                <a href="javascript:;" onclick="alert('coming soon');">Dedicated Services</a>
                            </li>*@
                            <li class="nav100">
                                <a href="@Url.Content("~/sg/en/private-bank/award/")">Awards and Honors</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/sg/en/private-bank/contact/")">Contact Us</a>
                            </li>

                            <li class="nav5">
                                <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">Internet Banking</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">Dedicated Services</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/sg/en/private-bank/")">首頁</a> / Dedicated Services</p>
            </div>

            <div class="myBtn outLine" onclick="slideTo('s1')">貴賓權益</div>


            <div class="myBtn outLine" onclick="slideTo('s2')">尊榮活動</div>

        </div>

    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->



    <div class="marbleBg">




        <div class="container">
            <div class="row">
                <div class="col-12 secondTitleSet s1">
                    <div class="h2Container data-aos=" fade-up"">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/leftFlower.png")" class="flower">
                        <h2>貴賓權益</h2>
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/rightFlower.png")" class="flower">
                    </div>

                    <h4 data-aos="fade-up">成為國泰世華私人銀行客戶，享尊榮Dedicated Services</h4>

                </div>


            </div>
        </div>



        <div class="section1">

            <!--
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h3 class="blue" data-aos="fade-up">金融服務禮遇</h3>
                            </div>
                        </div>
            -->
            <div class="row no-gutters">
                <div class="col-12 col-lg-10 offset-lg-2">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/section1Illu.jpg")" data-aos="fade-up">
                </div>
                <div class="col-12">
                    <div class="text-box" data-aos="fade-up">
                        <h5>國泰世華銀行 世界卡免年費<br>Dedicated Services</h5>

                        <ul>
                            <li>新卡刷卡禮</li>
                            <li>美饌饗宴優惠</li>
                            <li>免費機場接送禮遇</li>
                            <li>頂級度假飯店住宿禮遇</li>
                            <li>北中南國內頂級高球禮遇</li>
                            <li>尊榮白金秘書服務</li>
                        </ul>

                        <p>
                            世界卡各項禮遇以國泰世華官網信用卡介紹為主
                        </p>




                    </div>
                </div>
            </div>

        </div>




        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-box2" data-aos="fade-up">
                        <p>
                            以上貴賓權益請洽貴賓專屬服務人員了解詳細內容
                        </p>
                    </div>
                </div>
            </div>
        </div>






        <div class="container">
            <div class="row">
                <div class="col-12 secondTitleSet s2">
                    <div class="h2Container" data-aos="fade-up">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/leftFlower.png")" class="flower">
                        <h2>尊榮活動</h2>
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/rightFlower.png")" class="flower">
                    </div>



                </div>


            </div>
        </div>









        <div class="section5">

            <div class="row no-gutters">
                <div class="col-12">
                    <!--                    <h3 class="blue" style="margin-bottom:0px;" data-aos="fade-up">航行禮遇</h3>-->
                    <p data-aos="fade-up">訂製質感活動，成就精采生活</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-lg-10">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/exclusive/section5Illu.jpg")" data-aos="fade-up">
                </div>

                <div class="col-12">
                    <div class="text-box" data-aos="fade-up">
                        <h5>品味藝術講座</h5>
                        <p>為生活增添藝術色彩，帶您進入藝術殿堂陶冶性情感受藝術的薰陶</p>
                        <h5>時尚潮流交誼</h5>
                        <p>珠寶鑑賞、名錶賞析、香氛訂製、名廚烹飪，時尚潮流，唯您獨享</p>
                        <h5>專業投資論壇</h5>
                        <p>帶您了解經濟脈動與全球金融走勢，一手掌握投資對策</p>
                        <h5>私人客戶專屬貴賓晚宴</h5>
                        <p>年度專屬貴賓晚宴，為您呈現美食及精彩演出，豐富您視覺及味覺的精采饗宴</p>
                    </div>
                </div>

            </div>

        </div>










    </div><!-- .marbleBg -->
    <!--<div class="d-none d-lg-block">-->
    <a href="@Url.Content("~/sg/en/private-bank/contact/")">
        <div class="followMe">
            聯絡<br />我們
        </div>
    </a>
    <!--</div>-->
    <!-- footer -->
    <!-- footer -->
    <!-- footer -->



    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>

                            <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                            <li>©Cathay United Bank All rights reserved.</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                            <li><a href="@Url.Content("~/HongKong/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Hong Kong</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                                <li><a href="@Url.Content("~/HongKong/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Hong Kong</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                                <li>©Cathay United Bank All rights reserved.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/jquery.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")"></script>


    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });




        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }





        // ↓↓↓↓↓↓↓↓ 選單收合 ↓↓↓↓↓↓↓↓
        window.onscroll = function () {
            scrollFunction()

        };


        function scrollFunction() {


            //document.documentElement || document.documentElement.scrollTop || document.body.scrollTop

            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                $('.headerD .container .area1').hide();
                $('.headerD .container .goldLineArea').hide();
            } else {
                $('.headerD .container .area1').show();
                $('.headerD .container .goldLineArea').show();
            }




        }

    </script>




    <script>
        $(".nav3").addClass("current");

    </script>



</body>


</html>
