@model IndexViewModel

@{
    ViewBag.PageTitle = "Tài trợ thương mại";
    ViewBag.PageDescription = "Chúng tôi cung cấp các dịch vụ tài chính và thương mại quốc tế toàn diện và đa dạng để đáp ứng nhu cầu vốn của mỗi công ty trong từng giai đoạn phát triển và cung cấp các sản phẩm phù hợp nhất, đặc biệt dành riêng cho Quý khách hàng.";
}

@section Scripts {
    <script>
        var serviceCard = serviceCard || {};
        serviceCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services-card');
                $('.cosc-item-content', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cosc-item.cosc-item--same-height', scope).each(function () {
                        let h = $('.cosc-item-content', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cosc-item--same-height .cosc-item-content', scope).height(max_h);
                } else {
                    $('.cosc-item--same-height .cosc-item-content', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myServiceCard = serviceCard.prototype;
            myServiceCard.init();
        })
    </script>
    }
    <div class='component-oversea-kv-short'>
        <figure class='coks-figure'>
            <picture>

                <source media='(min-width: 768px)'
                        data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/trade-finance-lg.jpg")' />
                <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/trade-finance.jpg")' alt='@ViewBag.nav_services_trade_finance'>
            </picture>
            <figcaption hidden>@ViewBag.nav_services_trade_finance</figcaption>
        </figure>
        <div class="coks-inner">
            <div class="coks-content">
                <h1 class='coks-title'>@ViewBag.nav_services_trade_finance</h1>
            </div>
        </div>
    </div>


        <div class="component-oversea-services-card component-oversea-services-card--33 component-oversea-services-card--trade-finance">
            <div class="cosc-inner">
                <h2 class="cosc-title">@ViewBag.services_title</h2>
                <ul class="cosc-list">
                    <li class="cosc-item">
                        <figure class="cosc-item-figure">
                            <picture>
                                <img class="cosc-item-img lazy" data-src="@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/trade-finance/import-business.jpg")" alt="Tài trợ nhập khẩu">

                            </picture>
                            <figcaption hidden="">Tài trợ nhập khẩu</figcaption>
                        </figure>
                        <div class="cosc-item-content">
                            <h3 class="cosc-item-title">Tài trợ nhập khẩu</h3>
                            <ul class="cosc-item-list">
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Thư tín dụng</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Tài trợ nhập khẩu</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Nhờ thu nhập khẩu (D/A, D/P)</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Bảo lãnh nhận hàng (S/G)</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Ký hậu vận đơn</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Thư tín dụng giáp lưng</h3>
                                </li>



 


                            </ul>
                        </div>
                    </li>
                    <li class="cosc-item">
                        <figure class="cosc-item-figure">
                            <picture>
                                <img class="cosc-item-img lazy" data-src="@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/trade-finance/export-business.jpg")" alt="Tài trợ xuất khẩu">
                            </picture>
                            <figcaption hidden="">Tài trợ xuất khẩu</figcaption>
                        </figure>
                        <div class="cosc-item-content">
                            <h3 class="cosc-item-title">Tài trợ xuất khẩu</h3>
                            <ul class="cosc-item-list">
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Thông báo Thư tín dụng</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Chuyển nhượng Thư tín dụng</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Chuyển nhượng tiền thu được</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Chiết khấu chứng từ xuất khẩu</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Tài trợ xuất khẩu</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Nhờ thu xuất khẩu (D/A, D/P) </h3>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cosc-item">
                        <figure class="cosc-item-figure">
                            <picture>
                                <img class="cosc-item-img lazy" data-src="@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/trade-finance/guarantee-business.jpg")" alt="Bảo lãnh ">
                            </picture>
                            <figcaption hidden="">Bảo lãnh </figcaption>
                        </figure>
                        <div class="cosc-item-content cosc-item-content--few">
                            <h3 class="cosc-item-title">Bảo lãnh </h3>
                            <ul class="cosc-item-list">
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Thư tín dụng dự phòng</h3>
                                </li>
                                <li class="cosc-item-list-item">
                                    <h3 class="cosc-item-list-item-title">Thư bảo lãnh (L/G)</h3>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="cosc-item">
                        <figure class="cosc-item-figure">
                            <picture>
                                <img class="cosc-item-img lazy" data-src="@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/trade-finance/factoring-business.jpg")" alt="Bao thanh toán">
                            </picture>
                            <figcaption hidden="">Bao thanh toán</figcaption>
                        </figure>
                        <div class="cosc-item-content cosc-item-content--few">
                            <h3 class="cosc-item-title">Bao thanh toán</h3>
                        </div>
                    </li>
                    
                    <li class="cosc-item">
                        <figure class="cosc-item-figure">
                            <picture>
                                <img class="cosc-item-img lazy" data-src="@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services-card/trade-finance/supply-chain-business.jpg")" alt="Tài trợ Chuỗi cung ứng">
                            </picture>
                            <figcaption hidden="">Tài trợ Chuỗi cung ứng</figcaption>
                        </figure>
                        <div class="cosc-item-content cosc-item-content--few">
                            <h3 class="cosc-item-title">Tài trợ Chuỗi cung ứng</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>