@model IndexViewModel


@{
    ViewBag.PageTitle = "Cash Management";
    ViewBag.PageDescription = "We provide convenient and integrated deposit and remittance products, and comprehensive cash flow services, allowing you to effectively manage receipts and payments, and improve the efficiency of capital utilization.";
}

@section Scripts {
    <script>
        var serviceCard = serviceCard || {};
        serviceCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services-card');
                $('.cosc-item-content', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cosc-item', scope).each(function () {
                        let h = $('.cosc-item-content', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cosc-item-content', scope).height(max_h);
                } else {
                    $('.cosc-item-content', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myServiceCard = serviceCard.prototype;
            myServiceCard.init();
        })
    </script>
}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/cash-management-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/cash-management.jpg")' alt='@ViewBag.nav_services_cash_management'>
        </picture>
        <figcaption hidden>@ViewBag.nav_services_cash_management</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_services_cash_management</h1>
        </div>
    </div>
</div>

<div class='component-oversea-services-card'>
        <div class="cosc-inner">
            <h2 class='cosc-title'>@ViewBag.services_title</h2>

            <ul class='cosc-list'>
                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/current-account.jpg")' alt='ເງິນຝາກປະຢັດ'>
                        </picture>
                        <figcaption hidden>ເງິນຝາກປະຢັດ</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>ເງິນຝາກປະຢັດ</h3>
                        <p class='cosc-item-description'>ເຮົາໃຫ້ບໍລິການເງິນຝາກແກ່ນິຕິບຸກຄົນທີ່ໄດ້ຈົດທະບຽນທີ່ ສປປ ລາວ, ບຸກຄົນທ້ອງຖິ່ນ ແລະ ບຸກຄົນຕ່າງປະເທດ ໃນສະກຸນເງິນ ກີບ, ໂດລາສະຫະລັດ ແລະ ບາດ. ເງິນຝາກຂັ້ນຕໍ່າຕາມແຕ່ລະສະກຸນເງິນແມ່ນ  (ກີບ 1,000,000; ໂດລາ 100; ບາດ 5,000).
※ ສຳລັບຄົນຕ່າງປະເທດໃຫ້ຖືບັດອະນຸຍາດເຮັດວຽກ, ບັດວີຊາ ແລະ ໜັງສືເດີນທາງ (ສຳລັບຄົນໄຕ້ຫວັນແມ່ນໃຫ້ຖືບັດປະຈຳໂຕມາພ້ອມ)</p>
                    </div>
                </li>

                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/time-deposit.jpg")' alt='ເງິນຝາກມີກຳນົດ'>
                        </picture>
                        <figcaption hidden>ເງິນຝາກມີກຳນົດ</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>ເງິນຝາກມີກຳນົດ</h3>
                        <p class='cosc-item-description'>ເງິນຝາກຂັ້ນຕ່ຳເມື່ອເປີດບັນຊີແຕ່ລະສະກຸນແມ່ນ(ກີບ 10,000,000; ໂດລາ 1,000; ບາດ 50,000).</p>
                    </div>
                </li>


            </ul>
        </div>
    </div>