@{
   ViewData["PageTitle"] = "推播/提醒服務";
   ViewData["PageDescription"] = "為幫助您掌控財務狀況，國泰世華銀行柬埔寨子行提供您多種推播/提醒以確保您的帳戶安全。 我們的推播/提醒服務不僅僅只是一種便捷控管資金的方法，更能在帳戶出現異常交易時達到提醒效果，幫助您及時與我們取得聯繫並解決問題。";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		推播/提醒服務
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1-sm  fw-bold lh-xs">數位銀行服務</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">個人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">推播/提醒服務</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">網路銀行</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">行動銀行</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">Merchant App</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">推播/提醒服務</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">使用手冊</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">推播/提醒服務</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- 前往頁面 --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">網路銀行</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">行動銀行</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">推播/提醒服務</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">使用手冊</a>
		</div>
	</div>

	
	
	<!--
		推播/提醒服務 - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">推播/提醒服務</h1>
			<p class="text-left">為幫助您掌控財務狀況，國泰世華銀行柬埔寨子行提供您多種推播/提醒以確保您的帳戶安全。 我們的推播/提醒服務不僅僅只是一種便捷控管資金的方法，更能在帳戶出現異常交易時達到提醒效果，幫助您及時與我們取得聯繫並解決問題。</p>
		</header>

		<section class="compact" style="margin-bottom: 2rem;">
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						About SMS Alert Service Fee Charge Information
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<picture>
							<source media="(min-width:769px)" srcset="/assets/img/personal/alert-services/fee-charge-SMS-table.jpg" style="max-width: 100%; width: 100%;">
							<img srcset="/assets/img/personal/alert-services/fee-charge-SMS-table.jpg" style="max-width: 100%; width: 100%;">
						</picture>
					</div>
				</div>
			</section>
		</section>
		<div></div>
		<section class="compact  row justify-content-center">
			<div class="col-12 col-sm-10">
				<!-- Info box -->
				<h3 class="h3 h3-mb  p-3  bg-green text-white text-center fw-bolder">推播/提醒服務項目</h3>
				
				<div class="py-4 px-2 px-sm-4  border border-green">
					<ul class="list-disc">
						<li>帳戶金額異動通知：帳戶出 / 入帳通知</li>
						<li>ATM取款帳戶出帳通知</li>
						<li>簽帳卡消費通知(POS及線上消費) </li>
						<li>信用卡帳戶狀態通知</li>
						<li>本行最新消息通知</li>
					</ul>
				</div>
			</div>
		</section>
	
		<div class="py-section"></div>
	
	
		<section class="compact">
			<!-- Section heading -->
			<h2 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">如何註冊和管理您的推播/提醒</h2>
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-3  text-black fw-bold">iBanking - 最快速、最簡單的註冊方式</h3>
			<p class="mb-3">如果您是 網路銀行 客戶，您可以線上註冊和管理您的推播/提醒。 如果您尚未註冊 網路銀行，立即註冊吧！</p>
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-3  text-black fw-bold">任何一間國泰世華銀行柬埔寨子行分行</h3>
			<p>如果您在國泰世華銀行柬埔寨子行擁有活期存款帳戶或支票存款帳戶，只需前往我們的任何一家分行辦理即可。</p>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->