
@{ 
    ViewData["nav_lang_zh_hant"] = "繁體中文";
    ViewData["nav_lang_en"] = "English";
    ViewData["nav_lang_km"] = "ខ្មែរ";
    
    // Get language from route data or ViewData
    string currentLanguage = ViewData["lang"]?.ToString() ?? "zh-hant";
    if (Context.Request.RouteValues.ContainsKey("language"))
    {
        currentLanguage = Context.Request.RouteValues["language"]?.ToString() ?? "zh-hant";
        ViewData["lang"] = currentLanguage;
    }

    if(ViewData["section"]?.ToString() == "home/")
    {
        ViewData["section"] = "";
    }
    switch (currentLanguage)
    {
        case "zh-hant":
            ViewData["site_name"] = "國泰世華銀行香港分行";
            ViewData["html_lang"] = ViewData["lang"];
            ViewData["lang_url"] = "";
            ViewData["faq_title"] = "常見問題";
            ViewData["download_title"] = "常用表單";

            ViewData["nav_contact"] = "聯繫我們";
            ViewData["nav_careers"] = "人才招募";
            ViewData["nav_login"] = "網銀登入";
            ViewData["nav_gebank"] = "全球企網銀登入";
            ViewData["nav_ebank"] = "網路銀行登入";
            ViewData["nav_pbank"] = "私人銀行網銀登入";
            ViewData["nav_services"] = "服務項目";
            ViewData["nav_interest_rate"] = "利率查詢";
            ViewData["nav_fee"] = "收費標準";
            ViewData["nav_bulletin_board"] = "公告專區";
            ViewData["nav_news"] = "最新消息";
            ViewData["nav_financial_disclosure"] = "財務揭露";
            ViewData["nav_terms_condition"] = "條款與細則";
            
            // Personal finance services
            ViewData["nav_personal_finance"] = "個人金融";
            ViewData["nav_deposit_account"] = "存款帳戶";
            ViewData["nav_remittance_service"] = "匯款服務";
            ViewData["nav_loan_solutions"] = "借款方案";
            ViewData["nav_credit_debit_cards"] = "信用卡與簽帳卡";
            ViewData["nav_atm_service"] = "ATM服務";
            ViewData["nav_digital_banking"] = "數位銀行服務";
            ViewData["nav_exchange_rate"] = "匯率";
            ViewData["nav_merchant_app"] = "Merchant App";
            
            // Corporate finance services
            ViewData["nav_corporate_finance"] = "法人金融";
            ViewData["nav_credit_limit"] = "信用額度";
            ViewData["nav_online_banking"] = "網路銀行";
            ViewData["nav_merchant_services"] = "收單特店服務";
            ViewData["nav_international_trade"] = "國際貿易";
            ViewData["nav_payroll_service"] = "薪轉服務";
            ViewData["nav_escrow_trust"] = "價金信託";
            ViewData["nav_download"] = ViewData["download_title"];
            ViewData["nav_faq"] = ViewData["faq_title"];
            ViewData["nav_privacy_security"] = "安全與私隱";
            ViewData["nav_important_notice"] = "重要聲明";
            ViewData["nav_browser_setting"] = "瀏覽器建議";
            ViewData["nav_suggestions_feedback"] = "意見反應";
            ViewData["nav_cathay_united_bank"] = "國泰世華銀行";
            ViewData["nav_cathay_holdings"] = "國泰金控集團";
            ViewData["nav_oversea_branch"] = "海外據點";
            
            // Footer specific variables
            ViewData["footer_cathay_holdings"] = "國泰金控集團";
            ViewData["footer_cathay_united_bank"] = "國泰世華銀行";


            //home
            ViewData["home_latest_news"] = "最新消息";

            ViewData["btn_learn_more"] = "了解更多";

            //online banking
            ViewData["online_banking_e_bank"] = "香港分行網路銀行";
            ViewData["online_banking_ge_bank"] = "全球企業網路銀行服務";

            //download
            ViewData["download_e_bank"] = ViewData["online_banking_e_bank"];
            ViewData["download_ge_bank"] = ViewData["online_banking_ge_bank"];
            ViewData["download_csr"] = "CRS自我證明表格";
            ViewData["download_fatca"] = "FATCA IRS Forms";

            //services
            ViewData["services_title"] = "服務內容";


            //common
            ViewData["company_full_name"] = "國泰世華商業銀行股份有限公司";
            ViewData["copyright"] = "國泰世華商業銀行股份有限公司";
            break;

        case "en":
            ViewData["site_name"] = "Cathay United Bank Hong Kong Branch";
            ViewData["html_lang"] = "en";
            ViewData["lang_url"] = "en/";
            ViewData["faq_title"] = "FAQ";
            ViewData["download_title"] = "Forms";

            ViewData["nav_contact"] = "Contact Us";
            ViewData["nav_careers"] = "Careers";
            ViewData["nav_login"] = "Login";
            ViewData["nav_ebank"] = "Hong Kong E-Banking";
            ViewData["nav_gebank"] = "Global MyB2B";
            ViewData["nav_pbank"] = "PB E-Banking";
            ViewData["nav_services"] = "Services";
            ViewData["nav_interest_rate"] = "Interest Rate Enquiry";
            ViewData["nav_fee"] = "Charging Standard";
            ViewData["nav_bulletin_board"] = "Announcements";
            ViewData["nav_news"] = "Latest News";
            ViewData["nav_financial_disclosure"] = "Financial Disclosure";
            ViewData["nav_terms_condition"] = "Terms and Conditions";
            
            // Personal finance services
            ViewData["nav_personal_finance"] = "Personal Banking";
            ViewData["nav_deposit_account"] = "Deposit Account";
            ViewData["nav_remittance_service"] = "Remittance Service";
            ViewData["nav_loan_solutions"] = "Loan Solutions";
            ViewData["nav_credit_debit_cards"] = "Credit & Debit Cards";
            ViewData["nav_atm_service"] = "ATM Service";
            ViewData["nav_digital_banking"] = "Digital Banking Service";
            ViewData["nav_exchange_rate"] = "Exchange Rate";
            ViewData["nav_merchant_app"] = "Merchant App";
            
            // Corporate finance services
            ViewData["nav_corporate_finance"] = "Corporate Finance";
            ViewData["nav_credit_limit"] = "Credit Limit";
            ViewData["nav_online_banking"] = "Online Banking";
            ViewData["nav_merchant_services"] = "Merchant Services";
            ViewData["nav_international_trade"] = "International Trade";
            ViewData["nav_payroll_service"] = "Payroll Service";
            ViewData["nav_escrow_trust"] = "Escrow Trust";
            ViewData["nav_browser_setting"] = "Browser Suggestions";
            ViewData["nav_download"] = ViewData["download_title"];
            ViewData["nav_faq"] = ViewData["faq_title"];
            ViewData["nav_privacy_security"] = "Privacy Policy";
            ViewData["nav_important_notice"] = "Important Notice";
            ViewData["nav_suggestions_feedback"] = "Suggestions and Feedback";
            ViewData["nav_cathay_united_bank"] = "Cathay United Bank";
            ViewData["nav_cathay_holdings"] = "Cathay Holdings";
            ViewData["nav_oversea_branch"] = "Overseas Units";
            
            // Footer specific variables
            ViewData["footer_cathay_holdings"] = "Cathay Holdings";
            ViewData["footer_cathay_united_bank"] = "Cathay United Bank";

            //home
            ViewData["home_latest_news"] = "Latest News";


            //online banking
            ViewData["online_banking_e_bank"] = "Hong Kong E-Banking";
            ViewData["online_banking_ge_bank"] = "Global MyB2B";

            //download
            ViewData["download_e_bank"] = ViewData["online_banking_e_bank"];
            ViewData["download_ge_bank"] = ViewData["online_banking_ge_bank"];
            ViewData["download_csr"] = "CRS自我證明表格";
            ViewData["download_fatca"] = "FATCA IRS Forms";

            //services
            ViewData["services_title"] = "Services";
            //common
            ViewData["btn_learn_more"] = "Learn More";
            ViewData["company_full_name"] = "Cathay United Bank Company, Limited";
            ViewData["copyright"] = "Cathay United Bank All rights reserved.";
            break;

        case "km":
            ViewData["site_name"] = "Cathay United Bank Hong Kong Branch";
            ViewData["html_lang"] = "km";
            ViewData["lang_url"] = "km/";
            ViewData["faq_title"] = "FAQ";
            ViewData["download_title"] = "Forms";

            ViewData["nav_contact"] = "Contact Us";
            ViewData["nav_careers"] = "Careers";
            ViewData["nav_login"] = "Login";
            ViewData["nav_ebank"] = "Hong Kong E-Banking";
            ViewData["nav_gebank"] = "Global MyB2B";
            ViewData["nav_pbank"] = "PB E-Banking";
            ViewData["nav_services"] = "សេវាកម្ម";
            ViewData["nav_interest_rate"] = "Interest Rate Enquiry";
            ViewData["nav_fee"] = "Charging Standard";
            ViewData["nav_bulletin_board"] = "សេចក្តីប្រកាស";
            ViewData["nav_news"] = "ព័ត៌មានចុងក្រោយ";
            ViewData["nav_financial_disclosure"] = "Financial Disclosure";
            ViewData["nav_terms_condition"] = "Terms and Conditions";
            
            // Personal finance services
            ViewData["nav_personal_finance"] = "Personal Banking";
            ViewData["nav_deposit_account"] = "Deposit Account";
            ViewData["nav_remittance_service"] = "Remittance Service";
            ViewData["nav_loan_solutions"] = "Loan Solutions";
            ViewData["nav_credit_debit_cards"] = "Credit & Debit Cards";
            ViewData["nav_atm_service"] = "ATM Service";
            ViewData["nav_digital_banking"] = "Digital Banking Service";
            ViewData["nav_exchange_rate"] = "Exchange Rate";
            ViewData["nav_merchant_app"] = "Merchant App";
            
            // Corporate finance services
            ViewData["nav_corporate_finance"] = "Corporate Finance";
            ViewData["nav_credit_limit"] = "Credit Limit";
            ViewData["nav_online_banking"] = "Online Banking";
            ViewData["nav_merchant_services"] = "Merchant Services";
            ViewData["nav_international_trade"] = "International Trade";
            ViewData["nav_payroll_service"] = "Payroll Service";
            ViewData["nav_escrow_trust"] = "Escrow Trust";
            ViewData["nav_browser_setting"] = "Browser Suggestions";
            ViewData["nav_download"] = ViewData["download_title"];
            ViewData["nav_faq"] = ViewData["faq_title"];
            ViewData["nav_privacy_security"] = "Privacy Policy";
            ViewData["nav_important_notice"] = "Important Notice";
            ViewData["nav_suggestions_feedback"] = "Suggestions and Feedback";
            ViewData["nav_cathay_united_bank"] = "Cathay United Bank";
            ViewData["nav_cathay_holdings"] = "Cathay Holdings";
            ViewData["nav_oversea_branch"] = "Overseas Units";
            
            // Footer specific variables
            ViewData["footer_cathay_holdings"] = "Cathay Holdings";
            ViewData["footer_cathay_united_bank"] = "Cathay United Bank";

            //home
            ViewData["home_latest_news"] = "Latest News";


            //online banking
            ViewData["online_banking_e_bank"] = "Hong Kong E-Banking";
            ViewData["online_banking_ge_bank"] = "Global MyB2B";

            //download
            ViewData["download_e_bank"] = ViewData["online_banking_e_bank"];
            ViewData["download_ge_bank"] = ViewData["online_banking_ge_bank"];
            ViewData["download_csr"] = "CRS自我證明表格";
            ViewData["download_fatca"] = "FATCA IRS Forms";

            //services
            ViewData["services_title"] = "Services";
            //common
            ViewData["btn_learn_more"] = "Learn More";
            ViewData["company_full_name"] = "Cathay United Bank Company, Limited";
            ViewData["copyright"] = "Cathay United Bank All rights reserved.";
            break;
    } }


@if (ViewData["PageTitle"]?.ToString() == "" || ViewData["PageTitle"] == null)
{
    ViewData["PageTitle"] = ViewData["site_name"];
}
else
{
    ViewData["PageTitle"] = ViewData["site_name"] + " - " + ViewData["PageTitle"];
}

@if (ViewData["PageDescription"]?.ToString() == "" || ViewData["PageDescription"] == null)
{
    if (ViewData["lang"]?.ToString() == "zh-hant")
    {
        ViewData["PageDescription"] = "國泰世華商業銀行香港分行於2002年2月1日成立及註冊，提供一站式銀行服務，包括存匯、企業金融、貿易融資、私人銀行、埸外交易衍生工具等服務。此外，香港分行可透過網上銀行平台，提供優質的銀行服務。";
    }
    else if (ViewData["lang"]?.ToString() == "en")
    {
        ViewData["PageDescription"] = "Cathay United Bank Hong Kong Branch was established and registered on February 1, 2002. We provide one-stop banking services including deposits and remittances, corporate finance, trade finance, private banking, over-the-counter derivatives and other services. In addition, the Hong Kong branch can provide quality banking services through the online banking platform.";
    }
    else
    {
        ViewData["PageDescription"] = "國泰世華商業銀行香港分行於2002年2月1日成立及註冊，提供一站式銀行服務，包括存匯、企業金融、貿易融資、私人銀行、埸外交易衍生工具等服務。此外，香港分行可透過網上銀行平台，提供優質的銀行服務。";
    }
}


<!DOCTYPE html>
<html lang="@ViewData["html_lang"]">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["PageTitle"]</title>
    <meta name="description" content="@ViewData["PageDescription"]">

    <!-- Meta for facebook Share Title -->
    <meta property="og:title" content="@ViewData["PageTitle"]">
    <meta property="og:description" content="@ViewData["PageDescription"]">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="@ViewData["site_name"]">
    
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/oversea-components.css" asp-append-version="true" />
</head>
<body class="@ViewData["html_lang"]">
    @await Html.PartialAsync("header.cshtml")
    <html lang="@ViewData["html_lang"]" class="component-header">
    @RenderBody()
    @await Html.PartialAsync("footer.cshtml")
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/language-selector.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/bootstrap.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/app/main.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
