@{
    // Get current language from route data
    string currentLanguage = ViewContext.RouteData.Values["language"]?.ToString() ?? "zh-hant";
}
<footer class="component-footer">
    <div class="cf-inner">
        <div class="cf-list-wrap cf-list-wrap--lang">
            <ul class="cf-list cf-list--border">
                <li class="cf-item cf-item--no-border">
                    <a href="@Url.SwitchLanguage("zh-hant")" class="cf-item-link @(currentLanguage == "zh-hant" ? "cf-item-link--active" : "")">@ViewData["nav_lang_zh_hant"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.SwitchLanguage("en")" class="cf-item-link @(currentLanguage == "en" ? "cf-item-link--active" : "")">@ViewData["nav_lang_en"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.SwitchLanguage("km")" class="cf-item-link @(currentLanguage == "km" ? "cf-item-link--active" : "")">Tiếng Việt</a>
                </li>
            </ul>
        </div>

        <div class="cf-list-wrap cf-list-wrap--cathay-group">
            <ul class="cf-list cf-list--border">
                <ul class="cf-icon-list">
                    <li class="cf-item">
                        <a href="javascript:;" class="cf-item-link">
                            <figure class="cf-item-figure">
                                <picture>
                                    <img
                                        class="cf-item-img lazy"
                                        src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/logo.svg"
                                        width="30"
                                        alt="國泰世華銀行"
                                    />
                                </picture>
                                <figcaption hidden>國泰世華銀行</figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
                <ul class="cf-list">
                    <li class="cf-item cf-item--no-border">
                        <a
                            href="https://www.cathayholdings.com/"
                            target="_blank"
                            rel="noopener"
                            class="cf-item-link"
                            >國泰金控集團</a
                        >
                    </li>
                    <li class="cf-item">
                        <a
                            href="https://www.cathaybk.com.tw/cathaybk"
                            target="_blank"
                            rel="noopener"
                            class="cf-item-link"
                            >國泰世華銀行</a
                        >
                    </li>
                    <li class="cf-item">
                        <a href="@Url.ActionWithLanguage("Index", "Home", currentLanguage, new { section = "overseas" })" class="cf-item-link">@ViewData["nav_oversea_branch"]</a>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="cf-list-wrap cf-list-wrap--link">
            <ul class="cf-icon-list">
                <li class="cf-item">
                    <a
                        href="https://www.facebook.com/cathayunitedbank"
                        target="_blank"
                        rel="noopener"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/facebook.png"
                            alt="Facebook"
                    /></a>
                </li>
                <li class="cf-item">
                    <a
                        href="https://www.youtube.com/user/cathayunitedbank"
                        target="_blank"
                        rel="noopener"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/youtube.png"
                            alt="Youtube"
                    /></a>
                </li>
                <li class="cf-item">
                    <a
                        href="https://tw.linkedin.com/company/cathay-united-bank-co-ltd-"
                        target="_blank"
                        rel="noopener nofollow"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/linkedin.svg"
                            alt="LinkedIn"
                    /></a>
                </li>
            </ul>
            <ul class="cf-list">
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("Privacy", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_privacy_security"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("FinancialDisclosure", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_financial_disclosure"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("ImportantNotice", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_important_notice"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("Fee", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_fee"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("Feedback", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_suggestions_feedback"]</a>
                </li>
                <li class="cf-item">
                    <a href="@Url.ActionWithLanguage("BrowserSetting", "Home", currentLanguage)" class="cf-item-link">@ViewData["nav_browser_setting"]</a>
                </li>
                <li class="cf-item cf-item--copyright cf-item--copyright-flex">
                    <span class="cf-item-link">© @ViewData["copyright"]</span>
                </li>
            </ul>
        </div>
    </div>
</footer>
