@{ 
    var controller_name = this.ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    if (controller_name == "Home")
    {
        controller_name = "";
    }
    if (ViewData["section"]?.ToString() == "home/")
    {
        ViewData["section"] = "";
    }
    
    // Get current language from route data
    string currentLanguage = ViewContext.RouteData.Values["language"]?.ToString() ?? "zh-hant";
}
<!-- Global Header -->
<header class="component-header">
    <nav class="ch-navbar">
        <div class="ch-brand-wrap">
            <a href="@Url.ActionWithLanguage("Index", "Home", currentLanguage)" class="ch-brand" title="@ViewData["site_name"]">
                <figure class="ch-figure">
                    <picture>
                        <source
                            media="(min-width: 992px)"
                            srcset="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo-lg.svg"
                        />
                        <img
                            class="ch-img"
                            normal-src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo.svg"
                            active-src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo-white.svg"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo.svg"
                            alt="@ViewData["site_name"]"
                        />
                    </picture>
                    <figcaption hidden>@ViewData["site_name"]</figcaption>
                </figure>
            </a>
            <ul class="ch-subnav-list">
                <li class="ch-subnav-item">
                    <a href="@Url.ActionWithLanguage("Contact", "Home", currentLanguage)" class="ch-subnav-link">@ViewData["nav_contact"]</a>
                </li>
                <li class="ch-subnav-item">
                    <a href="@Url.ActionWithLanguage("Careers", "Home", currentLanguage)" class="ch-subnav-link">@ViewData["nav_careers"]</a>
                </li>
                <li class="ch-subnav-item">
                    <div class="language-form">
                        <select role="language-select" class="form-select">
                            @if (currentLanguage == "zh-hant")
                            {
                                <option value="@Url.SwitchLanguage("zh-hant")" selected>@ViewData["nav_lang_zh_hant"]</option>
                            }
                            else
                            {
                                <option value="@Url.SwitchLanguage("zh-hant")">@ViewData["nav_lang_zh_hant"]</option>
                            }
                            @if (currentLanguage == "en")
                            {
                                <option value="@Url.SwitchLanguage("en")" selected>@ViewData["nav_lang_en"]</option>
                            }
                            else
                            {
                                <option value="@Url.SwitchLanguage("en")">@ViewData["nav_lang_en"]</option>
                            }
                            @if (currentLanguage == "km")
                            {
                                <option value="@Url.SwitchLanguage("km")" selected>@ViewData["nav_lang_km"]</option>
                            }
                            else
                            {
                                <option value="@Url.SwitchLanguage("km")">@ViewData["nav_lang_km"]</option>
                            }
                        </select>
                    </div>
                </li>
            </ul>
        </div>

        <button class="ch-login-toggler" type="button">
            <span class="ch-login-toggler-inner">@ViewData["nav_login"]</span>
        </button>

        <div class="ch-login-nav ch-login-nav--full">
            <ul class="ch-login-nav-list">
                <li class="ch-login-nav-item">
                    <a
                        href="https://www.globalmyb2b.com/GEBANK/Login.aspx"
                        target="_blank"
                        rel="noopener"
                        class="ch-login-nav-item-link"
                        >@ViewData["nav_gebank"]</a
                    >
                </li>

                <li class="ch-login-nav-item">
                    <a
                        href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK"
                        target="_blank"
                        rel="noopener"
                        class="ch-login-nav-item-link"
                        >@ViewData["nav_pbank"]</a
                    >
                </li>
            </ul>
        </div>

        <button class="ch-toggler" type="button">
            <span class='ch-toggler-inner'></span>
        </button>
        
         <div class="ch-nav">
             <ul class="ch-nav-list">
                 <li class="ch-nav-item">
                     <div class="ch-nav-lv2">
                         <div class="ch-nav-lv2-title" title="@ViewData["nav_services"]">@ViewData["nav_services"]</div>
                         <ul class="ch-nav-lv2-list">
                             <li class="ch-nav-lv2-item">
                                 <h4 class="ch-nav-lv3-title">@ViewData["nav_personal_finance"]</h4>
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/depository-remittance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_deposit_account"]"
                                             >@ViewData["nav_deposit_account"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/corporate-finance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_remittance_service"]"
                                             >@ViewData["nav_remittance_service"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/trade-finance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_loan_solutions"]"
                                             >@ViewData["nav_loan_solutions"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/private-bank/"
                                             target="_blank"
                                             rel="noopener"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_credit_debit_cards"]"
                                             >@ViewData["nav_credit_debit_cards"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/otc-derivatives/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_atm_service"]"
                                             >@ViewData["nav_atm_service"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/internet-banking/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_digital_banking"]"
                                             >@ViewData["nav_digital_banking"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/interest-rate/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_exchange_rate"]"
                                             >@ViewData["nav_exchange_rate"]
                                         </a>
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/fee/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_merchant_app"]"
                                             >@ViewData["nav_merchant_app"]</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                             <li class="ch-nav-lv2-item">
                                 <h4 class="ch-nav-lv3-title">@ViewData["nav_corporate_finance"]</h4>
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/depository-remittance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_deposit_account"]"
                                             >@ViewData["nav_deposit_account"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/corporate-finance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_remittance_service"]"
                                             >@ViewData["nav_remittance_service"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/trade-finance/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_credit_limit"]"
                                             >@ViewData["nav_credit_limit"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/private-bank/"
                                             target="_blank"
                                             rel="noopener"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_online_banking"]"
                                             >@ViewData["nav_online_banking"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/otc-derivatives/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_merchant_services"]"
                                             >@ViewData["nav_merchant_services"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/internet-banking/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_international_trade"]"
                                             >@ViewData["nav_international_trade"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/interest-rate/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_payroll_service"]"
                                             >@ViewData["nav_payroll_service"]
                                         </a>
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/fee/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_escrow_trust"]"
                                             >@ViewData["nav_escrow_trust"]</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </div>
                     <a href='javascript:;' class="ch-nav-link" title="@ViewData["nav_services"]">
                         <span>@ViewData["nav_services"]</span>
                     </a>
                 </li>
                 <li class="ch-nav-item">
                     <div class="ch-nav-lv2">
                         <div class="ch-nav-lv2-title" title="@ViewData["nav_bulletin_board"]">@ViewData["nav_bulletin_board"]</div>
                         <ul class="ch-nav-lv2-list">
                             <li class="ch-nav-lv2-item">
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/news/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_news"]"
                                             >@ViewData["nav_news"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/financial-disclosure/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_financial_disclosure"]"
                                             >@ViewData["nav_financial_disclosure"]</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/terms-condition/"
                                             class="ch-nav-lv3-link"
                                             title="@ViewData["nav_terms_condition"]"
                                             >@ViewData["nav_terms_condition"]</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </div>
                     <a href='javascript:;' class="ch-nav-link" title="@ViewData["nav_bulletin_board"]">
                         <span>@ViewData["nav_bulletin_board"]</span>
                     </a>
                 </li>

                 <li class="ch-nav-item">
                     <a href="/hongkong/download/" class="ch-nav-link" title="@ViewData["nav_download"]">
                         <span>@ViewData["nav_download"]</span>
                     </a>
                 </li>

                 <li class="ch-nav-item">
                     <a href="/hongkong/faq/" class="ch-nav-link" title="@ViewData["nav_faq"]">
                         <span>@ViewData["nav_faq"]</span>
                     </a>
                 </li>

                 <li
                     class="ch-nav-item ch-nav-item--align-right ch-nav-item--block"
                     style="margin-left: auto"
                 >
                     <a
                         href="https://www.globalmyb2b.com/GEBANK/Login.aspx"
                         target="_blank"
                         rel="noopener"
                         class="ch-nav-link"
                         title="@ViewData["nav_gebank"]"
                     >
                         <span>@ViewData["nav_gebank"]</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--block">
                     <a
                         href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK"
                         target="_blank"
                         rel="noopener"
                         class="ch-nav-link"
                         title="@ViewData["nav_pbank"]"
                     >
                         <span>@ViewData["nav_pbank"]</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--hide-lg">
                     <a href="/hongkong/careers/" class="ch-nav-link" title="@ViewData["nav_careers"]">
                         <span>@ViewData["nav_careers"]</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--hide-lg">
                     <a href="/hongkong/contact/" class="ch-nav-link" title="@ViewData["nav_contact"]">
                         <span>@ViewData["nav_contact"]</span>
                     </a>
                 </li>

                 <li class='ch-nav-item ch-nav-item--group ch-nav-item--hide-lg'>
                     <a href='https://www.cathayholdings.com' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>@ViewData["nav_cathay_holdings"]</a>
                     <a href='https://www.cathaybk.com.tw/cathaybk' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>@ViewData["nav_cathay_united_bank"]</a>
                     <a href="/hongkong/" target="_blank" rel="noopener" class="ch-nav-link">@ViewData["nav_oversea_branch"]</a>
                 </li>
                 <li class='ch-nav-item ch-nav-item--social ch-nav-item--hide-lg'>
                     <a href='https://www.facebook.com/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/facebook.svg' alt="Facebook icon"></a>
                     <a href='https://www.youtube.com/user/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/youtube.svg' alt="Youtube icon"></a>
                     <a href='https://tw.linkedin.com/company/cathay-united-bank-co-ltd-' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/linkedin-hover.svg' alt="linkedin icon"></a>
                 </li>
             </ul>
         </div>
    </nav>
</header>
<!-- component-header end -->
