@model IndexViewModel

@{
    ViewBag.PageTitle = @ViewBag.nav_news;
}

@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageDescription = "";
}

@section Scripts {
    <script>
    var country = "@ViewBag.country_url";
    var city = "@ViewBag.city_url";
    var id = "@ViewBag.id";
    var lang = "en";
    var branchId = "605";
    </script>
    <script src="~/OVSWS/Content/js/backendSystem/LatestNews.js"></script>
}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/sg/kv-short/news-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/kv-short/news.jpg")' alt='@ViewBag.nav_news'>
        </picture>
        <figcaption hidden>@ViewBag.nav_news</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_news</h1>
        </div>
    </div>
</div>


<div class="component-newslist">
    <div class="component-newslist-inner">
        <div class="component-newslist-row">
            <div class="component-newslist-col">
                <a class="component-newsitem" href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.lang_url+"/news/e-Advice/")" rel="noopener">
                    <div class="component-newsitem-inner">
                        <div class="component-newsitem-date">2025-04-24 </div>
                        <div class="component-newsitem-cont">
                            <h4 class="component-newsitem-title">e-Advice Service - New Transaction and Function Announcement</h4>
                        </div>
                    </div>
                </a>
                <a class="component-newsitem" href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.lang_url+"/news/password-encryption/")" rel="noopener">
                    <div class="component-newsitem-inner">
                        <div class="component-newsitem-date">2024-01-22 </div>
                        <div class="component-newsitem-cont">
                            <h4 class="component-newsitem-title">Updates to Transaction Correspondences and Password Encryption</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>