
@{
    Layout = null;
}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>國泰世華銀行 私人銀行</title>


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/bootstrap.css" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/core.css" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm")/css/coreD.css" />




    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/animate.css" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/fontawesome/css/all.css" rel="stylesheet">

    <link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">
    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/about.css" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm")/css/aboutD.css" />
</head>

<body>


    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="navHeader">
                        <a href="@Url.Content("~/hongkong/private-bank")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/logo.png" class="logo img-fluid">
                        </a>
                        <div class="myclose" data-dismiss="modal" aria-label="Close">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/myClose.png" class="myClose">
                        </div>
                    </div>

                    <div class="navBody">
                        <a href="@Url.Content("~/hongkong/private-bank/about/")">
                            <div class="oneNav">
                                關於我們
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>

                        <a href="@Url.Content("~/hongkong/private-bank/custom/")">
                            <div class="oneNav">
                                方案訂製
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="@Url.Content("~/hongkong/private-bank/award/")">
                            <div class="oneNav">
                                獎項榮譽
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK" target="_blank" rel="noopener">
                            <div class="oneNav">
                                網銀登入
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="oneNav text-center">
                            <a href="@Url.Content("~/hongkong/en/private-bank/")" class="goldFrame">En</a>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/hongkong/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/logo.png" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm")/img/trigger.png" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>



    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/hongkong/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/logo.png" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">
                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/hongkong/en/private-bank/")" class="goldFrame">EN</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/hongkong/private-bank/about")">關於我們</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/hongkong/private-bank/custom/")">方案訂製</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/hongkong/private-bank/award/")">獎項榮譽</a>
                            </li>
                            <li class="nav6">
                                <a href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK" target="_blank" rel="noopener">網銀登入</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">關於我們</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/hongkong/private-bank/")">首頁</a> / 關於我們</p>
            </div>
        </div>
    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->

    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="paper">



                        <h3 class="blue" data-aos="fade-up">
                            國泰世華私人銀行<br>
                            一站式專業金融服務<br class="d-md-none"> 即刻享有
                        </h3>
                        <div class="titleLine blue" data-aos="fade-up"></div>
                        <div class="clearfix"></div>


                        <div class="row align-items-center oneIssue" style="margin-top:30px;">
                            <div class="col-12 col-lg-6">
                                <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section1i1.png" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left">
                                <h5 class="gold2">豐富集團資源</h5>
                                <p>
                                    國泰金控集團為台灣第一大金融控股公司，結合保險、證券、銀行等多樣化的金融機構，架構出功能完整的經營平台。 國泰世華私人銀行整合集團資源與專業團隊，提供您一站購足的全方位服務。
                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6 order-lg-2">
                                <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section1i2.png" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 order-lg-1 text-left">
                                <h5 class="gold2">跨領域集團服務</h5>
                                <p>
                                    國泰集團擁有地產建設、健康醫療、觀光旅館、以及資訊和物流倉儲等業務，除金融專業資源外，更整合集團資源，提供您多元的附加服務，在照顧您的有形資產外，同時更能提供其無形資產服務及諮詢，讓國泰世華私人銀行團隊成為您信賴的全方位家族顧問。
                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6">
                                <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section1i3.png" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left">
                                <h5 class="gold2">全球資產配置方案</h5>
                                <p>
                                    營業據點分布跨足海內外，提供靈活且彈性的資金運用方案，並擁有專業金融服務團隊，為您擬定財務與投資對策，量身打造客製投資商品，為您打造全球資產配置方案!

                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6  order-lg-2">
                                <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section1i4.png" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left order-lg-1">
                                <h5 class="gold2">領先業界，布局東南亞</h5>
                                <p>
                                    國泰世華銀行領先同業布局東南亞，世越銀行及設於香港、新加坡、馬來西亞、菲律賓、柬埔寨等地的分行、子行或辦事處，共超過30個據點，更能即時為您提供有效的支援及服務 。
                                </p>
                            </div>

                        </div>

                    </div>
                    <!-- .paper -->

                </div>
            </div>
        </div>
    </div>





    <!-- section2 -->
    <!-- section2 -->
    <!-- section2 -->

    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center oneIssue" style="margin-top:30px;">
                        <div class="col-12 col-lg-6">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section2i1.jpg" class="img-fluid">
                        </div>
                        <div class="col-12 col-lg-6 text-left">
                            <div class="paper">
                                <p>
                                    我們擁有多領域專才，熟知全球投資商品及整合金融規劃能力，為您訂製財務與投資對策，量身打造屬於您的投資商品組合。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- section4 -->
    <!-- section4 -->
    <!-- section4 -->

    <div class="d-lg-none">
        <div class="section4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section4i1.png" class="img-fluid illu">
                        <h3 class="gold2" data-aos="fade-up">
                            成為國泰世華銀行<br>私人銀行客戶<br>盡享尊貴 不同凡響
                        </h3>
                        <div class="titleLine" data-aos="fade-up"></div>
                        <div class="clearfix"></div>
                        <p>
                            與國泰世華私人銀行往來資產達等值港幣八百萬或以上，經專人了解並且符合門檻，即可成為國泰世華私人銀行尊貴客戶

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-none d-lg-block">
        <div class="section4D">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <img src="@Url.Content("~/OVSWS/Content/pwm")/img/about/section4i1D.png" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <div class="paper">

                            <h3 class="gold2" data-aos="fade-up">
                                成為<br>國泰世華私人銀行客戶<br>盡享尊貴 不同凡響
                            </h3>
                            <div class="titleLine" data-aos="fade-up"></div>
                            <div class="clearfix"></div>
                            <p>
                                與國泰世華私人銀行往來資產達等值港幣八百萬
                                <br> 或以上，經專人了解並且符合門檻，即可成為
                                <br> 國泰世華私人銀行尊貴客戶


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- footer -->
    <!-- footer -->
    @*<div class="d-lg-none">
            <div class="footer">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="/hongkong/" target="_blank" rel="noopener">
                                        國泰世華銀行香港分行
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="d-none d-lg-block">
            <div class="footerD">
                <div class="area1">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-12">
                                <a href="###">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/logoOnlyTree.png" class="logo">
                                </a>
                                <ul>
                                    <li>
                                        <a href="/hongkong/" target="_blank" rel="noopener">
                                            國泰世華銀行香港分行
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>*@


    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>手機請撥：02-2383-1000</li>
                            <li>服務專線：0800-818-001</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隱私權保護政策</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顧客資料保密措施</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行銷</a></li>
                            <li>©國泰世華商業銀行股份有限公司</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">國泰世華私人銀行 I 台灣</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" target="_blank" rel="noopener">國泰世華私人銀行 I 新加坡 </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">國泰世華私人銀行 I 台灣</a></li>
                                <li><a href="@Url.Content("~/sg/private-bank/")" target="_blank" rel="noopener">國泰世華私人銀行 I 新加坡</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/news/announcement/info/browsersetting/?l=f" target="_blank" rel="noopener">瀏覽器建議</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隱私權保護政策</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顧客資料保密措施</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行銷</a></li>
                                <li>©國泰世華商業銀行股份有限公司</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm")/js/jquery.js"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm")/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")" integrity="sha384-wziAfh6b/qT+3LrqebF9WeK4+J5sehS6FA10J1t3a866kJ/fvU5UwofWnQyzLtwu" crossorigin="anonymous"></script>



    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });





        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }

        // ↓↓↓↓↓↓↓↓ nav展開的時候不用背後的陰影 ↓↓↓↓↓↓↓↓

        $('.nav').on('show.bs.modal', function (e) {
            $('body').addClass("modalNoShadow");
            $('.nav').slideDown(1000);
        }).on('hide.bs.modal', function (e) {
            $('body').removeClass("modalNoShadow");
        })

    </script>



    <script>
        $(".nav1").addClass("current");

    </script>





</body>


</html>
