@model IndexViewModel

@{
    ViewBag.PageTitle = "";
    ViewBag.PageDescription = "";
}

@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/jquery.scrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/slick.min.js")"></script>


    <script>
        var homeCard = homeCard || {};
        homeCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services');
                $('.cos-item-description', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cos-item', scope).each(function () {
                        let h = $('.cos-item-description', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cos-item-description', scope).height(max_h);
                } else {
                    $('.cos-item-description', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myHomeCard = homeCard.prototype;
           myHomeCard.init();


            //
            $(window).resize(function () {

                let window_w = $(window).width();
                let offset_x;
                let content_w;
                if (window_w > 991) {
                    offset_x = $('.cok-inner').offset().left;
                    content_w = $('.cok-content').width();
                    max_w = window_w - content_w - offset_x;
                } else {
                    offset_x = 0;
                    content_w = 0;
                    max_w = window_w;
                }
                $('.cok-figure-wrap').css('width', max_w);
                $('.cok-figure-wrap').css('flex-basis', max_w);
                $('.cok-figure-wrap').css('max-width', max_w);
                $('.cok-figure-wrap').css('left', content_w + offset_x);

            }).trigger('resize');

            $(".cok-figure-slider").slick({
                infinite: false,
                slidesToShow: 1,
                dots: false
            });

            ////////////////////////////

            //$('.con-list', $(this)).scrollbar();
        })
    </script>

    <script>
        //fraud modal
        $(function () {
            let myFraudModal = fraudModal.prototype;
            myFraudModal.init($('.component-oversea-modal--fraud'));
            myFraudModal.show();
        })
    </script>
}

<div class='component-oversea-kv'>
    <div class="cok-figure-wrap">
        <div class="cok-figure-slider">
            <div class="cok-figure-item">
                <figure class='cok-figure'>
                    <picture>
                        <source media='(min-width: 992px)'
                                srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv/bg-lg.jpg")' />
                        <img class='cok-img' src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv/bg.jpg")' alt='@ViewBag.site_name'>
                    </picture>
                    <figcaption hidden>@ViewBag.site_name</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="cok-inner">
        <div class="cok-content">
            
                <h1 class='cok-title'>
                    <span class='cok-title--company'>Cathay United Bank</span>
                    <span class='cok-title--slogan'>A partner worthy of your trust</span>
                </h1>
        </div>
    </div>
</div>
<div class='component-oversea-services component-oversea-services--33  component-oversea-services--home'>
    <div class="cos-inner">

       <h2 class='cos-title'>Our Services</h2>
            <p class='cos-description'>
               Cathay United Bank Chu Lai Branch is established on November 1, 2005. Cathay United Bank holds 3 business premises in Vietnam, including the Ho Chi Minh City Representative Office, Hanoi Representative Office and Chu Lai Branch.
            </p>
            <p class='cos-description'>
                Cultivating across the north, central and south Vietnamese market for more than 15 years, Cathay United Bank offers premium banking services to help Viet corporates, Taiwanese businesses and global investment to develop in Vietnam. 
            </p>


        <ul class='cos-list'>
            <li class='cos-item'>
                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"services/cash-management/")" class='cos-item-link'>
                    <figure class='cos-item-figure'>
                        <picture>
                            <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services/home/cash-management.jpg")' alt='@ViewBag.nav_services_cash_management'>
                        </picture>
                        <figcaption hidden>@ViewBag.nav_services_cash_management</figcaption>
                    </figure>
                    <div class='cos-item-content'>
                        <h3 class='cos-item-title'>@ViewBag.nav_services_cash_management</h3>
                         <p class='cos-item-description'>We provide you convenient and comprehensive cash management products and create all-round cash flow services for you to effectively manage your accounts payable and accounts receivable to enhance the fund utilization efficiency.</p>
                        <div class='cos-item-btn'>@ViewBag.btn_learn_more</div>
                    </div>
                </a>
            </li>

            <li class='cos-item'>
                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"services/corporate-financing/")" class='cos-item-link'>
                    <figure class='cos-item-figure'>
                        <picture>
                            <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services/home/corporate-financing.jpg")' alt='@ViewBag.nav_services_corporate_finance'>
                        </picture>
                        <figcaption hidden>@ViewBag.nav_services_corporate_finance</figcaption>
                    </figure>
                    <div class='cos-item-content'>
                        <h3 class='cos-item-title'>@ViewBag.nav_services_corporate_finance</h3>
                        <p class='cos-item-description'>We provide the complete and diversified corporate finance services, customize the comprehensive financial services for you.</p>
                        <div class='cos-item-btn'>@ViewBag.btn_learn_more</div>
                    </div>
                </a>
            </li>


            <li class='cos-item'>
                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"services/trade-finance/")" class='cos-item-link'>
                    <figure class='cos-item-figure'>
                        <picture>
                            <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services/home/trade-finance.jpg")' alt='@ViewBag.nav_services_trade_finance'>
                        </picture>
                        <figcaption hidden>@ViewBag.nav_services_trade_finance</figcaption>
                    </figure>
                    <div class='cos-item-content'>
                        <h3 class='cos-item-title'>@ViewBag.nav_services_trade_finance</h3>
                        <p class='cos-item-description'>We provide comprehensive and diversified international trade and finance services to meet each company's fund needs in all development stages and offer the most suitable products that are especially tailor made for you.</p>
                        <div class='cos-item-btn'>@ViewBag.btn_learn_more</div>
                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>
