@model IndexViewModel
@using System.Web.Configuration;
@{
    if (ViewBag.lang == "en")
    {
        ViewBag.PageTitle = "Cathay Financial Holdings";
        ViewBag.PageDescription = "";
    }
    else if (ViewBag.lang == "vi-vn")
    {
        ViewBag.PageTitle = "Tập đoàn Tài chính Cathay";
        ViewBag.PageDescription = "";
    }
    else
    {
        ViewBag.PageTitle = "國泰金控";
        ViewBag.PageDescription = "";
    }
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/jquery.scrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/slick.min.js")"></script>

    <script>
        $(function () {
            $(".cok-figure-slider").slick({
                infinite: false,
                slidesToShow: 1,
                dots: false
            });

            function updateImageContainer() {
                let window_w = $(window).width();
                let offset_x;
                let content_w;
                let max_w;

                if (window_w > 991) {
                    offset_x = $('.cok-inner').offset().left;
                    content_w = $('.cok-content').width();
                    max_w = window_w - content_w - offset_x;

                    $('.cok-figure-wrap').css({
                        'width': max_w,
                        'flex-basis': max_w,
                        'max-width': max_w,
                        'left': content_w + offset_x,
                        'position': 'absolute'
                    });
                } else {
                    $('.cok-figure-wrap').css({
                        'width': '100%',
                        'flex-basis': 'auto',
                        'max-width': '100%',
                        'left': 'auto',
                        'position': 'relative'
                    });
                }
            }

            $(window).on('resize', updateImageContainer);
            updateImageContainer();
        });</script>
}

<div class='component-oversea-kv'>
    <div class="cok-figure-wrap">
        <div class="cok-figure-slider">
            <div class="cok-figure-item">
                <figure class='cok-figure'>
                    <picture>
                        <source media='(max-width: 767px)'
                                srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/about-us/CathayFinancialHoldings828x400.png")' />
                        <source media='(min-width: 768px) and (max-width: 1279px)'
                                srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/about-us/CathayFinancialHoldings1536x400.png")' />
                        <img class='cok-img'
                             src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/about-us/CathayFinancialHoldings2000x800.png")'
                             alt='@ViewBag.nav_about_us_cathay_financial_holdings'>
                    </picture>
                    <figcaption hidden>@ViewBag.nav_about_us_cathay_financial_holdings</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="cok-inner">
        <div class="cok-content ">
            <span class='cok-title--slogan'>@ViewBag.nav_about_us_cathay_financial_holdings</span>
        </div>
    </div>
</div>

<div class='component-oversea-services component-oversea-services--33  component-oversea-services--home'>
    <div class="cos-inner">
        <h2 class='cos-title'>
            Giới thiệu
        </h2>
        <p class='cos-description' style="max-width:1200px">
            <strong>Tập đoàn Tài chính Cathay (Cathay FHC)</strong> là một trong những tập đoàn tài chính hàng đầu tại Đài Loan với tổng tài sản lên đến 12,8 nghìn tỷ Tân Đài tệ (tương đương 418,4 tỷ Đô la Mỹ). Các công ty con của Cathay FHC bao gồm Cathay Life Insurance, Cathay United Bank, Cathay Century Insurance, Cathay Securities, Cathay Securities Investment Trust (SITE) và Cathay Venture, đang phục vụ hơn 15,1 triệu khách hàng thông qua 966 địa điểm kinh doanh trên khắp châu Á.
        </p>
        <p class='cos-description' style="max-width:1200px">
            <strong>Cathay FHC cam kết tuân thủ các giá trị cốt lõi: “Liêm chính, Trách nhiệm và Đổi mới”.</strong> Chúng tôi luôn linh hoạt điều chỉnh chiến lược kinh doanh của tập đoàn để phù hợp với điều kiện của thị trường, tận dụng năng lực nguồn vốn để chinh phục mục tiêu tài chính bền vững, thúc đẩy chuyển đổi số và phát huy sức mạnh tập thể cùng với tất cả công ty con nhằm cung cấp những dịch vụ và trải nghiệm tài chính toàn diện, tiện lợi và cá nhân hóa. Ngoài ra, chúng tôi cũng luôn hướng đến việc mở rộng thị trường nhằm tiến tới hiện thực hóa tầm nhìn trở thành “Tổ chức tài chính hàng đầu tại khu vực châu Á - Thái Bình Dương”.
        </p>
        <p class='cos-description' style="max-width:1200px">
            <strong>Cathay Financial Holdings (Cathay FHC) and its subsidiaries including Cathay Life Insurance, Cathay United Bank, Cathay Century Insurance, Cathay Securities, and Cathay Securities Investment Trust </strong>
            provide comprehensive and diversified financial services and solutions in Taiwan and around the world. We are independent from and not affiliated with Cathay Pacific Airways Limited and its subsidiaries.
        </p>
    </div>
    <div class="about-us-back-button-container">
        <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url)" class="about-us-back-button">@ViewBag.about_us_back_button</a>
    </div>
</div>