@{
    ViewData["PageTitle"] = "Cathay United Bank (Cambodia) Plc. (CUBC)";
    ViewData["PageDescription"] = "A financial partner you can trust";
}

<!-- Page START -->
<main class="mastbody">

    <!--
        Home
    -->
    <aside class="topkv  kvslider swiper-container">

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <picture>
                                    <source media="(min-width:769px)" srcset="/assets/img/topkv/0620/0620_announce_pc.jpg" />
                                    <img srcset="/assets/img/topkv/0620/0620_announce_mb.jpg">
                                </picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <picture>
                                    <source media="(min-width:769px)" srcset="/assets/img/topkv/0620/EN/0620_EN_pc.jpg" />
                                    <img srcset="/assets/img/topkv/0620/EN/0620_EN_mb.jpg">
                                </picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <a href="@ViewData["siteLangUrl"]business/merchant-services/" class="kv-bg-img-link">
                                <figure class="kv-bg-img">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/PaymentLink_pc.jpg" />
                                        <img srcset="/assets/img/topkv/PaymentLink_mb.jpg" alt="PaymentLink">
                                    </picture>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] 2percent Rebate in ASEAN Coutries.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Get2percentASEANCountries_pc.jpg" />
                                        <img srcset="/assets/img/topkv/Get2percentASEANCountries_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] Redemption Option with Brown.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Brown8CashPoint_pc.jpg" />
                                        <img srcset="/assets/img/topkv/Brown8CashPoint_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/KHQR-payment.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/KHQR-payment_pc.jpg" />
                                        <img srcset="/assets/img/topkv/KHQR-payment_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <picture>
                                    <source media="(min-width:769px)" srcset="/assets/img/topkv/ScamReport_pc.jpg" />
                                    <img srcset="/assets/img/topkv/ScamReport_mb.jpg">
                                </picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <<div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditons] Online Shopping on Lazada & Taobao, Get up to USD45.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Lazada_pc.jpg" />
                                        <img srcset="/assets/img/topkv/Lazada_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/CellCard_EN.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/cellcard_pc.jpg" />
                                        <img srcset="/assets/img/topkv/cellcard_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] Apply for a CUBC Credit Card Withoout Income Doocuments.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Without-Income-Document-KH_pc.jpg" />
                                        <img srcset="/assets/img/topkv/Without-Income-Document-KH_mb.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/CUBC and Total Energies Promotion Terms and ConditionsEN.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/CUBCandTotalEnergiesPromotionTermsandConditionsPC.jpg" />
                                        <img srcset="/assets/img/topkv/CUBCandTotalEnergiesPromotionTermsandConditionsMB.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/personal/apply-online/" target="_blank" rel="noopener noreferrer">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/FreeAnnualFeePCSize.jpg" />
                                        <img srcset="/assets/img/topkv/FreeAnnualFeeMobileSize.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                 <a href="/file/card-promotions/Earn Up To 10 CashPoint Welcome Gift.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/WelcomGift20241025_pc.png" />
                                        <img srcset="/assets/img/topkv/WelcomGift20241025_mb.png">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] Taiwan Premium Health Check-Up and Accommodation.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Taiwan-Health-Hotel-PC-Size.jpg" />
                                        <img srcset="/assets/img/topkv/Taiwan-Health-Hotel-Mobile-Size.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] Get 3 percent Rebate in Taiwan with CUBC Visa Infinite Credit Card.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Get3PercentInTaiwanPCSize.jpg" />
                                        <img srcset="/assets/img/topkv/Get3PercentInTaiwanMobileSize.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <a href="/file/card-promotions/[Terms and Conditions] Redemption Program 2025.pdf" target="_blank">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/Plaza-Premium-Lounge-PC-Size.jpg" />
                                        <img srcset="/assets/img/topkv/Plaza-Premium-Lounge-Mobile-Size.jpg">
                                    </picture>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/personal/rewards-program/" target="_blank" rel="noopener noreferrer">
                    <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                        <div class="kv-bg">
                            <div class="kv-bg-inner">
                                <figure class="kv-bg-img">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/home-banner-6-lg.jpg" />
                                        <img srcset="/assets/img/topkv/home-banner-6.jpg">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="/personal/mobile-banking/" target="_blank" rel="noopener noreferrer">
                    <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                        <div class="kv-bg">
                            <div class="kv-bg-inner">
                                <figure class="kv-bg-img">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="/assets/img/topkv/home-mobile-0920-pc.jpg" />
                                        <img srcset="/assets/img/topkv/home-mobile-0920-mb.jpg">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <picture>
                                    <source media="(min-width:769px)" srcset="/assets/img/topkv/home-deposit-lg.jpg" />
                                    <img srcset="/assets/img/topkv/home-deposit.jpg">
                                </picture>
                            </figure>
                        </div>
                    </div>
                    <div class="kv-cont">
                        <div class="kv-cont-inner">
                            <p class="display-1 fw-bold lh-xs mt-2">Deposit</p>
                            <p class="display-4 h2-mb">Cathay<br />Enrich Your life </p>
                            <a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/fixed-deposit/" tabindex="-1">Learn More<i class="ico-ui-right-v big ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="swiper-slide">
                <div class="kv  kv--size-lg kv--txt-left  kv--txt-center-mb">
                    <div class="kv-bg">
                        <div class="kv-bg-inner">
                            <figure class="kv-bg-img">
                                <picture>
                                    <source media="(min-width:769px)" srcset="/assets/img/topkv/home-loan-lg.jpg" />
                                    <img srcset="/assets/img/topkv/home-loan.jpg">
                                </picture>
                            </figure>
                        </div>
                    </div>
                    <div class="kv-cont">
                        <div class="kv-cont-inner">
                            <p class="display-1 fw-bold lh-xs mt-2">Loan</p>
                            <p class="display-4 h2-mb">
                                Cathay Home Loan <br />Speed<br />Tailormade
                            </p>
                            <a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/individual-loan/" tabindex="-1">Learn More<i class="ico-ui-right-v big ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--/.swiper-wrapper-->

        <div class="kvslider-control d-none">
            <div class="kvslider-prev"><i class="ico-ui-left-v"></i></div>
            <div class="kvslider-menu"></div>
            <div class="kvslider-next"><i class="ico-ui-right-v"></i></div>
        </div>
    </aside>

    <!--
        Home - Detail
    -->
    <section class="fluid overflow-hidden">

        <div class="py-page"></div>

        <!-- Page heading -->
        <header class="compact  mb-5  text-center">
            <h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Our Services</h2>
            <h1 class="display-3 h1-mb  text-dark fw-bold">A financial partner you can trust</h1>
        </header>

        <!-- Card grids  (2 in a row;  alternate pic position) -->
        <div class="compact-sm mb-n3">
            <!--Pic on left -->
            <section class="row align-items-center  mb-5">
                <figure class="col-12 col-md-6  pr-lg-3  mb-3 mb-md-0">
                    <!-- 720x378 PNG or JPG -->
                    <img class="w-100 lazy" data-src="/assets/img/content/coverpic-personal.jpg" alt="Personal Banking">
                </figure>
                <div class="col-12 col-md-6  pl-md-4 pr-md-0 px-lg-5">
                    <h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Personal Banking</h3>
                    <p>At Cathay United Bank, we are here to understand your needs and meet those needs. With convenience, value and quality, we feel we will build a strong relationship with you to achieve your financial goals.</p>
                    <a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/">Find Out More<i class="ico-ui-right-v ml-2 big"></i></a>
                </div>
            </section>

            <!-- Pic on right -->
            <section class="row flex-md-row-reverse align-items-center  mb-5">
                <figure class="col-12 col-md-6  pl-lg-3  mb-3 mb-md-0">
                    <img class="w-100 lazy" data-src="/assets/img/content/coverpic-business.jpg" alt="Business Banking">
                </figure>
                <div class="col-12 col-md-6  pr-md-4 pl-md-0 px-lg-5">
                    <h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Business Banking</h3>
                    <p>Our goal is to help your business thrive and prosper. We put ourselves in your shoes and in that way, we can understand your business needs. Our committed team of experienced professionals is here to assist you in working towards the success of your business.</p>
                    <a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]business/">Find Out More<i class="ico-ui-right-v ml-2 big"></i></a>
                </div>
            </section>

            <!-- Pic on left -->
            <section class="row align-items-center  mb-5">
                <figure class="col-12 col-md-6  pr-lg-3  mb-3 mb-md-0">
                    <img class="w-100 lazy" data-src="/assets/img/content/coverpic-online.jpg" alt="Online Banking">
                </figure>
                <div class="col-12 col-md-6  pl-md-4 pr-md-0 px-lg-5">
                    <h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Online Banking</h3>
                    <p>At Cathay United Bank, we are here to understand your needs and meet those needs. With convenience, value and quality, we feel we will build a strong relationship with you to achieve your financial goals.</p>
                    <a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/internet-banking/">Find Out More<i class="ico-ui-right-v ml-2 big"></i></a>
                </div>
            </section>
        </div>

        <div class="py-page"></div>
    </section>


    <!-- Quick Links -->
    <section class="quicks">
        <div class="quicks-bg">
            <picture>
                <source media="(min-width:769px)" srcset="/assets/img/content/bg-darkcity.jpg" />
                <img class="ofi-cover" srcset="/assets/img/content/bg-darkcity-mb.jpg">
            </picture>
        </div>
        <div class="quicks-content fluid">
            <div class="quicks-title">
                <h2 class="h3 h4-mb  mb-2 mb-md-3  lh-xs">Quick Links</h2>
                <p class="display-3 h1-mb  fw-bold">We are here to help you</p>
            </div>
            <ul class="quicks-list">
                <li class="quicks-item">
                    <img class="quicks-item-pic lazy" data-src="/assets/img/content/quicks-pic-appy.png">
                    <a class="quicks-item-txt h2 h3-mb text-white fw-bold lh-sm" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card<i class="ico-ui-right-v big ml-3"></i></a>
                </li>
                <li class="quicks-item">
                    <img class="quicks-item-pic lazy" data-src="/assets/img/content/quicks-pic-promo.png">
                    <a class="quicks-item-txt h2 h3-mb text-white fw-bold lh-sm" href="@ViewData["siteLangUrl"]personal/card-promotions/">Card Promotions<i class="ico-ui-right-v big ml-3"></i></a>
                </li>
                <li class="quicks-item">
                    <img class="quicks-item-pic lazy" data-src="/assets/img/content/quicks-pic-branch.png">
                    <a class="quicks-item-txt h2 h3-mb text-white fw-bold lh-sm" href="@ViewData["siteLangUrl"]contact/#find-us">Find ATM / Branch<i class="ico-ui-right-v big ml-3"></i></a>
                </li>
            </ul>
        </div>
    </section>

</main>
<!-- Page END -->