@model IndexViewModel

@{
    ViewBag.PageTitle = "Browser Suggestions";
    ViewBag.PageDescription = "In order to provide you with the best possible online experience, we recommend upgrading to the latest version of Internet Explorer or installing another browser immediately.";
}


@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/browser-setting-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/browser-setting.jpg")' alt='@ViewBag.nav_browser_setting'>
        </picture>
        <figcaption hidden>@ViewBag.nav_browser_setting</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_browser_setting</h1>
        </div>
    </div>
</div>

<div class='component-oversea-info'>
    <div class="coi-inner">
        <h1 class="coi-title">@ViewBag.nav_browser_setting</h1>
        <div class="coi-content">
            <p class="coi-p">
                Dear valued customer,<br />
                In order to provide you with the best possible online experience, our website will no longer support Internet Explorer 11 or below. <br />※ Note: On June 15, 2022, the Internet Explorer 11 desktop application is no longer be supported on certain versions of Windows 10. Please refer to the  "<a class='coi-link' href='https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-end-of-support?rtc=1' target="_blank" rel='noopener nofollow'>Microsoft Discontinued Support Notice</a>" for further information.
            </p>

            <p class="coi-p">
                We recommend installing another browser immediately.<br />
                <ul class="coi-ul">
                    <li class="coi-li">
                        <a class='coi-link' href="https://www.google.com.tw/intl/en_us/chrome/" target="_blank" rel='noopener nofollow'>
                            Click here to download Google Chrome
                        </a>
                    </li>
                    <li class="coi-li">
                        <a class='coi-link' href="https://www.microsoft.com/en-us/edge" target="_blank" rel='noopener nofollow'> Click here to download Edge </a>
                    </li>
                    <li class="coi-li">
                        <a class='coi-link' href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel='noopener nofollow'>Click here to download Firefox</a>
                    </li>
                </ul>
            </p>


        </div>

    </div>
</div><!--/.component-oversea-info-->