@model IndexViewModel


@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageTitle = "現金管理";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Cash Management";
    ViewBag.PageDescription = "";
}

@section Scripts {
    <script>
        var serviceCard = serviceCard || {};
        serviceCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services-card');
                $('.cosc-item-content', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cosc-item', scope).each(function () {
                        let h = $('.cosc-item-content', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cosc-item-content', scope).height(max_h);
                } else {
                    $('.cosc-item-content', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myServiceCard = serviceCard.prototype;
            myServiceCard.init();
        })
    </script>
}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/sg/kv-short/cash-management-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/kv-short/cash-management.jpg")' alt='@ViewBag.nav_services_cash_management'>
        </picture>
        <figcaption hidden>@ViewBag.nav_services_cash_management</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_services_cash_management</h1>
        </div>
    </div>
</div>

@if (ViewBag.lang == "zh-hant")
{
    <div class='component-oversea-services-card'>
        <div class="cosc-inner">
            <h2 class='cosc-title'>@ViewBag.services_title</h2>

            <ul class='cosc-list'>
                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/current-account.jpg")' alt='活期性存款'>
                        </picture>
                        <figcaption hidden>活期性存款</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>活期性存款</h3>
                        <p class='cosc-item-description'>為一經常性帳戶(current account)，除新加坡幣僅提供非新加坡居民或與本行有授信業務往來之新加坡居民，其金額下限為新加坡幣25萬元之存款服務外，另有美金及其他主要貨幣可供選擇，可搭配功能完善、操作容易的線上操作介面，給您最靈活運用、得心應手的金流服務。</p>
                    </div>
                </li>


                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/time-deposit.jpg")' alt='定期性存款'>
                        </picture>
                        <figcaption hidden>定期性存款</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>定期性存款</h3>
                        <p class='cosc-item-description'>提供多種幣別、有一定期限、金額限制，到期憑存單提取之存款。</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
}
else
{
    <div class='component-oversea-services-card'>
        <div class="cosc-inner">
            <h2 class='cosc-title'>@ViewBag.services_title</h2>

            <ul class='cosc-list'>
                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/current-account.jpg")' alt='Current Account'>
                        </picture>
                        <figcaption hidden>Current Account</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>Current Account</h3>
                        <p class='cosc-item-description'></p>
                    </div>
                </li>

                <li class='cosc-item'>
                    <figure class='cosc-item-figure'>
                        <picture>
                            <img class='cosc-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/sg/services-card/cash-management/time-deposit.jpg")' alt='Time Deposit'>
                        </picture>
                        <figcaption hidden>Time Deposit</figcaption>
                    </figure>
                    <div class='cosc-item-content'>
                        <h3 class='cosc-item-title'>Time Deposit</h3>
                        <p class='cosc-item-description'></p>
                    </div>
                </li>


            </ul>
        </div>
    </div>
}

