

<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>
            Quản lý tiền tệ
        </h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                @*<li class='cod-item'>
            <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/Time-Deposit-Agreement.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                <span class='cod-item-btn-text'>
                    Hợp đồng tiền gửi có kỳ hạn
                </span>
            </a>
        </li>
        <li class='cod-item'>
            <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/Time-Deposit-Withdrawal-Application.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                <span class='cod-item-btn-text'>
                    Phiếu rút tiền gửi kỳ hạn
                </span>
            </a>
        </li>*@
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/SD-004-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Giấy Đề Nghị Mở Tài Khoản – Dành Cho Tổ Chức
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/DR-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Yêu Cầu Đóng Tài Khoản
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TD-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            PHIẾU RÚT TRƯỚC HẠN TIỀN GỬI CÓ KỲ HẠN
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TD-002-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Hợp Đồng Tiền Gửi Có Kỳ Hạn
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/Remit-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Lệnh Chuyển Tiền
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/FX-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Thỏa Thuận Giao Dịch Hối Đoái Giao Ngay
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/CheckSumCalculator_version1.0.rar")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            CheckSum
                        </span>
                    </a>
                </li>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/CITAD_CODE.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Mã CITAD
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/e-Advice_Service _Application _Amendment.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Đơn [đăng ký/điều chỉnh] dịch vụ Thông báo điện tử (Tài khoản doanh nghiệp)
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/e-Advice_Service_Password_Reset.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Đơn yêu cầu cấp lại mật khẩu Dịch vụ Thông báo Điện tử
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/APPLICATION CUM AGREEMENT FOR ACCOUNT OPENING AND USE - FOR INDIVIDUAL.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            GIẤY ĐỀ NGHỊ KIÊM HỢP ĐỒNG MỞ VÀ SỬ DỤNG TÀI KHOẢN - DÀNH CHO CÁ NHÂN
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TERMS AND CONDITIONS RELATED TO THE REMITTANCE FORM.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN LIÊN QUAN ĐẾN LỆNH CHUYỂN TIỀN
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Other Documents-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>Tài liệu khác</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/other-documents/Notification.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Thông Báo về việc Thu thập, Xử lý và Sử dụng Dữ liệu cá nhân</span>

                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/other-documents/PRIVACY_POLICY.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Chính sách về quyền riêng tư</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Khách Hàng Cá Nhân-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>Khách Hàng Cá Nhân</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Credit Line Agreement_final_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Hợp Đồng Hạn Mức Tín Dụng(có hiệu lực từ ngày 01/03/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Onetime Loan Agreement_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Hợp Đồng Cho Vay Từng Lần(có hiệu lực từ ngày 01/03/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/General Terms and Conditions_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Điều Khoản, Điều Kiện Chung (Có hiệu lực từ ngày 26/08/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/TC on the Use of E-Banking Service_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Điều Kiện Sử Dụng Dịch Vụ Ngân Hàng Điện Tử Trên Ứng Dụng Ngân Hàng (Có hiệu lực từ ngày 26/08/2024) </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Notification of The Collection Processing And Use_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Thông Báo Về Việc Thu Thập, Xử Lý Và Sử Dụng Dữ Liệu Cá Nhân/ Thông Tin Của Người Tiêu Dùng(có hiệu lực từ ngày 01/03/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Dieu khoan va Dieu kien xac thuc Sinh trac hoc.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Điều khoản và Điều kiện xác thực sinh trắc học (có hiệu lực từ ngày 15/04/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Final_CUB Vietnam User Guideline_2.2_200525.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Hướng dẫn sử dụng ứng dụng CUB Vietnam (phiên bản 2.2, ngày 20/05/2025)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Customer Handling Enquiries Principles_VNE.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Nguyên tắc xử lý yêu cầu của Khách hàng cá nhân (có hiệu lực từ ngày 01/07/2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Vulnerable customer_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Cơ chế bảo vệ quyền lợi khách hàng dễ bị tổn thương trong hoạt động thu hồi nợ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
