@model IndexViewModel

@{
    ViewBag.PageTitle = "Contact Us";
    ViewBag.PageDescription = "";
}

@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img"+"/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact.jpg")' alt='@ViewBag.nav_contact'>
        </picture>
        <figcaption hidden>@ViewBag.nav_contact</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_contact</h1>
        </div>
    </div>
</div>



    <div class='component-oversea-info'>
        <div class='coi-inner'>
            <h2 class='coi-title'>Service Address</h2>

            <div class='coi-content'>
                <ul class="coi-list">
                    <li class="coi-item">
                        <span class='coi-item-label'>Phone Number:</span>
                        <span class="coi-item-content">(+632) 7751-1161(General Line / Tele Fax)</span>
                    </li>
                    <li class="coi-item">
                        <span class='coi-item-label'>Address:</span>
                        <span class="coi-item-content">31st F, Zuellig Building Makati Avenue corner Paseo de Roxas Makati City 1225 Philippines</span>
                    </li>
                    <li class="coi-item">
                        <span class='coi-item-label'>For inquiries, comments, and suggestions, feel free to contact us through any of our channels.</span>
                        <span class='coi-item-label'>Call our hotline:</span>
                        <span class="coi-item-content">(+632) 7751-1161 ext 1100</span>
                    </li>
                    <li class="coi-item">
                        <span class='coi-item-label'>Email:</span>
                        <span class="coi-item-content">61400@cathaybk.com.tw</span>
                    </li>
                    <li class="coi-item">
                        <span class='coi-item-label'>Visit our branch:</span>
                        <span class="coi-item-content">31st F, Zuellig Building Makati Avenue corner Paseo de Roxas Makati City 1225 Philippines</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
