@{
	ViewData["PageTitle"] = "Merchant App Privacy Policy";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">

	<!--
		Merchant App Privacy Policy
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Online Banking</h2>
			</div>
		</div>
	</div>

	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Merchant App Privacy Policy</li>
			</ol>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">iBanking</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">mBanking</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">Merchant App</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">Alert Services</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">User Guide</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">-- Select page --</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">iBanking</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">mBanking</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">Alert Services</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">User Guide</a>
		</div>
	</div>



	<!--
		Merchant App Privacy Policy
	-->
	<section id="privacy-policy" class="fluid overflow-hidden">

		<div class="py-page"></div>

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">Merchant App Privacy Policy</h1>
		</header>


		<div class="compact">

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Privacy Policy</h3>
			<p class="mb-3">Cathay United Bank (Cambodia) PLC ("us", "we", or "our") built the CUBC Merchant App which is a dedicated commercial mobile application and purposefully designed to empower businesses, optimize operational efficiency, and enhance customer service of merchant. CUBC Merchant App's core functions are to facilitate seamless and efficient transaction management, enabling merchants to accept payments, track sales, and streamline their financial operations directly from their mobile devices, hereinafter referred as to "Service".</p>
			<p class="mb-3">This page informs you of our privacy policies ("Policy") regarding the collection, use, and disclosure of information and/or personal data when you use our Service.</p>
			<p class="mb-3">At the time you choose and agree to use our Service, it also means you agree to terms and conditions set forth in this Policy. All/any information and/or personal data that we collect, during your use of Service, is used for providing and improving the Service at the request time. We will not use or share your information with anyone except as described in this Policy.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Information Collection and Use</h3>
			<p class="mb-3">For a better experience, while using or visiting our Service, we may collect information and/or require you to provide us with information and/or personally identifiable information as specified hereunder. The information that we request will be retained by us and used as described in this Policy.</p>
			<p class="mb-3">We may share and/or process related information with competent authority(ies), Cathay Financial Group including but not limited to our parent company (CUB), and its affiliated companies, and/or outsourced service providers entrusted by us to handle affairs due to the needs of performing Service.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">1. Personal Information</h3>
			<p class="mb-3">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to provide our Service to you. Identifiable information ("Personal Information") may include, but is not limited to:</p>
			<ul class="list-disc mb-3">
				<li>National Identity Card /Passport number/Business registration number</li>
				<li>Date of birth/ Business registration date</li>
				<li>Registration phone number</li>
			</ul>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">2. Other Information</h3>
			<p class="mb-3">We may also collect information whenever you visit or access the Service through a mobile device ("Information"). This may include:</p>
			<p class="mb-3">App usage: Information about how you use the CUBC Merchant App, such as the features you use, the pages you visit, and the actions you take within the CUBC Merchant App.</p>
			<p class="mb-3">Device information: information such as the type of mobile device you use, your mobile device unique identification, the internet protocol address of your mobile device, your mobile operating system, the type of mobile internet browser you use, unique device identifiers and other diagnostic data.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">3. Use of Information</h3>
			<p class="mb-3">Cathay United Bank (Cambodia) PLC uses the Information and Personal Information for various purposes:</p>
			<ul class="list-disc mb-3">
				<li>To provide and maintain the Service</li>
				<li>To notify you about changes to our Service</li>
				<li>To allow you to use interactive features of our Service when you choose to do so</li>
				<li>To provide customer care and support</li>
				<li>To provide analysis or valuable information so that we can improve the Service</li>
				<li>To monitor the usage of the Service</li>
				<li>To detect, prevent and address technical issues</li>
				<li>To comply with our internal requirement or the applicable laws</li>
			</ul>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Tracking & Cookies Date</h3>
			<p class="mb-3">We use cookies and similar tracking technologies to track activity on our Service and store certain information such as:</p>
			<ul class="list-disc mb-3">
				<li>Internet protocol address: This identifies the user's internet connection and can provide general location information.</li>
				<li>Device information: This includes details about the user's device, such as operating system, browser type, screen resolution, and device model.</li>
				<li>Browser information: Browser version and settings.</li>
				<li>Timestamp: The date and time of user actions.</li>
			</ul>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Security of Information</h3>
			<p class="mb-3">We value your trust in providing us your Personal Information, which is why we use commercial grade system to protect. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Information Retention</h3>
			<p class="mb-3">Information and Personal Information collected by us will be stored or retained as long as is necessary for rendering Service, complying with our internal requirement or applicable laws, or resolving disputes.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Right of User</h3>
			<p class="mb-3">You may revise, edit or add information to use our Service. At any time, you may as well request us to erase any information collected by us, except for any/all information we are obligated to keep in accordance with internal requirement, applicable laws, or security purpose.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Disclosure of Information</h3>
			<p class="mb-3">We may disclose Information and/or Personal Information to with competent authority(ies), Cathay Financial Group including but not limited to our parent company (CUB) and affiliated companies, and/or and outsourced service provider entrusted by us to handle affairs due to the needs of performing Service.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">1. Legal Requirement</h3>
			<p class="mb-3">Cathay United Bank (Cambodia) PLC may disclose Information and your Personal Information in good faith in the belief that such action is necessary:</p>
			<ul class="list-disc mb-3">
				<li>To comply with a legal obligation</li>
				<li>To protect and defend the rights or property of Cathay United Bank (Cambodia) PLC</li>
				<li>To prevent or investigate possible wrongdoing in connection with the Service</li>
				<li>To protect the personal safety of users of the Service or the public</li>
				<li>To protect against legal liability</li>
			</ul>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">2. Service Providers</h3>
			<p class="mb-3">We may employ third-party companies and individuals for the following reasons:</p>
			<ul class="list-disc mb-3">
				<li>To facilitate our Service</li>
				<li>To provide the Service on our behalf</li>
				<li>To assist us in analyzing how our Service is used</li>
			</ul>
			<p class="mb-3">We want to inform you that these third parties may access to related Information or your Personal Information. This is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Children's Privacy</h3>
			<p class="mb-3">These Services are not intended for anyone under the age of 18. We do not knowingly collect Information and/or Personal Information from children under 18. In the case we discover that a child under 18 has provided us with Information and/or Personal Information, we immediately delete this from our servers.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Changes to Policy</h3>
			<p class="mb-3">We may add, update, amend or change our Policy from time to time. You are therefore advised to review this page in CUBC Merchant App/website periodically for any changes. We will notify you of any changes by posting the new Policy. These changes are effective immediately after they are posted on CUBC Merchant App/website.</p>

			<div class="py-section"></div>

			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Contact Us</h3>
			<p class="mb-3">If you have any questions about this Policy, please contact us through the 'Contact Us' function, accessible via the support menus on our website: <a class="hover-text text-underline" href="https://www.cathaybk.com.kh">https://www.cathaybk.com.kh</a></p>

		</div>

		<div class="py-page"></div>
	</section>

</main>
<!-- Page END -->