
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cathay United Bank Private Banking Hong Kong</title>


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/bootstrap.css" rel="stylesheet">
    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/bootstrap.css.map" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/core.css" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm")/css/coreD.css" />




    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/animate.css" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/fontawesome/css/all.css" rel="stylesheet">

    <link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">



    <link href="@Url.Content("~/OVSWS/Content/pwm")/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm")/css/customD.css" />
</head>

<body>


    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">


            <div class="modal-dialog" role="document">

                <div class="modal-content">



                    <div class="navHeader">
                        <a href="@Url.Content("~/hongkong/en/private-bank")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/enlogo.png" class="logo img-fluid">
                        </a>

                        <div class="myclose" data-dismiss="modal" aria-label="Close">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/myClose.png" class="myClose">
                        </div>
                    </div>

                    <div class="navBody">
                        <a href="@Url.Content("~/hongkong/en/private-bank/about/")">
                            <div class="oneNav">
                                About Us
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>

                        <a href="@Url.Content("~/hongkong/en/private-bank/custom/")">
                            <div class="oneNav">
                                Customized Planning
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>

                        <a href="@Url.Content("~/sg/en/private-bank/award/")">
                            <div class="oneNav">
                                Awards and Honors
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK" target="_blank" rel="noopener">
                            <div class="oneNav">
                                Internet Banking
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <div class="oneNav text-center">
                            <a href="@Url.Content("~/hongkong/private-bank/")" class="goldFrame">Chinese</a>
                        </div>
                    </div>




                </div>
            </div>

        </div>

    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/hongkong/en/private-bank")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/enlogo.png" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm")/img/trigger.png" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>



    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/hongkong/en/private-bank")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm")/img/enlogo.png" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">
                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/hongkong/private-bank/")" class="goldFrame">Chinese</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/hongkong/en/private-bank/about")">About Us</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/hongkong/en/private-bank/custom")">Customized Planning</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/hongkong/en/private-bank/award/")">Awards and Honors</a>
                            </li>
                            <li class="nav6">
                                <a href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK" target="_blank" rel="noopener">Internet Banking</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">Customized Planning</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/hongkong/en/private-bank")">Homepage</a> / Customized Planning</p>
            </div>

        </div>

    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->



    <div class="marbleBg">




        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="blue title" data-aos="fade-up">
                        Cathay United Bank Private Banking<br>
                        We listen to your needs, We support your dreams<br>
                        And we are with you every step of the way toward your financial milestones.
                    </h3>
                </div>


            </div>
        </div>




        <div class="oneIssue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="bgWhite">
                            <div class="row align-items-center">
                                <div class="col-lg-7 d-none d-lg-block">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section1IlluD.jpg" class="img-fluid">
                                </div>
                                <div class="col-lg-5 col-12">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section1Illu.jpg" class="img-fluid mb15 d-lg-none">
                                    <div class="textArea">
                                        <h4>Personal Wealth Growth Plan</h4>
                                        <p class="textJustify">How to keep growing your wealth when you are already affluent? How to ensure a lifetime of wealth with solid assets allocation? </p>
                                        <p class="textJustify">With our customized wealth management plan, you can stay on top of every penny you have!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="oneIssue imgIsRight">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="bgWhite">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-12">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section2Illu.jpg" class="img-fluid mb15 d-lg-none">
                                    <div class="textArea">
                                        <h4>Family Succession Planning</h4>
                                        <p class="textJustify">You’ve worked hard for your wealth and business and now it’s time to plan the future. How do you safeguard your children’s life and their future ambitions?</p>
                                        <p class="textJustify">Our professional team offers consulting services based on your location, industry and entity to ensure a frictionless family succession.</p>
                                    </div>
                                </div>
                                <div class="col-lg-7 d-none d-lg-block">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section2IlluD.jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="oneIssue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="bgWhite">
                            <div class="row align-items-center">
                                <div class="col-lg-7 d-none d-lg-block">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section3IlluD.jpg" class="img-fluid">
                                </div>
                                <div class="col-lg-5 col-12">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section3Illu.jpg" class="img-fluid mb15 d-lg-none">
                                    <div class="textArea">
                                        <h4>Corporate Sustainable Operation Strategy</h4>
                                        <p class="textJustify">Sustainable operation has posed great challenges to your well-established business. Backed by Cathay Group’s resources and expert teams, we are well prepared to help you facilitate business transformation, exit or sustainability planning.</p>
                                        <p class="textJustify">
                                            Our professional team will customize business wealth management and long-term investment plan for you, maintaining your business achievements and preserving your assets.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="oneIssue imgIsRight">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="bgWhite">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-12">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section4Illu.jpg" class="img-fluid mb15 d-lg-none">
                                    <div class="textArea">
                                        <h4>Family Advisory</h4>
                                        <p class="textJustify">Our group resources and professional team are at the service of the ultra high net worth family. We are dedicated to offer effective management for your family assets and comprehensive wealth allocation plan, making sure your family wealth trickles down through generations.</p>
                                    </div>
                                </div>
                                <div class="col-lg-7 d-none d-lg-block">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section4IlluD.jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="oneIssue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="bgWhite">
                            <div class="row align-items-center">
                                <div class="col-lg-7 d-none d-lg-block">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section5IlluD.jpg" class="img-fluid">
                                </div>
                                <div class="col-lg-5 col-12">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/custom/section5Illu.jpg" class="img-fluid mb15 d-lg-none">
                                    <div class="textArea">
                                        <h4>Versatile Portfolio</h4>
                                        <p class="textJustify">Your existing investment operation can no longer satisfy your needs?</p>
                                        <p class="textJustify">Our expert team is equipped with global investment product knowledge and financial planning ability to help you arrange financial and investment plans, fulfilling your wealth management goals.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- .marbleBg -->
    <!-- footer -->
    <!-- footer -->
    <!-- footer -->
    @*<div class="d-lg-none">
            <div class="footer">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="@Url.Content("~/hongkong/en/")" target="_blank" rel="noopener">
                                        Cathay United Bank, Hong Kong
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="d-none d-lg-block">
            <div class="footerD">
                <div class="area1">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-12">
                                <a href="###">
                                    <img src="@Url.Content("~/OVSWS/Content/pwm")/img/logoOnlyTree.png" class="logo">
                                </a>
                                <ul>
                                    <li>
                                        <a href="@Url.Content("~/hongkong/en/")" target="_blank" rel="noopener">
                                            Cathay United Bank, Hong Kong
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>

                            <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                            <li>©Cathay United Bank All rights reserved.</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Singapore</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                                <li><a href="@Url.Content("~/sg/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Singapore</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                                <li>©Cathay United Bank All rights reserved.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm")/js/jquery.js"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm")/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")" integrity="sha384-wziAfh6b/qT+3LrqebF9WeK4+J5sehS6FA10J1t3a866kJ/fvU5UwofWnQyzLtwu" crossorigin="anonymous"></script>



    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });





        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }

        // ↓↓↓↓↓↓↓↓ nav展開的時候不用背後的陰影 ↓↓↓↓↓↓↓↓

        $('.nav').on('show.bs.modal', function (e) {
            $('body').addClass("modalNoShadow");
            $('.nav').slideDown(1000);
        }).on('hide.bs.modal', function (e) {
            $('body').removeClass("modalNoShadow");
        })

    </script>


    <script>
        $(".nav4").addClass("current");

    </script>



</body>


</html>

