@model IndexViewModel

@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageTitle = "財務揭露";
    ViewBag.PageDescription = "財務揭露、流動性維持比率、財務披露聲明書";
}
else
{
    ViewBag.PageTitle = "Financial Disclosure";
    ViewBag.PageDescription = "";
}
@section Scripts {
    <script>
    var country = "@ViewBag.country_url";
    var city = "@ViewBag.city_url";
    var lang = "zh-hant";
    var branchId = "603";
    </script>
    <script src="@Url.Content("~/OVSWS/Content/js/backendSystem/Financial.js")"></script>
}


<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/financial-disclosure-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/financial-disclosure.jpg")' alt='@ViewBag.nav_financial_disclosure'>
        </picture>
        <figcaption hidden>@ViewBag.nav_financial_disclosure</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_financial_disclosure</h1>
        </div>
    </div>
</div>

<div class='component-oversea-list'>
    <div class="col-inner">

        <div class="col-list-wrap">
            <ul class='col-list'>
                <li class='col-item'>
                    <span class='col-item-date'>2025.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20250331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2024.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20241231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2024.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20240930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2024.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20240630.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2024.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20240331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2023.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20231231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2023.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20230930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2023.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20230630.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2023.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20230331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2022.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20221231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2022.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20220930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2022.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20220630.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2022.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20220331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2021.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20211231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2021.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20210930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2021.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20210630.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2021.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20210331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2020.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20201231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2020.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20200930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
                <li class='col-item'>
                    <span class='col-item-date'>2020.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20200630.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2020.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20200331.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2019.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20191231.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>

                <li class='col-item'>
                    <span class='col-item-date'>2019.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20190930.PDF")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2019.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20190630.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2019.03.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/L20190331.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2018.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20181231.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2018.12.31</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/L20181231.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2018.09.30</span>
                    <span class='col-item-title'>流動性維持比率</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/L20180930.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2018.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20180630.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2017.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20171231.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2017.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20170630.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2016.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20161231.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2016.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20160630_CH.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2015.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20151231_CH.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2015.06.30</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20150630_CH.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>


                <li class='col-item'>
                    <span class='col-item-date'>2014.12.31</span>
                    <span class='col-item-title'>財務披露聲明書</span>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/hongkong/financial-disclosure/20141231_CH.pdf")" target="_blank" rel='noopener' class='col-item-btn'><span class='col-item-btn-text'>PDF</span></a>
                </li>
            </ul>
        </div>

    </div>
</div>