@Model ApplyOnlineModel
@{
	ViewData["PageTitle"] = "Apply Credit Card";
	ViewData["PageDescription"] = "";
}

@section Scripts {
	<script src="/assets/js/purify.js"></script>
	<script src="/assets/js/apply-online-otp.js"></script>
	<script src="/assets/js/apply-online-form-fill.js"></script>
	<script src="/assets/js/apply-online-files-upload.js"></script>
	<script src="/assets/js/apply-online-payment-method.js"></script>
	<script src="/assets/js/apply-online-terms.js"></script>
	<script src="/assets/js/apply-online-review-n-submit.js"></script>
	<link rel="stylesheet" href="/assets/css/apply-online.css">
	<script nonce="NhOc3wZFJ7hZvX9oqCrl/g">
		// save Channel queryparam from URL, and bring it to the form of the next page
		let Channel = '';

		$(function () {
			getChannelParamValue();

			$('#stepTerms').hide();
		});

		function getChannelParamValue() {
			var queryparams = window.location.search;

			if (queryparams && typeof (queryparams) === "string" && queryparams.length > 0) {
				var urlParams = new URLSearchParams(window.location.search);
				Channel = urlParams.get('Channel');
			}
		}

		function ShowOtpPage(promoCode) {
			const url = new URL(window.location.href);
			url.searchParams.set('PromoCode', promoCode);
			window.history.pushState({ path: url.href }, '', url.href);

			$.ajax({
				type: "GET",
				url: '/personal/apply-online-otp',
				success: function (data) {
					$('#stepPromo').hide();
					$('#applyOnlineTitle').text('Apply Credit Card');
					$('#stepOtp').show();
					$('#stepOtp').html(DOMPurify.sanitize(data));

					initOtpPage();
				},
				error: function (xhr, textStatus) {
					alert(xhr.responseText);
				}
			});
		}

		// 事件是否已註冊flag
		const eventFlag = {
			otp: false,
			formFill: false,
			filesUpload: false,
			paymentMethod: false,
			terms: false,
			reviewNSubmit: false
		}

		const ApplyOnlineModel = {
			identity: null,
			formFill: {
				personalInfo: null,
				employmentFinancialInfo: null,
				familyRelativeInfo: null,
				creditCardType: null
			},
			fileUpload: null,
			paymentMethod: null
		}

		let AddressData = {
			province: null,
			district: null,
			commune: null
		}

		let CompanyAddressData = {
			province: null,
			district: null,
			commune: null
		}

		let RelativeAddressData = {
			province: null,
			district: null,
			commune: null
		}

	</script>
}

<!-- Page START -->
<main class="mastbody">
	<!--
		Apply Credit Card
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-cards.jpg" />
						<img srcset="/assets/img/topkv/personal-cards-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">កាតបុគ្គល</h2>
			</div>
		</div>
	</div>

	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">Apply Credit Card</li>
			</ol>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/credit-cards/">
				<span class="tabmenu-btn-txt">ប័ណ្ណឥណទាន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/debit-cards/">
				<span class="tabmenu-btn-txt">ប័ណ្ណឥណពន្ធ</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/card-promotions/">
				<span class="tabmenu-btn-txt">ប័ណ្ណប្រូម៉្រូសិន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/rewards-program/">
				<span class="tabmenu-btn-txt">កម្មវិធីសន្សំពិន្ទុ</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">
				<span class="tabmenu-btn-txt">
					ទទួលយកបទពិសោធន៏ជាមួយ CashPoint
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">
				<span class="tabmenu-btn-txt">ស្នើសុំប័ណ្ណឥណទាន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">Apply Credit Card</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/credit-cards/">កាតឥណទាន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/debit-cards/">កាតឥណពន្ធ</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/card-promotions/">កាតប្រូម៉ូសិន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/rewards-program/">កម្មវិធីប្ដូររង្វាន់</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card</a>
		</div>
	</div>



	<!--
		Apply Credit Card - Detail
	-->
	<section class="fluid overflow-hidden">

		<div class="py-page"></div>

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 id="applyOnlineTitle" class="display-3 h1-mb  mb-3  text-black fw-bold">
				Select Your Desired Promotion Upon Card Approval
			</h1>
		</header>

		<div class="mx-n3">
			<div id="stepPromo">
				<div class="row">
					<!-- a promotion -->
					<div class="col-lg-4 col-md-6 col-12 px-md-3  d-flex flex-column ie11fix  mb-5">
						<a href="https://www.cathaybk.com.kh/file/card-promotions/Earn%20Up%20To%2010%20CashPoint%20Welcome%20Gift.pdf" target="_blank" alt="Learn more...">
							<figure class="flex-shrink-0 mb-3">
								<img class="w-100 lazy entered loaded" data-src="/assets/img/promotion/WelcomGift20241025.png" alt="Earn Up to 10CashPoint Welcome Gift" data-ll-status="loaded" src="/assets/img/promotion/WelcomGift20241025.png">
							</figure>
						</a>
						<div class="d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="mb-3 text-gold fw-bold lh-md">Earn Up to 10CashPoint Welcome Gift</h3>
							<p>
								"Earn up to 10 CashPoint Welcome Gift" is CUBC credit card promotion. When you apply for a New CUBC Contactless Credit Card, cardholder will get up to 10 CashPoint as a welcome gift after making three transactions with CUBC Credit Card and three transactions with KHQR.
							</p>
							<ul class="ml-3" style="list-style:disc;">
								<li>
									This promotion period is staring from 01st October 2024 to 30th September 2025
								</li>
							</ul>
							<div class="text-center mt-4">
								<button type="button" class="btn btn-green" onclick="ShowOtpPage('10CP')">
									<span class="px-2">Select</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="compact">

			<!--
				apply credit card steps
			-->
			<!--
				Step: OTP
			-->
			<div id="stepOtp">
			</div>

			<!--
				Step: Form Fill
			-->

			<div id="stepFormFill">
			</div>

			<!--
				Step: Files Upload
			-->

			<div id="stepFilesUpload">
			</div>

			<!--
				Step: Payment Method
			-->

			<div id="stepPaymentMethod">
			</div>

			<!--
				Step: Terms
			-->

			<div id="stepTerms">
				<section>

					<!--
						Terms - Applicant(s)' Declaration
					-->

					<div class="qaitem" js-foldable-group="internet">
						<!-- Section heading -->
						<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
							<h3 class="qaitem-title-txt  h3 h4-mb text-dark fw-bold">
								Applicant(s)’s Declaration ENG & KH
							</h3>
						</div>
						<!-- Gray container -->
						<div class="qaitem-detail" js-foldable-body>
							<div class="qaitem-detail-content">
								<p>By Signing, I confirm as follows:</p>
								<ol class="list-numb">
									<li>
										I request for a credit account and card(s), or, if need, I will further request for
										renewal or replacement of the existing card(s) unless there is a termination of use
										hereunder. I agree to be bound by the Card Members Agreement of Cathay United Bank
										(Cambodia) Plc. (the “<b>Bank</b>” or “<b>CUBC</b>”), otherwise, I will cut the
										card(s) in half and return both halves to the Bank. I agree to be liable jointly and
										severally for all charges to the Principal and Supplementary card(s) issued on my
										request.
									</li>
									<li>
										I authorize the Bank to obtain and verify my information (“<b>Information</b>”)
										received by the Bank in the course of using Bank’s card, and I consent upon Bank’s
										disclosure of Information in connection to me or my card account, to the degree
										permitted and required by the applicable laws, to any of Bank’s branch or to any
										third part. If necessary, I further authorize the Bank to update any latest
										Information provided.
									</li>
									<li>
										I warrant that documents enclosed and Information herein is complete, truthful and
										accurate. In consideration of my application herein, I acknowledge that the Bank may
										reject the said application, at the Bank’s sole discretion, without necessarily
										providing any reason. I confirm that I am, at the time of this application, not
										undischarged bankrupt(s), and no statutory demand has been served on me, or any
										legal proceeding commenced against me.
									</li>
									<li>
										I will make payment to the Bank of any outstanding amount as indicated in a card
										account statement. Notwithstanding the aforementioned, I will always be subject to
										payment of the interest, fees and charges mentioned in Clause 6.4 of Card Members
										Agreement.
									</li>
									<li>
										In the event payments due under this declaration are not punctually paid as demanded
										by the Bank; as a consequence, I shall pay all costs and attorney’s fees, which is
										necessary for collection and enforcement of this declaration.
									</li>
									<li>
										Right of set-off:
										<ol class="list-disc">
											<li>
												I understand that the Bank may, if necessary, combine or consolidate any or
												all of my accounts in order to set off or settle any owning amount, by
												giving prior notice within the scope of the applicable laws and regulations.
											</li>
											<li>
												I understand where such combination, consolidation and/or set-off is
												requires the conversion of one currency into another; therefore, the Bank
												are entitled to convert, at any time and rate of such exchange in accordance
												with the Bank’s usual practice, and I must bear all exchange risks,
												reasonably incurred losses, commission and other Bank’s charges which may
												thereby arise.
											</li>
										</ol>
									</li>
									<li>
										I understand the Bank obligates to safeguard and keep customer’s information in
										confidentiality. However, the Bank reserves the rights to disclose the Information
										to the competent authorities as required by the applicable laws of Cambodian, and
										the Bank may share Information (such as management information) with third parties
										including but not limited to parent company, or its affiliates, or outsourced
										agencies entrusted by the Bank to handle affairs due to the needs of performing
										financial services.
									</li>
								</ol>
							</div>
							<div class="qaitem-detail-content">
								<p>ការចុះហត្ថលេខារបស់យើងខ្ញុំ សូមបញ្ជាក់ថា៖</p>
								<ol class="list-numb">
									<li>
										យើងខ្ញុំស្នើសុំបើកគណនីឥណទាន និងប័ណ្ណឥណទាន ឬប្រសិនបើចាំបាច់
										យើងខ្ញុំនឹងស្នើសុំធ្វើថ្មីឬជំនួស
										ប័ណ្ណឥណទានចាស់រហូតទាល់តែមានការបញ្ចប់ការប្រើប្រាស់ដែលបានកំណត់នៅទីនេះ។យើងខ្ញុំសូមគោរពតាមលក្ខខណ្ឌដែលបានចែងក្នុងកិច្ចព្រមព្រៀងម្ចាស់ប័ណ្ណ
										របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (“ធនាគារ”)
										បើមិនដូច្នេះទេយើងខ្ញុំនឹងកាត់ប័ណ្ណឥណទានជាពីររួចប្រគល់ឲ្យធនាគារវិញ។
										យើងខ្ញុំសូមទទួលខុសត្រូវរាល់ការចំណាយរបស់ឥណទានមេ
										និងឥណទានរងដែលបានចេញតាមការសើ្នសុំរបស់ខ្ញុំ។
									</li>
									<li>
										យើងខ្ញុំអនុញ្ញាតឲ្យធនាគារ ទទួលនិងផ្ទៀងផ្ទាត់គ្រប់ព័ត៌មាន (“ព័ត៌មាន”) អំពីយើងខ្ញុំ
										នៅក្នុងអំឡុងពេលប្រើប្រាស់កាតរបស់ធនាគារ តាមឆន្ទានុសិទ្ធិរបស់ធនាគារ
										និងយល់ព្រមឱ្យធនាគារបង្ហាញព័ត៌មានអំពីយើងខ្ញុំ ឬគណនីឥណទានរបស់យើងខ្ញុំ ត្រឹមកម្រិត
										ឬតាមការតម្រូវដោយបទប្បញ្ញត្តិជាធរមាន ទៅសាខារបស់ធនាគារ ឬភាគីទីបីណាមួយ។
										ស្របតាមការចាំបាច់
										យើងខ្ញុំអនុញ្ញាតឲ្យធនាគារធ្វើបច្ចុប្បន្នភាពគ្រប់ព័ត៌មានដែលបានផ្តល់ដោយយើងខ្ញុំ។
									</li>
									<li>
										យើងខ្ញុំសូមធានាអះអាងថាឯកសារភ្ជាប់ និងព័ត៌មានទាំងអស់ គឺពេញលេញ ត្រឹមត្រូវ
										និងពិតប្រាកដ។ ដោយផ្អែកទៅលើព័ត៌មានក្នុងពាក្យស្នើសុំប្រើប្រាស់ឥណទាននេះ
										យើងខ្ញុំទទួលស្គាល់ថា ធនាគារអាចបដិសេធទៅលើការស្នើសុំប័ណ្ណឥណទានរបស់យើងខ្ញុំ
										តាមឆន្ទានុសិទ្ធិរបស់ធនាគារ ដោយមិនចាំបាច់បង្ហាញមូលហេតុ។ យើងខ្ញុំសូមអះអាងថា
										នៅពេលស្នើសុំនេះ គ្មានបញ្ហាក្ស័យធន និងមិនមានការទាមទាសំណង
										ឬការប្ដឹងផ្ដល់តាមផ្លូវច្បាប់ណាមួយទាក់ទងនឹងយើងខ្ញុំឡើយ។
									</li>
									<li>
										យើងខ្ញុំនឹងទូទាត់ជូនធនាគារចំពោះចំនួនទឹកប្រាក់ដែលមិនទាន់បានទូទាត់
										ដូចដែលបានបង្ហាញនៅលើរបាយការណ៍គណនីប័ណ្ណឥណទាន។ ទោះជាយ៉ាងណាក៏ដោយ
										យើងខ្ញុំនឹងទទួលខុសត្រូវចំពោះការទូទាត់នូវរាល់ ការប្រាក់ ថ្លៃសេវា
										និងកម្រៃសេវាកម្មនានាដែលត្រូវបង់ដូចដែលបានចែងក្នុងប្រការ ៦.៤
										នៃកិច្ចព្រមព្រៀងម្ចាស់ប័ណ្ណ។
									</li>
									<li>
										ក្នុងករណីដែលទឹកប្រាក់ជំពាក់នានាក្រោមការអះអាងនេះ
										ពុំត្រូវបានទូទាត់ទាន់ពេលតាមការទាមទាររបស់ធនាគារ នោះយើងខ្ញុំនឹងបង់រាល់ថ្លៃចំណាយ
										និងសេវាមេធាវី ដែលចាំបាច់សម្រាប់ការប្រមូលទឹកប្រាក់ និងការអនុវត្ត
										សេចក្ដីប្រកាសរបស់អតិថិជននេះ។
									</li>
									<li>
										សិទ្ធិក្នុងការកាត់កងដោយធនាគារ៖
										<ol>
											<li>
												<b>៦.១</b> យើងខ្ញុំយល់ព្រមថា តាមការចាំបាច់ ធនាគារអាចដាក់បញ្ចូលគ្នា
												ឬសរុបរួមគ្នា នូវគណនីណាមួយឬច្រើនរបស់យើងខ្ញុំដែលមានជាមួយធនាគារ
												ដើម្បីកាត់យកប្រាក់ពីគណនីរបស់យើងខ្ញុំ ឬធ្វើការទូទាត់កាត់កងជាមួយបំណុល
												ដោយមានការជូនដំណឹងជាមុន ក្នុងវិសាលភាពដែលអនុញ្ញាតដោយច្បាប់
												និងបទប្បញ្ញតិ្ដពាក់ព័ន្ធ។
											</li>
											<li>
												<b>៦.២</b> យើងខ្ញុំយល់ស្របនឹងការដាក់បញ្ចូលគ្នា ឬសរុបរួមគ្នា និង/ឬការកាត់កង
												ដែលតម្រូវឱ្យមានការប្តូររូបិយប័ណ្ណមួយទៅក្នុងមួយទៀតថា
												ធនាគារមានសិទ្ធិធ្វើការបម្លែងតាមពេលវេលា
												និងអត្រាប្តូរប្រាក់ស្របតាមការអនុវត្តជាធម្មតា
												ហើយយើងខ្ញុំនឹងទទូលខុសត្រូវចំពោះរាល់ហានិភ័យនៃការផ្លាស់ប្តូរអត្រាប្តូរប្រាក់
												ការខាតបង់ដោយហេតុផលសមរម្យ កម្រៃជើងសារ និងថ្លៃសេវាធនាគារផ្សេងទៀតដែលអាចកើតឡើង។
											</li>
										</ol>
									</li>
									<li>
										ខ្ញុំយល់ស្របថា ធនាគារមានកាតព្វកិច្ចរក្សាសុវត្ថិភាព
										និងរក្សាព័ត៌មានរបស់អតិថជនជាសម្ងាត់។ ទោះជាយ៉ាងណាក៏ដោយ
										ធនាគាររក្សាសិទ្ធិក្នុងការផ្តល់ព័ត៌មានទៅកាន់អាជ្ញាធរពាក់ព័ន្ធ
										ដែលអនុលោមតាមច្បាប់នៃព្រះរាជាណាចក្រកម្ពុជា ហើយធនាគារក៏អាចនឺងចែករំលែកព័ត៌មាន
										(ដូចជាការគ្រប់គ្រងព័ត៌មាន) ជាមួយ តតិយជន រួមមាន ក្រុមហ៊ុនមេ ឬក្រុមហ៊ុនបុត្រសម្ព័ន្ធ
										និងភ្នាក់ងារខាងក្រៅ ដែលធនាគារប្រគល់សិទ្ធិឲ្យ
										ដោយសារការចាំបាច់ក្នុងការផ្ដល់សេវាកម្មហិរញ្ញវត្ថុ។
									</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="py-4">
						<input type="checkbox" id="declarationConfirm" required>
						<label for="declarationConfirm">
							I agree with CUBC’s Declaration.<span class="text-red">*</span>
						</label>
					</div>


					<div class="py-section"></div>

					<!--
						Terms - Letter Of Consent
					-->

					<div class="qaitem" js-foldable-group="internet">
						<!-- Section heading -->
						<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
							<h3 class="qaitem-title-txt  h3 h4-mb text-dark fw-bold">Letter Of Consent</h3>
						</div>
						<!-- Gray container -->
						<div class="qaitem-detail" js-foldable-body>
							<div class="qaitem-detail-content">
								<p>
									ខ្ញុំបាទ/ នាងខ្ញុំ/ យើងខ្ញុំយល់ព្រមផ្តល់សិទ្ធិឱ្យ <b>
										ធនាគារ កាថេយូណៃធីត (ខេមបូឌា)
										ម.ក
									</b> ប្រមូលព័ត៌មានដែលមាននៅក្នុងពាក្យស្នើសុំ
									និងព័ត៌មានដទៃទៀតដែលមានពាក់ព័ន្ធនឹងពាក្យស្នើសុំនេះ
									ព្រមទាំងចែករំលែកព័ត៌មានទាំងនេះទៅឱ្យតតិយជននូវរាល់ឥណទានរួមមានដូចជា ការស្នើសុំឥណទានថ្មី
									ការស្នើសុំបន្ថែមលើឥណទានចាស់ ការស្នើសុំបន្តឥណទានចាស់ និងរាល់ការរៀបចំឥណទានឡើងវិញ
									ចាប់ពីការស្នើសុំរហូតដល់ឥណទានទាំងអស់បានទូទាត់ចប់សព្វគ្រប់ជូនធនាគារវិញ
									ដូចមានចែងក្នុងប្រកាសស្តីពីការចែករំលែកព័ត៌មានឥណទាន។
								</p>
								<p>
									I/ we, hereby authorize <b>CATHAY UNITED BANK (CAMBODIA ) PLC.</b> to collect
									information contained in the present application and other information relevant to this
									application, and disclose it to third parties for full cycle of loan including new,
									renewal, additional, and other restructuring loan established under the Prakas on Credit
									Reporting.
								</p>
								<p class="mt-3">
									ខ្ញុំបាទ/ នាងខ្ញុំ/ យើងខ្ញុំយល់ថា <b>ក្រុមហ៊ុនក្រេឌីតប្យូរ៉ូ (ខេមបូឌា) ខូអិលធីឌី</b>
									ដែលមានអាស័យដ្ឋានបច្ចុប្បន្ននៅ អគារវឌ្ឍនៈ ជាន់ទី៩ អគារលេខ៦៦ មហាវិថីព្រះមុនីវង្ស
									សង្កាត់វត្តភ្នំ ខណ្ឌដូនពេញ រាជធានីភ្នំពេញ ព្រះរាជាណាចក្រកម្ពុជា និង <b>
										ធនាគារ
										កាថេយូណៃធីត (ខេមបូឌា) ម.ក
									</b> ជាអ្នកទទួលខុសត្រូវលើការប្រមូល ការដាក់ឱ្យដំណើរការ
									និងការចែករំលែកទិន្នន័យ។ យើងខ្ញុំមានសិទ្ធិទទួលព័ត៌មាននិងទិន្នន័យរបស់យើងខ្ញុំ
									និងមានសិទ្ធិតវ៉ាដើម្បីស្នើសុំកែតម្រូវ
									ឬលុបចោលទិន្នន័យទាំងនោះប្រសិនបើមានហេតុផលគ្រប់គ្រាន់ស្របតាមនីតិវិធី
									ដូចមានចែងក្នុងប្រកាសស្តីពីការចែករំលែកព័ត៌មានឥណទាន និង/ឬក្រមប្រតិបត្តិ។
								</p>
								<p>
									I/we understand that <b>Credit Bureau (Cambodia) Co., Ltd.</b> with present address at
									Vattanac Capital, Level 9, Building № 99, Preah Monivong Blvd, Sangkat Wat Phnom, Khan
									Duan Penh, Phnom Penh, Cambodia and <b>CATHAY UNITED BANK (CAMBODIA ) PLC.</b> will be
									responsible for the collection, processing and dissemination of the data. I/we are
									entitled to access my/our information and have the right to complain in order to appeal
									for correction or deletion of such data when there is an adequate reason in line with
									the procedures established under the Prakas on Credit Reporting and the code of conduct.
								</p>
							</div>
						</div>
					</div>

					<div class="py-4">
						<input type="checkbox" id="consentConfirm" required>
						<label for="consentConfirm">
							I agree with CUBC to accept all T&C in Letter of Consent.<span class="text-red">*</span>
						</label>
					</div>

					<div class="text-center my-4">
						<button type="button" class="btn btn-outline-green mr-3" id="goPrevToPaymentMethod">
							<span class="px-2"><i class="ico-ui-left-v mr-2 big"></i>Previous Step</span>
						</button>
						<button type="button" class="btn btn-green" id="goNextToReviewNSubmit">
							<span class="px-2">Review<i class="ico-ui-right-v ml-2 big"></i></span>
						</button>
					</div>


				</section>
			</div>

			<!--
				Step: Review & Submit
			-->

			<div id="stepReviewNSubmit">
			</div>

		</div>



		<!--<div class="py-page" id="showmsg"></div>-->
	</section>

</main>
<!-- Page END -->