@{
   ViewData["PageTitle"] = "Experience with CashPoint";
   ViewData["PageDescription"] = "រីករាយជាមួយ ការផ្តល់ជូនដ៏អស្ចារ្បទពិសោធន៍ថ្មីៗ ជាមួយ CUBC$";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Experience with CashPoint
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-cards.jpg" />
						<img srcset="/assets/img/topkv/personal-cards-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">កាតបុគ្គល</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">Experience with CashPoint</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/credit-cards/">
				<span class="tabmenu-btn-txt">ប័ណ្ណឥណទាន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/debit-cards/">
				<span class="tabmenu-btn-txt">ប័ណ្ណឥណពន្ធ</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/card-promotions/">
				<span class="tabmenu-btn-txt">ប័ណ្ណប្រូម៉្រូសិន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/rewards-program/">
				<span class="tabmenu-btn-txt">កម្មវិធីសន្សំពិន្ទុ</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">
				<span class="tabmenu-btn-txt">ទទួលយកបទពិសោធន៏ជាមួយ CashPoint
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">
				<span class="tabmenu-btn-txt">ស្នើសុំប័ណ្ណឥណទាន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">Experience with CashPoint</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/credit-cards/">កាតឥណទាន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/debit-cards/">កាតឥណពន្ធ</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/card-promotions/">កាតប្រូម៉ូសិន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/rewards-program/">កម្មវិធីប្ដូររង្វាន់</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card</a>
		</div>
	</div>

	
	
	<!--
		Experience with CUBC$ - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
            <h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">
                ទទួលយកបទពិសោធន៏ជាមួយ CashPoint
            </h1>
            <h2 class="display-3 h1-mb  mb-3  text-black fw-bold">
                រីករាយជាមួយការផ្តល់ជូនដ៏អស្ចារ្យសម្រាប់​តែ​អ្នកប៉ុណ្ណោះ
            </h2>
            <p>
                ក្រៅពីការប្ដូរពិន្ទុជាទឹកប្រាក់មកវិញ​ លោកអ្នកអាចទទួលបានអត្ថប្រយោជន៍ផ្តាច់មុខច្រើនជាមួយនឹងដៃគូ
                សហការជាទីពេញចិត្តរបស់យើង សម្រាប់ប័ណ្ណរង្វាន់ និង CashPoint របស់អ្នក!
            </p>
		</header>
		
		
		<!-- Features -->
		<section class="compact">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">តើធ្វើដូចម្តេច ដើម្បីប្តូរយក​ទឹកប្រាក់ត្រឡប់មកវិញបាន?​
           </h3>
			
			<!-- Graph icon list #1  (3 in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/email.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">Send Email</h5>
                        <p>ផ្ញើអ៊ីមែលទៅកាន់
                        <a class="text-green-dark text-underline text-break" href="mailto:rewards@cathaybk.com.kh">rewards@cathaybk.com.kh</a> តាមរយៈអ៊ីមែលដែលបានចុះឈ្មោះតាមប័ណ្ណរបស់​អ្នក
                       </p>
                    </div>
				</li>
	
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/clerk.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">Visit Branches</h5>
						<p>Visit<a class="text-green-dark text-underline text-break" href="@ViewData["siteLangUrl"]contact/#find-us" target="_blank">CUBC Branches </a></p>	
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/call.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">Call Service</h5>
						<p>ទូរស័ព្ទមកកាន់ភ្នាក់ងារបម្រើសេវាកម្មអតិថិជន​ តាមរយៈ 023/ 069 88 55 00
                         </p>	
					</div>
				</li>
			</ul> 
		</section>
		
		<div class="py-section"></div>
		
		
		<!-- Card grids  (3 in a row;  use `flex-column` trick to align learn more button with neighborings) -->
		<section class="mx-n3">
            <ul class="compact-md  row justify-content-center justify-content-md-start">


                <!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/cubc-exclusive/Brown 8 CashPoint Website.jpg" alt="Priority Pass Airport Lounge">
					</figure>
					<div class="px-xl-3   d-flex flex-column flex-grow-1  ie11fix">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
							Refresh with Brown Coffee
						</h3>
						<ul class="list-disc">
							<li>
								Redeem 8 CashPoint to USD10 Top-up on your Brown Card
							</li>
							<li>
								Exclusive for CUBC Mastercard primary credit card only
							</li>
							<li>
								Cardholder must possess a Brown Reward Membership
							</li>
							<li>
								1 Apr ~ 31 Dec 2025
							</li>
						</ul>
						<div class="mt-auto pt-3">
							<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/[Terms and Conditions] Redemption Program.pdf">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
						</div>
					</div>
				</li>
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/cubc-exclusive/Cashback 1CashPoint = 1 Website.jpg" alt="Priority Pass Airport Lounge">
					</figure>
					<div class="px-xl-3   d-flex flex-column flex-grow-1  ie11fix">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
							Redeem 1 CashPoint = 1$
						</h3>
						<ul class="list-disc">
							<li>
								Eligible for CUBC Credit Cards
							</li>
							<li>
								Eligible to redeem USD30 Cashback per month
							</li>
							<li>
								Now ~ 31 Dec 2025
							</li>
						</ul>
						<div class="mt-auto pt-3">
							<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/[Terms and Conditions] Redemption Program.pdf">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
						</div>
					</div>
				</li>

				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/cubc-exclusive/100-percent-Taiwan-Health-Hotel-website.jpg" alt="Priority Pass Airport Lounge">
					</figure>
					<div class="px-xl-3   d-flex flex-column flex-grow-1  ie11fix">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
							Madison Hotel and Cathay Healthcare Management
						</h3>
						<ul class="list-disc">
							<li>
								Redeem 100% offset of the expense
							</li>
							<li>
								Exclusive for CUBC Visa Infinite Credit Card only
							</li>
							<li>
								16 Dec 2024 ~ 31 Dec 2025
							</li>
						</ul>
						<div class="mt-auto pt-3">
							<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/[Terms and Conditions] Redemption Program.pdf">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
						</div>
					</div>
				</li>
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/cubc-exclusive/Plaza Premium Lounge - Experience with CashPoint.jpg" alt="Priority Pass Airport Lounge">
					</figure>
					<div class="px-xl-3   d-flex flex-column flex-grow-1  ie11fix">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
							Plaza Premium Lounge
						</h3>
						<ul class="list-disc">
							<li>
								Access Plaza Premium Lounge Worldwide with 12 CashPoint
							</li>
							<li>
								Eligible for CUBC Platinum and World/Infinite Credit Card only
							</li>
							<li>
								Maximum visit: Platinum X5, World/Infinite X10
							</li>
							<li>
								Find the <a class="text-green-dark text-underline text-break" href="/file/Eligible Plaza Premium Lounge.pdf" target="_blank">eligible lounge here</a>
							</li>
							<li>
								1 Jan ~ 31 Dec 2025
							</li>
						</ul>
						<div class="mt-auto pt-3">
							<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/[Terms and Conditions] Redemption Program.pdf">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
						</div>
					</div>
				</li>

				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/cubc-exclusive/KrisFlyer - Experience with CashPoint.jpg" alt="Priority Pass Airport Lounge">
					</figure>
					<div class="px-xl-3   d-flex flex-column flex-grow-1  ie11fix">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
							KrisFlyer miles
						</h3>
						<ul class="list-disc">
							<li>
								Redeem 10 CashPoint to 500 KrisFlyer miles
							</li>
							<li>
								Cardholder must have a valid KrisFlyer
							</li>
							<li>
								1 Jan ~ 31 Dec 2025
							</li>
						</ul>
						<div class="mt-auto pt-3">
							<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/[Terms and Conditions] Redemption Program.pdf">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
						</div>
					</div>
				</li>
            </ul>
		</section>
		
		<div class="py-page"></div>
	</section>

</main>
<!-- Page END -->