@{
   ViewData["PageTitle"] = "1000 CUBC$ Welcome Gift Terms & Conditions";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		1000 CUBC$ Welcome Gift Terms & Conditions
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-cards.jpg" />
						<img srcset="/assets/img/topkv/personal-cards-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">1000 CUBC$ Welcome Gift</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">1000 CUBC$ Welcome Gift Terms & Conditions</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/credit-cards/">
				<span class="tabmenu-btn-txt">កាតឥណទាន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/debit-cards/">
				<span class="tabmenu-btn-txt">កាតឥណពន្ធ</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/card-promotions/">
				<span class="tabmenu-btn-txt">កាតប្រូម៉ូសិន</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/rewards-program/">
				<span class="tabmenu-btn-txt">កម្មវិធីប្ដូររង្វាន់</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">
				<span class="tabmenu-btn-txt">Experience with CashPoint</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">
				<span class="tabmenu-btn-txt">Apply Credit Card</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">-- Select page --</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/credit-cards/">កាតឥណទាន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/debit-cards/">កាតឥណពន្ធ</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/card-promotions/">កាតប្រូម៉ូសិន</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/rewards-program/">កម្មវិធីប្ដូររង្វាន់</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card</a>
		</div>
	</div>

	
	
	<!--
		1000 CUBC$ Welcome Gift Terms & Conditions - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Terms & Conditions</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">1000 CUBC$ Welcome Gift</h2>
		</header>
		
		
		<div class="compact">
            <p class="mb-4"><strong>“1000 CUBC$ Welcome Gift”</strong> Cathay United Bank credit card promotion when you apply New CUBC MasterCard/Visa Credit Card Contactless, you will get 1000 CUBC$ as welcome gift after you have done for the first purchase.</p>
			
			<ul class="list-disc mb-4">
				<li>Promotion is created by Cathay United Bank (Cambodia) Plc.</li>
				<li>Eligible for the first 1,000 approved new primary cards of <strong>MasterCard/Visa Gold and Platinum card</strong> and exclude renew and replacement cards.</li>
				<li>Promotion Period: <strong>From now until 31st Dec 2023</strong> and the approved application no later than <strong>31st Jan 2024</strong>.</li>
				<li>New Cardholder shall make a purchase transaction (POS/eCom) and the transaction is posted in credit card account within 3 months after credit card approval date.</li>
				<li>After made the purchase, 1000CUBC$ will be shown in the next statement </li>
				<li>1000CUBC$ is not allowed to transfer to other credit card account and follows the T&C od Reward Program.</li>
                <li>Not eligible for CUBC credit cardholder who closed the card after March 2022 and apply again during the promotion without prior notice.</li>
			</ul>
			
			<p class="small">* Note: CUBC reserves the rights to amend the terms and conditions or early terminate the promotion without prior notice.</p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->