

<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>
            Cash Management
        </h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>

                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/SD-004-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Application For Opening Account- For Organization
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/DR-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Request For Termination Of Bank Account
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TD-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Time Deposit Withdrawal Application
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TD-002-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Time Deposit Agreement
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/Remit-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Remittance Application
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/FX-001-VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            Fx Spot Agreement
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/CheckSumCalculator_version1.0.rar")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            CheckSum
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/CITAD_CODE.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            CITAD Code
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/e-Advice_Service _Application _Amendment.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            e-Advice Service [Application / Amendment] Form
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/e-Advice_Service_Password_Reset.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            e-Advice Service Password Reset Application Form
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/APPLICATION CUM AGREEMENT FOR ACCOUNT OPENING AND USE - FOR INDIVIDUAL.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            APPLICATION CUM AGREEMENT FOR ACCOUNT OPENING AND USE - FOR INDIVIDUAL
                        </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/cash-management/TERMS AND CONDITIONS RELATED TO THE REMITTANCE FORM.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>
                            TERMS AND CONDITIONS RELATED TO THE REMITTANCE FORM
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Other Documents-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>Other Documents</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/other-documents/Notification.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Notification of The Collection, Processing and Use of Personal Data</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/other-documents/PRIVACY_POLICY.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Privacy Policy</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Consummer Banking-->
<div section='depository-remittance' class='component-oversea-downloads component-small'>
    <div class="cod-inner">
        <h2 class='cod-title'>Consumer Banking</h2>
        <div class="cod-list-wrap">
            <ul class='cod-list'>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Credit Line Agreement_final_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Credit Line Agreement(effective from 1 Mar 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Onetime Loan Agreement_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>One-Time Loan Agreement(effective from 1 Mar 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/General Terms and Conditions_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>General Terms and Conditions (effective from 26 Aug 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/TC on the Use of E-Banking Service_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Terms and Conditions on the Use of E-Banking Service on the Bank’s Application (effective from 26 Aug 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Notification of The Collection Processing And Use_VN.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Notification of The Collection, Processing And Use Of Personal Data/ Consumer Information(effective from 1 Mar 2024) </span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Biometric Authentication Terms and Conditions.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Terms & Conditions for Biometric Authentication (effective from 15 April, 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Final_CUB Vietnam User Guideline_2.2_200525.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>CUB Vietnam Application User Guideline (version 2.2, dated May 20, 2025)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Customer Handling Enquiries Principles_ENG.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Customer Handling Enquiries Principles (effective from 01 July 2024)</span>
                    </a>
                </li>
                <li class='cod-item'>
                    <a href="@Url.Content("~/OVSWS/Content/pdf/vn/hcmc/consumer-banking/Vulnerable customer_ENG.pdf")" target="_blank" rel="noopener" class='cod-item-btn cod-item-btn--large'>
                        <span class='cod-item-btn-text'>Mechanism to protect the rights of vulnerable customer in collection activities</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

