@model IndexViewModel

@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageTitle = "利率查詢";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Interest Rate Inquiry";
    ViewBag.PageDescription = "";
}


@section Scripts {
    <script>
        $(function () {
            $('[role="currency-select"]').on('change', function () {
                let val = $(this).val();
                location.href = val;
            })
            $('[role="currency-select"]').val('@ViewBag.currency');
        })
    </script>
}

<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/interest-rate-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/interest-rate.jpg")' alt='@ViewBag.nav_interest_rate'>
        </picture>
        <figcaption hidden>@ViewBag.nav_interest_rate</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_interest_rate</h1>
        </div>
    </div>
</div>

@if (ViewBag.lang == "zh-hant")
{

    <div class='component-oversea-interest-rate'>

        <div class="coir-inner">
            <h2 class='coir-title'>香港分行即時利率查詢</h2>

            <div class='coir-form-wrap'>
                <div class='coir-form-label'>請選擇幣別</div>
                <div class='component-oversea-form'>
                    <select role="currency-select" class='form-select'>
                        <option value="aud">AUD ( 澳幣)</option>
                        <option value="nzd">NZD ( 紐西蘭幣 )</option>
                        <option value="jpy">JPY ( 日幣 )</option>
                        <option value="usd">USD ( 美元 )</option>
                        <option value="eur">EUR ( 歐元 )</option>
                        <option value="gbp">GBP ( 英鎊 )</option>
                        <option value="chf">CHF ( 瑞士法郎 )</option>
                        <option value="cad">CAD ( 加拿大幣 )</option>
                        <option value="sgd">SGD ( 新加坡幣 )</option>
                        <option value="zar">ZAR ( 南非幣 )</option>
                        <option value="hkd">HKD ( 港幣 )</option>
                        <option value="cny">CNY ( 人民幣 )</option>
                    </select>
                </div>
            </div>

            <div class='component-oversea-interest-table coit--zebra coit--demand-deposit'>
                <div class='coit-form'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td coit-td--100'>活期存款年利率</div>
                    </div>

                    <div class='coit-tr'>
                        <div class='coit-td coit-td--light-green'>利率別</div>
                        <div class='coit-td coit-td--light-green'>利率</div>
                    </div>
                    @foreach (var item in ViewBag.interestRateDictionary["CS"])
                    {
                        <div class='coit-tr'>
                            @if (item["IntType"] == "CK")
                            {
                                <div class='coit-td coit-td--white'>支票存款</div>
                            }
                            else if (item["IntType"] == "CS")
                            {
                                <div class='coit-td coit-td--white'>活期存款</div>
                            }
                            <div class='coit-td coit-td--white'>@item["Intrate"]%</div>
                        </div>
                    }
                </div>
            </div>

            <div class='component-oversea-interest-table coit-table--zebra coit--zebra coit--time-deposit'>
                <div class='coit-form coit-form--show-lg'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td'>定期存款年利率</div>
                    </div>
                    <div class='coit-tr'>
                        @*<div class='coit-td coit-td--light-green'>存款金額級距</div>*@
                        <div class='coit-td coit-td--light-green'>1週期</div>
                        <div class='coit-td coit-td--light-green'>1月期</div>
                        <div class='coit-td coit-td--light-green'>3月期</div>
                        <div class='coit-td coit-td--light-green'>6月期</div>
                        <div class='coit-td coit-td--light-green'>9月期</div>
                        <div class='coit-td coit-td--light-green'>12月期</div>
                    </div>

                    @foreach (var item in ViewBag.interestRateDictionary["TD"])
                    {

                        <div class='coit-tr'>
                            @*<div class='coit-td'>@item["Range"]</div>*@
                            <div class='coit-td'>
                                @if (item["1W"] != null)
                                {<span>@item["1W"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["1M"] != null)
                                {<span>@item["1M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["3M"] != null)
                                {<span>@item["3M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["6M"] != null)
                                {<span>@item["6M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["9M"] != null)
                                {<span>@item["9M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["12M"] != null)
                                {<span>@item["12M"]%</span>}
                            </div>
                        </div>
                    }
                </div>



                <div class='coit-form coit-form--hide-lg'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td'>定期存款年利率</div>
                    </div>

                    @foreach (var item in ViewBag.interestRateDictionary["TD"])
                    {
                        <div class='coit-wrap'>
                            @*
                                <div class='coit-tr'>
                                    <div class='coit-td coit-td--light-green'>存款金額級距</div>
                                    <div class='coit-td'>@item["Range"]</div>
                                </div>*@


                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>1週期</div>
                                <div class='coit-td'>
                                    @if (item["1W"] != null)
                                    {<span>@item["1W"]%</span>}
                                </div>
                            </div>

                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>1月期</div>
                                <div class='coit-td'>
                                    @if (item["1M"] != null)
                                    {<span>@item["1M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>3月期</div>
                                <div class='coit-td'>
                                    @if (item["3M"] != null)
                                    {<span>@item["3M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>6月期</div>
                                <div class='coit-td'>
                                    @if (item["6M"] != null)
                                    {<span>@item["6M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>9月期</div>
                                <div class='coit-td'>
                                    @if (item["9M"] != null)
                                    {<span>@item["9M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>12月期</div>
                                <div class='coit-td'>
                                    @if (item["12M"] != null)
                                    {<span>@item["12M"]%</span>}
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>



            <div class='component-oversea-interest-table coit--zebra coit--demand-deposit'>
                <div class='coit-form'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td coit-td--100'>放款年利率</div>
                    </div>


                    @if (ViewBag.interestRateDictionary["LN"].Count == 0)
                    {
                        <div class='coit-tr'>
                            <div class='coit-td'>無資料</div>
                        </div>
                    }
                    else
                    {
                        <div class='coit-tr'>
                            <div class='coit-td coit-td--light-green'>基本放款</div>
                            <div class='coit-td coit-td--white'>@ViewBag.interestRateDictionary["LN"][0]["Intrate"]%</div>
                        </div>
                    }
                </div>
            </div>


            <div class="coir-highlight">
                本資料僅供參考，實際利率以香港分行掛牌利率為準。
            </div>
        </div>
    </div>

}
else
{
    <div class='component-oversea-interest-rate'>

        <div class="coir-inner">
            <h2 class='coir-title'>Hong Kong Branch real-time interest rate inquiry</h2>

            <div class='coir-form-wrap'>
                <div class='coir-form-label'>Please select currency</div>
                <div class='component-oversea-form'>
                    <select role="currency-select" class='form-select'>
                        <option value="aud">AUD</option>
                        <option value="nzd">NZD</option>
                        <option value="jpy">JPY</option>
                        <option value="usd">USD</option>
                        <option value="eur">EUR</option>
                        <option value="gbp">GBP</option>
                        <option value="chf">CHF</option>
                        <option value="cad">CAD</option>
                        <option value="sgd">SGD</option>
                        <option value="zar">ZAR</option>
                        <option value="hkd">HKD</option>
                        <option value="cny">CNY</option>
                    </select>
                </div>
            </div>


            <div class='component-oversea-interest-table coit--zebra coit--demand-deposit'>
                <div class='coit-form'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td coit-td--100'>Interest rate of demand deposit</div>
                    </div>

                    <div class='coit-tr'>
                        <div class='coit-td coit-td--light-green'>Interest rate type</div>
                        <div class='coit-td coit-td--light-green'>Interest rate</div>
                    </div>
                    @foreach (var item in ViewBag.interestRateDictionary["CS"])
                    {
                        <div class='coit-tr'>
                            @if (item["IntType"] == "CK")
                            {
                                <div class='coit-td coit-td--white'>Check deposit</div>
                            }
                            else if (item["IntType"] == "CS")
                            {
                                <div class='coit-td coit-td--white'>Demand deposit</div>
                            }
                            <div class='coit-td coit-td--white'>@item["Intrate"]%</div>
                        </div>
                    }
                </div>
            </div>

            <div class='component-oversea-interest-table coit-table--zebra coit--zebra coit--time-deposit'>
                <div class='coit-form coit-form--show-lg'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td'>Interest rate of time deposit</div>
                    </div>
                    <div class='coit-tr'>
                        <div class='coit-td coit-td--light-green'>存款金額級距</div>
                        <div class='coit-td coit-td--light-green'>1 week</div>
                        <div class='coit-td coit-td--light-green'>1 month</div>
                        <div class='coit-td coit-td--light-green'>3 months</div>
                        <div class='coit-td coit-td--light-green'>6 months</div>
                        <div class='coit-td coit-td--light-green'>9 months</div>
                        <div class='coit-td coit-td--light-green'>12 months</div>
                    </div>

                    @foreach (var item in ViewBag.interestRateDictionary["TD"])
                    {

                        <div class='coit-tr'>
                            <div class='coit-td'>@item["Range"]</div>
                            <div class='coit-td'>
                                @if (item["1W"] != null)
                                {<span>@item["1W"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["1M"] != null)
                                {<span>@item["1M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["3M"] != null)
                                {<span>@item["3M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["6M"] != null)
                                {<span>@item["6M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["9M"] != null)
                                {<span>@item["9M"]%</span>}
                            </div>
                            <div class='coit-td'>
                                @if (item["12M"] != null)
                                {<span>@item["12M"]%</span>}
                            </div>
                        </div>
                    }
                </div>



                <div class='coit-form coit-form--hide-lg'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td'>Interest rate of time deposit</div>
                    </div>

                    @foreach (var item in ViewBag.interestRateDictionary["TD"])
                    {
                        <div class='coit-wrap'>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>存款金額級距</div>
                                <div class='coit-td'>@item["Range"]</div>
                            </div>


                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>1 week</div>
                                <div class='coit-td'>
                                    @if (item["1W"] != null)
                                    {<span>@item["1W"]%</span>}
                                </div>
                            </div>

                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>1 month</div>
                                <div class='coit-td'>
                                    @if (item["1M"] != null)
                                    {<span>@item["1M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>3 months</div>
                                <div class='coit-td'>
                                    @if (item["3M"] != null)
                                    {<span>@item["3M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>6 months</div>
                                <div class='coit-td'>
                                    @if (item["6M"] != null)
                                    {<span>@item["6M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>9 months</div>
                                <div class='coit-td'>
                                    @if (item["9M"] != null)
                                    {<span>@item["9M"]%</span>}
                                </div>
                            </div>
                            <div class='coit-tr'>
                                <div class='coit-td coit-td--light-green'>12 months</div>
                                <div class='coit-td'>
                                    @if (item["12M"] != null)
                                    {<span>@item["12M"]%</span>}
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>



            <div class='component-oversea-interest-table coit--zebra coit--demand-deposit'>
                <div class='coit-form'>
                    <div class='coit-tr coit-tr--head'>
                        <div class='coit-td coit-td--100'>Loan rate</div>
                    </div>


                    @if (ViewBag.interestRateDictionary["LN"].Count == 0)
                    {
                        <div class='coit-tr'>
                            <div class='coit-td'>N/A</div>
                        </div>
                    }
                    else
                    {
                        <div class='coit-tr'>
                            <div class='coit-td coit-td--light-green'>Prime loan</div>
                            <div class='coit-td coit-td--white'>@ViewBag.interestRateDictionary["LN"][0]["Intrate"]%</div>
                        </div>
                    }
                </div>
            </div>

            <div class="coir-highlight">
                The data is for reference only. For actual interest rates, please check Hong Kong Branch’s official announcement.
            </div>
        </div>
    </div>

}
