@model IndexViewModel

@{
    ViewBag.PageTitle = "Contact Us";
    ViewBag.PageDescription = "";
}

@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img"+"/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact.jpg")' alt='@ViewBag.nav_contact'>
        </picture>
        <figcaption hidden>@ViewBag.nav_contact</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_contact</h1>
        </div>
    </div>
</div>



<div class='component-oversea-info'>
    <div class='coi-inner'>
        <h2 class='coi-title'>Service Address</h2>

        <div class='coi-content'>
            <ul class="coi-list">
                <li class="coi-item">
                    <span class='coi-item-label'>Address:</span>
                    <span class="coi-item-content">
                        #21-07 to 10, 21th Floor, Junction City Tower, No. 3/A, Corner of Bogyoke Aung San Rd & 27th St, Pabedan Tsp, Yangon, Myanmar
                    </span>
                </li>
                <li class="coi-item">
                    <span class='coi-item-label'>Phone Number:</span>
                    <span class="coi-item-content">+95-1-9253386</span>
                </li>
            </ul>
        </div>
    </div>
</div>