@model IndexViewModel

@{
    ViewBag.PageTitle = "Contact Information";
    ViewBag.PageDescription = "4F., Viettel Quang Nam Building, No.121 Hung Vuong Street, Tam Ky City, Quang Nam Province, Vietnam";
}

@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img"+"/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/contact.jpg")' alt='@ViewBag.nav_contact'>
        </picture>
        <figcaption hidden>@ViewBag.nav_contact</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_contact</h1>
        </div>
    </div>
</div>


    <div class='component-oversea-info'>
        <div class='coi-inner'>
            <h2 class='coi-title'>Contact Information</h2>

            <div class='coi-content'>
                <ul class="coi-list">
                    <li class="coi-item">
                        <span class='coi-item-label'>
                            Corporate Customers (Businesses or Financial Institutions)<br />
                            At Branch:
                        </span>
                        <span class="coi-item-content">
                            You can come to the Branch to talk directly with our staff at:
                            19th Floor, Lim Tower 3, No. 29A Nguyen Dinh Chieu Street, Da Kao Ward, District 1, City. Ho Chi Minh, Vietnam.
                        </span>
                        <span class='coi-item-label'>
                            By phone: 
                        </span>
                        <span class="coi-item-content">
                            (+84) 28 38258768 (from 8:30 to 17:30 from Monday - Friday, excluding holidays and Tet according to the regulations)
                        </span>
                    </li>
                    <li class="coi-item">
                        <span class='coi-item-label'>
                            Consumer Banking Customers<br />
                            You can send an email to us:contact.CUB@vn.cahaybk.com
                        </span>

                        <span class='coi-item-label'>
                            You can call our Personal Customer Service Department via the phone number below:
                        </span>
                        <span class="coi-item-content">(028) 3622 6836 (from 8:30 to 17:30 Monday - Friday, excluding holidays and Tet according to the regulations) </span>
                        <span class='coi-item-label'>
                            At the Branch:
                        </span>
                        <span class="coi-item-content">
                            You can come to the Branch to talk directly with our staff at:
                            19th Floor, Lim Tower 3, No. 29A Nguyen Dinh Chieu Street, Da Kao Ward, District 1, City. Ho Chi Minh, Vietnam.

                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>