@{
   ViewData["PageTitle"] = "Business Banking";
   ViewData["PageDescription"] = "At Cathay United Bank, we understand running business takes a lot of work, so our approach to business banking is simple: our goal is to help your business thrive and prosper.";
}
 
 
<!-- Page START -->
<main class="mastbody">
	
	<!--
		Business Banking
	-->
	<header class="topkv clerkkv">
		<div class="clerkkv-bg lazy" data-bg="/assets/img/content/bg-bright.jpg"></div>
		<div class="clerkkv-content">
			<div class="clerkkv-title">
				<h1 class="display-1 mb-3  fw-bold text-center lh-xs nowrap">Business Banking</h1>
				<p class="h4 h4-mb">At Cathay United Bank, we understand running business takes a lot of work, so our approach to business banking is simple: our goal is to help your business thrive and prosper. We put ourselves in your shoes so we can understand your business needs. We will help you get through those day-to-day steps by offering innovative and reliable services, designed to make your banking as cost and time efficient as possible. Our committed team of experienced professionals is here to assist you in working towards the success of your business.</p>
			</div>
			<figure class="clerkkv-pic">
				<img class="ofi-contain lazy" data-src="/assets/img/content/clerk-at-service-business.png" alt="Assist you to the success of your business">
			</figure>
		</div>
	</header>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Business Banking</li>
			</ol>
		</div>
	</nav>
	
	<div class="py-30"></div>
	
	
	<!--
		Business Banking - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Banking for Companies</h2>
			<p class="display-3 h1-mb  text-dark fw-bold">A financial partner you can trust</p>
		</header>
		
		<!-- Card grids  (3 in a row) -->
		<div class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4"><!-- 720x482 PNG or JPG -->
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-deposit.jpg" alt="Deposit Accounts">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Deposit Accounts<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/current-account/">Current Account<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/business-savings-account/">Business Savings Account<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-remittance.jpg" alt="Remittances">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Remittances<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/remittance/">Remittances<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-loan.jpg" alt="Credit Facilities">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Credit Facilities<b class="underdash"></b></h3>
						<ul class="h4 h4-mb">
							<li class="mb-2  mb-n2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/commercial-loan/">Commercial Loan<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-online.jpg" alt="Online Banking">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Online Banking<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/global-myb2b/">Global MyB2B<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-merchant.jpg" alt="Merchant Services">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Merchant Services<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/merchant-services/">Merchant Services<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-trade.jpg" alt="International Trade">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">International Trade<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/international-trade/">International Trade<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-payroll.jpg" alt="Payroll Service">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Payroll Service<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/payroll-service/">Payroll Service<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
			</ul>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->