@{
   ViewData["PageTitle"] = "ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ធនាគារអនឡាញ</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">ធនាគារចល័ត</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">
					កម្មវិធី CUBC Merchant
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">សេវាជូនដំណឹង</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">របៀប​ប្រើប្រាស់​</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">ធនាគារចល័ត</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				កម្មវិធី CUBC Merchant
			</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">សេវាជូនដំណឹង</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">របៀប​ប្រើប្រាស់​</a>
		</div>
	</div>

	
	
	<!--
		ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">រហ័សនិងងាយស្រួលក្នុងការគ្រប់គ្រងហិរញ្ញវត្ថុរបស់លោកអ្នក 24/7</h2>
			<p class="text-left">មិនចាំបាច់ធ្វើការរង់ចាំនៅធនាគារ មានភាពងាយស្រួលប្រើប្រាស់នៅគេហដ្ឋាន ការិយាល័យ រឺគ្រប់ទីកន្លែងដែលលោកអ្នកទៅដល់។ ធនាគារអនឡាញរបស់យើងខ្ញុំគឺផ្តល់អោយលោកអ្នកកាន់តែមានភាពងាយស្រួល ក្នុងការគ្រប់គ្រងពេលវេលាជាមួយនឹងការចាត់ចែងហិរញ្ញវត្ថុរបស់លោកអ្នកនៅគ្រប់កុំព្យូទ័រណាមួយដែលមានភ្ជាប់អ៊ិនធឹណិត។ លោកអ្នកអាចចូលទៅប្រើប្រាស់សំរាប់ត្រួតពិនិត្យព័ត៌មានគណនី ព័ត៌មានកាតឥណទាន ការផ្ទេរប្រាក់ ការទូទាត់វិក្កយបត្រ បញ្ចូលទឹកប្រាក់ទូរស័ព្ទរបស់លោកអ្នក និងមុខងារជាច្រើនទៀតដោយងាយស្រួល!</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">មុខងាររបស់ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិច</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row  mb-n4  pl-xl-5">
	
				<!-- Graph item  (one column on mobile)-->
				<li class="col-12 col-md-3  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/view.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការត្រួតពិនិត្យ</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>សមតុល្យគណនី</li>
							<li>ព័ត៌មានអំពីប្រាក់បញ្ញើ</li>
							<li>ព័ត៌មានអំពីប្រតិបត្តិការរហូតដល់ 6 ខែ</li>
							<li>ការ​ទូទាត់​ និង​ការផ្ទេរប្រាក់ដែលបានគ្រោងទុក</li>
							<li>របាយការណ៍ប្រាក់កម្ចី</li>
							<li>របាយការណ៍ប័ណ្ណឥណទាន</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item  (one column on mobile)-->
				<li class="col-12 col-md-3  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/transfer.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការផ្ទេរប្រាក់</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>ទៅកាន់គណនីផ្ទាល់ខ្លួនរបស់លោកអ្នក</li>
							<li>ទៅកាន់គណនីធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កផ្សេងទៀត</li>
							<li>ទៅកាន់គណនីធនាគារក្នុងស្រុក​ ឬគណនីបាគងវ៉លឡែត</li>
							<li>ទៅកាន់គណនីក្រៅប្រទេសផ្សេងទៀត</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-6 col-md-3  mb-4  px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/pay.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការទូទាត់</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>វិក្កយបត្រកាតឥណទាន</li>
							<li>បញ្ចូលទឹកប្រាក់ទូរស័ព្ទ</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-6 col-md-3  mb-4  px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Fix-deposit.png">
						</figure>
						<h4 class="h3 text-dark fw-bolder">ប្រាក់បញ្ញើមានកាលកំណត់</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>បើកប្រាក់បញ្ញើមានកាលកំណត់</li>
						</ul>
					</div>
				</li>
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/file/MIBankingApplicationForm.pdf">
					<span class="px-2">ចុះឈ្មោះឥឡូវនេះ<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
				<p class="mt-3">ទៅកាន់<a class="text-green text-underline" href="@ViewData["siteLangUrl"]contact/#find-us">សាខា</a>ណាមួយរបស់ធនាគារយើងខ្ញុំដើម្បីដាក់ពាក្យស្នើសុំ។</p> 
			</div>
		</section>
		
		<div class="py-page"></div>
		
		
		<!-- FAQ -->
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">សំណួរដែលសួរញឹកញាប់</h3>
			
			<!-- FAQ list -->

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						១. តើប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិចរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មានមុខងារ និងសេវាកម្មអ្វីខ្លះ?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p><a class="text-green text-underline" href="@ViewData["siteLangUrl"]personal/internet-banking/">សូមចុចទីនេះ </a>សម្រាប់បញ្ជីនៃសេវាកម្មដែលយើងខ្ញុំផ្តល់ជូន។</p>
					</div>
				</div>
			</section>

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						២. ហេតុអ្វីខ្ញុំគួរជ្រើសរើស សេវាប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិចរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p>សេវាកម្មធនាគារតាមអនឡាញរបស់យើងខ្ញុំមានអត្ថប្រយោជន៍ជាច្រើន លោកអ្នកអាចទទួលបានព័ត៌មានចុងក្រោយបំផុតអំពីគណនីធនាគារ កាថេ យូណៃធីត របស់លោកអ្នក មានដូចជា ប្រតិបត្តិការកាតឥណពន្ធ និងកាតឥណទាន, ការទូទាត់វិក្កយបត្រ ការផ្ទេរប្រាក់ បញ្ចូលទឹកប្រាក់តាមទូរស័ព្ទចល័តរបស់លោកអ្នក និងមុខងារជាច្រើនទៀត។ លោកអ្នកអាចប្រើប្រាស់គណនីធនាគារ កាថេ យូណៃធីត របស់លោកអ្នក បានគ្រប់ពេលវេលា គ្រប់ទីកន្លែងដោយទំនុកចិត្ត ហើយវាជួយសន្សំសំចៃពេលវេលាច្រើនក្នុងការធ្វើប្រតិបត្តិការគណនីធនាគាររបស់លោកអ្នកតាមប្រព័ន្ធអនឡាញដោយមិនចាំបាច់ទៅតម្រង់ជួរនៅសាខាធនាគាររបស់យើងខ្ញុំនោះទេ។ លើសពីនេះទៀត សេវាកម្មប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិចរបស់យើងខ្ញុំផ្ដល់ជូននូវសុវត្ថិភាព និងងាយស្រួលក្នុងការធ្វើប្រតិបត្តិការ។</p>
					</div>
				</div>
			</section>

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						៣. តើខ្ញុំត្រូវបង់ប្រាក់ដើម្បីប្រើប្រាស់សេវាកម្មប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិចរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កដែរឬទេ?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p>សម្រាប់ការចុះឈ្មោះប្រើប្រាស់សេវាកម្មប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិចរបស់ធនាគារ កាថេ យូណៃធីតមិនមានគិតថ្លៃសេវានោះទេ។ ថ្លៃសេវាត្រូវបានគិតនៅពេលដែលលោកអ្នកធ្វើប្រតិបត្តិការទៅលើការផ្ទេរប្រាក់តាមធនាគារ -ល-។</p>
					</div>
				</div>
			</section>

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						៤. តើខ្ញុំអាចធ្វើប្រតិបត្តិការផ្ទេរប្រាក់អ្វីខ្លះ?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p class="mb-2">លោកអ្នកអាចធ្វើប្រតិបត្តិការផ្ទេរប្រាក់ដូចខាងក្រោម៖</p>
						<ul class="list-disc">
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារ កាថេ យូណៃធីត ផ្ទាល់ខ្លួនរបស់លោកអ្នក</li>
							<li>ការផ្ទេរប្រាក់ទៅកាន់គណនីធនាគារ កាថេ យូណៃធីត ផ្សេងទៀត</li>
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារផ្សេងៗទៀតក្នុងប្រទេសកម្ពុជា</li>
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារផ្សេងទៀតនៅក្រៅប្រទេស</li>
						</ul>
					</div>
				</div>
			</section>
			
		</section>
		
		<div class="py-page"></div>
		
		
		<!-- Safety Tips -->
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">គន្លឹះសុវត្ថិភាពក្នុងការប្រើប្រាស់ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិច</h3>
			
			<p class="mb-3">ធនាគារយើងខ្ញុំប្តេជ្ញាផ្តល់ជូនលោកអ្នកនូវសេវាធនាគារប្រកបដោយសុវត្ថិភាព និងការការពារដោយប្រព័ន្ធគ្រប់គ្រងសុវត្ថិភាព រួមទាំងវិធានការប្រឆាំងមេរោគ និងការវាយប្រហារ ដែលអាចប៉ះពាល់ដល់ព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក។ វាពិតជាសំខាន់ ដែលក្នុងនាមលោកអ្នកជាអ្នកប្រើប្រាស់ ដើរតួនាទីយ៉ាងពេញលេញសម្រាប់សុវត្ថិភាពនៃប្រតិបត្តិការធនាគារអនឡាញរបស់លោកអ្នក។</p>
			<p class="mb-2">នេះជាគន្លឹះមួយចំនួនសម្រាប់ការការពារក្នុងការប្រើប្រាស់ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិច</p>
			<ul class="list-disc">
				<li>ត្រូវប្រាកដថាលោកអ្នកមានកម្មវិធីការពារមេរោគ និងចារកម្ម នៅលើកុំព្យូទ័ររបស់លោកអ្នក។</li>
				<li>ធ្វើបច្ចុប្បន្នភាពប្រចាំថ្ងៃលើកម្មវិធីប្រឆាំងមេរោគ និងចារកម្ម របស់លោកអ្នក។</li>
				<li>កំណត់រចនាសម្ព័ន្ធប្រព័ន្ធប្រតិបត្តិការរបស់លោកអ្នកដើម្បីធ្វើបច្ចុប្បន្នភាពដោយស្វ័យប្រវត្តិ។</li>
				<li>កុំប្រើលេខសម្ងាត់ដូចគ្នាសម្រាប់ធនាគារអនឡាញ ដូចអ្វីដែលលោកអ្នកបានប្រើសម្រាប់សេវាកម្មគេហទំព័រផ្សេងទៀតដូចជាអ៊ីមែល ឬសេវាកម្មភ្ជាប់តាមគេហទំព័រ។</li>
				<li>កុំចុចលើតំណភ្ជាប់ពីអ៊ីមែល ឬដំឡើងកម្មវិធីណាមួយពីប្រភពគួរឱ្យសង្ស័យ។</li>
				<li>កុំធ្វើប្រតិបត្តិការអនឡាញនៅលើកុំព្យូទ័រដែលលោកអ្នកសង្ស័យថាមានភាពមិនប្រក្រតី។</li>
				<li>លុបអ៊ីមែលដែលមិនចាំបាច់។</li>
			</ul>
		</section>
		
		<div class="py-page"></div>


    	<partial name="@("~/Views/Shared/"+@ViewData["viewUrl"]+"PersonalInternetBankingTC.cshtml")" />

		
		<div class="py-page"></div>


		
	</section>
	
	
</main>
<!-- Page END -->