@{
   ViewData["PageTitle"] = "ធនាគារចល័ត";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ធនាគារចល័ត
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ធនាគារអនឡាញ</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">ធនាគារចល័ត</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">ធនាគារចល័ត</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">
					កម្មវិធី CUBC Merchant
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">សេវាជូនដំណឹង</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">របៀប​ប្រើប្រាស់​</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">ធនាគារចល័ត</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">ធនាគារចល័ត</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				កម្មវិធី CUBC Merchant
			</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">សេវាជូនដំណឹង</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">របៀប​ប្រើប្រាស់​</a>
		</div>
	</div>

	
	
	<!--
		ធនាគារចល័ត - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">ធនាគារចល័ត</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">
				ជាមួយនឹងការភ្ជាប់កម្មវិធីធនាគារចល័ត ដែលងាយស្រួលប្រើ សុវត្ថិភាព និងទាន់សម័យ!
			</h2>
			<p class="mb-3  text-left">
				រីករាយជាមួយបទពិសោធន៍នៃការបើកគណនីឌីជីថលរបស់ធនាគារ CUBC ដោយមិនមានការរំខាន ដោយមិនចាំបាច់មកកាន់ធនាគារ។ សាមញ្ញ សុវត្ថិភាពខ្ពស់ ដូចដែលយើងខ្ញុំបានបង្កប់នូវបច្ចេកវិទ្យាចុងក្រោយបំផុតដូចជា FIDO ការផ្ទៀងផ្ទាត់ពីរកត្តា ការភ្ជាប់ឧបករណ៍ និងយន្តការជាច្រើនទៀតនៅក្នុងកម្មវិធីធនាគារចល័ត ដើម្បីធានាសុវត្ថិភាពគណនីរបស់លោកអ្នក។ យើងធ្វើបច្ចុប្បន្នភាពកម្មវិធីធនាគារចល័ត ជាញឹកញាប់ដើម្បីផ្តល់ឱ្យលោកអ្នកនូវបទពិសោធន៍ប្រើប្រាស់ដ៏ល្អបំផុត។ សូមរង់ចាំ!
			</p>
			<p class="text-left">ធនាគារ CUBC បានដាក់ដំណើរការរូបរាងថ្មីនៃកម្មវិធីធនាគារចល័ត ដែលផ្តល់ជូនលោកអ្នកនូវបទពិសោធន៍ថ្មីទាំងស្រុងនៃប្រតិបត្តិការធនាគារឌីជីថល ។ សាកល្បងឥឡូវនេះ។</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">តើកម្មវិធីធនាគារចល័តរបស់ធនាគារ កាថេ យូណៃធីត អាចធ្វើប្រតិបត្តិការអ្វីខ្លះ?</h3>
			
			<div class="d-block d-lg-flex flex-row-reverse">
				<div class="w-100 pt-lg-3">
					<!-- Graph icon list #2  (3 in a row)-->
					<ul class="row  mb-n4  ">
	
						<!-- Graph item  (one column on mobile)-->
						<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/view.svg">
								</figure>
								<h4 class="h3 text-dark fw-bolder lh-sm">ការត្រួតពិនិត្យ</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>សមតុល្យគណនី</li>
									<li>ព័ត៌មានអំពីប្រាក់បញ្ញើ</li>
									<li>ព័ត៌មានអំពីប្រតិបត្តិការរហូតដល់ 6 ខែ</li>
									<li>ការ​ទូទាត់​ និង​ការផ្ទេរប្រាក់ដែលបានគ្រោងទុក</li>
									<li>របាយការណ៍ប្រាក់កម្ចី</li>
									<li>របាយការណ៍ប័ណ្ណឥណទាន</li>
								</ul>
							</div>
						</li>
	
						<!-- Graph item  (one column on mobile)-->
						<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/transfer.svg">
								</figure>
								<h4 class="h3 text-dark fw-bolder lh-sm">ការផ្ទេរប្រាក់</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>ទៅកាន់គណនីផ្ទាល់ខ្លួនរបស់លោកអ្នក</li>
									<li>ទៅកាន់គណនីធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កផ្សេងទៀត</li>
									<li>ទៅកាន់គណនីធនាគារក្នុងស្រុក​ ឬគណនីបាគងវ៉លឡែត</li>
									<li>ទៅកាន់គណនីក្រៅប្រទេសផ្សេងទៀត</li>
								</ul>
							</div>
						</li>
						<!-- Graph item -->
						<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Fix-deposit.png">
								</figure>
								<h4 class="h3 text-dark fw-bolder lh-sm">ប្រាក់បញ្ញើមានកាលកំណត់</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>បើកប្រាក់បញ្ញើមានកាលកំណត់</li>
								</ul>
							</div>
						</li>
						<!-- Graph item -->
						<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/pay.svg">
								</figure>
								<h4 class="h3 text-dark fw-bolder lh-sm">ការទូទាត់</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>វិក្កយបត្រកាតឥណទាន</li>
									<li>បញ្ចូលទឹកប្រាក់ទូរស័ព្ទ</li>
								</ul>
							</div>
						</li>

						<!-- Graph item -->
						<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/card-insert.svg">
								</figure>
								<h4 class="h3 text-dark fw-bolder">ផ្សេងៗ</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>បើកគណនីឌីជីថលទាំង USD និង KHR</li>
									<li>ទទួលបានការជូនដំណឹងភ្លាមៗ</li>
									<li>ស្វែង​រកទីតាំងម៉ាស៊ីន​ ATM និងទីតាំងសាខាធនាគារ</li>
									<li>ដាក់ឈ្មោះគណនីរបស់លោកអ្នករ</li>
								</ul>
							</div>
						</li>
						<!-- Graph item -->
						<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
							<div class="d-flex align-items-center  mb-3">
								<figure class="graph  mr-3">
									<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/QR-Pay.png">
								</figure>
								<h4 class="h3 text-dark fw-bolder">ស្កេន QR កូដ</h4>
							</div>
							<div>
								<ul class="list-disc list--item-mb-xs">
									<li>ទទួលប្រាក់យ៉ាងងាយស្រួលជាមួយផ្ទាំង Widget</li>
									<li>កំណត់ចំនួនទឹកប្រាក់ទូទាត់ KHQR របស់លោកអ្នកដោយសេរី</li>
								</ul>
							</div>
						</li>
					</ul>
					</ul>
					<div class="py-30"></div>
			
					<!-- Download -->
					<h4 class="h3 h2-mb  mb-3 ml-xl-3  text-black fw-bolder  text-center text-md-left">Download APP</h4>
					
					<div class="d-block d-md-flex ml-xl-3">
						<nav class="appbadge flex-grow-1 flex-shrink-0">
							<div class="appbadge-qrocde"><img class="lazy" data-src="/assets/img/content/app-qrcode.svg"></div> 
							<div class="appbadge-store">
								<a class="appbadge-ios hover-text" target="_blank" rel="noopener noreferrer" href="https://apps.apple.com/kh/app/cubc-mbanking/id489736801"><img class="lazy" data-src="/assets/img/content/app-ios.png"></a>
								<a class="appbadge-android hover-text" target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.mbanking.cubc"><img class="lazy" data-src="/assets/img/content/app-android.png"></a>
							</div>
						</nav>
						<p class="w-100 mt-3 mt-md-0  pl-md-4">កម្មវិធីធនាគារចល័តរបស់ធនាគារ កាថេ យូណៃធីត ត្រូវបានធ្វើអោយប្រសើរឡើងដើម្បីដំណើរការលើ ស្មាតហ្វូន និងថេប្លេត Android , Apple iPhone, iPod Touch, iPad និង BlackBerry។</p>
					</div>
				</div>
				
				<!-- Screenshot -->
				<div class="flex-grow-1 flex-shrink-0 pr-lg-4  mt-4 mt-lg-0">
					<figure class="mx-auto px-4 px-lg-0" style="max-width:320px">
						<img class="ofi-contain lazy" data-src="/assets/img/content/app-screenshot_kh.png" alt="App screenshot">
					</figure>
				</div>
			</div>
		</section>
		
		<div class="py-page"></div>
		
		
		<!-- FAQ -->
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">សំណួរដែលសួរញឹកញាប់</h3>
			
			<!-- FAQ list -->

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						១. ហេតុអ្វីខ្ញុំគួរជ្រើសរើស សេវាធនាគារចល័តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p>សេវាកម្មធនាគារតាមអនឡាញរបស់យើងខ្ញុំមានអត្ថប្រយោជន៍ជាច្រើន លោកអ្នកអាចទទួលបានព័ត៌មានចុងក្រោយបំផុតអំពីគណនីធនាគារ CUBC របស់លោកអ្នក មានដូចជា ប្រតិបត្តិការកាតឥណពន្ធ និងកាតឥណទាន, ការទូទាត់វិក្កយបត្រ ការផ្ទេរប្រាក់ បញ្ចូលទឹកប្រាក់តាមទូរស័ព្ទចល័តរបស់លោកអ្នក និងមុខងារជាច្រើនទៀត។ លោកអ្នកអាចប្រើប្រាស់គណនី CUBC របស់លោកអ្នក បានគ្រប់ពេលវេលា គ្រប់ទីកន្លែងដោយទំនុកចិត្ត ហើយវាជួយសន្សំសំចៃពេលវេលាច្រើនក្នុងការធ្វើប្រតិបត្តិការគណនីធនាគាររបស់លោកអ្នកតាមប្រព័ន្ធអនឡាញដោយមិនចាំបាច់ទៅតម្រង់ជួរនៅសាខាធនាគាររបស់យើងខ្ញុំនោះទេ។ លើសពីនេះទៀត សេវាកម្មធនាគារចល័តរបស់យើងខ្ញុំផ្ដល់ជូននូវសុវត្ថិភាព និងងាយស្រួលក្នុងការធ្វើប្រតិបត្តិការ។</p>
					</div>
				</div>
			</section>

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						២. តើខ្ញុំត្រូវបង់ប្រាក់ដើម្បីប្រើប្រាស់សេវាកម្មធនាគារចល័តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដែរឬទេ?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p>សម្រាប់ការចុះឈ្មោះប្រើប្រាស់សេវាកម្មធនាគារចល័តរបស់សាជីវកម្មធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កមិនមានគិតថ្លៃសេវានោះទេ។ ថ្លៃសេវាត្រូវបានគិតនៅពេលដែលលោកអ្នកធ្វើប្រតិបត្តិការទៅលើការផ្ទេរប្រាក់តាមធនាគារ -ល-។</p>
					</div>
				</div>
			</section>

			<!-- QA item -->
			<section class="qaitem" js-foldable-group="internet">
				<div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
					<h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
						៣. តើខ្ញុំអាចធ្វើប្រតិបត្តិការផ្ទេរប្រាក់អ្វីខ្លះ?
					</h5>
				</div>
				<div class="qaitem-detail" js-foldable-body>
					<div class="qaitem-detail-content">
						<div class="badge badge-green h5 h5-mb mb-3">ចម្លើយ</div>
						<p class="mb-2">លោកអ្នកអាចធ្វើប្រតិបត្តិការផ្ទេរប្រាក់ដូចខាងក្រោម៖</p>
						<ul class="list-disc">
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ផ្ទាល់ខ្លួនរបស់លោកអ្នក</li>
							<li>ការផ្ទេរប្រាក់ទៅកាន់គណនីធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កផ្សេងទៀត</li>
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារផ្សេងៗទៀតក្នុងប្រទេសកម្ពុជា</li>
							<li>ការផ្ទេរប្រាក់ទៅគណនីធនាគារផ្សេងទៀតនៅក្រៅប្រទេស</li>
						</ul>
					</div>
				</div>
			</section>
			
		</section>
		
		<div class="py-page"></div>
		
		
		<!-- CUBC Safe and Secure -->
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">សុវត្ថិភាព</h3>
			
			<p class="mb-3">កម្មវិធីធនាគារចល័តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ផ្តល់ជូនលោកអ្នកនូវការគ្រប់គ្រងហិរញ្ញវត្ថុដោយសុវត្ថិភាពតាមស្មាតហ្វូន និងថេប្លេត ។ គ្មានព័ត៌មានគណនី ឬព័ត៌មាននៃការចូលប្រើប្រាស់ ត្រូវបានរក្សាទុកនៅលើឧបករណ៍ចល័តរបស់អ្នកទេ ហើយនៅកន្លែងនៃសកម្មភាពចាកចេញ ត្រូវបានបន្ថែមនូវវិធានការសុវត្ថិភាព។ ដើម្បីការពារព័ត៌មានគណនីរបស់លោកអ្នក លោកអ្នកត្រូវបានតម្រូវអោយផ្ទៀងផ្ទាត់នៅលើឧបករណ៍ចល័តនីមួយៗដោយប្រើព័ត៌មានដូចគ្នាដែលអ្នកបានប្រើដើម្បីចូលទៅក្នុងធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ពីកម្មវិធីរុករកតាមអ៊ីនធឺណិតរបស់អ្នក។ ការទំនាក់ទំនងទាំងអស់រវាងឧបករណ៍ចល័តរបស់អ្នក និងម៉ាស៊ីនមេធនាគារចល័តត្រូវបានបំប្លែង ហើយពាក្យសម្ងាត់ និងព័ត៌មានគណនីរបស់អ្នកមិនត្រូវបានរក្សាទុកនៅលើឧបករណ៍ចល័តទេ។</p>
		</section>
		
		<div class="py-page"></div>
		
		
    	<partial name="@("~/Views/Shared/"+@ViewData["viewUrl"]+"PersonalMobileBankingTC.cshtml")" />
		
		<div class="py-page"></div>
	</section>
	
	
</main>
<!-- Page END -->