@{
   ViewData["PageTitle"] = "ខចែង និងលក្ខខណ្ឌរបស់ធនាគារចល័ត";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ខចែង និងលក្ខខណ្ឌរបស់ធនាគារចល័ត
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ធនាគារអនឡាញ</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">ខចែង និងលក្ខខណ្ឌរបស់ធនាគារចល័ត</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">ធនាគារចល័ត</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">
					កម្មវិធី CUBC Merchant
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">សេវាជូនដំណឹង</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">របៀប​ប្រើប្រាស់​</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">-- Select page --</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">ធនាគារចល័ត</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				កម្មវិធី CUBC Merchant
			</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">សេវាជូនដំណឹង</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">របៀប​ប្រើប្រាស់​</a>
		</div>
	</div>

	
	
	<!--
		mBanking Privacy Policy
	-->
	<section id="privacy-policy" class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">គោលការណ៍ឯកជនភាពរបស់ធនាគារចល័ត</h1>
		</header>
		
		
		<div class="compact">
				
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">គោលការណ៍ឯកជនភាព</h3>
			<p class="mb-3">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ("ធនាគារយើងខ្ញុំ") បានបង្កើតកម្មវិធី CUBC MBANKING ដែលជាកម្មវិធីពាណិជ្ជកម្មមួយ។ សេវាកម្មនេះត្រូវបានផ្តល់ដោយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ហើយត្រូវបានប្រើប្រាស់ជាកម្មវិធីនៅលើទូរស័ព្ទចល័ត ("សេវាកម្ម")។</p>
			<p class="mb-3">សទំព័រនេះ ជូនដំណឹងដល់លោកអ្នក អំពីគោលការណ៍របស់ធនាគារយើងខ្ញុំដែលទាក់ទងនឹងការប្រមូលព័ត៌មាន ការប្រើប្រាស់ និងការបង្ហាញទិន្នន័យផ្ទាល់ខ្លួន នៅពេលលោកអ្នកប្រើប្រាស់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ និងជម្រើសដែលលោកអ្នកបានភ្ជាប់មកជាមួយទិន្នន័យនោះ។</p>
			<p class="mb-3">សប្រសិនបើលោកអ្នកជ្រើសរើសប្រើប្រាស់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ នោះលោកអ្នកយល់ព្រមនឹងការប្រមូល និងប្រើប្រាស់ព័ត៌មានដែលទាក់ទងនឹងគោលការណ៍នេះ។ ព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកដែលធនាគារយើងខ្ញុំប្រមូលត្រូវបានប្រើប្រាស់សម្រាប់ការផ្តល់ជូន និងការកែសម្រួលសេវាកម្ម។ ធនាគារយើងខ្ញុំនឹងមិនប្រើប្រាស់ ឬចែករំលែកព័ត៌មានរបស់លោកអ្នកជាមួយនរណាម្នាក់ឡើយ លើកលែងតែត្រូវបានពិពណ៌នានៅក្នុងគោលការណ៍ឯកជនភាពនេះ។</p>
			<p class="mb-3">សលក្ខខណ្ឌដែលបានប្រើប្រាស់ក្នុងគោលការណ៍ឯកជនភាពនេះមានខ្លឹមសារដូចគ្នាទៅនឹងខចែង និងលក្ខខណ្ឌ របស់ធនាគារយើងខ្ញុំ ដែលអាចចូលដំណើរការបាននៅ CUBC MBANKING លុះត្រាតែមានការកំណត់ផ្សេងនៅក្នុងគោលការណ៍ឯកជនភាពនេះ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការប្រមូលព័ត៌មាន និងការប្រើប្រាស់</h3>
			<p class="mb-3">ជាបទពិសោធន៍ដ៏ល្អមួយ ក្នុងខណៈពេលដែលកំពុងប្រើប្រាស់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ ធនាគារយើងខ្ញុំអាចនឹងតម្រូវឱ្យលោកអ្នកផ្តល់ នូវព័ត៌មានដែលអាចកំណត់អត្តសញ្ញាណផ្ទាល់ខ្លួនមួយចំនួនដល់ធនាគារយើងខ្ញុំ ប៉ុន្តែមិនកំណត់ចំពោះព័ត៌មានដែលធនាគារបានប្រមូលនោះទេ។ ព័ត៌មានដែលធនាគារស្នើសុំនឹងត្រូវបានរក្សាទុកដោយធនាគារ និងប្រើប្រាស់ដូចដែលបានពិពណ៌នានៅក្នុងគោលការណ៍ឯកជនភាពនេះ។</p>
			<p class="mb-3">កម្មវិធីនេះនឹងប្រើសេវាកម្មភាគីទីបីដែលអាចប្រមូលព័ត៌មានសម្រាប់ប្រើដើម្បីកំណត់អត្តសញ្ញាណលោកអ្នក។</p>
			<p class="mb-3">ធនាគារយើងខ្ញុំ អាចចែករំលែកព័ត៌មានដែលពាក់ព័ន្ធ (ដូចជាការគ្រប់គ្រងព័ត៌មាន) ជាមួយ Cathay Financial Group (រាប់បញ្ចូលទាំង ប៉ុន្តែមិនកំណត់ចំពោះ CUB និងក្រុមហ៊ុនដែលពាក់ព័ន្ធ និងភ្នាក់ងារខាងក្រៅដែលត្រូវបានប្រគល់ឱ្យដោយធនាគារដើម្បីដោះស្រាយកិច្ចការ) ដោយសារតែតម្រូវការនៃការអនុវត្ត CUBC mBanking ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ទិន្នន័យផ្ទាល់ខ្លួន</h3>
			<p class="mb-3">ខណៈពេលដែលកំពុងប្រើប្រាស់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ ធនាគារយើងខ្ញុំអាចស្នើសុំឱ្យលោកអ្នកផ្តល់ឱ្យនូវព័ត៌មានដែលអាចកំណត់អត្តសញ្ញាណផ្ទាល់ខ្លួនមួយចំនួនដែលអាចត្រូវបានប្រើប្រាស់ដើម្បីទាក់ទង ឬកំណត់អត្តសញ្ញាណលោកអ្នក ("ទិន្នន័យផ្ទាល់ខ្លួន")។ ព័ត៌មានដែលអាចកំណត់អត្តសញ្ញាណផ្ទាល់ខ្លួនអាចរួមបញ្ចូល ប៉ុន្តែមិនត្រូវបានកំណត់ចំពោះ៖</p>
			<ul class="list-disc mb-3">
				<li>អាសយដ្ឋានអ៊ីមែល</li>
				<li>នាមខ្លួន និងនាមត្រកូល</li>
				<li>លេខទូរស័ព្ទ</li>
				<li>លេខគណនី</li>
				<li>លេខកាតឥណទាន</li>
				<li>Cookies និងទិន្នន័យប្រើប្រាស់</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ទិន្នន័យប្រើប្រាស់</h3>
			<p class="mb-3">ធនាគារយើងខ្ញុំ ក៏អាចប្រមូលព័ត៌មាន ដែលកម្មវិធីស្វែងរកតាមអ៊ីនធឺណិតរបស់លោកអ្នកផ្ញើមកនៅពេលណាដែលលោកអ្នកចូលទៅកាន់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ ឬនៅពេលដែលលោកអ្នកចូលប្រើប្រាស់សេវាកម្ម ឬតាមរយៈទូរសព្ទចល័ត (ទិន្នន័យប្រើប្រាស់)។</p>
			<p class="mb-3">ទិន្នន័យនៃការប្រើប្រាស់នេះអាចរួមបញ្ចូលនូវព័ត៌មានដូចជា អាសយដ្ឋាន Internet Protocol របស់កុំព្យូទ័រលោកអ្នក (ឧទាហរណ៍ អាសយដ្ឋាន IP) ប្រភេទកម្មវិធីស្វែងរកតាមអ៊ីនធឺណិត កំណែកម្មវិធីស្វែងរក ទំព័រនៃសេវាកម្មរបស់ធនាគារយើងខ្ញុំដែលលោកអ្នកត្រួតពិនិត្យ ពេលវេលា និងកាលបរិច្ឆេទនៃការត្រួតពិនិត្យរបស់លោកអ្នក ពេលវេលាដែលបានចំណាយទៅលើទំព័រទាំងនេះ ឧបករណ៍កំណត់អត្តសញ្ញាណតែមួយគត់ និងទិន្នន័យវិភាគផ្សេងៗទៀត។</p>
			<p class="mb-3">នៅពេលលោកអ្នកចូលប្រើប្រាស់សេវាកម្មតាមរយៈ ទូរស័ព្ទចល័ត ទិន្នន័យនៃការប្រើប្រាស់នេះអាចរួមបញ្ចូលព័ត៌មានដូចជា ប្រភេទនៃ ទូរស័ព្ទចល័តដែលលោកអ្នកប្រើប្រាស់ លេខសម្គាល់ ទូរស័ព្ទចល័តរបស់លោកអ្នក អាសយដ្ឋាន IP នៃទូរស័ព្ទចល័តរបស់លោកអ្នក ប្រព័ន្ធប្រតិបត្តិការចល័តរបស់លោកអ្នក ប្រភេទនៃកម្មវិធីស្វែងរកតាមអ៊ីនធឹណិតចល័តដែលលោកអ្នកប្រើប្រាស់ ឧបករណ៍កំណត់អត្តសញ្ញាណតែមួយគត់ និងទិន្នន័យវិភាគផ្សេងៗទៀត។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការតាមដាន និងទិន្នន័យ Cookies</h3>
			<p class="mb-3">ធនាគារយើងខ្ញុំប្រើប្រាស់ cookies និងបច្ចេកវិទ្យាតាមដានដូចគ្នា ដើម្បីតាមដានសកម្មភាពនៅលើសេវាកម្មរបស់ធនាគារយើងខ្ញុំ និងរក្សាព័ត៌មានជាក់លាក់។</p>
			<p class="mb-3">Cookies គឺជាបណ្ដុំសម្រាប់ផ្ទុកឯកសារដែលមានទិន្នន័យតិចតួច ដែលអាចរួមបញ្ចូលនូវឧបករណ៍សម្រាប់កំណត់អត្តសញ្ញាណអនាមិក។ Cookies ត្រូវបានផ្ញើទៅកាន់កម្មវិធីស្វែងរកតាមអ៊ីនធឺណិតរបស់លោកអ្នកចេញពីគេហទំព័រមួយ និងរក្សាទុកនៅលើឧបករណ៍ប្រើប្រាស់របស់លោកអ្នក។ បច្ចេកវិទ្យាតាមដានក៏ត្រូវបានប្រើប្រាស់ដូចជា beacons, tags, និង scripts ដើម្បីប្រមូល និងតាមដានព័ត៌មាន ដើម្បីកែលម្អ និងវិភាគសេវាកម្មរបស់ធនាគារយើងខ្ញុំ។</p>
			<p class="mb-3">លោកអ្នកអាចកំណត់កម្មវិធីស្វែងរករបស់លោកអ្នកឱ្យបដិសេធ Cookie ទាំងអស់ ឬដើម្បីចង្អុលបង្ហាញនៅពេលដែល Cookie កំពុងត្រូវបានផ្ញើ។ ទោះយ៉ាងណាក៏ដោយ ប្រសិនបើលោកអ្នកមិនទទួលយក Cookie លោកអ្នកមិនអាចប្រើប្រាស់ផ្នែកខ្លះនៃសេវាកម្មរបស់ធនាគារយើងខ្ញុំបានទេ។</p>
			<p class="mb-3">ឧទាហរណ៍នៃ Cookies ដែលធនាគារយើងខ្ញុំប្រើប្រាស់៖</p>
			<ul class="list-disc mb-3">
				<li>Session Cookies. ធនាគារប្រើ Session Cookies ដើម្បីដំណើរការសេវាកម្មរបស់ធនាគារ។</li>
				<li>Preference Cookie. ធនាគារប្រើ Preference Cookies ដើម្បីចងចាំនូវចំណូលចិត្តរបស់លោកអ្នក និងការកំណត់ផ្សេងៗ។</li>
				<li>Security Cookie. ធនាគារប្រើ Security Cookies សម្រាប់គោលបំណងសុវត្ថិភាព។</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការប្រើប្រាស់ទិន្នន័យ</h3>
			<p class="mb-3">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ប្រើប្រាស់ទិន្នន័យដែលប្រមូលបានសម្រាប់គោលបំណង ផ្សេងៗដូចជា៖</p>
			<ul class="list-disc mb-3">
				<li>ដើម្បីផ្តល់និងថែទាំសេវាកម្ម</li>
				<li>ដើម្បីជូនដំណឹងដល់លោកអ្នកអំពីការផ្លាស់ប្តូរចំពោះសេវាកម្មរបស់ធនាគារយើងខ្ញុំ</li>
				<li>ដើម្បីអនុញ្ញាតឱ្យលោកអ្នកចូលរួមក្នុងមុខងារអន្តរកម្មនៃសេវាកម្មរបស់ធនាគារ នៅពេលលោកអ្នកជ្រើសរើស</li>
				<li>ដើម្បីផ្តល់ការថែទាំ និងការគាំទ្រដល់អតិថិជន</li>
				<li>ដើម្បីផ្តល់ការវិភាគ ឬព័ត៌មាន ដើម្បីឱ្យធនាគារយើងខ្ញុំអាចកែលម្អសេវាកម្ម</li>
				<li>ដើម្បីតាមដានការប្រើប្រាស់សេវាកម្ម</li>
				<li>ដើម្បីស្វែងរក ទប់ស្កាត់ និងដោះស្រាយបញ្ហាបច្ចេកទេស</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការផ្ទេរទិន្នន័យ</h3>
			<p class="mb-3">ព័ត៌មានរបស់លោកអ្នក រួមទាំងទិន្នន័យផ្ទាល់ខ្លួន អាចត្រូវបានផ្ទេរ និងរក្សាទុកនៅលើកុំព្យូទ័រដែលមានទីតាំងនៅខាងក្នុងធនាគាររបស់យើងខ្ញុំ ដែលច្បាប់ការពារទិន្នន័យអាចខុសគ្នាពីដែនសមត្ថកិច្ចរបស់លោកអ្នក។</p>
			<p class="mb-3">ប្រសិនបើលោកអ្នកស្ថិតនៅក្រៅប្រទេសកម្ពុជា ហើយជ្រើសរើសផ្តល់ព័ត៌មានដល់ធនាគារយើងខ្ញុំ សូមចំណាំថាធនាគារយើងខ្ញុំនឹងផ្ទេរនូវទិន្នន័យ រួមទាំងទិន្នន័យផ្ទាល់ខ្លួនមកប្រទេសកម្ពុជា ហើយដំណើរការវានៅទីនោះ។</p>
			<p class="mb-3">ការយល់ព្រមរបស់លោកអ្នកចំពោះគោលការណ៍ឯកជនភាពនេះ ដោយការបញ្ជូនព័ត៌មានរបស់លោកអ្នកជាតំណាងឱ្យកិច្ចព្រមព្រៀងរបស់លោកអ្នកចំពោះការផ្ទេរនោះ។</p>
			<p class="mb-3">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក នឹងចាត់វិធានការចាំបាច់ដោយសមហេតុផល ដើម្បីធានាថាទិន្នន័យរបស់លោកអ្នកត្រូវបានរក្សាទុកដោយសុវត្ថិភាព និងអនុលោមតាមគោលការណ៍ឯកជនភាពនេះ និងមិនមានការផ្ទេរទិន្នន័យផ្ទាល់ខ្លួនរបស់លោកអ្នក ធ្វើឡើងទៅកាន់ស្ថាប័ន ឬប្រទេសណាមួយឡើយ លុះត្រាតែមានការត្រួតពិនិត្យគ្រប់គ្រាន់ រួមទាំងសុវត្ថិភាពទិន្នន័យរបស់លោកអ្នក និងព័ត៌មានផ្ទាល់ខ្លួនផ្សេងទៀត។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការបង្ហាញទិន្នន័យ</h3>
			<h4 class="h4 h4-mb mb-3  text-dark fw-bolder">តម្រូវការផ្នែកច្បាប់</h4>
			<p class="mb-3">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក អាចបង្ហាញទិន្នន័យផ្ទាល់ខ្លួនរបស់លោកអ្នកដោយសុចរិត ដែលជឿជាក់ថាសកម្មភាពនោះ គឺពិតជាចាំបាច់ រួមមាន៖</p>
			<ul class="list-disc mb-3">
				<li>ដើម្បីអនុវត្តតាមកាតព្វកិច្ចផ្លូវច្បាប់</li>
				<li>ដើម្បីការពារ និងរក្សារសិទ្ធិ ឬទ្រព្យសម្បត្តិរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក  </li>
				<li>ដើម្បីការពារ ឬស៊ើបអង្កេតកំហុសដែលអាចកើតមានទាក់ទងនឹងសេវាកម្ម</li>
				<li>ដើម្បីការពារសុវត្ថិភាពផ្ទាល់ខ្លួនរបស់អ្នកប្រើប្រាស់សេវាកម្ម ឬសាធារណៈជន</li>
				<li>ដើម្បីការពារការប្រឆាំងនឹងការទទួលខុសត្រូវផ្លូវច្បាប់</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">សុវត្ថិភាពទិន្នន័យ</h3>
			<p class="mb-3">ធនាគារយើងខ្ញុំ ផ្តល់តម្លៃដល់ការជឿទុកចិត្តរបស់លោកអ្នក ក្នុងការផ្តល់ឱ្យយើងខ្ញុំនូវព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក ហេតុដូច្នេះហើយ ធនាគារយើងខ្ញុំប្រើប្រព័ន្ធមធ្យោបាយការពារ ដែលមានលំដាប់ក្នុងក្របខណ្ឌពាណិជ្ជកម្ម។ ប៉ុន្តែត្រូវចងចាំថា មិនមានវិធីសាស្រ្តនៃការបញ្ជូនទិន្នន័យតាមអ៊ីនធឺណិត ឬវិធីសាស្រ្តនៃការផ្ទុកទិន្នន័យលើប្រព័ន្ធអេឡិចត្រូនិចណាដែលមានសុវត្ថិភាពនឹងអាចទុកចិត្តបាន ១០០% នោះទេ ហើយយើងខ្ញុំមិនអាចធានានូវសុវត្ថិភាពទាំងស្រុង បាននោះទេ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">អ្នកផ្តល់សេវាកម្ម</h3>
			<p class="mb-3">ធនាគារយើងខ្ញុំអាចសហការជាមួយក្រុមហ៊ុនភាគីទីបី និងបុគ្គលដោយហេតុផលដូចខាងក្រោម៖</p>
			<ul class="list-disc mb-3">
				<li>ដើម្បីជួយសម្រួលដល់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ</li>
				<li>ដើម្បីផ្តល់សេវាកម្មក្នុងនាមជាធនាគារយើងខ្ញុំ</li>
				<li>ដើម្បីអនុវត្តនូវសេវាកម្មដែលពាក់ព័ន្ធ ឬ</li>
				<li>ដើម្បីជួយសម្រួលក្នុងការវិភាគពី របៀបដែលសេវាកម្មរបស់ធនាគារយើងខ្ញុំត្រូវបានប្រើប្រាស់។</li>
			</ul>
			<p>ធនាគារយើងខ្ញុំសូមជូនដំណឹងដល់អ្នកប្រើប្រាស់សេវាកម្មនេះថា សម្រាប់ភាគីទីបីអាចមានសិទ្ធិចូលប្រើប្រាស់ព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក។ ហេតុផលគឺដើម្បីបំពេញកិច្ចការដែលបានប្រគល់ឱ្យពួកគេក្នុងនាមធនាគារយើងខ្ញុំ។ ទោះយ៉ាងណាក៏ដោយ ពួកគេមានកាតព្វកិច្ចមិនបញ្ចេញ ឬប្រើប្រាស់ព័ត៌មានសម្រាប់គោលបំណងផ្សេងទៀតឡើយ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">តំណភ្ជាប់ទៅកាន់គេហទំព័រផ្សេងទៀត</h3>
			<p class="mb-3">សេវាកម្មនេះអាចមានតំណភ្ជាប់ទៅកាន់គេហទំព័រផ្សេងទៀត។ ប្រសិនបើលោកអ្នកចុចលើតំណភ្ជាប់ភាគីទីបី លោកអ្នកនឹងត្រូវបានទៅកាន់គេហទំព័រនោះ។ ចំណាំថាគេហទំព័រខាងក្រៅ (ភាគីទីបី) ទាំងនេះមិនត្រូវបានដំណើរការដោយធនាគារយើងខ្ញុំទេ។ ដូច្នេះហើយ ធនាគារយើងខ្ញុំសូមណែនាំឱ្យលោកអ្នកពិនិត្យមើលគោលការណ៍ឯកជនភាពនៃគេហទំព័រទាំងនេះ។ ធនាគារយើងខ្ញុំមិនមានការគ្រប់គ្រង និងសន្មត់ថា គ្មានការទទួលខុសត្រូវចំពោះខ្លឹមសារ គោលការណ៍ឯកជនភាព ឬការអនុវត្តនៃគេហទំព័រ ឬសេវាកម្មភាគីទីបីណាមួយឡើយ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ឯកជនភាពកុមារភាព</h3>
			<p class="mb-3">សេវាកម្មទាំងនេះមិនបញ្ជាក់ពីបុគ្គលដែលមានអាយុក្រោម ១៨ ឆ្នាំទេ ។ ធនាគារយើងខ្ញុំមិនបានប្រមូលព័ត៌មានដែលអាចកំណត់អត្តសញ្ញាណផ្ទាល់ខ្លួនពីកុមារអាយុក្រោម ១៨ ឆ្នាំដោយចេតនាទេ។ ក្នុងករណីដែលធនាគារយើងខ្ញុំរកឃើញថាកុមារអាយុក្រោម ១៨ ឆ្នាំបានផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនដល់ធនាគារយើងខ្ញុំ ធនាគារយើងខ្ញុំនឹងលុបព័ត៌មាននោះចេញពីម៉ាស៊ីនមេរបស់យើងភ្លាមៗ។ ប្រសិនបើលោកអ្នកជាឪពុកម្តាយ ឬអាណាព្យាបាល ហើយលោកអ្នកដឹងថាកូនៗរបស់លោកអ្នកបានផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនដល់ធនាគារយើងខ្ញុំ សូមទាក់ទងមកកាន់ធនាគារ ដើម្បីឱ្យធនាគារអាចចាត់វិធានការដែលចាំបាច់ភ្លាមៗបាន។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការកែប្រែគោលការណ៍ឯកជនភាពនេះ</h3>
			<p class="mb-3">ធនាគារយើងខ្ញុំអាចធ្វើបច្ចុប្បន្នភាពគោលការណ៍ឯកជនភាពរបស់ធនាគារពីពេលមួយទៅពេលមួយ។ ដូច្នេះ លោកអ្នកត្រូវពិនិត្យមើលទំព័រនេះជាទៀងទាត់សម្រាប់ការកែប្រែណាមួយ។ ធនាគារយើងខ្ញុំនឹងជូនដំណឹងដល់លោកអ្នកពីការកែប្រែដោយការប្រកាសអំពីគោលការណ៍ឯកជនភាពថ្មីនៅលើទំព័រនេះ។ ការកែប្រែទាំងនេះមានប្រសិទ្ធភាពភ្លាមៗ បន្ទាប់ពីបានប្រកាសនៅលើទំព័រនេះ។</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ទាក់ទងមកកាន់ធនាគារយើងខ្ញុំ</h3>
			<p class="mb-3">ប្រសិនបើលោកអ្នកមានសំនួរអំពីគោលការណ៍ឯកជនភាពនេះ សូមធ្វើការទាក់ទងមកកាន់ធនាគារយើងខ្ញុំតាមរយៈគេហទំព័រ៖ <a class="hover-text text-underline" href="https://www.cathaybk.com.kh">https://www.cathaybk.com.kh</a></p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
	
	
	<!--
		mBanking Privacy Policy
	-->
	<section id="terms-conditions" class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->