@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cathay United Bank Private Banking Singapore</title>


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css.map")" rel="stylesheet">*@


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/core.css")" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/coreD.css")" />




    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/animate.css")" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/fontawesome/css/all.css")" rel="stylesheet">

    <link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">



    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/about.css")" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/aboutD.css")" />

</head>

<body>



    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="navHeader">
                    <a href="@Url.Content("~/sg/en/private-bank")">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/enlogo.png")" class="logo img-fluid">
                    </a>

                    <div class="myclose" data-dismiss="modal" aria-label="Close">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/myClose.png")" class="myClose">
                    </div>
                </div>
                <div class="navBody">
                    <a href="@Url.Content("~/sg/en/private-bank/about/")">
                        <div class="oneNav">
                            About Us
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/en/private-bank/custom/")">
                        <div class="oneNav">
                            Customized Planning
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    @*<a href="javascript:;" onclick="alert('coming soon');">
                        <div class="oneNav">
                            Dedicated Services
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>*@
                    <a href="@Url.Content("~/sg/en/private-bank/award/")">
                        <div class="oneNav">
                            Awards and Honors
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/en/private-bank/contact/")">
                        <div class="oneNav">
                            Contact Us
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/en/private-bank/contact/")">
                        <div class="oneNav">
                            Contact Us
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">
                        <div class="oneNav">
                            Internet Banking
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/sg/en/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/enlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/trigger.png")" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/sg/en/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/enlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">

                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/sg/en/")">Cathay United Bank, Singapore</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" class="active">Private Banking</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" target="_self" class="goldFrame">Traditional Chinese</a></li>
                            <li><a href="@Url.Content("~/sg/zh-cn/private-bank/")" target="_self" class="goldFrame">Simplified Chinese</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/sg/en/private-bank/about/")">About Us</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/sg/en/private-bank/custom/")">Customized Planning</a>
                            </li>
                            @*<li class="nav3">
                                <a href="javascript:;" onclick="alert('coming soon');">Dedicated Services</a>
                            </li>*@
                            <li class="nav100">
                                <a href="@Url.Content("~/sg/en/private-bank/award/")">Awards and Honors</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/sg/en/private-bank/contact/")">Contact Us</a>
                            </li>
                            <li class="nav5">
                                <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">Internet Banking</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">About Us</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/sg/en/private-bank/")">Homepage</a> / About Us</p>
            </div>
        </div>
    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->

    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="paper" data-aos="fade-up">



                        <h3 class="blue" data-aos="fade-up">
                            Cathay United Bank Private Banking<br>
                            One-stop Professional Financial Services Become a Customer
                        </h3>
                        <div class="titleLine blue" data-aos="fade-up"></div>
                        <div class="clearfix"></div>


                        <div class="row align-items-center oneIssue" style="margin-top:30px;">
                            <div class="col-12 col-lg-6">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section1i1.png")" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left">
                                <h5 class="gold2" data-aos="fade-up">Abundant Group Resources</h5>
                                <p data-aos="fade-up" class="textJustify">
                                    As Taiwan’s largest financial holding company, Cathay Financial Holdings establishes itself as an all-around financial institution by offering diverse financial services in insurance, securities and banking. Cathay United Bank Private Banking integrates the Group's resources and expert team to provide you with all-inclusive one-stop services.
                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6 order-lg-2">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section1i2.png")" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 order-lg-1 text-left">
                                <h5 class="gold2" data-aos="fade-up">Cross-industry Services</h5>
                                <p data-aos="fade-up" class="textJustify">
                                    Cathay Group builds an empire that spans across real estate construction, healthcare, hospitality, information technology and logistic/warehousing industries. We harness the Group’s resources to provide you a wide variety of additional services in addition to professional financial services. We offer management and advisory on both of your intangible and tangible assets. Cathay United Bank Private Banking Team is the all-round family advisor that you can trust with.
                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section1i3.png")" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left">
                                <h5 class="gold2" data-aos="fade-up">Global Asset Allocation Planning</h5>
                                <p data-aos="fade-up" class="textJustify">
                                    We have business presences in Taiwan and overseas, offering versatile and flexible plans for capital utilization. Our financial professionals will draft financial and investment strategy and tailor customized investment products to build a global asset allocation plan for you.

                                </p>
                            </div>
                        </div>


                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6  order-lg-2">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section1i4.png")" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left order-lg-1">
                                <h5 class="gold2" data-aos="fade-up">A Pioneer in ASEAN Markets</h5>
                                <p data-aos="fade-up" class="textJustify">
                                    We are well ahead of other industry peers in cultivating ASEAN markets and has established over 30 business locations, including Indovina Bank and branches, subsidiaries or representative offices in Singapore, Malaysia, the Philippines and Cambodia etc., serving customers with effective support and services.
                                </p>
                            </div>

                        </div>

                        <div class="row align-items-center oneIssue">
                            <div class="col-12 col-lg-6">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section1i5.png")" class="img-fluid" data-aos="fade-up">
                            </div>
                            <div class="col-12 col-lg-6 text-left">
                                <h5 class="gold2" data-aos="fade-up">Flexible Utilization of NTD Assets</h5>
                                <p data-aos="fade-up" class="textJustify">
                                    With national wide network, Cathay United Bank constructs an all-inclusive platform for consumer banking. We give you the competitive edge to invest in overseas assets while living in Taiwan by offering global asset arrangement, NTD asset investment advice and asset revitalization plans.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- .paper -->
                </div>
            </div>
        </div>
    </div>





    <!-- section2 -->
    <!-- section2 -->
    <!-- section2 -->

    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-12">


                    <h3 class="gold1" data-aos="fade-up">One-stop Asset Allocation Solution</h3>
                    <div class="titleLine gold1" data-aos="fade-up"></div>
                    <div class="clearfix"></div>


                    <div class="row align-items-center oneIssue" style="margin-top:30px;">
                        <div class="col-12 col-lg-6">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section2i1.jpg")" class="img-fluid" data-aos="fade-up">
                        </div>
                        <div class="col-12 col-lg-6 text-left">
                            <div class="paper" data-aos="fade-up">
                                <p data-aos="fade-up" class="textJustify">
                                    Our team consists of experts across the fields, who are equipped with global investment product knowledge and financial planning ability and can help you create personalized financial and investment strategy and tailor-made investment portfolio.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="row align-items-center oneIssue">
                        <div class="col-12 col-lg-6 order-lg-2">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section2i2.jpg")" class="img-fluid" data-aos="fade-up">
                        </div>
                        <div class="col-12 col-lg-6 text-left order-lg-1">
                            <div class="paper" data-aos="fade-up">
                                <p data-aos="fade-up" class="textJustify">
                                    We offer you versatile and flexible capital utilization plan for your domestic and overseas capital needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- section3 -->
    <!-- section3 -->
    <!-- section3 -->

    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="blue" data-aos="fade-up">
                        Dedicated Services<br>
                        Only for you
                    </h3>
                    <div class="titleLine blue" data-aos="fade-up"></div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin-top:30px;">

                        <div class="col-12 col-lg-6 text-left oneIssue">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section3i1.jpg")" class="img-fluid" data-aos="fade-up">
                            <h5 class="blue" data-aos="fade-up">Customer Benefits</h5>
                            <p data-aos="fade-up" class="textJustify">As our Private Banking customer, you will have access to Cathay’s financial services, priority pass for property viewing, healthcare services and special offers at hotels/restaurants, enjoying exclusive red-carpet treatment. </p>
                            @*<a href="javascript:;" onclick="alert('coming soon');">
                                <div class="myBtn blue mr15" data-aos="fade-up">See more</div>
                            </a>*@
                        </div>
                        <div class="col-12 col-lg-6 text-left oneIssue">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section3i2.jpg")" class="img-fluid" data-aos="fade-up" data-aos-delay="300">
                            <h5 class="blue" data-aos="fade-up" data-aos-delay="300">Deluxe Experience</h5>
                            <p data-aos="fade-up" data-aos-delay="300" class="textJustify">We will organize networking events, art exhibitions, fashion shows and gourmet feast from time to time for your enjoyment. We will also host professional investment forums to help you stay on top of the financial trends. </p>
                            @*<a href="###" onclick="alert('coming soon');">
                                <div class="myBtn blue mr15" data-aos="fade-up" data-aos-delay="300">See more</div>
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- section4 -->
    <!-- section4 -->
    <!-- section4 -->

    <div class="d-lg-none">
        <div class="section4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section4i1.png")" class="img-fluid illu" data-aos="fade-up">
                        <h3 class="gold2" data-aos="fade-up">
                            Become a Cathay United Bank Private Banking Customer<br>Enjoy exclusive access to exceptional services
                        </h3>
                        <div class="titleLine" data-aos="fade-up"></div>
                        <div class="clearfix"></div>
                        <p data-aos="fade-up" class="textJustify">
                            The minimum balance required is SG$2 million AUM at Cathay United Bank. Customers who meet the criteria and are suitable for the service will be eligible to become Private Banking customers.

                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-none d-lg-block">
        <div class="section4D">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/about/section4i1D.png")" class="img-fluid" data-aos="fade-up">
                    </div>
                    <div class="col-6">
                        <div class="paper" data-aos="fade-up">

                            <h3 class="gold2" data-aos="fade-up">
                                Become a Cathay United Bank Private Banking Customer<br>
                                Enjoy exclusive access to exceptional services
                            </h3>
                            <div class="titleLine" data-aos="fade-up"></div>
                            <div class="clearfix"></div>
                            <p data-aos="fade-up" class="textJustify">
                                The minimum balance required is SG$2 million AUM at Cathay United Bank. Customers who meet the criteria and are suitable for the service will be eligible to become Private Banking customers.

                            </p>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <!-- footer -->
    <!-- footer -->



    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>

                            <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                            <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                            <li>©Cathay United Bank All rights reserved.</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                            <li><a href="@Url.Content("~/HongKong/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Hong Kong</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">Cathay United Bank Private Banking, Taiwan</a></li>
                                <li><a href="@Url.Content("~/HongKong/en/private-bank/")" target="_blank" rel="noopener">Cathay United Bank Private Banking, Hong Kong</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/en-us/cathaybk/english/disclosures/disclosures/user-privacy-policy/" target="_blank" rel="noopener">Privacy policy</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/financial-disclosure " target="_blank" rel="noopener">Financial disclosure</a></li>
                                <li><a href="https://www.cathaybk.com.tw/sg/en/browser-setting " target="_blank" rel="noopener">Browser suggestions</a></li>
                                <li>©Cathay United Bank All rights reserved.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>







    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/jquery.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")"></script>



    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });




        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }





        // ↓↓↓↓↓↓↓↓ 選單收合 ↓↓↓↓↓↓↓↓
        window.onscroll = function () {
            scrollFunction()

        };


        function scrollFunction() {


            //document.documentElement || document.documentElement.scrollTop || document.body.scrollTop

            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                $('.headerD .container .area1').hide();
                $('.headerD .container .goldLineArea').hide();
            } else {
                $('.headerD .container .area1').show();
                $('.headerD .container .goldLineArea').show();
            }




        }

    </script>





    <script>


        $(".nav1").addClass("current");


    </script>





</body>


</html>
