@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>国泰世华银行 私人银行</title>


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css")" rel="stylesheet">
@*<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css.map")" rel="stylesheet">*@


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/core.css")" rel="stylesheet">
<link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/coreD.css")" />




<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/animate.css")" rel="stylesheet">


<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/fontawesome/css/all.css")" rel="stylesheet">

<link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">

    
    

    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/award.css")" rel="stylesheet">
    <link media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/awardD.css")" rel="stylesheet">

</head>

<body>


    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="navHeader">
                    <a href="@Url.Content("~/sg/zh-cn/private-bank")">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo img-fluid">
                    </a>
                    <div class="myclose" data-dismiss="modal" aria-label="Close">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/myClose.png")" class="myClose">
                    </div>
                </div>
                <div class="navBody">
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/about/")">
                        <div class="oneNav">
                            关于我们
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/custom/")">
                        <div class="oneNav">
                            方案订制
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    @*<a href="javascript:;" onclick="alert('敬请期待');">
                        <div class="oneNav">
                            专属礼遇
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>*@
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/award/")">
                        <div class="oneNav">
                            奖项荣誉
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/zh-cn/private-bank/contact/")">
                        <div class="oneNav">
                            联络我们
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">
                        <div class="oneNav">
                            网银登入
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/sg/zh-cn/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/trigger.png")" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/sg/zh-cn/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/cnlogo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">

                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/sg/zh-cn/")">新加坡分行</a></li>
                            <li><a href="@Url.Content("~/sg/zh-cn/private-bank/")" class="active">私人银行</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" target="_self" class="goldFrame">繁中</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" target="_self" class="goldFrame">En</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/about/")">关于我们</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/custom/")">方案订制</a>
                            </li>
                            @*<li class="nav3">
                                <a href="javascript:;" onclick="alert('敬请期待');">专属礼遇</a>
                            </li>*@
                            <li class="nav100">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/award/")">奖项荣誉</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/sg/zh-cn/private-bank/contact/")">联络我们</a>
                            </li>
                            <li class="nav5">
                                <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">网银登入</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- banner -->
    <!-- banner -->
    <!-- banner -->


    <div class="banner">
        <div class="titleSet">
            <h2 class="gold1">奖项荣誉</h2>
            <div class="siteMap">
                <p><a href="@Url.Content("~/sg/zh-cn/private-bank/")">首页</a> / 奖项荣誉</p>
            </div>
        </div>
    </div>


    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->

    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="paper" data-aos="fade-up">

                        <div class="row oneYear align-items-center fadeIn" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2023</h4>
                                <p data-aos="fade-up">
                                    荣获亚洲私人银行家(Asian Private Banker)<br>台湾最佳私人银行奖<br>Best Private Bank Taiwan Domestic
                                </p>
                            </div>
                        </div>

                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2023</h4>

                                <p>
                                    荣获财资杂志(The Asset)<br>台湾最佳私人银行奖-高净值资产客户奖<br>Triple A Best Private Bank for HNWIs
                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center fadeIn" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2023</h4>
                                <p data-aos="fade-up">
                                    荣获荣获财资杂志 (The Asset)<br>台湾最佳私人银行奖<br>Triple A  Best Private Bank, Taiwan
                                </p>
                            </div>
                        </div>





                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2022</h4>

                                <p>
                                    荣获亚洲私人银行家(Asian Private Banker)<br>台湾最佳私人银行奖<br>Best Private Bank Taiwan Domestic
                                </p>
                            </div>
                        </div>

                        <div class="row oneYear align-items-center fadeIn" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2022</h4>
                                <p data-aos="fade-up">
                                    荣获亚洲货币杂志(Asiamoney)<br>台湾最佳私人银行奖<br>Best Domestic Private Bank in Taiwan
                                </p>
                            </div>
                        </div>

                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2021</h4>

                                <p>
                                    荣获亚洲私人银行家(Asian Private Banker)<br>台湾最佳私人银行奖<br>Best Private Bank Taiwan Domestic
                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center fadeIn" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2021</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志(The Asset)<br>台湾最佳私人银行奖-高净值资产客户奖<br>Triple A Best Private Bank for HNWIs-Taiwan Domestic
                                </p>
                            </div>
                        </div>



                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2020</h4>

                                <p>
                                    荣获亚洲私人银行家(Asian Private Banker)<br>台湾最佳私人银行奖<br>Best Private Bank Taiwan Domestic
                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2020</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志(The Asset)<br>台湾最佳私人银行奖-高净值资产客户奖<br>Triple A Best Private Bank for HNWIs-Taiwan Domestic
                                </p>
                            </div>
                        </div>




                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2019</h4>
                                <p data-aos="fade-up">
                                    荣获亚洲私人银行家(Asian Private Banker)
                                    <br>台湾最佳私人银行奖
                                    <br>Best Private Bank Taiwan Domestic
                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center" data-aos="fade">

                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2018</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志 (The Asset)
                                    <br> 私人银行高度推荐奖
                                    <br> Best Private Bank, Highly Commended

                                </p>
                            </div>
                        </div>



                        <div class="row oneYear align-items-center" data-aos="fade">
                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2017</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志 (The Asset)台湾最佳私人银行
                                    <br> Best Private Bank, Taiwan
                                </p>

                                <p data-aos="fade-up">
                                    荣获亚洲私人银行家(Asian Private Banker)
                                    <br>One To Watch Private Bank Taiwan Domestic
                                </p>



                            </div>
                        </div>


                        <div class="row oneYear align-items-center" data-aos="fade">
                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2016</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志 (The Asset)
                                    <br>台湾最佳私人银行奖
                                    <br> Best Private Bank, Taiwan
                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center" data-aos="fade">
                            <div class="col-10 offset-2 offset-lg-0 col-lg-5 lgLeft">
                                <h4 data-aos="fade-up">2015</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志 (The Asset)
                                    <br>台湾最佳私人银行新星奖
                                    <br> Rising Star Best Private Bank, Taiwan

                                </p>
                            </div>
                        </div>


                        <div class="row oneYear align-items-center fadeOut" data-aos="fade">
                            <div class="col-10 offset-2 offset-lg-7 col-lg-5">
                                <h4 data-aos="fade-up">2014</h4>
                                <p data-aos="fade-up">
                                    荣获财资杂志 (The Asset)
                                    <br>台湾最佳私人银行新星奖
                                    <br> Rising Star Best Private Bank, Taiwan


                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- .paper -->
                </div>
            </div>
        </div>
    </div>




    <!-- footer -->
    <!-- footer -->
    <!-- footer -->



    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>手机请拨：02-2383-1000</li>
                            <li>服务专线：0800-818-001</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隐私权保护政策</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顾客资料保密措施</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行销</a></li>
                            <li>©国泰世华商业银行股份有限公司</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">国泰世华私人银行 I 台湾</a></li>
                            <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">国泰世华私人银行 I 香港</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">国泰世华私人银行 I 台湾</a></li>
                                <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">国泰世华私人银行 I 香港</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/news/announcement/info/browsersetting/?l=f" target="_blank" rel="noopener">浏览器建议</a> </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隐私权保护政策</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顾客资料保密措施</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行销</a></li>
                                <li>©国泰世华商业银行股份有限公司</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/jquery.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")"></script>



    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });




        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }





        // ↓↓↓↓↓↓↓↓ 選單收合 ↓↓↓↓↓↓↓↓
        window.onscroll = function () {
            scrollFunction()

        };


        function scrollFunction() {


            //document.documentElement || document.documentElement.scrollTop || document.body.scrollTop

            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                $('.headerD .container .area1').hide();
                $('.headerD .container .goldLineArea').hide();
            } else {
                $('.headerD .container .area1').show();
                $('.headerD .container .goldLineArea').show();
            }




        }

    </script>




    <script>
        $(".nav100").addClass("current");

    </script>




</body>


</html>
