@model IndexViewModel

@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageTitle = "網上銀行";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Internet Banking";
    ViewBag.PageDescription = "";
}
@section Scripts {
    <script>
        var serviceCard = serviceCard || {};
        serviceCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services');
                $('.cos-item-description', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cos-item', scope).each(function () {
                        let h = $('.cos-item-description', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cos-item-description', scope).height(max_h);
                } else {
                    $('.cos-item-description', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.serviceCard', function () {
                    o.sameHeight();
                }).trigger('resize.serviceCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>
    <script>
        $(function () {
            var myServiceCard = serviceCard.prototype;
            myServiceCard.init();

            var myFaq = faq.prototype;
            myFaq.init();
            // myFaq.getData('depository-remittance');
            // myFaq.getData('account-opening');
            // myFaq.getData('depository-remittance');
            // myFaq.getData('corporate-financing');
            myFaq.getData('online-banking');
            // myFaq.getData('information-security');
            // myFaq.getData('derivatives');


            var myDownload = download.prototype;
            myDownload.init();
            myDownload.getData('online-banking');
            $('.component-oversea-downloads').addClass('component-bg--white')
            $('.component-oversea-faq').removeClass('component-bg--white')
        })
    </script>
}


<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/internet-banking-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/internet-banking.jpg")' alt='@ViewBag.nav_services_online_banking'>



        </picture>
        <figcaption hidden>@ViewBag.nav_services_online_banking</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_services_online_banking</h1>
        </div>
    </div>
</div>

@if (ViewBag.lang == "zh-hant")
{
    <div class='component-oversea-services component-bg--white component-oversea-services--large'>
        <div class="cos-inner">
            <p class='cos-item-description'>
                小心保護個人登入資料，按連結前要再三考慮！<br>
                請前往香港金融管理局網站了解更多關於 個人登入資料<a class='coi-link' href='https://www.hkma.gov.hk/chi/smart-consumers/personal-digital-keys/' target="_blank" rel='noopener nofollow'>(https://www.hkma.gov.hk/chi/smart-consumers/personal-digital-keys/)</a>
                和網絡安全提示<a class='coi-link' href='https://www.hkma.gov.hk/eng/smart-consumers/beware-of-fraudsters/' target="_blank" rel='noopener nofollow'>(https://www.hkma.gov.hk/eng/smart-consumers/beware-of-fraudsters/)</a>
                詳情，以及觀看相關教育短片<a class='coi-link' href='https://www.youtube.com/watch?v=bgcEpqY_LsI' target="_blank" rel='noopener nofollow'>(https://www.youtube.com/watch?v=bgcEpqY_LsI)。</a>
            </p>
            <br />
            <ul class='cos-list'>
                @*<li class='cos-item'>
                    <a href='@Url.Content("/EBANK/Auth/login.aspx?ReturnUrl=%2febank%2fdefault.aspx")' target="_blank" rel='noopener' class="cos-item-link">
                        <figure class='cos-item-figure'>
                            <picture>
                                <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/services/internet-banking/hong-kong-e-banking.jpg")' alt='香港分行網路銀行'>
                            </picture>
                            <figcaption hidden>香港分行網路銀行</figcaption>
                        </figure>
                        <div class='cos-item-content'>
                            <h3 class='cos-item-title'>香港分行網路銀行</h3>
                            <h4 class='cos-item-subtitle'>簡稱 香港網銀</h4>
                            <h5 class='cos-item-en-subtitle'>Hong Kong E-Banking (HKEB)</h5>
                            <p class='cos-item-description'>可進行帳戶查詢、利率查詢、約定帳戶轉帳、約定帳戶匯款與網路定期存款等功能，讓您不論身在何處都可輕鬆管理帳戶。</p>
                        </div>
                        <div class='cos-item-btn'>登入香港網銀<br />E-Banking</div>
                    </a>
                </li>*@
           
                <li class='cos-item'>
                    <a href='https://www.globalmyb2b.com/GEBANK/Login.aspx' target="_blank" rel='noopener' class="cos-item-link">
                        <figure class='cos-item-figure'>
                            <picture>
                                <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/services/internet-banking/global-myb2b.jpg")' alt='全球企業網路銀行服務'>
                            </picture>
                            <figcaption hidden>全球企業網路銀行服務</figcaption>
                        </figure>
                        <div class='cos-item-content'>
                            <h3 class='cos-item-title'>全球企業網路銀行服務</h3>
                            <h4 class='cos-item-subtitle'>簡稱 全球企網銀</h4>
                            <h5 class='cos-item-en-subtitle'>Global MyB2B (GMB)</h5>
                            <p class='cos-item-description'>提供企業用戶，可進行帳戶查詢、約定帳號和非約定帳號轉帳及匯款、帳戶整合等服務。</p>
                        </div>
                        <div class='cos-item-btn'>登入全球企網銀<br />Global MyB2B</div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

}
else
{
    <div class='component-oversea-services component-bg--white component-oversea-services--large'>
        <div class="cos-inner">
            @*<h2 class='cos-title cos-title--dark'>Cathay United Bank (CUB), Hong Kong Branch currently provides 2 types of internet banking services:</h2>*@

            <ul class='cos-list'>
                @*<li class='cos-item'>
                    <a href='https://www.cathaybk.com.tw/EBANK/' target="_blank" rel='noopener' class="cos-item-link">
                        <figure class='cos-item-figure'>
                            <picture>
                                <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/services/internet-banking/hong-kong-e-banking.png")' alt='Hong Kong E-Banking (HKEB)'>
                            </picture>
                            <figcaption hidden>Hong Kong E-Banking (HKEB)</figcaption>
                        </figure>
                        <div class='cos-item-content'>
                            <h3 class='cos-item-title'>Hong Kong E-Banking (HKEB)</h3>
                            <p class='cos-item-description'>
                                offers internet banking services to individual clients, including real-time account balance, transfers to designated accounts, time deposits, etc.
                            </p>
                        </div>
                        <div class='cos-item-btn'>Login E-Banking</div>
                    </a>
                </li>*@

                <li class='cos-item'>
                    <a href='https://www.globalmyb2b.com/' target="_blank" rel='noopener' class="cos-item-link">
                        <figure class='cos-item-figure'>
                            <picture>
                                <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/hongkong/services/internet-banking/global-myb2b.png")' alt='Global MyB2B'>
                            </picture>
                            <figcaption hidden>Global MyB2B</figcaption>
                        </figure>
                        <div class='cos-item-content'>
                            <h3 class='cos-item-title'>Global MyB2B (GMB)</h3>
                            <p class='cos-item-description'>
                                offers internet banking services to corporate clients, including real-time account balance, transfers or remittances, account integration, etc.
                            </p>
                        </div>
                        <div class='cos-item-btn'>Login Global MyB2B</div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

}


@if (ViewBag.lang == "zh-hant")
{

    <div class='component-oversea-table' id='daily-limit-transactions'>
        <div class='cot-inner'>
            @*<h2 class='cot-title'>網銀各項交易限額表</h2>
            <div class="cot-table-wrap">
                <div class="cot-table cot-table--zebra cot--online-banking">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>香港分行網路銀行</span><span>Hong Kong E-Banking</span></div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'></div>
                        <div class='cot-td cot-td--33'>同幣別</div>
                        <div class='cot-td cot-td--33'>不同幣別</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>轉帳(每日上限)</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 100,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>匯款(每日上限)</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 50,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>換匯交易每筆上限</div>
                        <div class='cot-td cot-td--33'>N.A</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 50,000</div>
                    </div>
                </div>

                <div class="cot-table cot--online-banking-small">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>香港分行網路銀行</span><span>Hong Kong E-Banking</span></div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td cot-td--full'><span class='cot-td-value'>同幣別</span></div>
                        <div class='cot-td'>轉帳(每日上限)</div>
                        <div class='cot-td'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td'>匯款(每日上限)</div>
                        <div class='cot-td'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td'>換匯交易每筆上限</div>
                        <div class='cot-td'>N.A</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td cot-td--full'><span class='cot-td-value'>不同幣別</span></div>
                        <div class='cot-td'>轉帳(每日上限)</div>
                        <div class='cot-td'><span class='cot-td-currency'>USD</span> 50,000</div>
                        <div class='cot-td'>匯款(每日上限)</div>
                        <div class='cot-td'><span class='cot-td-currency'>USD</span> 50,000</div>
                        <div class='cot-td'>換匯交易每筆上限</div>
                        <div class='cot-td'>N.A</div>
                    </div>
                </div>

                <ul class='cot-list'>
                    <li class='cot-item'>以上所有交易累計每日最高USD 115萬。</li>
                    <li class='cot-item'>網路定期存款每日/每筆最高USD 50萬。</li>
                    <li class='cot-item'>透過網路銀行辦理定期存款中途解約每日限額USD 10萬元(或等值幣別)， 超逾限額者請臨櫃或傳真辦理定期存款中途解約相關事宜。</li>
                </ul>
            </div>*@



            <div class="cot-table-wrap">
                <!-- <div class="cot-table cot--online-banking"> -->
                <div class="cot-table cot-table--zebra cot--online-banking-myb2b">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>全球企業網路銀行服務</span><span>Global MyB2B</span></div>
                    </div>
                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">業務別</div>
                        <div class="cot-td">同幣別交易每日最高限額</div>
                        <div class="cot-td">不同幣別交易每日最高限額</div>
                        <div class="cot-td">每筆/每日最高限額</div>
                    </div>

                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">活存轉帳</div>
                        <div class="cot-td cot-td--10">A1</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">A2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">A1+A2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">匯出匯款</div>
                        <div class="cot-td cot-td--10">B1</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">B2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">B1+B2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>
                    </div>
                </div>



                <div class="cot-table cot--online-banking-myb2b-small">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>全球企業網路銀行服務</span><span>Global MyB2B</span></div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>業務別</div>
                        <div class='cot-td'>同幣別<br />交易每日最高限額</div>
                        <div class='cot-td'>活存轉帳</div>
                        <div class='cot-td'><span class='cot-td-type'>A1</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        <div class='cot-td'>匯出匯款</div>
                        <div class='cot-td'><span class='cot-td-type'>B1</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>業務別</div>
                        <div class='cot-td'>不同幣別<br />交易每日最高限額</div>
                        <div class='cot-td'>活存轉帳</div>
                        <div class='cot-td'><span class='cot-td-type'>A2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        <div class='cot-td'>匯出匯款</div>
                        <div class='cot-td'><span class='cot-td-type'>B2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>業務別</div>
                        <div class='cot-td'>每筆/每日最高限額</div>
                        <div class='cot-td'>活存轉帳</div>
                        <div class='cot-td'><span class='cot-td-type'>A1+A2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        <div class='cot-td'>匯出匯款</div>
                        <div class='cot-td'><span class='cot-td-type'>B1+B2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                    </div>
                </div>

                <ul class='cot-list'>
                    <li class='cot-item'>相關事項請參閱<a class="cot-text-link" href="https://www.globalmyb2b.com/GEBANK/html/qa_04_taiwan_zh-tw.html" target="_blank" rel='noopener nofollow'>Global MyB2B 常見問題-交易篇</a>之「Global MyB2B外匯電子交易限額表 」[香港電子交易限額表]。</li>
                </ul>
            </div>
        </div>
    </div>

}
else
{

    <div class='component-oversea-table' id='daily-limit-transactions'>
        <div class='cot-inner'>
            <!--<h2 class='cot-title'>Daily Limit of transactions on Internet Banking</h2>
            <div class="cot-table-wrap">-->

                <!--Hong Kong E-Banking-->
                <!--<div class="cot-table cot-table--zebra cot--online-banking">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>Hong Kong E-Banking (HKEB)</span></div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>Type</div>
                        <div class='cot-td cot-td--33'>In the same currency</div>
                        <div class='cot-td cot-td--33'>In different currencies</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>Fund transfer (daily limit)</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 100,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>Remittance (daily limit)</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 50,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>Currency exchange (per transaction limit)</div>
                        <div class='cot-td cot-td--33'>N.A</div>
                        <div class='cot-td cot-td--33'><span class='cot-td-currency'>USD</span> 50,000</div>
                    </div>
                </div>-->

                <!--online-banking-small-->
                <!--<div class="cot-table cot--online-banking-small">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>Hong Kong E-Banking (HKEB)</span></div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td cot-td--full'><span class='cot-td-value'>In the same currency</span></div>
                        <div class='cot-td cot-td--60'>Fund transfer (daily limit)</div>
                        <div class='cot-td cot-td--40'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--60'>Remittance (daily limit)</div>
                        <div class='cot-td cot-td--40'><span class='cot-td-currency'>USD</span> 500,000</div>
                        <div class='cot-td cot-td--60'>Currency exchange (per transaction limit)</div>
                        <div class='cot-td cot-td--40'>N.A</div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td cot-td--full'><span class='cot-td-value'>In different currencies</span></div>
                        <div class='cot-td cot-td--60'>Fund transfer (daily limit)</div>
                        <div class='cot-td cot-td--40'><span class='cot-td-currency'>USD</span> 50,000</div>
                        <div class='cot-td cot-td--60'>Remittance (daily limit)</div>
                        <div class='cot-td cot-td--40'><span class='cot-td-currency'>USD</span> 50,000</div>
                        <div class='cot-td cot-td--60'>Currency exchange (limit per transaction)</div>
                        <div class='cot-td cot-td--40'>N.A</div>
                    </div>
                </div>

                <ul class='cot-list'>
                    <li class='cot-item'>The daily limit of all transactions  is USD1,150,000 (equivalent).</li>
                    <li class='cot-item'>The daily limit of time deposits is USD500,000.</li>
                    <li class='cot-item'>The daily limit on early termination of time deposit is USD100,000 (or equivalent). For amount exceeding the limit, please send the instruction by fax.li>
                </ul>
            </div>-->



            <div class="cot-table-wrap">
                <!-- <div class="cot-table cot--online-banking"> -->
                <div class="cot-table cot-table--zebra cot--online-banking-myb2b">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>Global MyB2B (GMB)</span></div>
                    </div>
                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">Types</div>
                        <div class="cot-td">Daily limit of transactions in the same currency</div>
                        <div class="cot-td">Daily limit of transactions in different currency</div>
                        <div class="cot-td">Per/daily transaction limit</div>
                    </div>

                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">Funds Transfer (daily limit)</div>
                        <div class="cot-td cot-td--10">A1</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">A2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">A1+A2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>
                    </div>

                    <div class='cot-tr'>
                        <div class="cot-td cot-td--15">Remittance (daily limit)</div>
                        <div class="cot-td cot-td--10">B1</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">B2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>

                        <div class="cot-td cot-td--10">B1+B2</div>
                        <div class="cot-td"><span class='cot-td-currency'>USD</span>10,000,000</div>
                    </div>
                </div>



                <div class="cot-table cot--online-banking-myb2b-small">
                    <div class="cot-tr cot-tr--head">
                        <div class="cot-td"><span>Global MyB2B (GMB)</span></div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>
                            <div>Type:</div>
                            <div>limit on transactions in the same currency</div>
                        </div>
                        <div class='cot-td'>
                            <div>Funds Transfer (daily limit):</div>
                            <div><span class='cot-td-type'>A1</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>

                        <div class='cot-td'>
                            <div>Remittance (daily limit):</div>
                            <div><span class='cot-td-type'>B1</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>
                            <div>Type:</div>
                            <div>Daily limit on transactions in different currencies</div>
                        </div>

                        <div class='cot-td'>
                            <div>Funds Transfer (daily limit):</div>
                            <div><span class='cot-td-type'>A2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>

                        <div class='cot-td'>
                            <div>Remittance (daily limit):</div>
                            <div><span class='cot-td-type'>B2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>
                    </div>

                    <div class='cot-tr'>
                        <div class='cot-td'>
                            <div>Type:</div>
                            <div>Per-transaction/daily limit</div>
                        </div>

                        <div class='cot-td'>
                            <div>Funds Transfer (daily limit):</div>
                            <div><span class='cot-td-type'>A1+A2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>

                        <div class='cot-td'>
                            <div>Remittance (daily limit):</div>
                            <div><span class='cot-td-type'>B1+B2</span><span class='cot-td-currency'>USD</span> 10,000,000</div>
                        </div>
                    </div>
                </div>

                <ul class='cot-list'>
                    <li class='cot-item'>For more details, please refer to website below <a class="cot-text-link" href="@Url.Content("~/faq/#online-banking")">https://www.globalmyb2b.com/GEBANK/PRECAUTION/TranLimits.zh-TW.pdf?20181029.</li>
                </ul>
            </div>
        </div>
    </div>

}






@RenderPage("../../download.cshtml")
@RenderPage("../../faq.cshtml")