@{
   ViewData["PageTitle"] = "mBanking Privacy Policy";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		mBanking Privacy Policy
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Online Banking</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">mBanking Privacy Policy</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">iBanking</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">mBanking</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">Merchant App</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">Alert Services</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">User Guide</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">-- Select page --</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">iBanking</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">mBanking</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">Alert Services</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">User Guide</a>
		</div>
	</div>

	
	
	<!--
		mBanking Privacy Policy - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">mBanking Privacy Policy</h1>
		</header>
		
		
		<div class="compact">
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Privacy Policy</h3>
			<p class="mb-3">Cathay United Bank Cambodia Co., Ltd. ("us", "we", or "our") built the CUBC MBANKING app as a Commercial App. This Service is provided by Cathay United Bank Cambodia Co., Ltd. and is intended for use as a mobile application (the "Service").</p>
			<p class="mb-3">This page informs you of our policies regarding the collection, use, and disclosure of Personal Data when you use our Service and the choices you have regarding that data.</p>
			<p class="mb-3">If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The personal information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
			<p class="mb-3">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at CUBC MBANKING unless otherwise stated in this Privacy Policy.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Information Collection and Use</h3>
			<p class="mb-3">For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to information we collected. The information that we request will be retained by us and used as described in this privacy policy.</p>
			<p class="mb-3">The app uses third-party services that may collect information used to identify you.</p>
			<p class="mb-3">Link to privacy policy of third-party service providers used by the app: <a class="hover-text text-underline" target="_blank" rel="noopener noreferrer nofollow" href="https://policies.google.com/privacy">https://policies.google.com/privacy<i class="ico-ui-external ml-2 small"></i></a></p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Personal Data</h3>
			<p class="mb-3">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
			<ul class="list-disc mb-3">
				<li>Email address</li>
				<li>First name and last name</li>
				<li>Phone number</li>
				<li>Account number</li>
				<li>Credit card number</li>
				<li>Cookies and Usage Data</li>
			</ul>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Usage Data</h3>
			<p class="mb-3">We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device ("Usage Data").</p>
			<p class="mb-3">This Usage Data may include information such as your computer's internet protocol address (IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
			<p class="mb-3">When you access the Service by or through a mobile device, this usage data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>
			
			
			<div class="py-section"></div>
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Tracking & Cookies Data</h3>
			<p class="mb-3">We use cookies and similar tracking technologies to track activity on our Service and store certain information.</p>
			<p class="mb-3">Cookies are files with small amount of data that may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Other tracking technologies used include beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
			<p class="mb-3">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
			<p class="mb-3">Examples of cookies we use:</p>
			<ul class="list-disc mb-3">
				<li>Session Cookies. We use Session Cookies to operate our Service.</li>
				<li>Preference Cookies. We use Preference Cookies to remember your preferences and various settings.</li>
				<li>Security Cookies. We use Security Cookies for security purposes.</li>
			</ul>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Use of Data</h3>
			<p class="mb-3">Cathay United Bank Cambodia Co., Ltd. uses the collected data for various purposes:</p>
			<ul class="list-disc mb-3">
				<li>To provide and maintain the Service</li>
				<li>To notify you about changes to our Service</li>
				<li>To allow you to use interactive features of our Service when you choose to do so</li>
				<li>To provide customer care and support</li>
				<li>To provide analysis or valuable information so that we can improve the Service</li>
				<li>To monitor the usage of the Service</li>
				<li>To detect, prevent and address technical issues</li>
			</ul>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Transfer of Data</h3>
			<p class="mb-3">Your information, including Personal Data, may be transferred and maintained on computers located inside our bank where the data protection laws may differ from those in your jurisdiction.</p>
			<p class="mb-3">If you are located outside Cambodia and choose to provide information to us, please note that we transfer the data, including Personal Data, to Cambodia and process it there.</p>
			<p class="mb-3">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
			<p class="mb-3">Cathay United Bank Cambodia Co., Ltd. will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an another organization or country unless there are adequate controls in place to safeguard the security of your data and other personal information.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Disclosure of Data</h3>
			<h4 class="mb-2 fw-bolder">Legal Requirements</h4>
			<p class="mb-3">Cathay United Bank Cambodia Co., Ltd. may disclose your Personal Data in good faith in the belief that such action is necessary:</p>
			<ul class="list-disc mb-3">
				<li>To comply with a legal obligation</li>
				<li>To protect and defend the rights or property of Cathay United Bank Cambodia Co., Ltd.</li>
				<li>To prevent or investigate possible wrongdoing in connection with the Service</li>
				<li>To protect the personal safety of users of the Service or the public</li>
				<li>To protect against legal liability</li>
			</ul>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Security of Data</h3>
			<p class="mb-3">We value your trust in providing us your Personal Information, which is why we use commercial-grade systems to protect. But remember that no method of transmission over the internet, or method of electronic storage, is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Service Providers</h3>
			<p class="mb-3">We may employ third-party companies and individuals for the following reasons:</p>
			<ul class="list-disc mb-3">
				<li>To facilitate our Service;</li>
				<li>To provide the Service on our behalf;</li>
				<li>To perform Service-related services; or</li>
				<li>To assist us in analyzing how our Service is used.</li>
			</ul>
			<p class="mb-3">We want to inform users of this Service that these third parties have access to your Personal Information. This is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Links to Other Sites</h3>
			<p class="mb-3">This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Children's Privacy</h3>
			<p class="mb-3">These Services are not intended for anyone under the age of 18. We do not knowingly collect personally identifiable information from children under 18. In the case we discover that a child under 18 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we can take the necessary action.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Changes to This Privacy Policy</h3>
			<p class="mb-3">We may update our Privacy Policy from time to time. You are therefore advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Contact Us</h3>
			<p class="mb-3">If you have any questions about this Privacy Policy, please contact us by visiting our website: <a class="hover-text text-underline" href="https://policies.google.com/privacy">https://www.cathaybk.com.kh</a></p>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->