@{
   ViewData["PageTitle"] = "Personal Banking";
   ViewData["PageDescription"] = "At Cathay United Bank, we are here to understand your needs and meet those needs. With convenience, value and quality, we build a strong relationship with you to achieve your financial goals. Whether you're just starting out, nearing retirement, or somewhere in between, our personal banking services let you recapture a little more time for yourself.";
}


<!-- Page START -->
<main class="mastbody">
	<!--
		Personal Banking
	-->
	<header class="topkv clerkkv">
		<div class="clerkkv-bg lazy" data-bg="/assets/img/content/bg-bright.jpg"></div>
		<div class="clerkkv-content">
			<div class="clerkkv-title">
				<h1 class="display-1 mb-3  fw-bold text-center lh-xs nowrap">Personal Banking</h1>
				<p class="h4 h4-mb">We understand that it's a challenging world out there and the pace of life is moving faster each day. There is more to do and less time to do it. Are you ready for a bank that can keep up? At Cathay United Bank, we are here to understand your needs and meet those needs. With convenience, value and quality, we build a strong relationship with you to achieve your financial goals. Whether you're just starting out, nearing retirement, or somewhere in between, our personal banking services let you recapture a little more time for yourself.</p>
			</div>
			<figure class="clerkkv-pic">
				<img class="ofi-contain lazy" data-src="/assets/img/content/clerk-at-service.png" alt="We understand your needs">
			</figure>
		</div>
	</header>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Personal Banking</li>
			</ol>
		</div>
	</nav>
	
	<div class="py-30"></div>
	
	
	<!--
		Personal Banking - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Banking for individuals</h2>
			<p class="display-3 h1-mb  text-dark fw-bold">A financial partner you can trust</p>
		</header>
		
		<!-- Card grids  (3 in a row) -->
		<div class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4"><!-- 720x482 PNG or JPG -->
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-deposit.jpg" alt="Deposit Accounts">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Deposit Accounts<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/current-account/">Current Account<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/savings-account/">Savings Account<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/fixed-deposit/">Fixed Deposit<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/deposit-pricing-guide/">Deposit Pricing Guide<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-remittance.jpg" alt="Remittances">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Remittances<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/inward-and-outward-remittance/">Inward & Outward Remittances<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/payment-and-transfer/">Payment & Transfer<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-loan.jpg" alt="Borrowing Solutions">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Borrowing Solutions<b class="underdash"></b></h3>
						<ul class="h4 h4-mb">
							<li class="mb-2  mb-n2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/individual-loan/">Individual Loan<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-cards.jpg" alt="Personal Cards">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Personal Cards<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/credit-cards/">Credit Cards<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/debit-cards/">Debit Cards<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/card-promotions/">Card Promotions<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/rewards-program/">Rewards Program<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-atm.jpg" alt="ATM">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ATM<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/atm-service/">ATM Service<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-online.jpg" alt="Online Banking">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Online Banking<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/internet-banking/">iBanking<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/mobile-banking/">mBanking<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/alert-services/">Alert Services<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/user-guide/">User Guide<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>	
			</ul>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->