@model IndexViewModel

@{
    ViewBag.PageTitle = @ViewBag.nav_news;
}

@if (ViewBag.lang == "zh-hant")
{
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageDescription = "";
}

@section Scripts {
    <script>
    var country = "@ViewBag.country_url";
    var city = "@ViewBag.city_url";
    var id = "@ViewBag.id";
    var lang = "lo";
    var branchId = "610";
    // 因目前沒有公告 新增這段來清除表格
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            var newsListCol = document.querySelector(".component-newslist-col");
            var newsList = document.querySelector(".component-newslist");

            if (newsListCol && (newsListCol.children.length === 0 || newsListCol.innerHTML.trim() === "")) {
                if (newsList) {
                    newsList.style.display = "none";
                }
            }
        }, 1000);
    });
    </script>
    <script src="~/OVSWS/Content/js/backendSystem/LatestNews.js"></script>
}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>

            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/news-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/news.jpg")' alt='@ViewBag.nav_news'>
        </picture>
        <figcaption hidden>@ViewBag.nav_news</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_news</h1>
        </div>
    </div>
</div>


<!-- newslist -->
<div class="component-newslist">
    <div class="component-newslist-inner">
        <div class="component-newslist-row">
            <div class="component-newslist-col">
            </div>
        </div>
    </div>
</div><!--/.component-newslist-->