@model IndexViewModel

@{
    ViewBag.PageTitle = "";
    ViewBag.PageDescription = "";
}

@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/jquery.scrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/OVSWS/Content/js/lib/slick.min.js")"></script>


    <script>
        var homeCard = homeCard || {};
        homeCard.prototype = {
            sameHeight: function () {

                let window_w = $(window).width();
                let max_h = 0;
                let scope = $('.component-oversea-services');
                $('.cos-item-description', scope).css('min-height', 0);
                if (window_w >= 768) {
                    $('.cos-item', scope).each(function () {
                        let h = $('.cos-item-description', $(this)).height();
                        if (h > max_h) {
                            max_h = h;
                        }
                    })
                    $('.cos-item-description', scope).height(max_h);
                } else {
                    $('.cos-item-description', scope).css('height', 'auto');
                }
            },
            addEventListener: function () {
                let o = this;
                $(window).on('resize.homeCard', function () {
                    o.sameHeight();
                }).trigger('resize.homeCard');
            },
            init: function () {
                this.addEventListener();
            }
        }
    </script>

    <script>
        $(function () {

            var myHomeCard = homeCard.prototype;
           // myHomeCard.init();


            //
            $(window).resize(function () {

                let window_w = $(window).width();
                let offset_x;
                let content_w;
                if (window_w > 991) {
                    offset_x = $('.cok-inner').offset().left;
                    content_w = $('.cok-content').width();
                    max_w = window_w - content_w - offset_x;
                } else {
                    offset_x = 0;
                    content_w = 0;
                    max_w = window_w;
                }
                $('.cok-figure-wrap').css('width', max_w);
                $('.cok-figure-wrap').css('flex-basis', max_w);
                $('.cok-figure-wrap').css('max-width', max_w);
                $('.cok-figure-wrap').css('left', content_w + offset_x);

            }).trigger('resize');

            $(".cok-figure-slider").slick({
                infinite: false,
                slidesToShow: 1,
                dots: false
            });

            ////////////////////////////

            //$('.con-list', $(this)).scrollbar();
        })
    </script>

    <script>
        //fraud modal
        $(function () {
            let myFraudModal = fraudModal.prototype;
            myFraudModal.init($('.component-oversea-modal--fraud'));
            myFraudModal.show();
        })
    </script>
}

<div class='component-oversea-kv'>
    <div class="cok-figure-wrap">
        <div class="cok-figure-slider">
            <div class="cok-figure-item">
                <figure class='cok-figure'>
                    <picture>
                        <source media='(min-width: 992px)'
                                srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv/bg-lg.jpg")' />
                        <img class='cok-img' src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv/bg.jpg")' alt='@ViewBag.site_name'>
                    </picture>
                    <figcaption hidden>@ViewBag.site_name</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="cok-inner">
        <div class="cok-content">
            @if (ViewBag.lang == "zh-hant")
            {
                <h1 class='cok-title'>
                    <span class='cok-title--company'>國泰世華銀行</span>
                    <span class='cok-title--slogan'>值得您<br />信賴的夥伴</span>
                </h1>
            }
            else
            {
                <h1 class='cok-title'>
                    <span class='cok-title--company'>Cathay United Bank</span>
                    <span class='cok-title--slogan'>值得您<br />信賴的夥伴</span>
                </h1>
            }

        </div>
    </div>
</div>
<div class='component-oversea-services component-oversea-services--33  component-oversea-services--home'>
    <div class="cos-inner">

        @if (ViewBag.lang == "zh-hant")
        {

        }
        else
        {

        }
        @if (ViewBag.lang == "zh-hant")
        {
            <h2 class='cos-title'>我們的服務</h2>
            <p class='cos-description'>納閩島分⾏為國泰世華銀⾏海外分⾏，於 1998 年 1 ⽉創⽴，旨在延續拓展全球服務據點，為海外及國內客⼾提供服務，同年亦設立吉隆坡⾏銷服務處。 為提升並強化業務發展，於2019年將吉隆坡⾏銷服務處轉型為吉隆坡共同服務處。</p>
            <p class='cos-description'>
                <strong>國泰金控暨旗下子公司國泰人壽、國泰世華銀行、國泰產險、國泰證券、</strong>
                國泰投信等，在台灣及世界各國提供全面性且多元化的金融服務與解決方案，與國泰航空有限公司暨其關係企業互不隷屬亦非關係企業。
            </p>
        }
        else
        {
            <h2 class='cos-title'>Our Services</h2>
            <p class='cos-description'>
                Cathay United Bank established our latest Representative Office in Jakarta in May 2015, with the mission of growing together with the Indonesia economy.
            </p>
            <p class='cos-description'>
                The main function of the Jakarta Representative Office is to act as an information and liaison office for the dissemination of information that promotes trade and business opprtunities for both Indonesian and Taiwanese clients.
            </p>
        }



        <ul class='cos-list'>
            <li class='cos-item'>
                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"services/cash-management/")" class='cos-item-link'>
                    <figure class='cos-item-figure'>
                        <picture>
                            <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services/home/cash-management.jpg")' alt='@ViewBag.nav_services_cash_management'>
                        </picture>
                        <figcaption hidden>@ViewBag.nav_services_cash_management</figcaption>
                    </figure>
                    <div class='cos-item-content'>
                        <h3 class='cos-item-title'>@ViewBag.nav_services_cash_management</h3>
                        @if (ViewBag.lang == "zh-hant")
                        {
                        <p class='cos-item-description'>提供便利且整合的現金管理產品，打造全方位金流服務，讓您有效管理收付款，提升資金運用效率。</p>
                        }
                        else
                        {
                            <p class='cos-item-description'>We provide you with convenient and comprehensive cash management products and all-rounded cash flow services for you to effectively manage your accounts payable and accounts receivable to enhance the fund utilization efficiency</p>
                        }
                        <div class='cos-item-btn'>@ViewBag.btn_learn_more</div>
                    </div>
                </a>
            </li>

            <li class='cos-item'>
                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"services/corporate-financing/")" class='cos-item-link'>
                    <figure class='cos-item-figure'>
                        <picture>
                            <img class='cos-item-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/services/home/corporate-financing.jpg")' alt='@ViewBag.nav_services_corporate_finance'>
                        </picture>
                        <figcaption hidden>@ViewBag.nav_services_corporate_finance</figcaption>
                    </figure>
                    <div class='cos-item-content'>
                        <h3 class='cos-item-title'>@ViewBag.nav_services_corporate_finance</h3>
                        @if (ViewBag.lang == "zh-hant")
                        {
                        <p class='cos-item-description'>提供完整且多元化的企業融資，為您量身打造全面的金融服務。</p>
                        }
                        else
                        {
                            <p class='cos-item-description'>Through our complete and diversified range of corporate finance services, we are able to offer you with customized financial services to suit your banking needs.</p>
                        }
                        <div class='cos-item-btn'>@ViewBag.btn_learn_more</div>
                    </div>
                </a>
            </li>



        </ul>


    </div>
</div>
