@{
   ViewData["PageTitle"] = "個人金融";
   ViewData["PageDescription"] = "在國泰世華銀行，我們為瞭解並致力滿足您的需求而存在。 藉著國泰世華提供的便利服務、價值和品質，我們認為透過與您建立穩固的關係將可以幫您實現財務目標。 無論您是剛剛起步、即將退休，還是介於兩者之間，我們的個人銀行服務都能讓您為自己爭取更多時間。";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		個人金融
	-->
	<header class="topkv clerkkv">
		<div class="clerkkv-bg lazy" data-bg="/assets/img/content/bg-bright.jpg"></div>
		<div class="clerkkv-content">
			<div class="clerkkv-title">
				<h1 class="display-1-sm mb-3  fw-bold text-center lh-xs nowrap">個人金融</h1>
				<p class="h4 h4-mb">我們了解外面的世界充滿挑戰，生活節奏日益加快。 有越來越多待辦事項，但是時間卻也越來越少。 您準備好迎接一家能跟得上這一切的銀行了嗎？ 在國泰世華銀行，我們為瞭解並致力滿足您的需求而存在。 藉著國泰世華提供的便利服務、價值和品質，我們認為透過與您建立穩固的關係將可以幫您實現財務目標。 無論您是剛剛起步、即將退休，還是介於兩者之間，我們的個人銀行服務都能讓您為自己爭取更多時間。</p>
			</div>
			<figure class="clerkkv-pic">
				<img class="ofi-contain lazy" data-src="/assets/img/content/clerk-at-service.png" alt="We understand your needs">
			</figure>
		</div>
	</header>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">個人金融</li>
			</ol>
		</div>
	</nav>
	
	<div class="py-30"></div>
	
	
	<!--
		個人金融 - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">個人銀行服務</h2>
			<p class="display-3 h1-mb  text-dark fw-bold">值得您信賴的夥伴</p>
		</header>
		
		<!-- Card grids  (3 in a row) -->
		<div class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4"><!-- 720x482 PNG or JPG -->
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-deposit.jpg" alt="存款帳戶">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">存款帳戶<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/current-account/">支票存款帳戶<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/savings-account/">活期存款帳戶<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/fixed-deposit/">定期存款<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/deposit-pricing-guide/">存款收費標準<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-remittance.jpg" alt="匯款服務">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">匯款服務<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/inward-and-outward-remittance/">匯入&匯出款項<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/payment-and-transfer/">付款與轉帳<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-loan.jpg" alt="借款方案">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">借款方案<b class="underdash"></b></h3>
						<ul class="h4 h4-mb">
							<li class="mb-2  mb-n2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/individual-loan/">個人貸款<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-cards.jpg" alt="信用卡與簽帳卡">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">信用卡與簽帳卡<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/credit-cards/">信用卡<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/debit-cards/">簽帳卡<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/card-promotions/">用卡優惠<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/rewards-program/">紅利回饋<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">點數禮遇<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">線上申請<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-atm.jpg" alt="ATM 服務">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ATM 服務<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/atm-service/">ATM 服務<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-online.jpg" alt="網路銀行">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">數位銀行服務<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/internet-banking/">網路銀行<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/mobile-banking/">行動銀行<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/alert-services/">推播/提醒服務<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/user-guide/">使用手冊<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>	
			</ul>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->