    <!-- 開戶篇 -->
<div id='account-opening' section='account-opening' class='component-oversea-faq  component-bg--white component--slim-bottom'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>開戶篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全部</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>香港分行帳戶種類有哪些？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p">可分為儲蓄帳戶、支票帳戶與投資帳戶。</p>
                            <p class="cof-item-p">儲蓄帳戶作為存款、匯款及轉帳等之用途，投資帳戶作為帳戶投資理財之用途。</p>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>香港分行提供哪些幣別的帳戶？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p"><b>香港分行儲蓄帳戶</b><br />提供的幣別有美元USD、港幣HKD、人民幣CNY、日元JPY、歐元EUR、澳幣AUD、加幣CAD、紐幣NZD、英磅GBP、瑞士法郎CHF、新加坡幣SGD、南非幣ZAR。</p>
                            <p class="cof-item-p"><b>支票帳戶</b><br />提供美元USD、港幣HKD及人民幣CNY。</p>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>開戶需要準備什麼證件？</h4>
                        <div class='cof-item-answer'>開戶要提供註冊地之公司文件，包括6個月內有效之存續證明書或公司查冊，同時亦需提供董事、股東及簽字人之雙證件，詳情請致電與客戶經理查詢。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶收到開戶通知信後，帳戶甚麼時候才能正式啟用？</h4>
                        <div class='cof-item-answer'>帳戶已正式啟用。</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 存匯 -->
<div id='depository-remittance' section='depository-remittance' class='component-oversea-faq component-bg--white component--slim'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>存匯篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全部</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>有帳戶管理費嗎？</h4>
                        <div class='cof-item-answer'>暫不收取。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>有關靜止戶之規定？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p">(a) 何謂「靜止戶」? </p>
                            <p class="cof-item-p">當你於本行持有的所有帳戶在過往指定時間(即連續12個月)內未有任何交易紀錄(因本行服務而產生的利息支付和費用之交易除外) ，你的帳戶便會被本行列為「靜止戶」。</p>
                            <p class="cof-item-p">(b) 靜止戶之服務限制及風險</p>
                            <p class="cof-item-p">
                                避免你的帳戶成為靜止戶是明智的。因為為了保障帳戶持有人的利益，本行會停止或限制靜止戶的部分服務。<br />
                                雖然靜止戶並沒有帳戶活動，但若有關帳戶仍有因本行服務而產生的利息支付和費用之交易，本行仍會繼續把帳戶結單及/或交易資料發送給你。如你於本行存檔的聯絡資料已更改而未通知本行，本行便有可能把此等帳戶結單及/或交易資料銀行通知發送到你的舊地址或電話號碼，其他人可能有機會讀取到這些通訊。而且，你亦可能會錯過本行發給你的重要提示或信息。如你未有及時檢查這些帳戶的交易及核對結單，當有任何未獲授權的交易時，可能未能及時發現及通知本行。當你的個人資料有所更新時，務必盡快通知本行。
                            </p>
                            <p class="cof-item-p">
                                (c) 如何避免帳戶狀態被視為靜止戶?
                                <ul class='cof-item-ul'>
                                    <li class='cof-item-li'>請確保你維持最少一個帳戶於活躍狀態。你可定期透過戶口辦理提存服務，從而讓帳戶處於活躍狀態。請注意，本行主動支付利息及扣除費用的交易並不會被視為可保持帳戶活躍的交易。</li>
                                    <li class='cof-item-li'>
                                        收到本行通知時採取行動<br />
                                        本行歸納靜止戶前將30天書面通知客戶。請閱讀通知並採取行動避免帳戶處於休眠狀態。
                                    </li>
                                </ul>
                            </p>
                            <p class="cof-item-p">(d) 如何重新啟動「靜止戶」? </p>
                            <p class="cof-item-p"> 請致電本行 (852) 2877 5488查詢，或與您的客戶經理聯絡。</p>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>定期存款最低金額為多少？</h4>
                        <div class='cof-item-answer'>單筆承作定期存款最低金額為港幣10,000元或美元5,000元(其他外幣比照等值美元)。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>定期存款中途解約需要收取手續費嗎？</h4>
                        <div class='cof-item-answer'>
                            凡辦理定期存款中途解約，應另行支付提前解約手續費，並授權本行逕自客戶帳戶扣取，相關費用請參考本行官網<a class="cof-item-answer-link" href="@Url.Content("~/hongkong/fee")" target="_blank" rel="noopener">收費標準</a>之存匯服務收費表。
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>匯入或匯出的費用為何？</h4>
                        <div class='cof-item-answer'>請參考本行官網<a class="cof-item-answer-link" href="@Url.Content("~/hongkong/fee")" target="_blank" rel="noopener">收費標準</a>之存匯服務收費表。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>香港分行的營業時間及交易方式為何？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p">香港分行營業時間為週一至週五 9：00~17：00。</p>
                            <p class="cof-item-p">本行可接受客戶傳真交易，客戶只需填妥相關交易文件後於指定時間內(9:00~15:30)傳真至本行即可。</p>
                            <p class="cof-item-p">本行收到客戶傳真後，將以客戶留存之聯絡電話與客戶本人或指定之交易聯絡人確認交易內容。或以本分行網路銀行(開放全日受理交易)辦理交易(交易時間為週一至週五 9：00~15：00)。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 企業融資篇 -->
<div id='corporate-finance' section='corporate-finance' class='component-oversea-faq  component-bg--white component--slim'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>企業融資篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全部</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>香港分行企業融資服務對象為何？</h4>
                        <div class='cof-item-answer'>
                            <p class='cof-item-p'>
                                有經營業務的香港，台灣或其它海外地方設立登記之法人。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 網上銀行篇 -->
<div id="online-banking" section='online-banking' class='component-oversea-faq'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>網上銀行篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='application' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>申請篇</span>
                        </a>
                    </li>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='operation' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>操作篇</span>
                        </a>
                    </li>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='global-myb2b' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全球企業網路銀行(Global MyB2B)電子憑證篇</span>
                        </a>
                    </li>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='security' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>資訊安全篇</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 申請篇 -->
        <div class='cof-tab-content' category='application'>



            <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                <p class='cot-p'>以下Q＆A內容為用字方便，將使用簡稱取代正式名稱，對照如下：</p>
                <div class="coft-short-form">
                    <div class='cot-tr cot-tr--head'>
                        <div class='cot-td'>正式名稱</div>
                        <div class='cot-td'>簡稱</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行香港分行</div>
                        <div class='cot-td'>本分行</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)</div>
                        <div class='cot-td'>全球企網銀(GMB)</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)申請書</div>
                        <div class='cot-td'>全球企網銀(GMB)申請書</div>
                    </div>
                </div>
            </div>

            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>目前不是貴分行之客戶，可以申請香港分行的網上銀行服務嗎？</h4>
                        <div class='cof-item-answer'>很抱歉，客戶必須先於本分行開立存款帳戶「儲存帳戶Savings Account」或「往來帳戶Current Account」才能申請本項服務。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>請問客戶該如何申請國泰世華銀行香港網路銀行？</h4>
                        <div class='cof-item-answer'>
                            客戶可自行下載並填妥全球企網銀(GMB)申請書 ，填妥後請郵寄至「香港銅鑼灣新寧道1號利園3期10樓 國泰世華銀行香港分行存款組 收」。
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶可以開戶時一併申請網上銀行服務嗎？</h4>
                        <div class='cof-item-answer'>客戶可以在開戶時，選擇申請全球企網銀(GMB)，一併填寫網銀申請書及約定書。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶已經是本分行的往來客戶了，要怎樣申請網上銀行服務呢？</h4>
                        <div class='cof-item-answer'>客戶可自行下載並填妥後郵寄至「香港銅鑼灣新寧道1號利園3期10樓 國泰世華銀行香港分行 存款組收」或親洽本分行辦理。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶可以用傳真申請網上銀行服務嗎？</h4>
                        <div class='cof-item-answer'>很抱歉，客戶若不克親洽本分行辦理，請以郵寄辦理，恕不接受傳真申請。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶在網上銀行上辦理轉帳與匯款，須事先申請約定嗎？</h4>
                        <div class='cof-item-answer'>申請全球企網銀(GMB)「電子憑證」的客戶可以使用非約定轉帳與匯款交易。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶寄出網上銀行申請書後，要多久時間才可以開始使用？</h4>
                        <div class='cof-item-answer'>
                            本分行收到客戶的申請書後，約3個工作天可以為客戶處理完畢。本分行會以掛號方式郵寄客戶的密碼單至您的通訊地址(本分行系統資料)。<br /><br />
                            申請GMB的客戶，請至<a class='cof-item-answer-link' href="https://www.globalmyb2b.com/GEBANK/html/userguide_01_taiwan_zh-TW.html" target="_blank" rel="noopener">”新手上路”</a>了解更多資訊，申請使用「電子憑證」之客戶，須確認分行主管已將智慧印鑑開卡後，經客戶線上完成憑證申請才可使用，詳如 <a class='cof-item-answer-link' href="https://www.globalmyb2b.com/GEBANK/html/userguide_03_taiwan_zh-tw.html" target="_blank" rel="noopener">https://www.globalmyb2b.com/GEBANK/html/userguide_03_taiwan_zh-tw.html</a>說明。<br /><br />
                            閣下完成密碼變更時，為安全起見，請務必銷毀密碼單。
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶收到密碼單後，為什麼不能變更「使用者密碼」及「使用者代號」？</h4>
                        <div class='cof-item-answer'>客戶必須於密碼單印製後的一個月內變更「使用者密碼」及「使用者代號」，否則客戶的網上銀行將會失效。有效期限載於密碼單上，請務必於有效期限內辦理。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>網路銀行申請流程如何?</h4>
                        <div class='cof-item-answer'>
                            <ol class='cof-item-answer-progress'>
                                <li class='cof-item-answer-progress-li'>

                                    <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step1.svg")"></div>
                                    <div>
                                        填妥申請書<br />
                                        @*申請「<a href='@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/e-banking-service-application-form.pdf")' target="_blank" rel="noopener" class='cof-item-answer-link'>香港分行網路銀行</a> 」<br />*@
                                        申請「<a href='@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/application-form-for-global-myb2b-service.pdf")' target="_blank" rel="noopener" class='cof-item-answer-link'>全球企業網路銀行</a> 」
                                        @*若申請「香港分行網路銀行 」有轉帳或匯款需求者，須加填「<a href='@Url.Content("~/OVSWS/Content/pdf/hongkong/internet-banking/pdf_15.pdf")' target="_blank" rel="noopener" class='cof-item-answer-link'>國泰世華商業銀行香港分行網路銀行匯出匯款約定書</a>」。*@
                                    </div>
                                </li>
                                <li class='cof-item-answer-progress-li'>
                                    <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step2.svg")"></div>
                                    <div>
                                        將以上文件正本郵寄至「香港銅鑼灣新寧道1號利園3期10樓 國泰世華銀行香港分行 存款組收」。
                                    </div>
                                </li>
                                <li class='cof-item-answer-progress-li'>
                                    <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step3.svg")"></div>
                                    <div>
                                        本行將致電客戶進行照會，並儘速完成設定。
                                    </div>
                                </li>
                                <li class='cof-item-answer-progress-li'>
                                    <div><img class='cof-item-answer-progress-img lazy' data-src="@Url.Content("~/OVSWS/Content/img/hongkong/faq/step4.svg")"></div>
                                    <div>
                                        密碼單將以掛號方式寄發給客戶。<br /><br />請參考上述Q7內容完成相關程序，完成變更後即可正式啟用網上銀行服務。
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 操作篇 -->
        <div class='cof-tab-content' category='operation'>



            <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                <p class='cot-p'>以下Q＆A內容為用字方便，將使用簡稱取代正式名稱，對照如下：</p>
                <div class="coft-short-form">
                    <div class='cot-tr cot-tr--head'>
                        <div class='cot-td'>正式名稱</div>
                        <div class='cot-td'>簡稱</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行香港分行</div>
                        <div class='cot-td'>本分行</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)</div>
                        <div class='cot-td'>全球企網銀(GMB)</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)申請書</div>
                        <div class='cot-td'>全球企網銀(GMB)申請書</div>
                    </div>
                </div>
            </div>

            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>轉帳與匯款有何不同？</h4>
                        <div class='cof-item-answer'>轉帳是指轉出與轉入之帳戶均為本分行之帳戶。收款人帳戶若為其他銀行帳戶或非本分行之帳戶，例如其他國泰世華銀行帳戶均屬匯款。轉帳無手續費，匯款手續費則視收款地區或收款銀行而異，收費請詳閱本行之【<a class='cof-item-answer-link' href='@Url.Content("~/OVSWS/Content/pdf/hongkong/fee/fee-schedule-for-deposits-and-remittances.pdf")' target="_blank" rel='noopener'>存匯服務收費表</a>】。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>除了要約定轉入及匯款收款人帳號外，轉出帳號需要約定嗎？</h4>
                        <div class='cof-item-answer'>是的，客戶必須在申請書中約定您轉出的帳號，才能進行轉帳及匯款交易。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶要把錢匯到國泰世華銀行台灣的分行，要收手續費嗎？</h4>
                        <div class='cof-item-answer'>從本分行匯往國泰世華銀行台灣地區的分行，屬於匯款性質，是需要收費的。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>網上銀行的交易時間為何，非營業時間外可以進行交易嗎？</h4>
                        <div class='cof-item-answer'>
                               全球企網銀(GMB)請參閱 <a href="https://www.globalmyb2b.com/GEBANK/html/qa_04_taiwan_zh-tw.html" target="_blank" rel="noopener" class='cof-item-answer-link'>Global MyB2B 常見問題-交易篇</a> 之「Global MyB2B交易及帳務服務說明」[香港分行]。
                            <br />如遇到全球企網銀(GMB)系統進行維護作業時，客戶將無法使用，請參考網銀網頁之通知訊息。
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>為了安全起見，客戶可以約定網路銀行的交易限額嗎？</h4>
                        <div class='cof-item-answer'>可以的。客戶可以在申請書上約定每日交易的上限，<br /><br />全球企網銀(GMB)不得超過2,000萬美元(含轉帳限額1,000萬美元及匯款限額1,000萬美元)。詳情請參閱本行官網「<a href="@Url.Content("~/hongkong/services/internet-banking/#daily-limit-transactions")" target="_blank" rel="noopener" class='cof-item-answer-link'>網上銀行交易限額表</a> 」。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶的【使用者密碼】或【使用者代號】錯誤次數達上限，無法登入網上銀行，該如何處理？</h4>
                        <div class='cof-item-answer'>
                            請重新申請。全球企網銀(GMB)：請參閱<a href="https://www.globalmyb2b.com/GEBANK/html/qa_03.html" target="_blank" rel="noopener" class='cof-item-answer-link'>Global MyB2B 常見問題-申請與登入篇。</a>

                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>如果客戶忘記了密碼，應怎麼辦？</h4>
                        <div class='cof-item-answer'>請重新向國泰世華銀行香港分行申請。 </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶可以指定匯款的存同行嗎？</h4>
                        <div class='cof-item-answer'>很抱歉，存同行是由系統自行指定，客戶無法自行約定。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>除了約定受款帳戶的轉帳與匯款外，可以進行非約定受款帳戶的交易嗎？</h4>
                        <div class='cof-item-answer'>客戶必須申請全球企網銀(GMB)的「電子憑證」或行動OTP，才能於網上從事非約定受款帳戶交易。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>如果懷疑客戶的戶口有未經授權的交易，應該如何處理？</h4>
                        <div class='cof-item-answer'>請即致電本行+852 2877 5488，與服務人員聯絡。</div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 全球企業網路銀行(Global MyB2B)電子憑證篇 -->
        <div class='cof-tab-content' category='global-myb2b'>

            <div class='component-oversea-faq-table component-oversea-faq-table--zebra'>

                <p class='cot-p'>以下Q＆A內容為用字方便，將使用簡稱取代正式名稱，對照如下：</p>
                <div class="coft-short-form">
                    <div class='cot-tr cot-tr--head'>
                        <div class='cot-td'>正式名稱</div>
                        <div class='cot-td'>簡稱</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行香港分行</div>
                        <div class='cot-td'>本分行</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)</div>
                        <div class='cot-td'>全球企網銀(GMB)</div>
                    </div>
                    <div class='cot-tr'>
                        <div class='cot-td'>國泰世華商業銀行全球企業網路銀行服務(Global MyB2B)申請書</div>
                        <div class='cot-td'>全球企網銀(GMB)申請書</div>
                    </div>
                </div>
            </div>

            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>何種情況才須要使用「電子憑證」？</h4>
                        <div class='cof-item-answer'>客戶申請全球企網銀(GMB)有轉帳及匯款之需求。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>「電子憑證」需另外收費嗎？費用為何？</h4>
                        <div class='cof-item-answer'>全球企網銀(GMB)的客戶申請「電子憑證」第一年費用每份港幣400元，第二年起港幣250元。詳情請參閱本行官網「<a href="@Url.Content("~/hongkong/fee/")" class='cof-item-answer-link' target="_blank" rel="noopener">網上銀行收費表</a>」。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>「電子憑證」的使用效期為何？</h4>
                        <div class='cof-item-answer'>電子憑證的有效期為一年，到期前客戶可逕自在網上展期。惟過期之憑證會導致交易無法進行，閣下務必於到期前至全球企網銀(GMB)憑證管理系統：<a target="_blank" rel="noopener" class='cof-item-answer-link' href="https://www.globalmyb2b.com/GCMS/Default.aspx">https://www.globalmyb2b.com/GCMS/Default.aspx</a> 完成展期。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>「電子憑證」可以傳真申請嗎？</h4>
                        <div class='cof-item-answer'>很抱歉，客戶若不克親洽本分行辦理，請以郵寄辦理，恕不接受傳真申請。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>如何啟用「電子憑證」？</h4>
                        <div class='cof-item-answer'>「電子憑證」開通相關事項請參閱Global MyB2B常見問題之GEB Tool 電子憑證安裝篇：<a class='cof-item-answer-link' target="_blank" rel="noopener" href="https://www.globalmyb2b.com/GEBANK/html/qa_02.html">https://www.globalmyb2b.com/GEBANK/html/qa_02.html</a>。</div>
                    </div>
                </li>
            </ul>
        </div>


        <!-- 資訊安全篇 -->
        <div class='cof-tab-content' category='security'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶應如何防止被未經授權人士在網上使用客戶的賬戶?</h4>
                        <div class='cof-item-answer'>
                            <p class='cof-item-p'>為防止被未經授權人士使用客戶的賬戶， 客戶應避免使用在公眾地方提供的上網服務，透過網路銀行服務進行交易或查詢戶口結餘。客戶並應留意以下保管密碼需注意之事項：</p>
                            <ul class='cof-item-ul'>
                                <li class='cof-item-li'>不要向任何人士披露密碼。而國泰世華銀行的職員也絕對不會向客戶查詢密碼。客戶應清楚知道每一個與客戶共用電腦的人，同時嚴格限制任何未授權人士使用客戶的電腦。</li>
                                <li class='cof-item-li'>不要容許任何其他人士使用客戶的密碼。</li>
                                <li class='cof-item-li'>不要寫下或記錄密碼而不加掩藏。</li>
                                <li class='cof-item-li'>不要用客戶的身份證件號碼、電話號碼或類似數字作為密碼。</li>
                                <li class='cof-item-li'>每隔一段時間更改密碼。</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>甚麼是間諜軟件？</h4>
                        <div class='cof-item-answer'>一種在電腦用戶非正式允許下安裝的電腦軟件，其隱藏不誠實的目的去搜集有關電腦用戶資料及利用它。將經搜集得來的資料，傳送給未經授權的機構而從中獲取利益。間諜軟件能導致保安問題如'按鍵記錄器'，'洩漏個人保密資料'和'侵襲電腦保安' 。 </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>對於間諜軟件，客戶可以採取何種措施因應？</h4>
                        <div class='cof-item-answer'>為防止間諜軟件入侵，切勿在客戶用來登入網上銀行的電腦上，下載任何免費軟件。在下載其他程式或開啟電郵前，應先執行防毒軟件及/或防間諜軟件。請緊記經常更新客戶的防毒軟件及安裝最新視窗軟件修正程式。客戶亦應定期更改網上銀行的密碼，以保護客戶的個人資料。 </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>什麼是「使用者代號」？</h4>
                        <div class='cof-item-answer'>
                            <p>這是客戶使用網路銀行服務時，用來表明客戶身份的名稱。當客戶申請網路銀行服務時，客戶便需要設定客戶的「使用者代號」。每個使用者代號都必須是獨有的，避免使用他人容易猜測的代號，如姓名等。本行建議客戶用英文字母及數字的組合來設定客戶的使用者代號。</p>
                            <ul class='cof-item-ul'>
                                <li class='cof-item-li'>客戶應取消瀏覽器的「自動完成」功能，免致客戶鍵入「使用者代號」時，電腦即會自動完成輸入。</li>
                                <li class='cof-item-li'>在瀏覽器中，這個「自動完成」功能會儲存客戶過去曾經就網址、表格和密碼所輸入的資料，日後當客戶在這些字域鍵入資料時，「自動完成」功能就會提議可能的配對資料。這些配對資料可包括客戶曾經在地址列、搜尋資料項、股票報價項輸入的檔案夾或程式名稱、或客戶在網頁內任何其他字域填入的資料。</li>
                                <li class='cof-item-li'>當客戶使用網路銀行服務時，這個功能會自動顯示客戶曾經在系統中用過的使用者代號。因此為確保客戶的戶口資料獲得適當保護，客戶應取消瀏覽器的「自動完成」功能，以免客戶鍵入用戶名稱時，電腦會自動完成輸入。</li>
                                <li class='cof-item-li'>請參考瀏覽器上的使用說明了解如何關閉「自動完成」功能。</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶可不可以更改「使用者代號」和「使用者密碼」？</h4>
                        <div class='cof-item-answer'>客戶可以隨時更改「使用者代號」及「使用者密碼」。客戶的新密碼應由6-12個英文字母及／或數字組成(中間不得夾有空位或符號)；而且必須與客戶的使用者代號和原來的使用者密碼完全不相同。輸入「使用者代號」及「使用者密碼」時，客戶必須準確輸入中英文字母的大小寫。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>客戶可否關閉瀏覽器以結束使用網路銀行服務?</h4>
                        <div class='cof-item-answer'>客戶可選按畫面右方之登出(Logout)鍵，這樣可確保客戶已正式結束使用網路銀行服務。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>可否提供其他保安措施注意事項？</h4>
                        <div class='cof-item-answer'>
                            <p>其他網路保安措施如下：</p>

                            <ul class='cof-item-ul'>
                                <li class='cof-item-li'>安裝檢測病毒軟件，以探測常見病毒如Trojan Horses。這些軟件都需要定期更新版本，以確保你的資料可獲得最先進的保護。</li>
                                <li class='cof-item-li'>安裝防火牆，以探測及防止未經授權的登入，定期更新以確保客戶的資料獲得最先進的保護。要選取最合用的防火牆，請向客戶的電腦或軟件供應商查詢。</li>
                                <li class='cof-item-li'>定期下載及更新電腦的保安設施，以針對已知的保安問題來保障客戶的電腦。</li>
                                <li class='cof-item-li'>為防止病毒侵襲或發生其他不必要問題，切勿打開來歷不明或不可靠來源的電郵附件。</li>
                                <li class='cof-item-li'>切勿安裝盜版或來歷不明的軟件。</li>
                                <li class='cof-item-li'>客戶應清楚認識每一個會使用客戶的電腦的人，同時嚴格限制任何未經授權的人使用客戶的電腦。</li>
                                <li class='cof-item-li'>當客戶用畢電腦後，請緊記中斷互聯網連線服務。切勿在不使用電腦時保持連線狀態。</li>
                                <li class='cof-item-li'>切勿透過公用電腦(例如網吧，數碼咖啡室)使用網路銀行服務，因為很難確保這些地方的個人電腦是否有安裝了黑客(駭客)程式，以致其他人可能藉此盜用客戶的個人戶口資料。</li>
                                <li class='cof-item-li'>請緊記於登入網路銀行服務前關閉其他瀏覽器視窗。切勿在使用網路銀行服務時開啟其他瀏覽器視窗及瀏覽其他網站，以防止未經授權的人透過其他網頁登入客戶的網路銀行服務戶口或取用客戶的個人戶口資料。</li>

                                <li class='cof-item-li'>
                                    為確保客戶能進入真正的網路銀行網址，請客戶於瀏覽視窗網址位置鍵入網址 <a class='cof-item-answer-link' target="_blank" rel="noopener" href="/hongkong">https://www.cathaybk.com.tw/hongkong</a>，
                                    將此網址記錄在瀏覽器的常用網址名單內，以便日後經此網址記錄接駁至網路銀行網址。
                                </li>
                                <li class='cof-item-li'>於瀏覽器中核實互聯網的地址確實是國泰世華銀行香港分行官網的網址，同時檢查國泰世華銀行保安措施安全憑證。（請參考瀏覽器上的使用說明了解如何檢查網站的安全性）</li>
                                <li class='cof-item-li'>當客戶用畢網路銀行服務，請緊記使用「登出」，登出網址並關閉瀏覽器視窗。</li>
                                <li class='cof-item-li'>請定期檢閱客戶的戶口資料，同時緊記妥為保存客戶的個人財務資料。</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>網路銀行採用甚麼加密技術？</h4>
                        <div class='cof-item-answer'>網路銀行採用傳輸層安全協議(TLS)加密技術，確保客戶在網上辦理財務交易時所輸入的個人資料於傳送出客戶的電腦前已進行加密，令其他人無法讀取這些資料。加密技術將客戶的數據轉換為編碼形式，然後才在互聯網上傳送，這樣便可防止未經授權的人閱讀您的資料。網路銀行所採用的256位元傳輸層安全協議(TLS)加密技術是資訊科技界公認的標準技術。</div>
                    </div>
                </li>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>關於「網路安全」，客戶需要注意的事項？</h4>
                        <div class='cof-item-answer'>
                            <p style="color:#4ba659; font-size:18px;"><b>網路安全注意事項</b></p>
                            <p class="cof-p"><b>網路銀行使用安全建議</b></p>
                            <ul class="cof-item-ul">
                                <li class='cof-item-li'>本行不會主動要求客戶登入網路銀行輸入賬戶及個人資料，包括用戶名稱及私人密碼。</li>
                                <li class='cof-item-li'>若收到假藉本行名義或來路不明之簡訊訊息及電郵，切勿相信或點選連結，以維護您的權益。 </li>
                                <li class='cof-item-li'>數碼KEY需看緊，按連結前要三思，小心保護個人登入資料，按連結前要再三考慮！</li>
                                <li class='cof-item-li'>了解更多，請參考香港金融管理局提供關於「網絡釣魚」攻擊的防範及資訊。<br /><a class='coi-link' href='https://www.hkma.gov.hk/chi/smart-consumers/beware-of-fraudsters/' target="_blank" rel='noopener nofollow'>https://www.hkma.gov.hk/chi/smart-consumers/beware-of-fraudsters/</a> </li>
                                <li class='cof-item-li'>登入網上銀行後，請勿離開電腦。</li>
                                <li class='cof-item-li'>檢查登入網頁及過程有否異樣。</li>
                                <li class='cof-item-li'>請謹記當您完成所有網路銀行服務後，一定要登出網址以及關閉瀏覽器。</li>
                                <li class='cof-item-li'>如用瀏覽器內的標籤及使用搜索引擎連接到網上銀行網站，請確定網站之真實。</li>
                                <li class='cof-item-li'>當您申請網路銀行時，請於第一時間內變更銀行發給您的網路銀行密碼單內之登入密碼，使用紙本密碼單完成密碼變更動作後，請務必將紙本密碼單銷毀。</li>
                                <li class='cof-item-li'>每隔一段時間更改密碼，例如最少每三個月更改一次(尤其懷疑密碼有外洩情形時更應馬上掛失或變更網路銀行密碼)。</li>
                                <li class='cof-item-li'>不要向任何人士披露用戶名稱及密碼。(甚至連國泰世華商業銀行的任何人員，都不會要求閣下說出密碼。)  </li>
                                <li class='cof-item-li'>請不要將您的密碼之任何書面紀錄隨意紀錄在：(1)任何可登入網路銀行的裝置、(2)經常隨身攜帶的物件、(3)靠近電腦或裝置的地方。</li>
                                <li class='cof-item-li'>不要寫下或記錄密碼而不加掩藏。</li>
                                <li class='cof-item-li'>設定難以猜破的登入密碼，不要用您的出生日期、姓名、身份證號碼、電話號碼或類似數字作為密碼。</li>
                                <li class='cof-item-li'>輸入用戶名稱、密碼或任何重要個人資料時注意不要被周遭他人窺視。</li>
                                <li class='cof-item-li'>於不同的網站使用不同的用戶名稱及密碼，不要選用您於其他網站登記使用的密碼。</li>
                                <li class='cof-item-li'>不應使用公眾電腦(例如數碼咖啡室／網吧內的電腦)或在公眾地方提供的上網服務進入網路銀行進行交易或查詢戶口結餘，因為這些電腦有可能已遭入侵(別人可能藉此取得您的個人或戶口資料)。</li>
                                <li class='cof-item-li'>請於使用網路銀行服務時，切勿同時開啟其他瀏覽器及瀏覽其他網站。</li>
                                <li class='cof-item-li'>使用網上銀行服務後，請緊記以「登出」按鈕離開，並查核確認離開系統之畫面。</li>
                                <li class='cof-item-li'>瀏覽其他網頁之前，請先登出網上銀行服務網頁。</li>
                                <li class='cof-item-li'>於使用網路銀行服務時，切勿讓網頁長時間閒置。</li>
                                <li class='cof-item-li'>為避免閣下的個人資料為他人所用，請勿以他人熟悉的格式寫下您的個人網上銀行戶口資料。若閣下使用電子工具儲存個人資料，請確保該資料保密以防止被他人盜取及使用。</li>
                                <li class='cof-item-li'>如果您忘記了使用者密碼，請洽本分行重新申請。</li>
                                <li class='cof-item-li'>請注意某些資料(如密碼)是有可能暫存在硬碟機的記憶體內，務必先清除貯藏處，關掉瀏覽器。</li>
                                <li class='cof-item-li'>國泰世華商業銀行不會以電子郵件或致電客戶要求客戶提供密碼及相關個人資料。</li>
                                <li class='cof-item-li'>本行不會寄送任何附於超連結、二維條碼或QR碼的電郵給客戶。</li>
                                <li class='cof-item-li'>不要開啟來歷不明並載有附件的電子郵件，並應刪除垃圾郵件，切勿經由電子郵件、未知應用程式內的連結或網路搜尋器登入網路銀行，並避免安裝或執行來源不明的軟體及程式，應避免使用電子郵件傳送個人資訊或密碼。</li>
                                <li class='cof-item-li'>請您定期更新您電腦上的防毒軟體版本並掃除病毒，請於您的電腦加裝正版安全性防衛軟體(例如：防火牆或防毒軟體)，並隨時更新病毒碼、掃瞄引擎，以減少木馬程式(後門程式)、病毒、蠕蟲及其他程式惡意碼入侵您的電腦，側錄個人資料。</li>
                                <li class='cof-item-li'>請您使用正版的作業系統及軟體並安裝最新的作業系統和瀏覽器安全修正並於您登入網路銀行的電腦設置開機密碼。</li>
                                <li class='cof-item-li'>如使用手提電腦連接網路銀行，請關閉無需使用的無線網絡功能(如藍芽及NFC等等)。</li>
                                <li class='cof-item-li'>為確保您的網上交易獲得更週全保障，所有轉賬至銀行第三者戶口，必須於本行預先登記有關賬戶或以雙重認證服務方式轉賬至銀行戶口。</li>
                                <li class='cof-item-li'>如貴客戶為企業用戶，建議儘可使用雙控(Maker/Checker)以上的安全機制。</li>
                                <li class='cof-item-li'>應定期檢查您的銀行月結單，以確保您的網上交易記錄正確，如發現異常請告知本分行。</li>
                                <li class='cof-item-li'>即時查閱銀行發出的交易紀錄。</li>
                                <li class='cof-item-li'>客戶應自行安裝電腦所需之軟體、硬體，以及其它與安全相關之設備。安裝所需之費用及風險，由客戶自行負擔。</li>
                                <li class='cof-item-li'>如果您對網上保安或閣下的戶口活動有懷疑，請在合理切實及可行範圍內於香港辦公時間內致電+852 2877 5488與本行服務人員聯絡及應盡快更改密碼。</li>
                            </ul>
                            <br />
                            <p class="cof-p"><b>行動裝置安全建議</b></p>
                            <ul class="cof-item-ul">
                                <li class='cof-item-li'>行動裝置(如：智能手機、平板電腦)已成為我們生活中不可或缺的工具，透過行動裝置使用網路銀行服務時，應注意各種資訊安全的措施，以防止不肖人士透過保安漏洞入侵您的行動裝置。</li>
                                <li class='cof-item-li'>提醒您，國泰世華商業銀行香港分行並沒有提供任何由AppStore及GooglePlay™ 等來源下載的官方應用程式(APP)，千萬不要下載任何疑似偽冒本行應用程式(APP)，如有疑問，請致電本行。</li>
                                <li class='cof-item-li'>在行動裝置上安裝信譽良好品牌的防毒軟件，並隨時保持病毒碼更新，以提升使用的安全性。</li>
                                <li class='cof-item-li'>
                                    若您使用行動裝置的網頁瀏覽器，透過網路銀行登入網頁登入，請注意以下安全事項：

                                    <ul class="cof-item-ul">
                                        <li class='cof-item-li'>請持續更新行動裝置的操作系統(OS)和應用程式。</li>
                                        <li class='cof-item-li'>請使用自動上鎖或啟用密碼鎖功能，防止他人未經許可使用您的行動裝置。</li>
                                        <li class='cof-item-li'>切勿使用他人設備登入個人的電子銀行帳戶。</li>
                                        <li class='cof-item-li'>請避免將帳號及密碼儲存在行動裝置上及網頁上。</li>
                                        <li class='cof-item-li'>請避免使用已破解或非法入侵的行動裝置(如：越獄(jailbreak)、超級用戶權限(root))。</li>
                                    </ul>
                                </li>
                            </ul>

                            <br />
                            <p class="cof-p"><b>相關連結</b></p>
                            <ul class="cof-item-ul">
                                <li class='cof-item-li'><a href="https://www.hkma.gov.hk/chi/" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>香港金融管理局</a></li>
                                <li class='cof-item-li'><a href="http://www.hkab.org.hk/index.jsp?lang=b5" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>香港銀行公會</a></li>
                                <li class='cof-item-li'><a href="https://www.sfc.hk/TC/" class="cof-item-answer-link" target="_blank" rel='noopener nofollow'>香港證券及期貨事務監察委員會</a></li>
                            </ul>

                            <p class="cof-p">
                                注意：倘若閣下作出欺詐行為或因為嚴重疏忽或未能遵守上述之保障措施而招致任何損失，閣下將要承擔所有損失。本分行一貫採取嚴格的保安標準及程序，以防止未獲授權人士取得有關閣下的資料。國泰世華商業銀行絕對不會在正常的網路銀行登入程序以外，接觸閣下及要求閣下確認個人資料，例如網路銀行使用者ID、使用者密碼或使用者代號。倘閣下接獲此等要求，請立即致電+852 2877 5488通知本行。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>





<!-- 認識衍生工具 -->
<div id='derivatives' section='derivatives' class='component-oversea-faq component-bg--white'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>認識衍生工具篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全部</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>什麼是「衍生工具」？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p">鑒於衍生產品所涉及的風險甚高，無衍生產品知識投資者選購衍生產品前可觀看並仔細理解下列摘錄自香港銀行公會提供之DVD內所載四節(單元)影片的全部內容。</p>

                            <ul class='cof-item-ul'>
                                <li class='cof-item-li'>
                                    <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/introduction-to-derivatives.wmv")" target="_blank" rel="noopener" class='cof-item-li-link'>衍生產品的簡介</a>
                                </li>
                                <li class='cof-item-li'>
                                    <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/common-types-of-derivatives.wmv")" target="_blank" rel="noopener" class='cof-item-li-link'>衍生產品的性質與常見種類</a>
                                </li>
                                <li class='cof-item-li'>
                                    <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/applications-of-derivatives.wmv")" target="_blank" rel="noopener" class='cof-item-li-link'>衍生產品的用途</a>
                                </li>
                                <li class='cof-item-li'>
                                    <a href="@Url.Content("~/OVSWS/Content/video/hongkong/derivatives/key-risks-associated-with-derivatives.wmv")" class='cof-item-li-link' target="_blank" rel="noopener">衍生產品所涉及的風險</a>
                                </li>
                            </ul>


                            <p class="cof-item-p">
                                <b>免責聲明</b><br />
                                本影片由香港銀行公會("銀行公會")製作。任何源自此由銀行公會提供的影片內的材料之所有知識產權均屬銀行公會所有。
                            </p>


                            <p class="cof-item-p">
                                本影片僅供一般資料用途，並未有考慮任何人士的投資目標或需要而製作。本影片並無就其中所述任何產品或投資是否適合或切合任何個別人士的情況作出任何聲明或推薦，亦不會就此承擔任何責任。本影片所載資料並非專業建議，任何人士均不應對其加以倚賴而作投資決定。本影片並不構成，亦無意作為，也不應被詮釋為任何建議，要約或游說投資於本影片內所述之任何產品或投資。
                            </p>
                            <p class="cof-item-p">
                                本影片並不是，且亦非為滿足任何司法權區有關投資者教育或其他方面的任何特定監管要求而設計。本影片並未經任何司法權區的任何監管機構檢閱。
                                儘管國泰世華商業銀行股份有限公司香港分行("銀行")已盡努力確保本影片所載資料的準確性及可靠性，但銀行或銀行公會並不保證其為任何目的而設的準確性、完備性、可靠性或合適性。投資者不應依賴本影片的內容，而應倚賴他們本身所作評估及評價，並自行進行調查和諮詢，與及尋求所有必需的獨立意見。 在適用法律允許的最高情況下，銀行公會及本行及其各自的僱員、代理人及代表謹此聲明將不就有關或因本影片，特別是以下各項事宜而引起的任何性質的損失、損害、費用或開支承擔全部或任何責任(不論屬侵權行為或訂立合約或其他方面):
                            </p>
                            <ul class='cof-item-ul'>
                                <li class='cof-item-li'>本影片的內容或任何遺漏，包括任何明示或暗示形式的聲明、陳述或結論；</li>
                                <li class='cof-item-li'>向任何人士提供或讓任何人士使用本影片或其任何部分；</li>
                                <li class='cof-item-li'>編製本影片所載的資料；及</li>
                                <li class='cof-item-li'>任何人士倚賴、披露或使用本影片所載或有關連的任何資料或陳述。</li>
                            </ul>


                            <p class="cof-item-p">
                                如銀行公會或本行或其各自的僱員、代理人或代表就有關或因本影片而引起的任何事宜的責任可予以限制(但並不包括彌償或例外情況)，則謹此以法律所允許的最高程況下予以限制。
                            </p>
                            <p class="cof-item-p">投資涉及風險。投資者應注意，投資的價值可跌亦可升，過往的表現不一定可以預示日後的表現。本影片並非，亦無意總覽本影片所述產品或投資可能牽涉的所有風險。投資者須基於本身的投資目標、財政狀況及特定需要而作出投資決定；在有需要的情況下，應於作出任何投資前諮詢獨立專業顧問。於作出任何投資決定前，投資者應細閱及了解有關該等產品或投資的所有銷售文件，以及其中所載的風險披露聲明及風險警告。 </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>








<!-- 共同匯報標準(CRS)篇 -->
<div id='crs' section='crs' class='component-oversea-faq'>
    <div class="cof-inner">
        <h3 class='cof-subtitle'>共同匯報標準(CRS)篇</h3>
        <div class='cof-tab'>
            <div class="cof-tab-inner">
                <ul class='cof-tab-list'>
                    <li class='cof-tab-item'>
                        <a href="javascript:;" category='all' class='cof-tab-item-link'>
                            <span class='cof-tab-item-title'>全部</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='cof-tab-content' category='all'>
            <ul class='cof-list'>
                <li class='cof-item'>
                    <div class='cof-item-link'>
                        <h4 class='cof-item-question'>什麼是「共同匯報標準 (CRS)」？</h4>
                        <div class='cof-item-answer'>
                            <p class="cof-item-p">
                                為提高稅務透明度及打擊跨境逃稅活動，『自動交換財務資料(AUTOMATIC EXCHANGE OF FINANCIAL ACCOUNT INFORMATION, AEOI)』已成為國際標準。全球已有超過一百個稅務管轄區承諾實施由經濟合作與發展組織(“OECD”)在2014年7月公布之共同匯報標準(“CRS”)機制。作為國際金融中心，香港已承諾與合適伙伴實施自動交換資料，並在2018年開始進行首次資料交換。
                            </p>


                            <p class="cof-item-p">
                                依照《2016年稅務(修訂)(第3號)條例》(《修訂條例》)之規定，本分行應識辨客戶之稅務居民身分。為此，本分行會要求客戶填寫相關『稅務居民自我證明表格』以做出合適的判斷，確認客戶所屬的稅務管轄區。
                            </p>


                            <p class="cof-item-p">
                                如果客戶屬於香港以外稅務管轄區居民，且該稅務管轄區與香港稅務局簽有AEOI協議，本行需將此情況以及客戶的帳戶資料報送香港稅務局。
                            </p>
                            <p class="cof-item-p">
                                若您有相關稅務身分問題，請諮詢您的稅務顧問，請恕本行無法提供稅務建議。您可自OECD網站了解已承諾實施自動交換資料的稅務管轄區及個別稅務管轄區的稅務居民身分規則等資訊(<a href="https://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-residency/#d.en.347760" rel='noopener nofollow' class='cof-item-li-link' target="_blank" rel="noopener">只有英文版本</a>)，亦可瀏覽<a href="https://www.ird.gov.hk/chi/tax/dta_aeoi.htm" class='cof-item-li-link' rel='noopener nofollow' target="_blank" rel="noopener">香港特別行政區稅務局網站</a>了解AEOI的詳細資料。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>





