@model IndexViewModel

@{
    ViewBag.PageTitle = "ຄຳແນະນຳ Browser ";
    ViewBag.PageDescription = "In order to provide you with the best possible online experience, we recommend upgrading to the latest version of Internet Explorer or installing another browser immediately.";
}


@section Scripts {}
<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/browser-setting-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/browser-setting.jpg")' alt='@ViewBag.nav_browser_setting'>
        </picture>
        <figcaption hidden>@ViewBag.nav_browser_setting</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_browser_setting</h1>
        </div>
    </div>
</div>

<div class='component-oversea-info'>
    <div class="coi-inner">
        <h1 class="coi-title">@ViewBag.nav_browser_setting</h1>
        <div class="coi-content">
            <p class="coi-p">
                ເຖິງລູກຄ້າທີ່ຮັກແພງ,<br />
                ເພື່ອເປັນການມອບປະສົບການອອນໄລນ໌ທີ່ດີທີ່ສຸດໃຫ້ແກ່ທ່ານ ທາງເວັບໄຊ້ເຮົາຈະບໍ່ຮອງຮັບ Internet Explorer 11 ຫຼື ຕ່ຳກວ່າອີກຕໍ່ໄປ.
                <br />※ໝາຍເຫດ: ໃນວັນທີ 15/06/2022 application ທີ່ຢູ່ໜ້າຫຼັກຂອງ Internet Explorer 11 ຈະບໍ່ໄດ້ຮັບການສະໜັບສະໜູນຈາກ Windows 10 ບາງເວີເຊັນ. ກະລຸນາອ້າງອີງຕາມ "<a class='coi-link' href='https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-end-of-support?rtc=1' target="_blank" rel='noopener nofollow'>Microsoft Discontinued Support Notice</a>"
                ສຳລັບຂໍ້ມູນເພີ່ມຕື່ມ.
              

            </p>

            <p class="coi-p">
                ເຮົາແນະນຳໃຫ້ຕິດຕັ້ງ browser ອື່ນໂດຍທັນທີ.<br />

                <ul class="coi-ul">

                    <li class="coi-li">
                        <a class='coi-link' href="https://www.google.com.tw/intl/en_us/chrome/" target="_blank" rel='noopener nofollow'>
                            ກົດບ່ອນນີ້​ເພື່ອດາວໂຫຼດ Google Chrome
                        </a>
                    </li>
                    <li class="coi-li">
                        <a class='coi-link' href="https://www.microsoft.com/en-us/edge" target="_blank" rel='noopener nofollow'>
                            ກົດບ່ອນນີ້​ເພື່ອດາວໂຫຼດ Edge
                        </a>
                    </li>
                    <li class="coi-li">
                        <a class='coi-link' href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel='noopener nofollow'>ກົດບ່ອນນີ້​ເພື່ອດາວໂຫຼດ Firefox</a>
                    </li>
                </ul>
            </p>


        </div>

    </div>
</div><!--/.component-oversea-info-->