@{
   ViewData["PageTitle"] = "ធនាគារពាណិជ្ជកម្";
   ViewData["PageDescription"] = "នៅធនាគារកាថេយូណៃធីត យើងយល់ថាការដំណើរការអាជីវកម្មត្រូវការធ្វើការងារជាច្រើន ដូច្នេះវិធីសាស្រ្តរបស់យើងចំពោះសេវាធនាគារអាជីវកម្មគឺសាមញ្ញ៖ គោលដៅរបស់យើងគឺដើម្បីជួយឱ្យអាជីវកម្មរបស់លោកអ្នករីកចម្រើន។";
}
 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		ធនាគារពាណិជ្ជកម្ម
	-->
	<header class="topkv clerkkv">
		<div class="clerkkv-bg lazy" data-bg="/assets/img/content/bg-bright.jpg"></div>
		<div class="clerkkv-content">
			<div class="clerkkv-title">
				<h1 class="display-1 mb-3  fw-bold text-center lh-xs nowrap">ធនាគារពាណិជ្ជកម្ម</h1>
				<p class="h4 h4-mb">ធនាគារកាថេយូណៃធីតយើងខ្ញុំដឹងថាដំណើរការអាជីវកម្មមួយត្រូវចំណាយនូវការខិតខំប្រឹងប្រែងជាច្រើន ដូច្នេះយើងខ្ញុំបង្កើតសេវាកម្មធនាគារពាណិជ្ជកម្មដែលមានភាពងាយស្រួល។ គោលដៅរបស់យើងគឺជួយដើម្បីឲ្យអាជីវកម្មរបស់លោកអ្នកលូតលាស់ និងរីកចំរើន។ យើងដឹងច្បាស់ពីតំរូវការរបស់លោកអ្នកដូច្នេះយើងខ្ញុំអាចបំពេញតំរូវការអាជីវកម្មរបស់លោកអ្នក ។ យើងខ្ញុំនឹងជួយលោកអ្នកទៅដល់អាជីវកម្មដែលលោកអ្នកត្រូវការចាប់ពីដំណាក់កាលមួយជំហ៊ានទៅមួយជំហ៊ានដោយផ្តល់នូវសេវាកម្មដែលអាចជឿទុកចិត្ត និងច្នៃប្រឌិត និងជាសេវាកម្មដែលប្រកបដោយប្រសិទ្ធិភាពដែលចំណេញទាំងពេលវេលានិងថវិកា។ យើងមានបុគ្គលិកដែលប្រកបដោយវិជ្ជាជីវៈនិងបទពិសោធន៍ដើម្បីជួយលោកអ្នកទៅរកភាពជោគជ័យនៃអាជីវកម្មរបស់លោកអ្នក ។</p>
			</div>
			<figure class="clerkkv-pic">
				<img class="ofi-contain lazy" data-src="/assets/img/content/clerk-at-service-business.png" alt="Assist you to the success of your business">
			</figure>
		</div>
	</header>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">ធនាគារពាណិជ្ជកម្ម</li>
			</ol>
		</div>
	</nav>
	
	<div class="py-30"></div>
	
	
	<!--
		ធនាគារពាណិជ្ជកម្ម - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Banking for Companies</h2>
			<p class="display-3 h1-mb  text-dark fw-bold">A financial partner you can trust</p>
		</header>
		
		<!-- Card grids  (3 in a row) -->
		<div class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4"><!-- 720x482 PNG or JPG -->
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-deposit.jpg" alt="គណនីប្រាក់បញ្ញើ">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">គណនីប្រាក់បញ្ញើ<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/current-account/">គណនីចរន្ត<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/business-savings-account/">គណនីសន្សំសម្រាប់អាជីវកម្ម<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-remittance.jpg" alt="ការផ្ទេរប្រាក់">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ការផ្ទេរប្រាក់<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/remittance/">ការផ្ទេរប្រាក់<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-loan.jpg" alt="សេវាឥណទានងាយស្រួល">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">សេវាឥណទានងាយស្រួល<b class="underdash"></b></h3>
						<ul class="h4 h4-mb">
							<li class="mb-2  mb-n2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/commercial-loan/">ឥណទានសម្រាប់សាជីវកម្ម<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-online.jpg" alt="ធនាគារអនឡាញ">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ធនាគារអនឡាញ<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/global-myb2b/"> សេវាក្លូប៊ល ម៊ាយប៊ីធូប៊ី (Global MyB2B)<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-merchant.jpg" alt="សេវាធនាគារពាណិជ្ជកម្ម">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">សេវាធនាគារពាណិជ្ជកម្ម<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/merchant-services/">សេវាធនាគារពាណិជ្ជកម្ម<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-trade.jpg" alt="ពាណិជ្ជកម្មអន្តរជាតិ">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ពាណិជ្ជកម្មអន្តរជាតិ<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/international-trade/">ពាណិជ្ជកម្មអន្តរជាតិ<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-payroll.jpg" alt="សេវាបើកប្រាក់បៀវត្សរ៍">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">សេវាបើកប្រាក់បៀវត្សរ៍<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/payroll-service/">សេវាបើកប្រាក់បៀវត្សរ៍<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				@*<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/business-pic-estate.jpg" alt="អចលនទ្រព្យត្រីភាគី">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">អចលនទ្រព្យត្រីភាគី<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]business/suspend_real-estate-escrow/">អចលនទ្រព្យត្រីភាគី<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>*@
			</ul>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->