
@{
   ViewData["PageTitle"] = "Debit Cards";
   ViewData["PageDescription"] = "CUBC Visa Debit Card lets you make on-line/POS purchases and withdraw cash from ATMs by deducting money from your bank account directly, while enjoying card benefits with CUBC or Visa preferred partners.";
}


<!-- Page START -->
<main class="mastbody">
	<!--
		Debit Cards
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-cards.jpg" />
						<img srcset="/assets/img/topkv/personal-cards-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Personal Cards</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Debit Cards</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/credit-cards/">
				<span class="tabmenu-btn-txt">Credit Cards</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/debit-cards/">
				<span class="tabmenu-btn-txt">Debit Cards</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/card-promotions/">
				<span class="tabmenu-btn-txt">Card Promotions</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/rewards-program/">
				<span class="tabmenu-btn-txt">Rewards Program</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">
				<span class="tabmenu-btn-txt">Experience with CashPoint</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">
				<span class="tabmenu-btn-txt">Apply Credit Card</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">Debit Cards</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/credit-cards/">Credit Cards</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/debit-cards/">Debit Cards</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/card-promotions/">Card Promotions</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/rewards-program/">Rewards Program</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card</a>
		</div>
	</div>

	
	
	<!--
		Debit Cards - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Debit Cards</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Make Purchases More Convenient & Secure</h2>
			<p>CUBC Visa Debit Card lets you make on-line/POS purchases and withdraw cash from ATMs by deducting money from your bank account directly, while enjoying card benefits with CUBC or Visa preferred partners.</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			<!-- Graph icon list #4  (N in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/manage.svg">
					</figure>
					<div class="">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm text-md-center">Manage Your $</h5>
						<ul class="list-disc">
							<li>Free to link with CUBC i/mBanking</li>
							<li>Check updated balance and transaction via i/mBanking</li>
							<li>Never overspend and no interest/penalty charges</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/card-insert.svg">
					</figure>
					<div class="">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm text-md-center">Convenient to Your $</h5>
						<ul class="list-disc">
							<li>No need to carry cash to make purchases</li>
							<li>Safely purchase via contactless POS terminals</li>
							<li>Withdraw Cash from ATMs with Visa</li>
						</ul>	
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/card-hold.svg">
					</figure>
					<div class="">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm text-md-center">Save Your $</h5>
						<ul class="list-disc">
							<li>Set daily purchase/withdraw amount limits and # as you wish</li>
							<li>OTP SMS for 3D-Secure online purchases</li>
							<li>Free transaction notification from i/mBanking</li>
						</ul>
					</div>
				</li>
	
			</ul>
		
			<div class="text-center mt-4">
				<p>Learn More about <a class="text-green text-underline" target="_blank" rel="noopener noreferrer" href="https://www.visa.com.kh/en_kh/visa-offers-and-perks/">Visa Offers</a></p>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<!--  Banking card columns
			  (Multiple cards available; 1~3 columns a row; column auto wrap when row is not wide enough) -->
		
		<section class="compact-sm">
			<div class="row justify-content-center  mx-sm-n2 mx-xl-n3   mb-n4">
				
				<!-- column 1 -->
				<div class="col-12 col-md-4 d-flex   mb-4">
					<div class="w-100 bg-gray-100  mx-md-2 mx-xl-3  px-3 py-4 p-lg-5">
						<figure class="card-w320  mx-auto mb-3 mb-md-4">
							<div class="embed-responsive embed-responsive-1by1">
								<img class="embed-responsive-item ofi-contain lazy" data-src="/assets/img/card/debitcard-classic-visa.png" alt="Classic Card">
							</div>
						</figure>
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Classic</h3>
						<ul class="list-disc">
							<li>Daily purchasing limit $5,000 (max 10 transactions)</li>
							<li>Daily cash withdrawal $5,000 (max 10 transactions)</li>
						</ul>
					</div>
				</div>	
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<!-- Downloads -->
		<p class="d-sm-flex flex-wrap align-items-center justify-content-center   px-4 px-sm-0">
			<a class="btn btn-outline-green-dark rounded-pill  d-block d-sm-inline-block h4-mb mx-sm-1 mx-md-2 mb-2" target="_blank" rel="noopener noreferrer" href="/file/CUBC Debit Card Fee Charge.pdf">Fee Charges<i class="ico-ui-download ml-2"></i></a>
			<a class="btn btn-outline-green-dark rounded-pill  d-block d-sm-inline-block h4-mb mx-sm-1 mx-md-2 mb-2" target="_blank" rel="noopener noreferrer" href="/file/debit agreement.pdf">Agreement<i class="ico-ui-download ml-2"></i></a>
            <a class="btn btn-outline-green-dark rounded-pill  d-block d-sm-inline-block h4-mb mx-sm-1 mx-md-2 mb-2" target="_blank" rel="noopener noreferrer" href="/file/DEBIT Request Form EN.PDF">Request Form - EN<i class="ico-ui-download ml-2"></i></a>
			<a class="btn btn-outline-green-dark rounded-pill  d-block d-sm-inline-block h4-mb mx-sm-1 mx-md-2 mb-2" target="_blank" rel="noopener noreferrer" href="/file/DEBIT Request Form KH.PDF">Request Form - KH<i class="ico-ui-download ml-2"></i></a>
		</p>
		
		
		<div class="py-page"></div>
	</section>

</main>
<!-- Page END -->