@{
   ViewData["PageTitle"] = "Rewards Program";
   ViewData["PageDescription"] = "Each $2 purchases earn 1 CUBC$,  10 X CUBC$ Selected Merchants, up to 5 X CUBC$ with POS purchase at Restaurants & Cafes, Supermarkets, Shopping Malls, and Gas Station in Cambodia";
}


<!-- Page START -->
<main class="mastbody">
	<!--
		Rewards Program
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-cards.jpg" />
						<img srcset="/assets/img/topkv/personal-cards-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Personal Cards</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Rewards Program</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/credit-cards/">
				<span class="tabmenu-btn-txt">Credit Cards</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/debit-cards/">
				<span class="tabmenu-btn-txt">Debit Cards</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/card-promotions/">
				<span class="tabmenu-btn-txt">Card Promotions</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/rewards-program/">
				<span class="tabmenu-btn-txt">Rewards Program</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">
				<span class="tabmenu-btn-txt">Experience with CashPoint</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">
				<span class="tabmenu-btn-txt">Apply Credit Card</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">Rewards Program</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/credit-cards/">Credit Cards</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/debit-cards/">Debit Cards</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/card-promotions/">Card Promotions</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/rewards-program/">Rewards Program</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card</a>
		</div>
	</div>

	
	
	<!--
		Rewards Program - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">Rewards Program</h1> 
		</header>
		
		
		<!-- Section heading -->
		<h2 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">
			How to earn CashPoint?
		</h2>
		
		
		<!-- Features -->
		<section class="compact px-xl-4">
			<!-- Graph icon list #1  (3 in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-reward.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">
							CashPoint
						</h5>
						<p>
							Earn 0.5% rebate CashPoint on each purchase for CashPoint
						</p>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-10x.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">
							Selected Merchant
						</h5>
						<p>
							Earn up to 1.5% rebate CashPoint at the selected merchants
						</p>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-md-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-welcome.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">
							Welcome Gift
						</h5>
                        <p>
							Earn up to 10 CashPoint = USD10 when you apply for Gold & Platinum Credit Card

						</p>	
					</div>
				</li>
			</ul>
		
			<div class="py-section"></div>
			
			<!-- Info box -->
			<h3 class="h3 h3-mb  p-3  bg-green text-white text-center fw-bolder">
				Boost CashPoint
			</h3>
			
			<div class="py-4 px-2 px-lg-4  border border-green text-center">
					<p class="mb-3">
						Up lift your CashPoint by making POS domestic purchase at Supermarket, Restaurants & Café and Gasoline
					</p>
				
				<!-- Graph icon list #3  (3 in a row) -->
				<ul class="row  justify-content-center  mb-n4">
	
					<!-- Graph item -->
					<li class="col-4  mb-4  px-1 px-xl-4   d-flex flex-column align-items-center ie11fix">
						<figure class="graph-flat  mx-3 mx-0  flex-shrink-0  mb-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-boost-2x.svg">
						</figure>
						<div class="text-center">
							<h5 class="h4 h4-mb  text-green-dark fw-bold lh-sm">Classic <nobr>& Gold</nobr></h5> 
						</div>
					</li>
	
					<!-- Graph item -->
					<li class="col-4  mb-4  px-1 px-xl-4   d-flex flex-column align-items-center ie11fix">
						<figure class="graph-flat  mx-3 mx-0  flex-shrink-0  mb-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-boost-3x.svg">
						</figure>
						<div class="text-center">
							<h5 class="h4 h4-mb  text-green-dark fw-bold lh-sm">Platinum</h5>
						</div>
					</li>
	
					<!-- Graph item -->
					<li class="col-4  mb-4  px-1 px-xl-4   d-flex flex-column align-items-center ie11fix">
						<figure class="graph-flat  mx-3 mx-0  flex-shrink-0  mb-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/cubc-boost-5x.svg">
						</figure>
						<div class="text-center">
							<h5 class="h4 h4-mb  text-green-dark fw-bold lh-sm">World <nobr>& Infinite</nobr></h5>
						</div>
					</li>
				</ul>
			</div>
		</section>
		
		<div class="py-page"></div>
		
		
		
		<!-- Section heading -->
		<h2 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Contact Us</h2>
		
		<!-- Two-columns -->
		<section class="row mx-sm-n2 mx-xl-n3">
			
			<!-- Left column -->
			<div class="col-12 col-sm-6 d-flex">
				<div class="w-100 bg-gray-100  mx-sm-2 mx-xl-3  px-3 py-4 p-sm-4 p-lg-5">
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
						For more related Rewards Program
					</h3>
					<p>
						Call to CUBC Customer Service via 023/ 069 88 55 00 or send email to <a class="text-green text-underline" href="mailto:rewards@cathaybk.com.kh">rewards@cathaybk.com.kh</a> via the registered email of the card for
						Cashback Redemption.
					</p>
				</div>
			</div>
			
			<!-- Right column -->
			<div class="col-12 col-sm d-flex    mt-3 mt-sm-0">
				<div class="w-100 bg-gray-100  mx-sm-2 mx-xl-3  px-3 py-4 p-sm-4 p-lg-5">
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">
						Experience with CashPoint
					</h3>
					<p>With our Preferred Partner to access more exclusive benefits more than ever for your Rewards Card & CashPoint!<a class="text-green text-underline" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Click for more</a></p>
				</div>
			</div>
		</section>
		
		<div class="py-page"></div>
		
		
		<p class="text-center">Learn More about <a class="text-green text-underline" rel="noopener noreferrer" href="/file/card-promotions/[Terms and Conditions] Rewards Program 2025.pdf" target="_blank">T&Cs</a></p>
		
		
		<div class="py-page"></div>
	</section>

</main>
<!-- Page END -->