@{
	ViewData["PageTitle"] = "匯入＆匯出款";
	ViewData["PageDescription"] = "匯款（國外匯款、國內匯款或支付指令）是從發起人發起匯款或支付指令開始，為特定目的向指定的受益人匯款，並由受益人的銀行接受後所完成的過程。";
}


<!-- Page START -->
<main class="mastbody">

	<!--
		匯入＆匯出款
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-remittance.jpg" />
						<img srcset="/assets/img/topkv/personal-remittance-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1-sm  fw-bold lh-xs">匯款服務</h2>
			</div>
		</div>
	</div>

	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">個人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">匯入＆匯出款</li>
			</ol>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/inward-and-outward-remittance/">
				<span class="tabmenu-btn-txt">匯入＆匯出款項</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/payment-and-transfer/">
				<span class="tabmenu-btn-txt">付款與轉帳</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">匯入＆匯出款</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- 前往頁面 --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/inward-and-outward-remittance/">匯入＆匯出款</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/payment-and-transfer/">付款與轉帳</a>
		</div>
	</div>



	<!--
		匯入＆匯出款 - Detail
	-->
	<section class="fluid overflow-hidden">

		<div class="py-page"></div>

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">匯入＆匯出款項</h1>
			<p>匯款（國外匯款、國內匯款或支付指令）是從發起人發起匯款或支付指令開始，為特定目的向指定的受益人匯款，並由受益人的銀行接受後所完成的過程。</p>
		</header>

		<!-- Tabular data -->
		<div class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col>
						<col width="40%">
						<col width="40%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" class="h4 h4-mb">項目</th>
							<th scope="col" class="h4 h4-mb">匯入款項手續費</th>
							<th scope="col" class="h4 h4-mb">匯出款項手續費</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">國外</th>
							<td>匯款金額的0.10% ；最低10.00美元</td>
							<td>
								匯款金額的0.20%，最低15.00美元，外加郵電費20.00美元<br>
								(全額匯達受款行另加30.00美元)
							</td>
						</tr>
						<tr>
							<th scope="row">國內</th>
							<td>每筆手續費5.00美元</td>
							<td>匯款金額的0.05% ，最低5.00美元</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/.tabular-->

		<ul class="list-disc  mt-4  h6 h6-mb">
			<li>匯出匯款業務產生之國外銀行費用，按國外銀行實際收取之費用計收。</li>
			<li>本行具有解釋或變更終止各項手續費收取內容之權利。</li>
			<li>如涉及第三方和其他可能發生之費用，本行將另行酌收。</li>
		</ul>

		<div class="py-page"></div>
	</section>

</main>
<!-- Page END -->