@model IndexViewModel

@{
    ViewBag.PageTitle = "Terms and Conditions";
    ViewBag.PageDescription = "";
}
@section Scripts {}

<div class='component-oversea-kv-short'>
    <figure class='coks-figure'>
        <picture>
            <source media='(min-width: 768px)'
                    data-srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/terms-condition-lg.jpg")' />
            <img class='coks-img lazy' data-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/kv-short/terms-condition.jpg")' alt='@ViewBag.nav_terms_condition'>
        </picture>
        <figcaption hidden>@ViewBag.nav_terms_condition</figcaption>
    </figure>
    <div class="coks-inner">
        <div class="coks-content">
            <h1 class='coks-title'>@ViewBag.nav_terms_condition</h1>
        </div>
    </div>
</div>
    <div class='component-oversea-list'>
        <div class="col-inner">
            <div class="col-list-wrap">
                <ul class='col-list'>
                    <li class='col-item'>
                        <span class='col-item-title'>T & Cs, Saving Account</span>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/terms-condition/tcs-saving-account-account.pdf")" class='col-item-btn' target="_blank" rel="noopener"><span class='col-item-btn-text'>PDF</span></a>
                    </li>
                    <li class='col-item'>
                        <span class='col-item-title'>T & Cs, Checking Account</span>
                        <a href="@Url.Content("~/OVSWS/Content/pdf/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/terms-condition/tcs-checking-account.pdf")" class='col-item-btn' target="_blank" rel="noopener"><span class='col-item-btn-text'>PDF</span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>