@{
   ViewData["PageTitle"] = "សេវាកម្មធនាគារផ្ទាល់ខ្លួន";
   ViewData["PageDescription"] = "នៅធនាគារកាថេយូណៃធីតយើងនៅទីនេះដើម្បីយល់ពីតម្រូវការនិងបំពេញតម្រូវការទាំងនោះរបស់លោកអ្នក។​ ជាមួយនឹងភាពងាយស្រួល តម្លៃ និងគុណភាព យើងបង្កើតទំនាក់ទំនងដ៏រឹងមាំដើម្បីសម្រេចបាននូវគោលដៅហិរញ្ញវត្ថុរបស់លោកអ្នក។ មិនថាអ្នកទើបតែចាប់ផ្តើម ជិតចូលនិវត្តន៍ ឬកន្លែងណាមួយនោះទេ សេវាធនាគារផ្ទាល់ខ្លួនរបស់យើងធ្វើឱ្យលោកអ្នកចំណេញពេលវេលាបន្ថែមទៀតសម្រាប់ខ្លួនអ្នក។";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		សេវាកម្មធនាគារផ្ទាល់ខ្លួន
	-->
	<header class="topkv clerkkv">
		<div class="clerkkv-bg lazy" data-bg="/assets/img/content/bg-bright.jpg"></div>
		<div class="clerkkv-content">
			<div class="clerkkv-title">
				<h1 class="display-1-sm h1-mb mb-3  fw-bold text-center lh-sm nowrap">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</h1>
				<p class="h4 h4-mb">យើងដឹងថាពិភពលោកកំពុងប្រឈមនឹងបញ្ហាខាងក្រៅ ស្របនឹងដំណើរជីវិតដើរយ៉ាងលឿនពីមួយថ្ងៃទៅមួយថ្ងៃ ។ យើងនៅមានពេលវេលាច្រើនរឺតិចសំរាប់ធ្វើរឿងនេះ គឺថាតើលោកអ្នកត្រៀមខ្លួនស្វែងរកធនាគារសំរាប់លោកអ្នកហើយរឺនៅ? ធនាគារកាថេយូណៃធីតនៅទីនេះដើម្បីស្វែងយល់ពីតំរូវការនិងបំពេញតំរូវការរបស់លោកអ្នក។ ជាមួយភាពងាយស្រួល គុណភាព និង តំលៃ យើងខ្ញុំបង្កើតទំនាក់ទំនងយ៉ាងរឹងមាំជាមួយលោកអ្នកដើម្បីសំរេចគោលដៅហិរញ្ញវត្ថុរបស់លោកអ្នក។ មិនថាលោកអ្នកទើបតែចាប់ផ្តើម ត្រៀមខ្លួនចូលនិវត្តន៍ រឺក៏ស្ថិតក្នុងស្ថានការណ៍បែបណា សេវាកម្មធនាគារផ្ទាល់ខ្លួនរបស់យើងខ្ញុំនឹងជួយលោកអ្នកចាប់យកឱកាសឡើងវិញសំរាប់លោកអ្នកផ្ទាល់។</p>
			</div>
			<figure class="clerkkv-pic">
				<img class="ofi-contain lazy" data-src="/assets/img/content/clerk-at-service.png" alt="We understand your needs">
			</figure>
		</div>
	</header>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</li>
			</ol>
		</div>
	</nav>
	
	<div class="py-30"></div>
	
	
	<!--
		សេវាកម្មធនាគារផ្ទាល់ខ្លួន - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Banking for individuals</h2>
			<p class="display-3 h1-mb  text-dark fw-bold">A financial partner you can trust</p>
		</header>
		
		<!-- Card grids  (3 in a row) -->
		<div class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4"><!-- 720x482 PNG or JPG -->
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-deposit.jpg" alt="គណនីប្រាក់បញ្ញើ">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">គណនីប្រាក់បញ្ញើ<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/current-account/">គណនីចរន្ត<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/savings-account/">គណនីសន្សំ<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/fixed-deposit/">គណនីបញ្ញើសន្សំមានកាលកំណត់់<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/deposit-pricing-guide/">ការណែនាំអំពីតម្លៃដាក់ប្រាក់<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-remittance.jpg" alt="ការផ្ទេរប្រាក់">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ការផ្ទេរប្រាក់<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/inward-and-outward-remittance/">ការផ្ទេរប្រាក់ចូលនិងការផ្ទេរប្រាក់ចេញ<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/payment-and-transfer/">ការទូរទាត់និងការផ្ទេរប្រាក់<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-loan.jpg" alt="ដំណោះស្រាយឥណទាន">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ដំណោះស្រាយឥណទាន<b class="underdash"></b></h3>
						<ul class="h4 h4-mb">
							<li class="mb-2  mb-n2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/individual-loan/">ប្រាក់កម្ចីបុគ្គល<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-cards.jpg" alt="កាតបុគ្គល">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">កាតបុគ្គល<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/credit-cards/">កាតឥណទាន<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/debit-cards/">កាតឥណពន្ធ<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/card-promotions/">កាតប្រូម៉ូសិន<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/rewards-program/">កម្មវិធីប្ដូររង្វាន់<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/cubc-exclusive/">Experience with CashPoint<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/apply-online?Channel=Website">Apply Credit Card<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-atm.jpg" alt="អេធីអឹម">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">អេធីអឹម<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/atm-service/">សេវាកម្មអេធីអឹម<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>
		
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3">
					<figure class="mb-3 mb-xl-4">
						<img class="w-100 lazy" data-src="/assets/img/content/personal-pic-online.jpg" alt="ធនាគារអនឡាញ">
					</figure>
					<div class="pl-3 px-xl-3">
						<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ធនាគារអនឡាញ<b class="underdash"></b></h3>
						<ul class="h4 h4-mb  mb-n2">
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/internet-banking/">ប្រព័ន្ធធនាគារតាមអេឡិចត្រូនិក<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/mobile-banking/">ធនាគារចល័ត<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/merchant-app/">កម្មវិធី CUBC Merchant<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/alert-services/">សេវាជូនដំណឹង<i class="ico-ui-right-v ml-2"></i></a></li>
							<li class="mb-2"><a class="hover-green" href="@ViewData["siteLangUrl"]personal/user-guide/">របៀប​ប្រើប្រាស់​<i class="ico-ui-right-v ml-2"></i></a></li>
						</ul>
					</div>
				</li>	
			</ul>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->