@{
	ViewData["PageTitle"] = "របៀប​ប្រើប្រាស់​";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">

	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ធនាគារអនឡាញ</h2>
			</div>
		</div>
	</div>

	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item" aria-current="page">របៀប​ប្រើប្រាស់​</li>
			</ol>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">ធនាគារចល័ត</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">
					កម្មវិធី CUBC Merchant
				</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">សេវាជូនដំណឹង</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">របៀប​ប្រើប្រាស់​</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>

	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">របៀប​ប្រើប្រាស់​</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- Select page --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">ប្រពន្ធ័ធនាគារតាមអេឡិចត្រូនិក</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">ធនាគារចល័ត</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				កម្មវិធី CUBC Merchant
			</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">សេវាជូនដំណឹង</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">របៀប​ប្រើប្រាស់​</a>
		</div>
	</div>

	
		<div class="py-page"></div>
	
		<!-- -->
	<section class="compact">
		<!-- Section heading -->
		<h3 class="h1 h2-mb mb-4 text-black fw-bold text-center lh-sm">CUBC របៀប​ប្រើប្រាស់​</h3>
		<!-- item -->
		<section class="static-qaitem">
			<a href="/file/user-guide/User Guide Open Digital Account (KH).pdf">
				<div class="static-title">
					<h5 class="qaitem-title-txt h3 h3-mb text-dark fw-bold">
						ការបង្កើតគណនីឌីជីថល CUBC
					</h5>
				</div>
			</a>
		</section>
		<section class="static-qaitem">
			<a href="/file/user-guide/User Guide Apply for mBanking (KH).pdf">
				<div class="static-title">
					<h5 class="qaitem-title-txt h3 h3-mb text-dark fw-bold">
						ការចុះឈ្មោះប្រើ CUBC mBanking
					</h5>
				</div>
			</a>
		</section>
		<section class="static-qaitem">
			<a href="/file/user-guide/User Guide First Time Login (KH).pdf">
				<div class="static-title">
					<h5 class="qaitem-title-txt h3 h3-mb text-dark fw-bold">
						ការបើកចូលគណនីលើកដំបូង
					</h5>
				</div>
			</a>
		</section>
	</section>

</main>
<!-- Page END -->