@{ 
    var controller_name = this.ViewContext.RouteData.Values["controller"].ToString();
    if (controller_name == "Home")
    {
        controller_name = "";
    }
    if (ViewBag.section == "home/")
    {
        ViewBag.section = "";
    }
}
<!-- component-header -->
<header class="component-header">
    <nav class="ch-navbar">
        <div class="ch-brand-wrap">
            <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url)" class="ch-brand" title='@ViewBag.site_name'>
                <figure class='ch-figure'>
                    <picture>
                        <source media='(min-width: 992px)' srcset='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/header/logo-lg.svg")' />
                        <img class='ch-img' normal-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/header/logo.svg")' active-src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/header/logo-white.svg")' src='@Url.Content("~/OVSWS/Content/img/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/header/logo.svg")' alt='@ViewBag.site_name'>
                    </picture>
                    <figcaption hidden>@ViewBag.site_name</figcaption>
                </figure>
            </a>
            <ul class='ch-subnav-list'>
                <li class='ch-subnav-item'>
                    <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"contact/")" class='ch-subnav-link'>@ViewBag.nav_contact</a>
                </li>
                <li class='ch-subnav-item'>
                    <div class="language-form">
                        <select role="language-select" class='form-select'>
                        @if (ViewBag.lang == "en")
                        {
                            <option value="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/en/"+@ViewBag.section+@ViewBag.subsection+"")">@ViewBag.nav_lang_en</option>
                            <option value="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.section+@ViewBag.subsection+"")">@ViewBag.nav_lang_zh_hant</option>

                        }
                        else if(ViewBag.lang == "zh-hant")
                        {
                            <option value="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.section+@ViewBag.subsection+"")">@ViewBag.nav_lang_zh_hant</option>
                            <option value="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/en/"+@ViewBag.section+@ViewBag.subsection+"")">@ViewBag.nav_lang_en</option>
                        }
                        else
                        {
                        }
                        </select>
                    </div>
                </li>
            </ul>
        </div>


                   

                    <button class="ch-toggler" type="button">
                        <span class='ch-toggler-inner'></span>
                    </button>

                    <div class="ch-nav">
                        <ul class="ch-nav-list">
                            <li class="ch-nav-item">
                                <div class="ch-nav-lv2">
                                    <div class="ch-nav-lv2-title" title='@ViewBag.nav_bulletin_board'>@ViewBag.nav_bulletin_board</div>
                                    <ul class="ch-nav-lv2-list">
                                        <li class="ch-nav-lv2-item">
                                            <ul class="ch-nav-lv3">
                                                <li class='ch-nav-lv3-item'>
                                                    <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"news/")" class="ch-nav-lv3-link " title="@ViewBag.nav_news">@ViewBag.nav_news</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <a href='javascript:;' class="ch-nav-link" title='@ViewBag.nav_bulletin_board'>
                                    <span>@ViewBag.nav_bulletin_board</span>
                                </a>
                            </li>

                            <li class="ch-nav-item ch-nav-item--hide-lg">
                                <a href="@Url.Content("~/"+@ViewBag.country_url+"/"+@ViewBag.city_url+"/"+@ViewBag.lang_url+"contact/")" class="ch-nav-link " title="@ViewBag.nav_contact">
                                    <span>@ViewBag.nav_contact</span>
                                </a>
                            </li>

                            <li class='ch-nav-item ch-nav-item--group ch-nav-item--hide-lg'>
                                <a href='https://www.cathayholdings.com' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>@ViewBag.nav_cathay_holdings</a>
                                <a href='https://www.cathaybk.com.tw/cathaybk' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>@ViewBag.nav_cathay_united_bank</a>
                       @if (ViewBag.lang == "en" || ViewBag.lang == "zh-hant")
                        {
                            <a href='@Url.Content("~/overseas/"+@ViewBag.lang_url)' target="_blank" rel='noopener' class='ch-nav-link'>@ViewBag.nav_oversea_branch</a>
                        }
                        else
                        {
                            <a href='@Url.Content("~/overseas/en/")' target="_blank" rel='noopener' class='ch-nav-link'>@ViewBag.nav_oversea_branch</a>
                        }
                            </li>
                            <li class='ch-nav-item ch-nav-item--social ch-nav-item--hide-lg'>
                                <a href='https://www.facebook.com/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='@Url.Content("~/OVSWS/Content/img/common/header/")facebook.svg' alt="Facebook icon"></a>
                                <a href='https://www.youtube.com/user/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='@Url.Content("~/OVSWS/Content/img/common/header/")youtube.svg' alt="Youtube icon"></a>
                                <a href='https://tw.linkedin.com/company/cathay-united-bank-co-ltd-' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='@Url.Content("~/OVSWS/Content/img/common/header/")linkedin-hover.svg' alt="linkedin icon"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- component-header end -->
