@{
   ViewData["PageTitle"] = "行動銀行 使用條款";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		行動銀行 使用條款
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-online.jpg" />
						<img srcset="/assets/img/topkv/personal-online-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1-sm  fw-bold lh-xs">Online Banking</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">個人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">行動銀行 使用條款</li>
			</ol>
		</div>
	</nav>
	
	<!-- Menu -->
	<nav class="tabmenu    d-none d-sm-block">
		<div class="tabmenu-inner">
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/internet-banking/">
				<span class="tabmenu-btn-txt">網路銀行</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/mobile-banking/">
				<span class="tabmenu-btn-txt">行動銀行</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn active" href="@ViewData["siteLangUrl"]personal/merchant-app/">
				<span class="tabmenu-btn-txt">Merchant App</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/alert-services/">
				<span class="tabmenu-btn-txt">推播/提醒服務</span>
				<i class="tabmenu-btn-line"></i>
			</a>
			<a class="tabmenu-btn" href="@ViewData["siteLangUrl"]personal/user-guide/">
				<span class="tabmenu-btn-txt">使用手冊</span>
				<i class="tabmenu-btn-line"></i>
			</a>
		</div>
	</nav>
	<!-- Mobile dropdown -->
	<div class="tabmenu-dropdown dropdown    d-block d-sm-none">
		<a href="javascript:;" class="btn btn-sm btn-block  dropdown-toggle" data-toggle="dropdown">
			<span class="text-truncate d-inline-block">-- 前往頁面 --</span>
		</a>
		<div class="dropdown-menu">
			<span class="dropdown-item disabled">-- 前往頁面 --</span>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/internet-banking/">網路銀行</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/mobile-banking/">行動銀行</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/merchant-app/">Merchant App</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/alert-services/">推播/提醒服務</a>
			<a class="dropdown-item text-truncate" href="@ViewData["siteLangUrl"]personal/user-guide/">使用手冊</a>
		</div>
	</div>

	
	<!--
		行動銀行 隱私權政策
	-->
	<section id="privacy-policy" class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">行動銀行 隱私權政策</h1>
		</header>
		
		
		<div class="compact">
			<p class="mb-3">國泰世華銀行(柬埔寨)股份有限公司（以下稱「本行」）建置CUBC 行動銀行 App（以下稱「本應用程式」）為商業用之應用程式。CUBC 行動銀行服務由國泰世華銀行(柬埔寨)股份有限公司提供，並以行動應用程式方式提供使用（以下稱「本服務」）。</p>
			<p class="mb-3">本頁面通知您  在使用本服務時，本行蒐集、利用和揭露您個人資料之政策，以及您得就該等資料享有之選擇權。</p>
			<p class="mb-3">如果您選擇使用本服務，即表示您同意本行依本政策進行個人資料之蒐集與利用。本行蒐集的個人資料將用於提供和改進本服務。除本政策所述情況外，本行不會將您的個人資料提供予第三人或作為其他用途。</p>
			<p class="mb-3">除非本政策另有規定，本政策中使用的術語與本服務之使用條款中的含義相同，您可以在CUBC 行動銀行上查閱本服務之使用條款。</p>
						
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">資訊蒐集與利用</h3>
			<p class="mb-3">為了提供更好的用戶體驗，在使用本服務時，本行可能要求您向本行提供某些個人識別資料，包括但不限於本行蒐集的資訊。本行所蒐集之資訊將由本行自行保管，並按照本政策進行利用。</p>
			<p class="mb-3">本服務之本應用程序係使用第三方服務，而第三方服務可能會蒐集資訊來識別您的身份。</p>
			<p>本服務之本應用程式所使用的第三方服務供應商的隱私權政策連結： <a class="hover-text text-underline" rel="nofollow noreferrer noopener" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a></p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">個人資料</h3>
			<p class="mb-3">在使用本服務時，本行可能會要求您向我們提供某些可用於聯繫或識別您個人身份之個人識別資料（以下稱為「個人資料」）。個人資料可能包括但不限於：</p>
			<ul class="list-disc mb-3">
				<li>Email</li>
				<li>姓名</li>
				<li>電話</li>
				<li>帳號</li>
				<li>信用卡號碼</li>
				<li>Cookies 與使用數據</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">使用數據</h3>
			<p class="mb-3">每當您使用本服務或透過行動裝置使用本服務時，本行得蒐集您的瀏覽器發送的資訊（以下稱為「使用數據」）。</p>
			<p class="mb-3">使用數據可能包含但不限於您電腦的IP位址、瀏覽器類型、瀏覽器版本、訪問的服務頁面、訪問的時間和日期、在這些頁面上花費的時間、單一識別系統和其他用於判斷之數據。</p>
			<p class="mb-3">當您使用或透過行動裝置使用本服務時，使用數據蒐集之資料類型可能包含但不限於您的行動裝置類型、行動裝置的唯一識別碼、行動裝置的 IP位址、行動裝置作業系統、使用的行動網路瀏覽器類型、單一識別系統和其他用於判斷之數據。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">追蹤與Cookies 數據</h3>
			<p class="mb-3">本行使用 cookies 和類似的追蹤技術來追蹤本服務上的活動並保存某些資訊。</p>
			<p class="mb-3">Cookies 是內含少量數據的檔案，其中可能包含匿名單一識別系統。cookies從網站發送到您的瀏覽器並儲存在您的裝置上。其他使用的追蹤技術包括信標、標籤和指令碼，用於蒐集和追蹤資訊以及改進和分析本服務。</p>
			<p class="mb-3">您可以於您的瀏覽器中設定拒絕所有cookies，或設定何時發送cookie。如果您拒絕接受cookies，您可能無法使用我們的部分服務。</p>
			<p class="mb-3">本行使用的 Cookies 範例：</p>
			<ul class="list-disc mb-3">
				<li>Session Cookies. 本行使用Session Cookies來營運本服務。</li>
				<li>Preference Cookies. 本行使用Preference Cookies來記住您的偏好和各種設定。</li>
				<li>Security Cookies. 本行出於安全目的使用Security Cookies。</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">數據利用</h3>
			<p class="mb-3">本行將蒐集的數據用於以下目的：</p>
			<ul class="list-disc mb-3">
				<li>提供並維持本服務</li>
				<li>通知您關於本服務的變更</li>
				<li>您選擇使用本服務的互動功能時允許您使用</li>
				<li>提供客戶服務與支援</li>
				<li>提供分析或有價值的資訊，以便本行能夠改進本服務。</li>
				<li>監控本服務的使用狀況</li>
				<li>偵測、預防和解決技術問題</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">資訊傳輸</h3>
			<p class="mb-3">您的資訊（包括個人資料）可能會在本行內部的電腦上進行傳輸和維護，其所適用之資訊保護規範可能會與您的所在地適用之法律不同。</p>
			<p class="mb-3">如果您位於柬埔寨境外並選擇向本行提供資訊，請留意本行會將您的資訊（包括個人資料）傳輸至柬埔寨境內並在境內處理。</p>
			<p class="mb-3">如您同意本政策並提交此類資訊，即表示您同意前述資訊傳輸。</p>
			<p class="mb-3">本行將採取一切合理必要的步驟，確保您的資訊得到安全處理並符合本政策，除非有足夠的資訊安全控管措施，您的資訊及個人資料將不會被傳輸至任何其他組織或國家/地區。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">資訊揭露</h3>
			<h4 class="h4 h4-mb mb-3  text-dark fw-bolder">法律規定</h4>
			<p class="mb-3">本行於善意相信必要時，得為下列目的揭露您的個人資料，以便：</p>
			<ul class="list-disc mb-3">
				<li>遵守法律上之義務</li>
				<li>保護和捍衛本行權利或資產</li>
				<li>防止或調查與本服務有關的可能不當行為</li>
				<li>保護本服務的用戶或公眾的安全</li>
				<li>防止法律責任</li>
			</ul>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">資訊安全</h3>
			<p class="mb-3">我們重視您向本行提供個人資料的信任，因此本行努力使用商用等級系統來保護您的資訊。但請記住，沒有任何通過網路傳輸的方法或電子儲存方法是 100% 安全可靠的，我們不能保證其絕對安全。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">服務供應商</h3>
			<p class="mb-3">出於以下原因，本行可能會聘請第三方公司或個人以：</p>
			<ul class="list-disc mb-3">
				<li>促進本服務；</li>
				<li>代表我們提供本服務；</li>
				<li>執行與本服務相關的服務；或者</li>
				<li>協助我們分析本服務的使用情形。</li>
			</ul>
			<p class="mb-3">我們希望告知本服務的用戶，這些第三方供應商可以接觸到您的個人資料，以代表本行執行所委任之事項。但是，他們有義務不為任何其他目的揭露或利用該等資訊。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">其他網站連結</h3>
			<p class="mb-3">本服務可能包含導向其他網站的連結。如果您點擊了一個第三方連結，您將被引導到該網站。請注意，這些外部網站並非由我們營運。因此，我們強烈建議您查看這些網站的隱私權聲明。我們無法控制任何第三方網站或服務的內容、隱私政策或做法，也不承擔任何責任。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">兒童隱私</h3>
			<p class="mb-3">本服務非針對未滿18歲的人士提供。 本行不會在知情之情況下蒐集未滿18歲兒童的個人識別資料。本行一旦發現未滿18歲的兒童向本行提供了個人資料，本行將立即自伺服器刪除該等資料。如果您是其父母或監護人，在您發現您的孩子向本行提供了個人資料時，請與本行聯繫，以便本行能夠採取必要的行動。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">隱私權政策變更</h3>
			<p class="mb-3">本行可能會不時更新我們的隱私權政策，因此我們建議您定期查看此頁面以了解任何變更。如有任何變更，我們將透過此頁面上發佈新的隱私權政策的方式通知您。 這些變更在發佈到此頁面後立即生效。</p>
			
			<div class="py-section"></div>
			
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">聯繫我們</h3>
			<p class="mb-3">如果您對本隱私權政策有任何疑問，請造訪我們的網站與我們聯繫：<a class="hover-text text-underline" href="https://www.cathaybk.com.kh">https://www.cathaybk.com.kh</a></p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
	<!--
		行動銀行 使用條款
	-->
	<section id="terms-conditions" class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->