@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>國泰世華銀行 私人銀行</title>

    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/bootstrap.css.map")" rel="stylesheet">*@


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/core.css")" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/coreD.css")" />




    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/animate.css")" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/fontawesome/css/all.css")" rel="stylesheet">

    <link href="@Url.Content("~/OVSWS/Content/css/aos.css")" rel="stylesheet">


    <link href="@Url.Content("~/OVSWS/Content/pwm-sg/css/index.css")" rel="stylesheet">
    <link media="(min-width:992px)" href="@Url.Content("~/OVSWS/Content/pwm-sg/css/indexD.css")" rel="stylesheet">

</head>

<body>



    <!-- Modal -->
    <div class="modal fade nav" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog" role="document">

            <div class="modal-content">



                <div class="navHeader">
                    <a href="@Url.Content("~/sg/private-bank/")">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logo.png")" class="logo img-fluid">
                    </a>

                    <div class="myclose" data-dismiss="modal" aria-label="Close">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/myClose.png")" class="myClose">
                    </div>
                </div>

                <div class="navBody">
                    <a href="@Url.Content("~/sg/private-bank/about/")">
                        <div class="oneNav">
                            關於我們
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="@Url.Content("~/sg/private-bank/custom/")">
                        <div class="oneNav">
                            方案訂製
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    @*<a href="javascript:;" onclick="alert('敬請期待');">
                        <div class="oneNav">
                            專屬禮遇
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>*@
                    <a href="@Url.Content("~/sg/private-bank/award/")">
                        <div class="oneNav">
                            獎項榮譽
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                    <a href="@Url.Content("~/sg/private-bank/contact/")">
                        <div class="oneNav">
                            聯絡我們
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                    <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">
                        <div class="oneNav">
                            網銀登入
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <!-- header -->
    <!-- header -->

    <div class="d-lg-none">
        <div class="header">
            <div class="container text-left">
                <div class="row">
                    <div class="col-9">
                        <a href="@Url.Content("~/sg/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/trigger.png")" class="trigger" data-toggle="modal" data-target=".nav">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <div class="d-none d-lg-block">
        <div class="headerD">
            <div class="container text-left">
                <div class="row area1">
                    <div class="col-4">
                        <a href="@Url.Content("~/sg/private-bank/")">
                            <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logo.png")" class="logo">
                        </a>
                    </div>
                    <div class="col-8 text-right">

                        <ul class="rightTopNav">
                            <li><a href="@Url.Content("~/sg/")">新加坡分行</a></li>
                            <li><a href="@Url.Content("~/sg/private-bank/")" class="active">私人銀行</a></li>
                            <li><a href="@Url.Content("~/sg/zh-cn/private-bank/")" target="_self" class="goldFrame">簡中</a></li>
                            <li><a href="@Url.Content("~/sg/en/private-bank/")" target="_self" class="goldFrame">En</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="goldLineArea"></div>
                    </div>
                </div>

                <div class="row area2">
                    <div class="col-12">
                        <ul class="mainNav">
                            <li class="nav1">
                                <a href="@Url.Content("~/sg/private-bank/about/")">關於我們</a>
                            </li>
                            <li class="nav4">
                                <a href="@Url.Content("~/sg/private-bank/custom/")">方案訂製</a>
                            </li>
                            @*<li class="nav3">
                                <a href="javascript:;" onclick="alert('敬請期待');">專屬禮遇</a>
                            </li>*@
                            <li class="nav100">
                                <a href="@Url.Content("~/sg/private-bank/award/")">獎項榮譽</a>
                            </li>
                            <li class="nav5">
                                <a href="@Url.Content("~/sg/private-bank/contact/")">聯絡我們</a>
                            </li>
                            <li class="nav6">
                                <a href="https://www.globalmyb2b.com/PBANK/Login.aspx?LOC=SG" target="_blank" rel="noopener">網銀登入</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- banner -->
    <!-- banner -->
    <!-- banner -->

    <div class="d-none d-lg-block">
        <div id="bannerD" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#bannerD" data-slide-to="0" class="active"></li>
                <li data-target="#bannerD" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url(@Url.Content("~/OVSWS/Content/pwm-sg/img/index/banner2D.jpg"));cursor: pointer;" onclick="javascript:location.href='@Url.Content("~/sg/private-bank/contact/")'">
                    
                    </div>
                    <div class="carousel-item" style="background-image: url(@Url.Content("~/OVSWS/Content/pwm-sg/img/index/banner3D.jpg"));cursor: pointer;" onclick="javascript:location.href='@Url.Content("~/sg/private-bank/award/")'">
                    </div>
                </div>
            <a class="carousel-control-prev" href="#bannerD" role="button" data-slide="prev">
                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/leftArrow.png")" class="leftArrow">
            </a>
            <a class="carousel-control-next" href="#bannerD" role="button" data-slide="next">
                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/rightArrow.png")" class="rightArrow">
            </a>
        </div>
    </div>



    <!-- section1 -->
    <!-- section1 -->
    <!-- section1 -->



    <div class="d-none d-lg-block">
        <div class="section1D">
            <div class="container">
                <div class="row">
                    <div class="col-5 illuContainer" data-aos="fade-up">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section1IlluD.png")" class="img-fluid illu">
                    </div>
                    <div class="col-10 offset-2">
                        <div class="paper" data-aos="fade-up">

                            <h3 class="gold2" data-aos="fade-up">關於我們</h3>
                            <div class="titleLine" data-aos="fade-up"></div>
                            <div class="clearfix"></div>

                            <p data-aos="fade-up" style="margin-left: 250px;">
                                位於新加坡的國泰世華私人銀行，<br>專注於提供具有高資產之客戶私人銀行服務，<br>提供客製化財富管理、傳承佈局以及企業轉型與永續經營之專業諮詢，<br>致力於助您規劃專屬資產配置方案，<br>陪您一同超越人生，創造人生財富里程碑
                            </p>
                            <a href="@Url.Content("~/sg/private-bank/about/")">
                                <div class="myBtn mr15" data-aos="fade-up">為什麼選擇我們</div>
                            </a>
                            <a href="@Url.Content("~/sg/private-bank/about/")">
                                <div class="myBtn" data-aos-delay="300" data-aos="fade-up">我們的團隊</div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- section2 -->
    <!-- section2 -->
    <!-- section2 -->


    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="gold1" data-aos="fade-up">方案訂製</h3>
                    <div class="titleLine" data-aos="fade-up"></div>
                    <div class="clearfix"></div>
                    <p data-aos="fade-up">
                        國泰世華私人銀行為您
                        <br> 規劃專屬財富與投資對策，
                        <br> 全客製化資產配置滿足您的需求，
                        <br> 邀您一同創造價值，豐富人生
                    </p>
                    <a href="@Url.Content("~/sg/private-bank/custom/")">
                        <div class="myBtn outLine" data-aos="fade-up">看更多</div>
                    </a>

                </div>
            </div>
        </div>
    </div>



    <!-- section3 -->
    <!-- section3 -->
    <!-- section3 -->


    <div class="d-none d-lg-block">
        <div class="section3D">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-5">
                        <div class="paper" data-aos="fade-up">
                            <h3 class="blue" data-aos="fade-up">專屬禮遇</h3>
                            <div class="titleLine blue" data-aos="fade-up"></div>
                            <div class="clearfix"></div>
                            <p data-aos="fade-up">
                                頂級服務 全年無休
                                <br> 尊榮禮遇 盡享優惠
                                <br> 國泰集團 獨家禮遇
                            </p>
                            @*<a href="javascript:;" onclick="alert('敬請期待');">
                                <div class="myBtn blue" data-aos="fade-up">看更多</div>
                            </a>*@
                        </div>
                    </div>
                    <div class="col-7">
                        <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section3IlluD.png")" class="img-fluid illu" data-aos="fade-up">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- section4 -->
    <!-- section4 -->
    <!-- section4 -->

    <a name="section4"></a>

    <div class="section4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="blue" data-aos="fade-up">獎項榮譽</h3>
                    <div class="titleLine blue" data-aos="fade-up"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section4Award2_2023.png")" class="img-fluid">
                    <p>
                        2023<br />
                        Asian Private Banker
                        <br> 台灣最佳私人銀行獎
                        <br> Best Private Bank
                        <br> Taiwan Domestic

                    </p>
                </div>
                <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section4Award2_2022.png")" class="img-fluid">
                    <p>
                        2022<br />
                        Asian Private Banker
                        <br> 台灣最佳私人銀行獎
                        <br> Best Private Bank
                        <br> Taiwan Domestic

                    </p>
                </div>

                <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section4Award2_2021.png")" class="img-fluid">
                    <p>
                        2021<br />
                        Asian Private Banker
                        <br> 台灣最佳私人銀行獎
                        <br> Best Private Bank
                        <br> Taiwan Domestic

                    </p>
                </div>


                @*<div class="col-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/index/section4Award2_2020.png")" class="img-fluid">
                    <p>
                        2020<br />
                        Asian Private Banker
                        <br> 台灣最佳私人銀行獎
                        <br> Best Private Bank
                        <br> Taiwan Domestic

                    </p>
                </div>*@



                <div class="col-12" data-aos="fade-up">
                    <a href="@Url.Content("~/sg/private-bank/award/")">
                        <div class="myBtn">看更多</div>
                    </a>
                </div>

            </div>
        </div>
    </div>



    <!-- footer -->
    <!-- footer -->
    <!-- footer -->



    <div class="d-lg-none">
        <div class="footer">
            <div class="container text-left">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>手機請撥：02-2383-1000</li>
                            <li>服務專線：0800-818-001</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隱私權保護政策</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顧客資料保密措施</a></li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行銷</a></li>
                            <li>©國泰世華商業銀行股份有限公司</li>
                            <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">國泰世華私人銀行 I 台灣</a></li>
                            <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">國泰世華私人銀行 I 香港</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="d-none d-lg-block">
        <div class="footerD">
            <div class="area1">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <a href="###">
                                <img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/logoOnlyTree.png")" class="logo">
                            </a>
                            <ul>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/promo/private-bank/index.html" target="_blank" rel="noopener">國泰世華私人銀行 I 台灣</a></li>
                                <li><a href="@Url.Content("~/HongKong/private-bank/")" target="_blank" rel="noopener">國泰世華私人銀行 I 香港</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area2">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/cathayunitedbank/" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/fb.png")"></a>
                                </li>

                                <li>
                                    <a href="https://line.me/R/ti/p/%40cathaybank" target="_blank" rel="noopener"><img src="@Url.Content("~/OVSWS/Content/pwm-sg/img/line.png")"></a>
                                </li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/news/announcement/info/browsersetting/?l=f" target="_blank" rel="noopener">瀏覽器建議</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-privacy/?l=f" target="_blank" rel="noopener">隱私權保護政策</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/about/about/customer-benefits/client-secret/?l=f" target="_blank" rel="noopener">顧客資料保密措施</a></li>
                                <li><a href="https://www.cathaybk.com.tw/cathaybk/personal/investment/announcement/comarketing/" target="_blank" rel="noopener">共同行銷</a></li>
                                <li>©國泰世華商業銀行股份有限公司</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>







    <!-- footer_js -->
    <!-- footer_js -->
    <!-- footer_js -->
    <!--  ******************************************* js *********************************************** -->

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/jquery.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/pwm-sg/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/OVSWS/Content/js/vendor/aos/aos.js")"></script>


    <script>
        $(document).ready(function () {



            AOS.init({
                offset: 180, // offset (in px) from the original trigger point
                duration: 2000, // values from 0 to 3000, with step 50ms
                easing: 'ease-out-quad' // default easing for AOS animations

            });
        });




        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        // ↓↓↓↓↓↓↓↓ 滑動到指定位置 ↓↓↓↓↓↓↓↓
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');


        function goToTop() {

            $body.animate({
                scrollTop: $("body").offset().top
            }, 1000);
        }


        function slideTo(targetName) {

            $body.animate({
                scrollTop: $("." + targetName).offset().top
            }, 1500);

        }





        // ↓↓↓↓↓↓↓↓ 選單收合 ↓↓↓↓↓↓↓↓
        window.onscroll = function () {
            scrollFunction()

        };


        function scrollFunction() {


            //document.documentElement || document.documentElement.scrollTop || document.body.scrollTop

            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                $('.headerD .container .area1').hide();
                $('.headerD .container .goldLineArea').hide();
            } else {
                $('.headerD .container .area1').show();
                $('.headerD .container .goldLineArea').show();
            }




        }

    </script>









</body>


</html>
